/* screen - about-all-breakpoints */

.about-all-breakpoints {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 240px;
  min-width: 1440px;
  position: relative;
}

.about-all-breakpoints .ellipses {
  height: 3119px;
  left: calc(50.00% - 983px);
  position: absolute;
  top: -90px;
  width: 1967px;
}

.about-all-breakpoints .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  left: 0;
  min-width: 1967px;
  position: absolute;
  top: 1216px;
}

.about-all-breakpoints .ellipse-37 {
  background-color: var(--black-2);
  border-radius: 441.5px;
  height: 883px;
  margin-top: 106.0px;
  transform: rotate(180.00deg);
  width: 883px;
}

.about-all-breakpoints .ellipse-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.about-all-breakpoints .ellipse-33 {
  background-color: var(--black-2);
  border-radius: 260px;
  height: 520px;
  transform: rotate(180.00deg);
  width: 520px;
}

.about-all-breakpoints .overlap-group1 {
  height: 775px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 936px;
}

.about-all-breakpoints .ellipse-container-1 {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.about-all-breakpoints .logo-4 {
  height: 734px;
  position: absolute;
  right: -279px;
  top: 131px;
  width: 810px;
}

.about-all-breakpoints .desktop-home-logo-2 {
  cursor: pointer;
  flex: 0 0 auto;
}

.about-all-breakpoints .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.about-all-breakpoints .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.about-all-breakpoints .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-all-breakpoints .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.about-all-breakpoints .vpn-1 {
  color: var(--white);
}

.about-all-breakpoints .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.about-all-breakpoints .desktop-button-top-nav-5 {
  display: flex;
  width: 61px;
}

.about-all-breakpoints .vpn-2 {
  color: var(--aquamarine);
}

.about-all-breakpoints .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.about-all-breakpoints .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.about-all-breakpoints .hero-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  min-width: 880px;
  padding: 0px 160px;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .frame-403-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.about-all-breakpoints .orchids-mission-is-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.about-all-breakpoints .span-4 {
  color: var(--white);
}

.about-all-breakpoints .span-5 {
  color: var(--aquamarine);
}

.about-all-breakpoints .frame-491 {
  align-self: stretch;
  display: flex;
  gap: 40px;
  height: 392px;
  width: 100%;
}

.about-all-breakpoints .line-10-1 {
  align-self: stretch;
  height: 1px;
  margin-top: -1.00px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .intro-copy-8 {
  align-self: stretch;
  font-weight: 400;
  height: 312px;
  line-height: 28.0px;
}

.about-all-breakpoints .media-kits-2 {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  padding: 80px 0px;
  position: relative;
}

.about-all-breakpoints .copy-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  position: relative;
}

.about-all-breakpoints .decentralized-marketplace-2 {
  color: transparent;
  font-weight: 600;
  height: 96px;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 880px;
}

.about-all-breakpoints .intro-copy-9 {
  font-weight: 500;
  line-height: 34.7px;
  text-align: center;
  width: 880px;
}

.about-all-breakpoints .line-2-3 {
  margin-bottom: -1.00px;
  position: relative;
  width: 880px;
}

.about-all-breakpoints .buttons-2 {
  height: 72px;
  width: 361px;
}

.about-all-breakpoints .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  display: inline-flex;
  flex-direction: column;
  height: 72px;
  justify-content: center;
  padding: 24px 80px;
  width: 361px;
}

.about-all-breakpoints .contact-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 80px;
  position: relative;
  width: 1440px;
}

.about-all-breakpoints .mobile-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .mobile-caption-section-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .line-4 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.about-all-breakpoints .discover-2 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-bottom: -2.00px;
  margin-top: -4.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.about-all-breakpoints .mobile-headline-section-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 360px;
}

.about-all-breakpoints .the-orchid-ecosystem-2 {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.about-all-breakpoints .intro-copy-10 {
  align-self: stretch;
  font-weight: 400;
  line-height: 28.0px;
  text-align: center;
}

.about-all-breakpoints .discord-link {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.about-all-breakpoints .subtract {
  height: 40px;
  position: relative;
  width: 40px;
}

.about-all-breakpoints .about-orchid-2 {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-all-breakpoints .buttons-3 {
  align-items: flex-start;
  flex: 0 0 auto;
  gap: 135px;
  justify-content: center;
  padding: 60px 0px 0px;
  width: 588.36px;
}

.about-all-breakpoints .desktop-button-standard-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
}

.about-all-breakpoints .corp-info-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 120px;
  position: relative;
  width: 1440px;
}

.about-all-breakpoints .desktop-header-section-simple {
  height: 56px;
  position: relative;
  width: 1200px;
}

.about-all-breakpoints .line-2-4 {
  left: 0;
  position: absolute;
  top: 56px;
  width: 1200px;
}

.about-all-breakpoints .title {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 1200px;
}

.about-all-breakpoints .frame-493-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .frame-494-2 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  position: relative;
  width: 740px;
}

.about-all-breakpoints .intro-copy-11 {
  flex: 1;
  font-weight: 400;
  height: 156px;
  line-height: 28.0px;
  margin-top: -1.00px;
}

.about-all-breakpoints .about-button {
  display: flex;
  height: 72px;
  position: relative;
  width: 299px;
}

.about-all-breakpoints .desktop-button-standard-2 {
  align-items: flex-end;
  display: flex;
  height: 72px;
  width: 299px;
}

.about-all-breakpoints .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 80px 80px 160px;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .logo-5 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.about-all-breakpoints .x2023-orchid-9 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 676px;
}

.about-all-breakpoints .hyperlinks-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.about-all-breakpoints .frame-42 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
}

.about-all-breakpoints .x2023-orchid-8 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.about-all-breakpoints .apps-17 {
  cursor: pointer;
}

.about-all-breakpoints .link-2 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.about-all-breakpoints .social-icons-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 24px;
  justify-content: flex-end;
  position: relative;
}

.about-all-breakpoints .social-link-github-2 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.about-all-breakpoints .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.about-all-breakpoints .buttons {
  display: flex;
  position: relative;
}

.about-all-breakpoints .desktop-button-standard-3 {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  cursor: pointer;
  flex-direction: column;
  padding: 24px 80px;
  position: relative;
}

.about-all-breakpoints .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.about-all-breakpoints .desktop-home-logo {
  height: 36px;
  position: relative;
}

.about-all-breakpoints .frame {
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.about-all-breakpoints .intro-copy {
  color: var(--white);
  position: relative;
}

.about-all-breakpoints .line-2 {
  height: 1px;
  object-fit: cover;
}

.about-all-breakpoints .vpn-3 {
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/* screen - aboutu95mobsm */

.aboutu95mobsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 360px;
  position: relative;
}

.aboutu95mobsm .mobile-nav-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .hero {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: space-around;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .frame-403 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.aboutu95mobsm .orchids-mission-is {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 18.7px;
  margin-top: -1.00px;
  position: relative;
}

.aboutu95mobsm .span {
  color: var(--white);
}

.aboutu95mobsm .span-1 {
  color: var(--aquamarine);
}

.aboutu95mobsm .line {
  align-self: stretch;
  width: 100%;
}

.aboutu95mobsm .intro-copy {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.aboutu95mobsm .logo {
  height: 159px;
  position: absolute;
  right: 0;
  top: 98px;
  width: 128px;
}

.aboutu95mobsm .media-kits {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  height: 324px;
  justify-content: center;
  padding: 60px 24px;
  position: relative;
  width: 312px;
}

.aboutu95mobsm .copy {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-top: -27.50px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-shadow: 0px 4px 16px #ffffff40;
}

.aboutu95mobsm .intro-copy-1 {
  align-self: stretch;
  font-weight: 600;
  line-height: 19.8px;
  text-align: center;
}

.aboutu95mobsm .line-2 {
  align-self: stretch;
  margin-bottom: -1.00px;
  width: 100%;
}

.aboutu95mobsm .frame-476 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -27.50px;
  padding: 40px 0px 0px;
  position: relative;
}

.aboutu95mobsm .mobile-button-hero {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 60px;
  position: relative;
}

.aboutu95mobsm .contact {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .mobile {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .line-1 {
  flex: 1;
  flex-grow: 1;
}

.aboutu95mobsm .discover {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.aboutu95mobsm .mobile-headline-section {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-left: -40.00px;
  margin-right: -40.00px;
  position: relative;
  width: 360px;
}

.aboutu95mobsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.aboutu95mobsm .intro-copy-2 {
  align-self: stretch;
  font-weight: 300;
  line-height: 18.0px;
  text-align: center;
}

.aboutu95mobsm .frame-396 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.aboutu95mobsm .social-link-discord {
  height: 32px;
  position: relative;
  width: 31px;
}

.aboutu95mobsm .about-orchid {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.aboutu95mobsm .buttons {
  align-items: center;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .mobile-button-hero-1 {
  align-items: center;
  background-color: var(--log-cabin);
}

.aboutu95mobsm .corp-info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .corporate-info {
  color: transparent;
  font-weight: 600;
  height: 23px;
  line-height: 25.2px;
  margin-right: -224.00px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 504px;
}

.aboutu95mobsm .frame-493 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .frame-494 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .intro-copy-3 {
  flex: 1;
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
}

.aboutu95mobsm .mobile-button-hero-2 {
  align-items: flex-start;
  background-color: var(--heavy-metal);
  cursor: pointer;
}

.aboutu95mobsm .logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -39.00px;
  position: relative;
}

.aboutu95mobsm .desktop-home-logo {
  height: 36px;
  position: relative;
}

.aboutu95mobsm .x2023-orchid {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.aboutu95mobsm .x2023-orchid-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.aboutu95mobsm .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .frame-532 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .x2023-orchid-2 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 151px;
}

.aboutu95mobsm .x2023-orchid-3 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 132px;
}

.aboutu95mobsm .link {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.aboutu95mobsm .apps {
  width: 102px;
}

.aboutu95mobsm .apps-1 {
  width: 132px;
}

.aboutu95mobsm .apps-2 {
  cursor: pointer;
  width: 113px;
}

.aboutu95mobsm .apps-3 {
  width: 85px;
}

.aboutu95mobsm .apps-4 {
  width: 122px;
}

.aboutu95mobsm .apps-5 {
  width: 76px;
}

.aboutu95mobsm .apps-6 {
  width: 42px;
}

.aboutu95mobsm .apps-7 {
  width: 75px;
}

.aboutu95mobsm .social-icons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.aboutu95mobsm .social-link-github {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.aboutu95mobsm .social-link-reddit {
  background-image: url(../img/combined-shape@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.aboutu95mobsm .apps-8 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}

.aboutu95mobsm .intro-copy-4 {
  color: var(--white);
  position: relative;
}

.aboutu95mobsm .line-3 {
  height: 1px;
  object-fit: cover;
  position: relative;
}

.aboutu95mobsm .mobile-button-hero-3 {
  align-self: stretch;
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
  width: 100%;
}
/* screen - aboutu95tabsm */

.aboutu95tabsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 120px;
  min-width: 744px;
  position: relative;
}

.aboutu95tabsm .mobile-nav-header-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .hero-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .frame-403-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 520px;
}

.aboutu95tabsm .orchids-mission-is-1 {
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  width: 347px;
}

.aboutu95tabsm .span-2 {
  color: var(--white);
}

.aboutu95tabsm .span-3 {
  color: var(--aquamarine);
}

.aboutu95tabsm .line-10 {
  align-self: stretch;
  width: 100%;
}

.aboutu95tabsm .intro-copy-4 {
  align-self: stretch;
  font-weight: 300;
  line-height: 18.0px;
}

.aboutu95tabsm .logo-2 {
  height: 326px;
  position: absolute;
  right: 0;
  top: 117px;
  width: 251px;
}

.aboutu95tabsm .media-kits-1 {
  align-items: center;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 40px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 60px 80px;
  position: relative;
  width: 696px;
}

.aboutu95tabsm .copy-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .decentralized-marketplace-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.aboutu95tabsm .intro-copy-5 {
  align-self: stretch;
  font-weight: 600;
  line-height: 19.8px;
  text-align: center;
}

.aboutu95tabsm .line-2-1 {
  margin-bottom: -1.00px;
}

.aboutu95tabsm .frame-476-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 40px 0px 0px;
  position: relative;
}

.aboutu95tabsm .mobile-button-hero-3 {
  align-items: center;
  background-color: var(--log-cabin);
  justify-content: center;
}

.aboutu95tabsm .contact-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 40px;
  position: relative;
  width: 733px;
}

.aboutu95tabsm .mobile-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .mobile-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .line-3 {
  flex: 1;
  flex-grow: 1;
}

.aboutu95tabsm .discover-1 {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.aboutu95tabsm .mobile-headline-section-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 360px;
}

.aboutu95tabsm .the-orchid-ecosystem-1 {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.aboutu95tabsm .intro-copy-6 {
  align-self: stretch;
  font-weight: 300;
  line-height: 18.0px;
  text-align: center;
}

.aboutu95tabsm .frame-454 {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.aboutu95tabsm .social-link-discord-1 {
  height: 32px;
  position: relative;
  width: 31px;
}

.aboutu95tabsm .about-orchid-1 {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.aboutu95tabsm .buttons-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  padding: 60px 0px 0px;
  position: relative;
  width: 588.36px;
}

.aboutu95tabsm .mobile-button-hero-4 {
  align-items: center;
  background-color: var(--heavy-metal);
  justify-content: center;
}

.aboutu95tabsm .corp-info-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .corporate-info-1 {
  color: transparent;
  font-weight: 600;
  height: 23px;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 504px;
}

.aboutu95tabsm .frame-493-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .frame-494-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.aboutu95tabsm .intro-copy-7 {
  flex: 1;
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
}

.aboutu95tabsm .mobile-button-hero-5 {
  align-items: flex-start;
  background-color: var(--heavy-metal);
  justify-content: flex-end;
}

.aboutu95tabsm .logo-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.aboutu95tabsm .desktop-home-logo-1 {
  height: 36px;
  position: relative;
}

.aboutu95tabsm .x2023-orchid-4 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.aboutu95tabsm .x2023-orchid-5 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.aboutu95tabsm .hyperlinks-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .x2023-orchid-6 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 151px;
}

.aboutu95tabsm .x2023-orchid-7 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 132px;
}

.aboutu95tabsm .link-1 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.aboutu95tabsm .apps-8 {
  width: 102px;
}

.aboutu95tabsm .apps-9 {
  width: 132px;
}

.aboutu95tabsm .apps-10 {
  cursor: pointer;
  width: 113px;
}

.aboutu95tabsm .apps-11 {
  width: 85px;
}

.aboutu95tabsm .apps-12 {
  width: 122px;
}

.aboutu95tabsm .apps-13 {
  width: 76px;
}

.aboutu95tabsm .apps-14 {
  width: 42px;
}

.aboutu95tabsm .apps-15 {
  width: 75px;
}

.aboutu95tabsm .social-icons-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .social-link-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.aboutu95tabsm .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}

.aboutu95tabsm .intro-copy {
  color: var(--white);
  position: relative;
}

.aboutu95tabsm .line {
  height: 1px;
  object-fit: cover;
  position: relative;
}

.aboutu95tabsm .line-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.aboutu95tabsm .mobile-button-hero {
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  padding: 16px 80px;
  position: relative;
}
@media screen and (max-width: 743px) {
  .screen.aboutu95tabsm { 
    display: none;
   }
  .screen.about-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.aboutu95mobsm { 
    display: none;
   }
  .screen.about-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.aboutu95mobsm { 
    display: none;
   }
  .screen.aboutu95tabsm { 
    display: none;
   }
}