/* screen - desktopu47home-logou47purple */

.desktopu47home-logou47purple {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  position: relative;
}

.desktopu47home-logou47purple .union {
  height: 147px;
  position: relative;
  width: 572px;
}
