@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Figtree:400,600,300,800,500,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
/*@import url("https://px.animaapp.com/5e2a282a592dee7a2550cfd0.5ea6adb733c33a7ced6f8c4d.fO9Ui2A.hcp.png");*/



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.close-icon {
  cursor: pointer;
  height: 24px;
  margin-right: 32px;
  margin-top: 32px;
  width: 24px;
}

.orchid-icon {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 28.47px;
}

.menu-icon {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.learn-more {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.accounts {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.directory {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.nanopay {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.frame-478 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.mobilefooter {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.frame-532-item {
  display: flex;
  height: 22px;
  position: relative;
  width: 180px;
}

.dapp {
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.social-link {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.orchid-icon-1 {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 28.47px;
}

.menu-icon-1 {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.learn-more-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.accounts-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.directory-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.app-store {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 144px;
}

.frame-478-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.mobilefooter-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.content-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.frame-532-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.frame-532-item-1 {
  display: flex;
  height: 22px;
  position: relative;
  width: 180px;
}

.dapp-1 {
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.social-link-github-1 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.social-link-reddit-1 {
  background-image: url(../img/combined-shape@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.cards-item-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 24px 24px 40px;
  position: relative;
  width: 100%;
}

.line-8-1 {
  align-self: stretch;
  height: 1px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.desktop-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 96px;
  justify-content: space-between;
  padding: 24px 80px;
  position: relative;
  width: 100%;
}

.desktop-header-top-nav {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 48px 60px;
  height: 14px;
  justify-content: center;
  position: relative;
}

.desktop-button-top-nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 90px;
}

.build {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button-label {
  color: var(--white);
  font-weight: 700;
  height: 14px;
  line-height: 14.4px;
  text-align: center;
  width: 196px;
}

.desktop-button-hero {
  background-image: url(../img/rectangle-6-43@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 80px;
  width: 360px;
}

.learn-more-2 {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.label {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.google-play-1 {
  cursor: pointer;
  display: flex;
  height: 56px;
  position: relative;
  width: 187px;
}

.google-play-badge-1 {
  height: 56.3px;
  width: 188px;
}

.apple-store {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 56px;
  position: relative;
  width: 188px;
}

.contents {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.frame-42-item {
  display: flex;
  height: 22px;
  position: relative;
  width: 180px;
}

.dapp-2 {
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.social-link-2 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.social-link-reddit-2 {
  background-image: url(../img/combined-shape@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.build-5 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caption-3 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-button {
  align-items: center;
  cursor: pointer;
  position: relative;
}

.desktop-caption-section-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.ellipse-28 {
  background-color: var(--cod-gray);
  border-radius: 310px;
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 620px;
}

.ellipse-29 {
  background-color: var(--cod-gray);
  border-radius: 155px;
  height: 310px;
  left: 602px;
  position: absolute;
  top: 465px;
  width: 310px;
}

.ellipse-30 {
  background-color: var(--cod-gray);
  border-radius: 100px;
  height: 200px;
  left: 736px;
  position: absolute;
  top: 18px;
  width: 200px;
}

.ellipse-34 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 306.5px;
  height: 613px;
  width: 613px;
}

.features-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.desktop-home-logo-3 {
  height: 36px;
  position: relative;
}

.apps-16 {
  width: 42px;
}

.span1-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 16.5px;
}

.build-4 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.line-10-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
