@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Figtree:400,600,300,800,500,700");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/5e2a282a592dee7a2550cfd0.5ea6adb733c33a7ced6f8c4d.fO9Ui2A.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.ellipse-28 {
  background-color: var(--cod-gray);
  border-radius: 310px;
  height: 620px;
  left: 0;
  position: absolute;
  top: 0;
  width: 620px;
}

.ellipse-29 {
  background-color: var(--cod-gray);
  border-radius: 155px;
  height: 310px;
  left: 602px;
  position: absolute;
  top: 465px;
  width: 310px;
}

.ellipse-30 {
  background-color: var(--cod-gray);
  border-radius: 100px;
  height: 200px;
  left: 736px;
  position: absolute;
  top: 18px;
  width: 200px;
}

.desktop-header {
  align-items: center;
  align-self: stretch;
  display: flex;
  height: 96px;
  justify-content: space-between;
  padding: 24px 80px;
  position: relative;
  width: 100%;
}

.desktop-header-top-nav {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 60px 48px;
  height: 14px;
  justify-content: center;
  position: relative;
}

.desktop-button-top-nav {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 90px;
}

.build {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button-label {
  color: var(--white);
  font-weight: 700;
  height: 14px;
  line-height: 14.4px;
  text-align: center;
  width: 196px;
}

.contents {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.dapp {
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.social-link {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.build-4 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.orchid-icon {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 28.47px;
}

.mobilefooter {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.social-link-github-1 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.social-link-reddit-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.orchid-icon-1 {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 28.47px;
}

.menu-icon-1 {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.copy-item-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.mobilefooter-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.content-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.desktop-home-logo-3 {
  height: 36px;
  position: relative;
}

.frame-532-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.apps-16 {
  width: 42px;
}

.social-link-2 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.social-link-reddit-2 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.accounts {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.directory {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.accounts-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.directory-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.app-store {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 144px;
}

.frame-478-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.label {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.build-5 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.caption-3 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop-caption-section-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.menu-icon-2 {
  cursor: pointer;
}

.features {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.frame-451 {
  display: flex;
  height: 176px;
  justify-content: center;
  position: relative;
  width: 801px;
}

.close-icon {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.account {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.account-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.storchid {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.how {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.about {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.docs {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}