/* screen - how-all-breakpoints */

.how-all-breakpoints {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 240px;
  min-width: 1440px;
  position: relative;
}

.how-all-breakpoints .ellipses {
  height: 5623px;
  left: calc(50.00% - 984px);
  position: absolute;
  top: -89px;
  width: 1968px;
}

.how-all-breakpoints .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 4428px;
  position: relative;
  width: 1967px;
}

.how-all-breakpoints .overlap-group1 {
  height: 775px;
  margin-left: 90.0px;
  position: relative;
  width: 936px;
}

.how-all-breakpoints .ellipse-container {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.how-all-breakpoints .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  margin-top: 441px;
  min-width: 1967px;
}

.how-all-breakpoints .ellipse-37 {
  background-color: var(--black-2);
  border-radius: 441.5px;
  height: 883px;
  margin-top: 106.0px;
  transform: rotate(180.00deg);
  width: 883px;
}

.how-all-breakpoints .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.how-all-breakpoints .ellipse-34 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 306.5px;
  height: 613px;
  width: 613px;
}

.how-all-breakpoints .ellipse-33 {
  background-color: var(--black-2);
  border-radius: 260px;
  height: 520px;
  transform: rotate(180.00deg);
  width: 520px;
}

.how-all-breakpoints .ellipse-35 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 585px;
  height: 1170px;
  margin-right: 49.0px;
  margin-top: 139px;
  transform: rotate(90.00deg);
  width: 1170px;
}

.how-all-breakpoints .desktop-home-logo-2 {
  cursor: pointer;
  flex: 0 0 auto;
}

.how-all-breakpoints .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.how-all-breakpoints .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.how-all-breakpoints .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.how-all-breakpoints .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.how-all-breakpoints .vpn-1 {
  color: var(--white);
}

.how-all-breakpoints .desktop-button-top-nav-4 {
  display: flex;
  width: 44px;
}

.how-all-breakpoints .vpn-2 {
  color: var(--aquamarine);
}

.how-all-breakpoints .desktop-button-top-nav-5 {
  cursor: pointer;
  display: flex;
  width: 61px;
}

.how-all-breakpoints .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.how-all-breakpoints .desktop-button-header {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 240px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 17px 24px;
}

.how-all-breakpoints .button-label {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.how-all-breakpoints .hero-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  min-width: 880px;
  padding: 0px 200px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .decentralized-marketplace {
  color: transparent;
  font-weight: 800;
  height: 73px;
  line-height: 54.0px;
  margin-left: -11.00px;
  margin-right: -11.00px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1062px;
}

.how-all-breakpoints .span-12 {
  letter-spacing: 0.72px;
}

.how-all-breakpoints .intro-copy-16 {
  align-self: stretch;
  color: transparent;
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
}

.how-all-breakpoints .span-13 {
  letter-spacing: 0.08px;
}

.how-all-breakpoints .frame-489 {
  align-items: flex-start;
  display: inline-flex;
  gap: 80px;
  height: 176px;
  justify-content: center;
  position: relative;
  width: 800px;
}

.how-all-breakpoints .hero-cta-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 96px 0px 0px;
  position: relative;
}

.how-all-breakpoints .learn-more-4 {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.how-all-breakpoints .how-all-breakpoints-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .frame-485 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .desktop-header-section-full {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 1280px;
}

.how-all-breakpoints .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .caption {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.how-all-breakpoints .line-2 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.how-all-breakpoints .desktop-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  width: 1280px;
}

.how-all-breakpoints .span-14 {
  letter-spacing: 0.32px;
}

.how-all-breakpoints .cards-4 {
  gap: 24px;
}

.how-all-breakpoints .info-card-4 {
  background-color: var(--black-2);
  border-color: var(--true-v);
  border-radius: 16px;
  gap: 24px;
  overflow: hidden;
  padding: 24px 40px 40px;
}

.how-all-breakpoints .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .intro-copy-17 {
  color: var(--white);
  flex: 1;
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
}

.how-all-breakpoints .line-8-2 {
  align-self: stretch;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .intro-copy-18 {
  align-self: stretch;
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
}

.how-all-breakpoints .text-2 {
  align-self: stretch;
  cursor: pointer;
  line-height: 28px;
  position: relative;
}

.how-all-breakpoints .span0-2 {
  letter-spacing: 0.31px;
  line-height: 34.7px;
  text-decoration: underline;
}

.how-all-breakpoints .span-15 {
  letter-spacing: 0.08px;
  line-height: 28.0px;
}

.how-all-breakpoints .intro-copy-19 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.how-all-breakpoints .span1-2 {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0.08px;
}

.how-all-breakpoints .title-4 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .desktop-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .caption-1 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.how-all-breakpoints .desktop-headline-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .two-color-headline-1 {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.how-all-breakpoints .cards-5 {
  gap: 40px;
}

.how-all-breakpoints .info-card-5 {
  background-color: var(--black);
  border-color: var(--aquamarine);
  border-radius: 24px;
  gap: 60px;
  padding: 40px 40px 60px;
}

.how-all-breakpoints .frame-544 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .frame-5-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
  width: 1200px;
}

.how-all-breakpoints .how-do-i-fund-my-account {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  width: 878px;
}

.how-all-breakpoints .intro-copy-20 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 28.0px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.how-all-breakpoints .what-are-tickets {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  width: 878px;
}

.how-all-breakpoints .whats-the-differenc {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  width: 878px;
}

.how-all-breakpoints .why-hasnt-my-balance-changed {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  width: 878px;
}

.how-all-breakpoints .why-do-you-recommend-only-four-tickets {
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  width: 878px;
}

.how-all-breakpoints .button-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 120px 0px 0px;
  position: relative;
}

.how-all-breakpoints .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.how-all-breakpoints .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 80px 80px 160px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.how-all-breakpoints .x2023-orchid-6 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 676px;
}

.how-all-breakpoints .hyperlinks-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.how-all-breakpoints .pp {
  display: flex;
  height: 22px;
  position: relative;
  width: 180px;
}

.how-all-breakpoints .x2023-orchid-7 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.how-all-breakpoints .pp-1 {
  display: flex;
  height: 44px;
  position: relative;
  width: 208px;
}

.how-all-breakpoints .x2023-orchid-8 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 208px;
}

.how-all-breakpoints .apps-17 {
  cursor: pointer;
}

.how-all-breakpoints .link-4 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.how-all-breakpoints .social-icons-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 40px;
  justify-content: flex-end;
  position: relative;
}

.how-all-breakpoints .social-link-github-2 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.how-all-breakpoints .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.how-all-breakpoints .cards {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1280px;
}

.how-all-breakpoints .desktop-button {
  align-items: center;
  cursor: pointer;
  position: relative;
}

.how-all-breakpoints .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.how-all-breakpoints .desktop-home-logo {
  height: 36px;
  position: relative;
}

.how-all-breakpoints .frame-544-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .info-card {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.how-all-breakpoints .vpn-3 {
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/* screen - howu95mobsm */

.howu95mobsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 6209px;
  min-width: 360px;
  position: relative;
}

.howu95mobsm .mobile-nav-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.howu95mobsm .hero {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: space-around;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.howu95mobsm .frame-403 {
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
}

.howu95mobsm .title-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 36.0px;
  text-align: center;
}

.howu95mobsm .span {
  letter-spacing: 0.32px;
}

.howu95mobsm .intro-copy {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95mobsm .span-1 {
  color: var(--white);
}

.howu95mobsm .span-2 {
  color: var(--dull-lavender);
}

.howu95mobsm .buttons {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.howu95mobsm .mobile-button-hero {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  margin-left: -12.00px;
  margin-right: -12.00px;
  padding: 16px 80px;
  position: relative;
  width: 264px;
}

.howu95mobsm .learn-more-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-left: -11.50px;
  margin-right: -11.50px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.howu95mobsm .mobile-button-hero-1 {
  margin-left: -11.00px;
  margin-right: -11.00px;
}

.howu95mobsm .learn-more {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.howu95mobsm .howu95mobsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.howu95mobsm .mobile {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.howu95mobsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.howu95mobsm .line {
  flex: 1;
  flex-grow: 1;
}

.howu95mobsm .mobile-headline-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.howu95mobsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.howu95mobsm .span-3 {
  color: var(--aquamarine);
}

.howu95mobsm .cards {
  gap: 16px;
}

.howu95mobsm .info-card {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 24px 24px 40px;
  position: relative;
  width: 100%;
}

.howu95mobsm .frame-57 {
  align-self: stretch;
  flex: 0 0 auto;
  gap: 16px;
  width: 100%;
}

.howu95mobsm .intro-copy-1 {
  color: var(--white);
  flex: 1;
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
}

.howu95mobsm .line-8 {
  align-self: stretch;
  margin-left: -0.50px;
  margin-right: -0.50px;
  width: 100%;
}

.howu95mobsm .intro-copy-4 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95mobsm .copy {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}

.howu95mobsm .text {
  align-self: stretch;
  cursor: pointer;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.howu95mobsm .span0 {
  letter-spacing: 0.10px;
  line-height: 19.8px;
  text-decoration: underline;
}

.howu95mobsm .span-4 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95mobsm .intro-copy-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-text-stroke: 1px var(--black);
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  margin-left: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.howu95mobsm .intro-copy-5 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95mobsm .intro-copy-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.howu95mobsm .intro-copy-6 {
  align-self: stretch;
  color: transparent;
  font-weight: 400;
  line-height: 15px;
  position: relative;
}

.howu95mobsm .span1 {
  color: var(--white);
  font-weight: 700;
  line-height: 16.5px;
}

.howu95mobsm .span-5 {
  color: var(--dull-lavender);
  font-weight: 700;
  line-height: 16.5px;
}

.howu95mobsm .intro-copy-7 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95mobsm .mobile-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.howu95mobsm .discover-1 {
  text-align: center;
}

.howu95mobsm .mobile-headline-section-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  margin-left: -24.00px;
  margin-right: -24.00px;
  position: relative;
  width: 360px;
}

.howu95mobsm .the-orchid-ecosystem-1 {
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.howu95mobsm .cards-1 {
  gap: 40px;
}

.howu95mobsm .info-card-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 24px 24px 48px;
  position: relative;
  width: 100%;
}

.howu95mobsm .step-card {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.howu95mobsm .frame-58 {
  align-self: stretch;
  flex: 0 0 auto;
  justify-content: space-between;
  width: 100%;
}

.howu95mobsm .title {
  color: var(--aquamarine);
  flex: 1;
  font-weight: 600;
  line-height: 19.8px;
}

.howu95mobsm .body {
  color: transparent;
  font-weight: 400;
  line-height: 15px;
}

.howu95mobsm .link {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender);
  display: -webkit-box;
  font-weight: 700;
  height: 24px;
  line-height: 16.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.howu95mobsm .body-1 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95mobsm .body-2 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95mobsm .body-3 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95mobsm .body-4 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95mobsm .button {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 80px 0px 0px;
  position: relative;
}

.howu95mobsm .mobile-button-hero-2 {
  cursor: pointer;
}

.howu95mobsm .mobilefooter {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: -218.00px;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.howu95mobsm .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -39.00px;
  position: relative;
}

.howu95mobsm .desktop-home-logo {
  height: 36px;
  position: relative;
}

.howu95mobsm .x2023-orchid {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.howu95mobsm .x2023-orchid-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.howu95mobsm .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.howu95mobsm .frame-532 {
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0px;
  width: 100%;
}

.howu95mobsm .frame-532-item {
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  position: relative;
  width: 281px;
}

.howu95mobsm .x2023-orchid-2 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.howu95mobsm .link-1 {
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  width: 281px;
}

.howu95mobsm .apps {
  width: 102px;
}

.howu95mobsm .apps-1 {
  width: 132px;
}

.howu95mobsm .apps-2 {
  cursor: pointer;
  width: 113px;
}

.howu95mobsm .apps-3 {
  width: 85px;
}

.howu95mobsm .apps-4 {
  width: 122px;
}

.howu95mobsm .apps-5 {
  width: 76px;
}

.howu95mobsm .apps-6 {
  width: 42px;
}

.howu95mobsm .apps-7 {
  width: 75px;
}

.howu95mobsm .social-icons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.howu95mobsm .social-link-github {
  height: 33px;
  margin-bottom: -1.00px;
}

.howu95mobsm .social-link-reddit {
  height: 32px;
}

.howu95mobsm .apps-8 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.howu95mobsm .body-5 {
  align-self: stretch;
  position: relative;
}

.howu95mobsm .cards-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.howu95mobsm .frame {
  align-items: flex-start;
  display: flex;
  position: relative;
}

.howu95mobsm .line-1 {
  height: 1px;
  object-fit: cover;
  position: relative;
}

.howu95mobsm .link-2 {
  cursor: pointer;
  position: relative;
}

.howu95mobsm .mobile-button-hero-3 {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
}

.howu95mobsm .social-link-1 {
  cursor: pointer;
  position: relative;
  width: 32px;
}

.howu95mobsm .title-2 {
  margin-top: -1.00px;
  position: relative;
}
/* screen - howu95tabsm */

.howu95tabsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 120px;
  height: 4940px;
  min-width: 744px;
  position: relative;
}

.howu95tabsm .mobile-nav-header-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px 72px;
  position: relative;
  width: 100%;
}

.howu95tabsm .hero-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: space-around;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.howu95tabsm .frame-403-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  position: relative;
}

.howu95tabsm .title-3 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 36.0px;
  text-align: center;
}

.howu95tabsm .span-6 {
  letter-spacing: 0.32px;
}

.howu95tabsm .intro-copy-8 {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95tabsm .span-7 {
  color: var(--white);
}

.howu95tabsm .span-8 {
  color: var(--dull-lavender);
}

.howu95tabsm .buttons-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0px 0px;
  position: relative;
  width: 100%;
}

.howu95tabsm .mobile-button-hero-3 {
  display: flex;
  width: 275px;
}

.howu95tabsm .learn-more-3 {
  margin-left: -6.00px;
  margin-right: -6.00px;
}

.howu95tabsm .howu95tabsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.howu95tabsm .mobile-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.howu95tabsm .line-1 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.howu95tabsm .mobile-headline-section-2 {
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.howu95tabsm .the-orchid-ecosystem-2 {
  flex: 1;
}

.howu95tabsm .span-9 {
  color: var(--aquamarine);
}

.howu95tabsm .cards-2 {
  gap: 16px;
}

.howu95tabsm .info-card-2 {
  align-items: flex-start;
  background-color: var(--black-2);
  border-color: var(--true-v);
  gap: 16px;
  overflow: hidden;
  padding: 24px 24px 40px;
}

.howu95tabsm .frame-57-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  width: 100%;
}

.howu95tabsm .intro-copy-9 {
  color: var(--white);
  flex: 1;
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
}

.howu95tabsm .intro-copy-12 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95tabsm .copy-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}

.howu95tabsm .text-1 {
  align-self: stretch;
  cursor: pointer;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
}

.howu95tabsm .span0-1 {
  letter-spacing: 0.10px;
  line-height: 19.8px;
  text-decoration: underline;
}

.howu95tabsm .span-10 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95tabsm .intro-copy-10 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  -webkit-text-stroke: 1px var(--black);
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  margin-left: -1.00px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: fit-content;
}

.howu95tabsm .intro-copy-13 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95tabsm .intro-copy-11 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.howu95tabsm .intro-copy-14 {
  align-self: stretch;
  color: transparent;
  font-weight: 400;
  line-height: 15px;
  position: relative;
}

.howu95tabsm .span1-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 16.5px;
}

.howu95tabsm .span-11 {
  color: var(--dull-lavender);
  font-weight: 700;
  line-height: 16.5px;
}

.howu95tabsm .intro-copy-15 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.howu95tabsm .mobile-caption-section-3 {
  justify-content: center;
}

.howu95tabsm .discover-3 {
  text-align: center;
}

.howu95tabsm .mobile-headline-section-3 {
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  width: 360px;
}

.howu95tabsm .the-orchid-ecosystem-3 {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.howu95tabsm .cards-3 {
  gap: 40px;
}

.howu95tabsm .info-card-3 {
  align-items: center;
  background-color: var(--black);
  border-color: var(--aquamarine);
  padding: 24px 24px 48px;
}

.howu95tabsm .step-card-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.howu95tabsm .frame-58-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.howu95tabsm .title-2 {
  color: var(--aquamarine);
  flex: 1;
  font-weight: 600;
  line-height: 19.8px;
}

.howu95tabsm .body-5 {
  color: transparent;
  font-weight: 400;
  line-height: 15px;
}

.howu95tabsm .link-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender);
  display: -webkit-box;
  font-weight: 700;
  height: 24px;
  line-height: 16.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.howu95tabsm .body-6 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95tabsm .body-7 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95tabsm .body-8 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95tabsm .body-9 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.howu95tabsm .mobile-button-hero-4 {
  cursor: pointer;
  display: inline-flex;
}

.howu95tabsm .mobilefooter-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  margin-bottom: -108.00px;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.howu95tabsm .logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.howu95tabsm .desktop-home-logo-1 {
  height: 36px;
  position: relative;
}

.howu95tabsm .x2023-orchid-3 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.howu95tabsm .x2023-orchid-4 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.howu95tabsm .hyperlinks-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.howu95tabsm .frame-532-item-1 {
  display: flex;
  height: 22px;
  position: relative;
  width: 281px;
}

.howu95tabsm .x2023-orchid-5 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.howu95tabsm .link-3 {
  display: flex;
  height: 22px;
  width: 281px;
}

.howu95tabsm .apps-8 {
  width: 102px;
}

.howu95tabsm .apps-9 {
  width: 132px;
}

.howu95tabsm .apps-10 {
  cursor: pointer;
  width: 113px;
}

.howu95tabsm .apps-11 {
  width: 85px;
}

.howu95tabsm .apps-12 {
  width: 122px;
}

.howu95tabsm .apps-13 {
  width: 76px;
}

.howu95tabsm .apps-14 {
  width: 42px;
}

.howu95tabsm .apps-15 {
  width: 75px;
}

.howu95tabsm .social-icons-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.howu95tabsm .social-link-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.howu95tabsm .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.howu95tabsm .body {
  align-self: stretch;
  position: relative;
}

.howu95tabsm .cards {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 696px;
}

.howu95tabsm .discover {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.howu95tabsm .info-card {
  align-self: stretch;
  border: 1px solid;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.howu95tabsm .learn-more {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.howu95tabsm .link {
  cursor: pointer;
  position: relative;
}

.howu95tabsm .mobile-button-hero {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
}

.howu95tabsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.howu95tabsm .mobile-headline-section {
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.howu95tabsm .the-orchid-ecosystem {
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.howu95tabsm .title {
  margin-top: -1.00px;
  position: relative;
}
@media screen and (max-width: 743px) {
  .screen.howu95tabsm { 
    display: none;
   }
  .screen.how-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.howu95mobsm { 
    display: none;
   }
  .screen.how-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.howu95mobsm { 
    display: none;
   }
  .screen.howu95tabsm { 
    display: none;
   }
}