/* screen - nav-overlay-tablet */

.nav-overlay-tablet {
  align-items: flex-end;
  background-color: #00000040;
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 40px 60px 24px;
  position: relative;
}

.nav-overlay-tablet .nav-overlay-tablet-1 {
  align-items: flex-end;
  background-color: var(--log-cabin);
  display: inline-flex;
  flex-direction: column;
  gap: 12px;
  padding: 32px 40px 60px 24px;
}

.nav-overlay-tablet .link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  overflow: hidden;
  padding: 16px 48px;
  position: relative;
  width: 320px;
}

.nav-overlay-tablet .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.nav-overlay-tablet .vpn {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}

.nav-overlay-tablet .oxt {
  color: var(--white);
  font-weight: 700;
  line-height: 22.4px;
  margin-right: -48.00px;
  position: relative;
  width: 281px;
}
