/* screen - orchid-site-icon */

.orchid-site-icon {
  background-color: var(--black);
  display: flex;
  height: 180px;
  width: 180px;
}

.orchid-site-icon .orchid-icon {
  background-image: url(../img/orchidicon-2@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 113.97px;
  margin-left: 21px;
  margin-top: 33px;
  width: 125px;
}
