/* screen - storage-all-breakpoints */

.storage-all-breakpoints {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 240px;
  min-width: 1440px;
  position: relative;
}

.storage-all-breakpoints .ellipses {
  display: flex;
  height: 4015px;
  justify-content: center;
  left: calc(50.00% - 983px);
  position: absolute;
  top: -90px;
  width: 1967px;
}

.storage-all-breakpoints .frame-531 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 441px;
  margin-left: -1px;
  min-height: 3119px;
  width: 1967px;
}

.storage-all-breakpoints .overlap-group1 {
  height: 775px;
  margin-left: 90px;
  position: relative;
  width: 936px;
}

.storage-all-breakpoints .ellipse-container {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.storage-all-breakpoints .flex-row {
  align-items: center;
  display: flex;
  gap: 276px;
  height: 1903px;
  margin-left: 0;
  min-width: 1967px;
}

.storage-all-breakpoints .ellipse-37 {
  background-color: var(--black-2);
  border-radius: 441.5px;
  height: 883px;
  margin-top: 106.0px;
  transform: rotate(180.00deg);
  width: 883px;
}

.storage-all-breakpoints .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 770px;
  min-height: 1903px;
  width: 808px;
}

.storage-all-breakpoints .ellipse-34 {
  align-self: flex-end;
  background-color: var(--black-2);
  border-radius: 306.5px;
  height: 613px;
  width: 613px;
}

.storage-all-breakpoints .ellipse-33 {
  background-color: var(--black-2);
  border-radius: 260px;
  height: 520px;
  transform: rotate(180.00deg);
  width: 520px;
}

.storage-all-breakpoints .hero-image-2 {
  background-image: url(../img/storage-splash-1.png);
  background-size: 100% 100%;
  height: 824px;
  left: -139px;
  position: absolute;
  top: -57px;
  width: calc(100.00% + 314px);
}

.storage-all-breakpoints .desktop-home-logo-2 {
  cursor: pointer;
  flex: 0 0 auto;
}

.storage-all-breakpoints .desktop-button-top-nav-1 {
  display: inline-flex;
  flex: 0 0 auto;
}

.storage-all-breakpoints .vpn {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storage-all-breakpoints .desktop-button-top-nav-2 {
  cursor: pointer;
  display: flex;
  width: 37px;
}

.storage-all-breakpoints .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.storage-all-breakpoints .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.storage-all-breakpoints .desktop-button-top-nav-5 {
  cursor: pointer;
  display: flex;
  width: 61px;
}

.storage-all-breakpoints .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.storage-all-breakpoints .desktop-button-header {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 240px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 17px 24px;
}

.storage-all-breakpoints .button-label {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.storage-all-breakpoints .hero {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  max-width: 1800px;
  padding: 200px 160px 0px;
  position: relative;
  width: 1440px;
}

.storage-all-breakpoints .frame-403-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.storage-all-breakpoints .decentralized-marketplace-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storage-all-breakpoints .span-4 {
  letter-spacing: 0.72px;
}

.storage-all-breakpoints .orchids-new-open-so-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 500;
  line-height: 34.7px;
  position: relative;
  text-align: center;
}

.storage-all-breakpoints .span-5 {
  letter-spacing: 0.31px;
}

.storage-all-breakpoints .storchid-concepts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 789px;
  padding: 0px 160px;
  position: relative;
  width: 1440px;
}

.storage-all-breakpoints .desktop-header-section-full {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .caption {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storage-all-breakpoints .line-2 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storage-all-breakpoints .desktop-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .two-color-headline {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.storage-all-breakpoints .span-6 {
  letter-spacing: 0.32px;
}

.storage-all-breakpoints .copy-4 {
  height: 651px;
}

.storage-all-breakpoints .text-4 {
  height: 644px;
  line-height: 28px;
  width: 1120px;
}

.storage-all-breakpoints .span-7 {
  letter-spacing: 0.31px;
  line-height: 34.7px;
}

.storage-all-breakpoints .span-8 {
  letter-spacing: 0.08px;
  line-height: 28.0px;
}

.storage-all-breakpoints .span6 {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0.64px;
  line-height: 22.0px;
}

.storage-all-breakpoints .stor {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 160px;
  position: relative;
  width: 1440px;
}

.storage-all-breakpoints .desktop-header-section-full-1 {
  align-items: flex-start;
}

.storage-all-breakpoints .desktop-caption-section-1 {
  justify-content: flex-end;
}

.storage-all-breakpoints .caption-1 {
  text-align: right;
}

.storage-all-breakpoints .two-color-headline-1 {
  color: transparent;
  text-align: right;
}

.storage-all-breakpoints .frame-496 {
  align-self: stretch;
  display: flex;
  height: 140px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .intro-copy-2 {
  color: transparent;
  font-weight: 400;
  height: 140px;
  line-height: 28.0px;
  text-align: right;
  width: 1120px;
}

.storage-all-breakpoints .span-9 {
  letter-spacing: 0.08px;
}

.storage-all-breakpoints .hero-cta-button {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 96px 0px 0px;
  position: relative;
}

.storage-all-breakpoints .learn-more-2 {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.storage-all-breakpoints .desktop-header-section-full-2 {
  align-items: flex-start;
}

.storage-all-breakpoints .copy-5 {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 10px 0px;
}

.storage-all-breakpoints .text-5 {
  align-self: stretch;
  cursor: pointer;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
}

.storage-all-breakpoints .text-6 {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 500;
  line-height: 34.7px;
  position: relative;
}

.storage-all-breakpoints .cta {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .desktop-header-section-full-3 {
  align-items: center;
}

.storage-all-breakpoints .desktop-caption-section-2 {
  justify-content: center;
}

.storage-all-breakpoints .caption-2 {
  text-align: center;
}

.storage-all-breakpoints .desktop-headline-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .two-color-headline-2 {
  color: var(--aquamarine);
  text-align: center;
}

.storage-all-breakpoints .buttons {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  padding: 120px 0px 0px;
  position: relative;
}

.storage-all-breakpoints .desktop-button-standard {
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 48px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 24px 80px;
}

.storage-all-breakpoints .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 80px 80px 160px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.storage-all-breakpoints .x2023-orchid-6 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 676px;
}

.storage-all-breakpoints .hyperlinks-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.storage-all-breakpoints .pp {
  display: flex;
  height: 22px;
  position: relative;
  width: 180px;
}

.storage-all-breakpoints .x2023-orchid-7 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.storage-all-breakpoints .pp-1 {
  display: flex;
  height: 44px;
  position: relative;
  width: 208px;
}

.storage-all-breakpoints .x2023-orchid-8 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 208px;
}

.storage-all-breakpoints .apps-17 {
  cursor: pointer;
}

.storage-all-breakpoints .link-2 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.storage-all-breakpoints .social-icons-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 40px;
  justify-content: flex-end;
  position: relative;
}

.storage-all-breakpoints .social-link-github-2 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.storage-all-breakpoints .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.storage-all-breakpoints .copy {
  align-self: stretch;
  display: flex;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .desktop-button {
  align-items: center;
  cursor: pointer;
  position: relative;
}

.storage-all-breakpoints .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.storage-all-breakpoints .desktop-header-section-full-4 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.storage-all-breakpoints .desktop-home-logo {
  height: 36px;
  position: relative;
}

.storage-all-breakpoints .two-color-headline-3 {
  flex: 1;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
}

.storage-all-breakpoints .vpn-3 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}
/* screen - storageu95mobsm */

.storageu95mobsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 3633px;
  min-width: 360px;
  overflow: hidden;
  position: relative;
}

.storageu95mobsm .hero-image-1 {
  display: flex;
  height: 209px;
  justify-content: center;
  left: -47px;
  position: absolute;
  top: -1px;
  width: calc(100.00% + 84px);
}

.storageu95mobsm .storage-splash-1 {
  height: 208px;
  margin-left: 10px;
  margin-top: 1px;
  width: 360px;
}

.storageu95mobsm .mobile-nav-header-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .frame-403-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 357px;
}

.storageu95mobsm .decentralized-marketplace-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 25.3px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storageu95mobsm .span-2 {
  color: var(--aquamarine);
}

.storageu95mobsm .span-3 {
  color: var(--white);
}

.storageu95mobsm .line-10-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.storageu95mobsm .orchids-new-open-so-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  line-height: 18.7px;
  position: relative;
  text-align: center;
}

.storageu95mobsm .marketplaces {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .mobile-4 {
  align-items: center;
}

.storageu95mobsm .line-1 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storageu95mobsm .mobile-headline-section-3 {
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-around;
  width: 100%;
}

.storageu95mobsm .the-orchid-ecosystem-2 {
  color: transparent;
}

.storageu95mobsm .copy-2 {
  align-items: center;
  gap: 24px;
}

.storageu95mobsm .title-1 {
  height: 18px;
  white-space: nowrap;
}

.storageu95mobsm .body-3 {
  margin-top: -1.00px;
}

.storageu95mobsm .storageu95mobsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .mobile-5 {
  align-items: flex-end;
}

.storageu95mobsm .mobile-caption-section-4 {
  justify-content: flex-end;
}

.storageu95mobsm .discover-3 {
  text-align: right;
}

.storageu95mobsm .mobile-headline-section-4 {
  align-items: center;
  justify-content: flex-end;
  margin-left: -80.00px;
  width: 360px;
}

.storageu95mobsm .the-orchid-ecosystem-3 {
  color: transparent;
  text-align: right;
}

.storageu95mobsm .intro-copy-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storageu95mobsm .frame-476-2 {
  gap: 10px;
  margin-left: -23.50px;
  margin-right: -23.50px;
}

.storageu95mobsm .mobile-button-hero-1 {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
}

.storageu95mobsm .learn-more-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.storageu95mobsm .mobile-6 {
  align-items: center;
}

.storageu95mobsm .copy-3 {
  align-items: flex-start;
  gap: 40px;
  padding: 10px 0px;
}

.storageu95mobsm .text-2 {
  cursor: pointer;
  line-height: 16px;
  margin-top: -1.00px;
}

.storageu95mobsm .span0-1 {
  letter-spacing: 0.10px;
  line-height: 19.8px;
}

.storageu95mobsm .span1-2 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.storageu95mobsm .text-3 {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 19.8px;
}

.storageu95mobsm .mobile-7 {
  align-items: center;
}

.storageu95mobsm .mobile-caption-section-5 {
  justify-content: center;
}

.storageu95mobsm .discover-4 {
  text-align: center;
}

.storageu95mobsm .mobile-headline-section-5 {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.storageu95mobsm .the-orchid-ecosystem-4 {
  color: var(--aquamarine);
  text-align: center;
}

.storageu95mobsm .frame-476-3 {
  gap: 40px;
  margin-left: -27.50px;
  margin-right: -27.50px;
}

.storageu95mobsm .mobilefooter-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -39.00px;
  position: relative;
}

.storageu95mobsm .desktop-home-logo-1 {
  height: 36px;
  position: relative;
}

.storageu95mobsm .x2023-orchid-3 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.storageu95mobsm .x2023-orchid-4 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.storageu95mobsm .hyperlinks-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .frame-532-item-1 {
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  position: relative;
  width: 281px;
}

.storageu95mobsm .x2023-orchid-5 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.storageu95mobsm .link-1 {
  cursor: pointer;
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  position: relative;
  width: 281px;
}

.storageu95mobsm .apps-8 {
  width: 102px;
}

.storageu95mobsm .apps-9 {
  width: 132px;
}

.storageu95mobsm .apps-10 {
  cursor: pointer;
  width: 113px;
}

.storageu95mobsm .apps-11 {
  width: 85px;
}

.storageu95mobsm .apps-12 {
  width: 122px;
}

.storageu95mobsm .apps-13 {
  width: 76px;
}

.storageu95mobsm .apps-14 {
  width: 42px;
}

.storageu95mobsm .apps-15 {
  width: 75px;
}

.storageu95mobsm .social-icons-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .social-link-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.storageu95mobsm .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.storageu95mobsm .body {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.storageu95mobsm .copy {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.storageu95mobsm .discover {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.storageu95mobsm .frame-476 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 0px 0px;
  position: relative;
}

.storageu95mobsm .mobile {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .mobile-headline-section {
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.storageu95mobsm .nanopay {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storageu95mobsm .text {
  align-self: stretch;
  position: relative;
}

.storageu95mobsm .the-orchid-ecosystem {
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.storageu95mobsm .title {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
}
/* screen - storageu95tabsm */

.storageu95tabsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 120px;
  height: 3372px;
  min-width: 744px;
  position: relative;
}

.storageu95tabsm .hero-image {
  background-image: url(../img/storage-splash-1.png);
  background-size: 100% 100%;
  height: 389px;
  left: -48px;
  position: absolute;
  top: 0;
  width: calc(100.00% + 84px);
}

.storageu95tabsm .mobile-nav-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px 72px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .frame-403 {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  padding: 80px 40px 40px;
}

.storageu95tabsm .decentralized-marketplace {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 36.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storageu95tabsm .span {
  letter-spacing: 0.32px;
}

.storageu95tabsm .line-10 {
  align-self: stretch;
  width: 100%;
}

.storageu95tabsm .orchids-new-open-so {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  line-height: 25.2px;
  position: relative;
  text-align: center;
}

.storageu95tabsm .storageu95tabsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .mobile {
  align-items: center;
}

.storageu95tabsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .line {
  flex: 1;
  flex-grow: 1;
}

.storageu95tabsm .mobile-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.storageu95tabsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.storageu95tabsm .span-1 {
  color: var(--white);
}

.storageu95tabsm .span1 {
  color: var(--aquamarine);
}

.storageu95tabsm .copy {
  align-items: center;
  gap: 24px;
}

.storageu95tabsm .title {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 600;
  height: 18px;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.storageu95tabsm .body-1 {
  margin-top: -1.00px;
}

.storageu95tabsm .mobile-1 {
  align-items: flex-end;
}

.storageu95tabsm .mobile-caption-section-1 {
  justify-content: flex-end;
}

.storageu95tabsm .discover-1 {
  text-align: right;
}

.storageu95tabsm .mobile-headline-section-1 {
  align-items: center;
  justify-content: flex-end;
  width: 360px;
}

.storageu95tabsm .the-orchid-ecosystem-1 {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storageu95tabsm .frame-478 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 24px;
  width: 100%;
}

.storageu95tabsm .intro-copy {
  align-self: stretch;
  color: transparent;
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
}

.storageu95tabsm .frame-476 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  padding: 60px 0px 0px;
}

.storageu95tabsm .mobile-button-hero {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
}

.storageu95tabsm .learn-more {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.storageu95tabsm .mobile-2 {
  align-items: center;
}

.storageu95tabsm .copy-1 {
  align-items: flex-start;
  gap: 40px;
  padding: 10px 0px;
}

.storageu95tabsm .text {
  cursor: pointer;
  line-height: 16px;
  margin-top: -1.00px;
}

.storageu95tabsm .span0 {
  letter-spacing: 0.10px;
  line-height: 19.8px;
}

.storageu95tabsm .span1-1 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
}

.storageu95tabsm .text-1 {
  color: var(--aquamarine);
  font-weight: 600;
  line-height: 19.8px;
}

.storageu95tabsm .mobile-3 {
  align-items: center;
}

.storageu95tabsm .mobile-caption-section-2 {
  justify-content: center;
}

.storageu95tabsm .get {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.storageu95tabsm .mobile-headline-section-2 {
  align-items: flex-start;
  align-self: stretch;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.storageu95tabsm .involved {
  color: var(--aquamarine);
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.storageu95tabsm .frame-476-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 60px 0px 0px;
  position: relative;
}

.storageu95tabsm .mobilefooter {
  align-items: center;
  align-self: stretch;
  background-color: var(--black);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;
  padding: 80px 60px 120px 40px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.storageu95tabsm .desktop-home-logo {
  height: 36px;
  position: relative;
}

.storageu95tabsm .x2023-orchid {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.storageu95tabsm .x2023-orchid-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.storageu95tabsm .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .frame-532 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 32px;
  padding: 24px 0px;
  width: 100%;
}

.storageu95tabsm .frame-532-item {
  display: flex;
  height: 22px;
  position: relative;
  width: 281px;
}

.storageu95tabsm .x2023-orchid-2 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.storageu95tabsm .link {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 281px;
}

.storageu95tabsm .apps {
  width: 102px;
}

.storageu95tabsm .apps-1 {
  width: 132px;
}

.storageu95tabsm .apps-2 {
  cursor: pointer;
  width: 113px;
}

.storageu95tabsm .apps-3 {
  width: 85px;
}

.storageu95tabsm .apps-4 {
  width: 122px;
}

.storageu95tabsm .apps-5 {
  width: 76px;
}

.storageu95tabsm .apps-6 {
  width: 42px;
}

.storageu95tabsm .apps-7 {
  width: 75px;
}

.storageu95tabsm .social-icons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .social-link-github {
  height: 33px;
  margin-bottom: -1.00px;
}

.storageu95tabsm .social-link-reddit {
  height: 32px;
}

.storageu95tabsm .apps-8 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.storageu95tabsm .body-2 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.storageu95tabsm .copy-2 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.storageu95tabsm .frame {
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.storageu95tabsm .line-1 {
  height: 1px;
  object-fit: cover;
  position: relative;
}

.storageu95tabsm .mobile-4 {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .mobile-caption-section-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .mobile-headline-section-3 {
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.storageu95tabsm .nanopay-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.storageu95tabsm .social-link-1 {
  cursor: pointer;
  position: relative;
  width: 32px;
}

.storageu95tabsm .text-2 {
  align-self: stretch;
  position: relative;
}
@media screen and (max-width: 743px) {
  .screen.storageu95tabsm { 
    display: none;
   }
  .screen.storage-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.storageu95mobsm { 
    display: none;
   }
  .screen.storage-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.storageu95tabsm { 
    display: none;
   }
  .screen.storageu95mobsm { 
    display: none;
   }
}