:root { 
  --aquamarine: #68f5da;
  --black: #000000;
  --black-2: #040404;
  --cod-gray: #090909;
  --dull-lavender: #a789ff;
  --dull-lavender-2: #ae9aff;
  --heavy-metal: #2c2c2c;
  --log-cabin: #212121;
  --pixie-powder: #441a86;
  --true-v: #8263ff;
  --white: #ffffff;
  --woodsmoke: #0f0f0f;
 
  --font-size-12px: 12px;
  --font-size-17px: 17px;
  --font-size-23px: 23px;
  --font-size-60px: 60px;
  --font-size-l: 16px;
  --font-size-m: 15px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xxl: 21px;
  --font-size-xxxl: 28px;
  --font-size-xxxxl: 40px;
 
  --font-family-figtree: "Figtree", Helvetica;
}
.desktopheadline {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-60px);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 1.2px;
}

.desktopsubhead {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.desktoptitle {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.12px;
}

.desktopcallout {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 3.2px;
}

.desktopbody {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
}

.desktophyperlink {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.desktopbutton {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}

.desktopsmall-button {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.6px;
}

.desktopcaption {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.28px;
}

.mobilebutton {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.mobilesuper-headline {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.8px;
}

.mobilesubhead {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-17px);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.mobilebody {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.mobiletitle {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.64px;
}

.mobileheadline {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.mobilesuper-subhead {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-23px);
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0;
}

.mobilecallout {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-12px);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.92px;
}

.mobilehyperlink {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.figtree-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.figtree-semi-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.figtree-semi-bold-aquamarine-40px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 600;
}

.figtree-medium-aquamarine-28px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.figtree-bold-aquamarine-20px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.figtree-bold-dull-lavender-20px {
  color: var(--dull-lavender);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.figtree-extra-bold-white-60px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
}

.figtree-extra-bold-aquamarine-40px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.figtree-extra-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 800;
}

.figtree-normal-aquamarine-20px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.figtree-extra-bold-aquamarine-60px {
  color: var(--aquamarine);
  font-family: var(--font-family-figtree);
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
}

.figtree-medium-white-28px {
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}

.figtree-medium-white-28px-2 {
  color: var(--white);
  font-family: var(--font-family-figtree);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
