/* screen - vpn-all-breakpoints */

.vpn-all-breakpoints {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 200px;
  min-width: 1440px;
  position: relative;
}

.vpn-all-breakpoints .ellipses {
  height: 5219px;
  left: calc(50.00% - 984px);
  position: absolute;
  top: -90px;
  width: 1968px;
}

.vpn-all-breakpoints .flex-col {
  flex-direction: column;
  left: 1px;
  min-height: 5219px;
  position: relative;
  width: 1967px;
}

.vpn-all-breakpoints .overlap-group1 {
  height: 775px;
  margin-left: 90.0px;
  position: relative;
  width: 936px;
}

.vpn-all-breakpoints .ellipse-container {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.vpn-all-breakpoints .flex-row {
  gap: 109px;
  height: 3442px;
  margin-top: 441px;
  min-width: 1967px;
}

.vpn-all-breakpoints .ellipse-37 {
  background-color: var(--black-2);
  border-radius: 441.5px;
  height: 883px;
  margin-top: 563.0px;
  transform: rotate(180.00deg);
  width: 883px;
}

.vpn-all-breakpoints .ellipse-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 3442px;
  width: 975px;
}

.vpn-all-breakpoints .ellipse-33 {
  align-self: center;
  background-color: var(--black-2);
  border-radius: 260px;
  height: 520px;
  margin-right: 121.35px;
  margin-top: 770px;
  transform: rotate(180.00deg);
  width: 520px;
}

.vpn-all-breakpoints .ellipse-35 {
  background-color: var(--black-2);
  border-radius: 422.83px;
  height: 846px;
  margin-top: 694px;
  transform: rotate(90.00deg);
  width: 846px;
}

.vpn-all-breakpoints .ellipse-32 {
  background-color: var(--black-2);
  border-radius: 190px;
  height: 380px;
  margin-left: 320.0px;
  margin-top: 181px;
  transform: rotate(180.00deg);
  width: 380px;
}

.vpn-all-breakpoints .desktop-home-logo-1 {
  cursor: pointer;
  flex: 0 0 auto;
}

.vpn-all-breakpoints .desktop-button-top-nav-1 {
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
}

.vpn-all-breakpoints .desktop-button-top-nav-2 {
  display: flex;
  width: 37px;
}

.vpn-all-breakpoints .vpn {
  color: var(--aquamarine);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpn-all-breakpoints .desktop-button-top-nav-3 {
  cursor: pointer;
  display: flex;
  width: 36px;
}

.vpn-all-breakpoints .vpn-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpn-all-breakpoints .desktop-button-top-nav-4 {
  cursor: pointer;
  display: flex;
  width: 44px;
}

.vpn-all-breakpoints .desktop-button-top-nav-5 {
  cursor: pointer;
  display: flex;
  width: 61px;
}

.vpn-all-breakpoints .desktop-button-top-nav-6 {
  cursor: pointer;
  display: flex;
  width: 50px;
}

.vpn-all-breakpoints .desktop-button-header {
  align-items: center;
  background-image: url(../img/button-base-1@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  position: relative;
  width: 196px;
}

.vpn-all-breakpoints .hero-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .frame-481 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 37px;
  position: relative;
}

.vpn-all-breakpoints .composition_-generic_2-1 {
  height: 354px;
  object-fit: cover;
  position: relative;
  width: 459px;
}

.vpn-all-breakpoints .frame-403 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 481px;
}

.vpn-all-breakpoints .unblock-your-internet-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpn-all-breakpoints .span-2 {
  color: var(--aquamarine);
}

.vpn-all-breakpoints .span-3 {
  color: var(--white);
}

.vpn-all-breakpoints .with-orchids-decent-1 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  position: relative;
}

.vpn-all-breakpoints .frame-380 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 481px;
}

.vpn-all-breakpoints .google-play-badge {
  height: 56.3px;
  width: 188px;
}

.vpn-all-breakpoints .marketplace {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .frame-485 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1280px;
}

.vpn-all-breakpoints .desktop-header-section-full {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
}

.vpn-all-breakpoints .desktop-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .caption {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpn-all-breakpoints .line-1 {
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.vpn-all-breakpoints .desktop-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .two-color-headline {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  width: 1280px;
}

.vpn-all-breakpoints .frame-355 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 12px 12px;
  position: relative;
  width: 1180px;
}

.vpn-all-breakpoints .intro-copy-5 {
  color: var(--white);
  flex: 1;
  font-weight: 400;
  line-height: 28.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpn-all-breakpoints .cards-2 {
  align-items: center;
  flex-direction: column;
  gap: 24px;
  min-width: 560px;
  padding: 24px 0px;
}

.vpn-all-breakpoints .cards-item-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 0px 0px 0px 60px;
  width: 100%;
}

.vpn-all-breakpoints .intro-copy-6 {
  color: var(--white);
  flex: 1;
  font-weight: 500;
  line-height: 34.7px;
  position: relative;
}

.vpn-all-breakpoints .line-8-2 {
  margin-bottom: -2.00px;
  margin-top: -2.00px;
  width: 4px;
}

.vpn-all-breakpoints .frame-5 {
  height: 120px;
  left: 0;
  position: absolute;
  top: calc(50.00% - 60px);
  width: 120px;
}

.vpn-all-breakpoints .frame-518-2 {
  justify-content: center;
}

.vpn-all-breakpoints .features {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .frame-475 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .desktop-header-section-full-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .desktop-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 40px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .caption-1 {
  color: var(--white);
  font-weight: 600;
  line-height: 22.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.vpn-all-breakpoints .desktop-headline-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 0px 24px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .two-color-headline-1 {
  color: transparent;
  font-weight: 600;
  line-height: 44.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 1280px;
}

.vpn-all-breakpoints .cards-3 {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 24px 24px;
  justify-content: center;
}

.vpn-all-breakpoints .cards-item-3 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  min-height: 564px;
  padding: 60px 40px;
}

.vpn-all-breakpoints .icon-1 {
  width: 120px;
}

.vpn-all-breakpoints .frame-52 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0px 0px;
  position: relative;
}

.vpn-all-breakpoints .title-1 {
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 280px;
}

.vpn-all-breakpoints .body-2 {
  color: var(--white);
  font-weight: 400;
  height: 140px;
  line-height: 28.0px;
  position: relative;
  width: 280px;
}

.vpn-all-breakpoints .intro-copy-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.vpn-all-breakpoints .icon-traffic {
  width: 151.48px;
}

.vpn-all-breakpoints .icon-payments {
  width: 113.82px;
}

.vpn-all-breakpoints .why-orchid {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 0px 80px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .desktop-header-section-simple {
  height: 56px;
}

.vpn-all-breakpoints .line-2 {
  left: 0;
  position: absolute;
  top: 56px;
  width: 1280px;
}

.vpn-all-breakpoints .title-2 {
  color: transparent;
  font-weight: 600;
  height: 32px;
  left: 0;
  line-height: 44.0px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 1280px;
}

.vpn-all-breakpoints .cards-4 {
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.vpn-all-breakpoints .cards-item-4 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 24px 40px 40px;
  width: 100%;
}

.vpn-all-breakpoints .intro-copy-8 {
  align-self: stretch;
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  margin-top: -1.00px;
  position: relative;
}

.vpn-all-breakpoints .line-8-3 {
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  width: 100%;
}

.vpn-all-breakpoints .intro-copy-9 {
  align-self: stretch;
  color: var(--white);
  font-weight: 400;
  line-height: 28.0px;
  position: relative;
}

.vpn-all-breakpoints .intro-copy-10 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.vpn-all-breakpoints .frame-380-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  justify-content: center;
  padding: 120px 0px 0px;
  position: relative;
  width: 739px;
}

.vpn-all-breakpoints .google-play-2 {
  background-image: url(../img/google-play-badge-2@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 88px;
  position: relative;
  width: 295px;
}

.vpn-all-breakpoints .apple-store-1 {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 88px;
  position: relative;
  width: 295px;
}

.vpn-all-breakpoints .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 80px 80px 160px;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.vpn-all-breakpoints .x2023-orchid-5 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 676px;
}

.vpn-all-breakpoints .hyperlinks-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.vpn-all-breakpoints .x2023-orchid-4 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
  width: 180px;
}

.vpn-all-breakpoints .apps-9 {
  cursor: pointer;
}

.vpn-all-breakpoints .link-1 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.vpn-all-breakpoints .social-icons-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 40px 24px;
  justify-content: flex-end;
  position: relative;
}

.vpn-all-breakpoints .social-link-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.vpn-all-breakpoints .apps {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.vpn-all-breakpoints .cards {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.vpn-all-breakpoints .cards-item {
  flex: 0 0 auto;
  position: relative;
}

.vpn-all-breakpoints .desktop-button-top-nav-7 {
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.vpn-all-breakpoints .desktop-header-section {
  position: relative;
  width: 1280px;
}

.vpn-all-breakpoints .desktop-home-logo {
  height: 36px;
  position: relative;
}

.vpn-all-breakpoints .flex {
  align-items: flex-start;
  display: flex;
}

.vpn-all-breakpoints .frame-518 {
  align-items: center;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 24px;
  overflow: hidden;
  padding: 40px 24px 40px 100px;
  position: relative;
}

.vpn-all-breakpoints .icon {
  height: 120px;
  position: relative;
}

.vpn-all-breakpoints .line {
  height: 1px;
  object-fit: cover;
}

.vpn-all-breakpoints .line-8 {
  align-self: stretch;
  position: relative;
}
/* screen - vpnu95mobsm */

.vpnu95mobsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-width: 360px;
  position: relative;
}

.vpnu95mobsm .mobile-nav-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .hero {
  align-self: stretch;
  padding: 0px 60px;
  width: 100%;
}

.vpnu95mobsm .screens {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-left: -5.00px;
  margin-right: -5.00px;
  position: relative;
}

.vpnu95mobsm .vpn-screens {
  height: 651px;
  margin-bottom: -233.00px;
  margin-left: -229.00px;
  margin-right: -229.00px;
  margin-top: -225.00px;
  object-fit: cover;
  position: relative;
  width: 708px;
}

.vpnu95mobsm .hero-copy {
  margin-left: -61.00px;
  margin-right: -61.00px;
  padding: 0px 40px;
  width: 362px;
}

.vpnu95mobsm .unblock-your-internet {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 36.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.vpnu95mobsm .span {
  color: var(--aquamarine);
}

.vpnu95mobsm .span-1 {
  color: var(--white);
}

.vpnu95mobsm .with-orchids-decent {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  position: relative;
  text-align: center;
}

.vpnu95mobsm .download-links {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-left: -20.00px;
  margin-right: -20.00px;
  padding: 24px 0px 0px;
  position: relative;
  width: 322px;
}

.vpnu95mobsm .google-play {
  background-image: url(../img/google-play-badge-2@2x.png);
  background-size: 100% 100%;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 144px;
}

.vpnu95mobsm .vpnu95mobsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .mobile {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .line {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.vpnu95mobsm .mobile-headline-section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95mobsm .copy {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .body-1 {
  margin-top: -1.00px;
}

.vpnu95mobsm .vpnu95mobsm-item-item {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .frame-518 {
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  gap: 16px;
  justify-content: center;
  overflow: hidden;
  padding: 24px;
}

.vpnu95mobsm .intro-copy {
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
  width: 200px;
}

.vpnu95mobsm .line-8 {
  align-self: stretch;
  height: 2px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .intro-copy-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.vpnu95mobsm .mobile-caption-section-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .discover-1 {
  text-align: center;
}

.vpnu95mobsm .mobile-headline-section-1 {
  align-items: flex-start;
  justify-content: center;
  margin-left: -24.00px;
  margin-right: -24.00px;
  width: 360px;
}

.vpnu95mobsm .the-orchid-ecosystem-1 {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.vpnu95mobsm .cards {
  align-items: flex-start;
  align-self: stretch;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 16px 16px;
  justify-content: center;
  width: 100%;
}

.vpnu95mobsm .cards-item {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 16px;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px 40px;
  width: 312px;
}

.vpnu95mobsm .icon {
  height: 40px;
  position: relative;
  width: 40px;
}

.vpnu95mobsm .title {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  position: relative;
  text-align: center;
}

.vpnu95mobsm .body {
  text-align: center;
}

.vpnu95mobsm .intro-copy-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-align: right;
  text-overflow: ellipsis;
  width: 45px;
}

.vpnu95mobsm .icon-traffic-small {
  height: 40px;
  position: relative;
  width: 51px;
}

.vpnu95mobsm .icon-sharing-small {
  height: 41px;
  position: relative;
  width: 41px;
}

.vpnu95mobsm .mobile-headline-section-2 {
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
}

.vpnu95mobsm .why-orchid-vpn {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95mobsm .cards-1 {
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.vpnu95mobsm .intro-copy-3 {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95mobsm .intro-copy-4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.vpnu95mobsm .download-links-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-left: -5.00px;
  margin-right: -5.00px;
  padding: 24px 0px 0px;
  position: relative;
  width: 322px;
}

.vpnu95mobsm .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -39.00px;
  position: relative;
}

.vpnu95mobsm .desktop-home-logo {
  height: 36px;
  position: relative;
}

.vpnu95mobsm .x2023-orchid {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.vpnu95mobsm .x2023-orchid-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.vpnu95mobsm .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .frame-532 {
  gap: 32px;
  padding: 24px 0px;
}

.vpnu95mobsm .x2023-orchid-2 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 151px;
}

.vpnu95mobsm .x2023-orchid-3 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 132px;
}

.vpnu95mobsm .link {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.vpnu95mobsm .apps {
  width: 102px;
}

.vpnu95mobsm .apps-1 {
  width: 132px;
}

.vpnu95mobsm .apps-2 {
  cursor: pointer;
  width: 113px;
}

.vpnu95mobsm .apps-3 {
  width: 85px;
}

.vpnu95mobsm .apps-4 {
  width: 122px;
}

.vpnu95mobsm .apps-5 {
  width: 76px;
}

.vpnu95mobsm .apps-6 {
  width: 42px;
}

.vpnu95mobsm .apps-7 {
  width: 75px;
}

.vpnu95mobsm .social-icons {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .social-link-github {
  height: 33px;
  margin-bottom: -1.00px;
}

.vpnu95mobsm .social-link-reddit {
  background-image: url(../img/combined-shape@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
  height: 32px;
}

.vpnu95mobsm .apps-8 {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}

.vpnu95mobsm .body-2 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.vpnu95mobsm .cards-2 {
  display: flex;
  position: relative;
}

.vpnu95mobsm .discover-2 {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpnu95mobsm .frame {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.vpnu95mobsm .hero-1 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.vpnu95mobsm .mobile-headline-section-3 {
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.vpnu95mobsm .social-link-1 {
  cursor: pointer;
  position: relative;
  width: 32px;
}
/* screen - vpnu95tabsm */

.vpnu95tabsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 120px;
  min-width: 744px;
  position: relative;
}

.vpnu95tabsm .mobile-nav-header-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .hero-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 0px 60px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .frame-481-1 {
  align-items: flex-end;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.vpnu95tabsm .composition_-generic_2-1-1 {
  height: 186px;
  object-fit: cover;
  position: relative;
  width: 240px;
}

.vpnu95tabsm .frame-403-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 362px;
}

.vpnu95tabsm .unblock-your-internet-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 800;
  line-height: 36.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95tabsm .span-4 {
  color: var(--aquamarine);
}

.vpnu95tabsm .span-5 {
  color: var(--white);
}

.vpnu95tabsm .with-orchids-decent-2 {
  align-self: stretch;
  color: transparent;
  font-weight: 600;
  line-height: 25.2px;
  position: relative;
}

.vpnu95tabsm .download-links-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  margin-right: -40.00px;
  padding: 24px 0px 0px;
  position: relative;
  width: 322px;
}

.vpnu95tabsm .app-store-1 {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 144px;
}

.vpnu95tabsm .google-play-3 {
  background-image: url(../img/google-play-badge-2@2x.png);
  background-size: 100% 100%;
  height: 42px;
  width: 144px;
}

.vpnu95tabsm .vpnu95tabsm-item {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 0px 40px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .mobile-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .line-3 {
  flex: 1;
  flex-grow: 1;
  height: 1px;
  object-fit: cover;
  position: relative;
}

.vpnu95tabsm .mobile-headline-section-3 {
  align-self: stretch;
  justify-content: space-around;
  width: 100%;
}

.vpnu95tabsm .copy-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .body-4 {
  align-self: stretch;
  margin-top: -1.00px;
}

.vpnu95tabsm .cards-5 {
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0px;
}

.vpnu95tabsm .cards-item-5 {
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 0px 0px 0px 40px;
  width: 100%;
}

.vpnu95tabsm .frame-518-3 {
  align-items: center;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 24px;
  overflow: hidden;
  padding: 16px 24px 16px 80px;
  position: relative;
}

.vpnu95tabsm .intro-copy-11 {
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  position: relative;
  width: 200px;
}

.vpnu95tabsm .line-8-4 {
  margin-bottom: -1.00px;
  margin-top: -1.00px;
  width: 2px;
}

.vpnu95tabsm .intro-copy-12 {
  color: var(--white);
  flex: 1;
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95tabsm .icon-element {
  height: 81px;
  left: 0;
  position: absolute;
  top: calc(50.00% - 41px);
  width: 81px;
}

.vpnu95tabsm .mobile-caption-section-3 {
  justify-content: center;
}

.vpnu95tabsm .discover-3 {
  text-align: center;
}

.vpnu95tabsm .mobile-headline-section-4 {
  gap: 10px;
  justify-content: center;
  width: 360px;
}

.vpnu95tabsm .the-orchid-ecosystem-3 {
  text-align: center;
}

.vpnu95tabsm .cards-6 {
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px 24px;
  justify-content: center;
}

.vpnu95tabsm .cards-item-6 {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  min-height: 381px;
  padding: 40px 24px;
}

.vpnu95tabsm .icon-2 {
  height: 80px;
  position: relative;
  width: 80px;
}

.vpnu95tabsm .title-3 {
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  position: relative;
  text-align: center;
  width: 168px;
}

.vpnu95tabsm .body-3 {
  height: 85px;
  width: 168px;
}

.vpnu95tabsm .link-2 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--dull-lavender-2);
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 45px;
}

.vpnu95tabsm .icon-traffic-1 {
  height: 80px;
  position: relative;
  width: 100px;
}

.vpnu95tabsm .icon-payments-1 {
  height: 80px;
  position: relative;
  width: 75.88px;
}

.vpnu95tabsm .sharing {
  align-items: center;
  background-color: var(--log-cabin);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  height: 381px;
  padding: 40px 24px;
  position: relative;
}

.vpnu95tabsm .cards-7 {
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.vpnu95tabsm .cards-item-7 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--true-v);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 24px 24px 40px;
  width: 100%;
}

.vpnu95tabsm .intro-copy-13 {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  line-height: 19.8px;
  margin-top: -1.00px;
  position: relative;
}

.vpnu95tabsm .line-8-5 {
  height: 1px;
  margin-left: -0.50px;
  margin-right: -0.50px;
  object-fit: cover;
  width: 100%;
}

.vpnu95tabsm .intro-copy-14 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.vpnu95tabsm .intro-copy-15 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  color: var(--dull-lavender-2);
  cursor: pointer;
  display: -webkit-box;
  font-weight: 700;
  line-height: 24px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

.vpnu95tabsm .frame-380-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 80px;
  justify-content: center;
  margin-left: -37.50px;
  margin-right: -37.50px;
  padding: 120px 0px 0px;
  position: relative;
  width: 739px;
}

.vpnu95tabsm .google-play-4 {
  display: flex;
  height: 56px;
  width: 187px;
}

.vpnu95tabsm .apple-store-2 {
  background-image: url(../img/appstorebadge-2.png);
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
  height: 56px;
  position: relative;
  width: 188px;
}

.vpnu95tabsm .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.vpnu95tabsm .x2023-orchid-6 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.vpnu95tabsm .x2023-orchid-7 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.vpnu95tabsm .hyperlinks-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .x2023-orchid-8 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 151px;
}

.vpnu95tabsm .x2023-orchid-9 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  width: 132px;
}

.vpnu95tabsm .link-3 {
  display: flex;
  height: 22px;
  width: 198px;
}

.vpnu95tabsm .apps-10 {
  width: 102px;
}

.vpnu95tabsm .apps-11 {
  width: 132px;
}

.vpnu95tabsm .apps-12 {
  cursor: pointer;
  width: 113px;
}

.vpnu95tabsm .apps-13 {
  width: 85px;
}

.vpnu95tabsm .apps-14 {
  width: 122px;
}

.vpnu95tabsm .apps-15 {
  width: 76px;
}

.vpnu95tabsm .apps-17 {
  width: 75px;
}

.vpnu95tabsm .social-icons-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .social-link-github-2 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.vpnu95tabsm .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
}

.vpnu95tabsm .body {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  position: relative;
}

.vpnu95tabsm .cards {
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .cards-item {
  flex: 0 0 auto;
  position: relative;
}

.vpnu95tabsm .discover {
  color: var(--white);
  font-weight: 600;
  line-height: 13.2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.vpnu95tabsm .google-play {
  cursor: pointer;
  position: relative;
}

.vpnu95tabsm .line-8 {
  align-self: stretch;
  position: relative;
}

.vpnu95tabsm .link {
  cursor: pointer;
  position: relative;
}

.vpnu95tabsm .mobile-caption-section {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 16px;
  position: relative;
  width: 100%;
}

.vpnu95tabsm .mobile-headline-section {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.vpnu95tabsm .the-orchid-ecosystem {
  color: transparent;
  flex: 1;
  font-weight: 600;
  line-height: 25.2px;
  margin-top: -1.00px;
  position: relative;
}
@media screen and (max-width: 743px) {
  .screen.vpn-all-breakpoints { 
    display: none;
   }
  .screen.vpnu95tabsm { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.vpnu95mobsm { 
    display: none;
   }
  .screen.vpn-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.vpnu95mobsm { 
    display: none;
   }
  .screen.vpnu95tabsm { 
    display: none;
   }
}