/* screen - 404u95dt */

.x404u95dt {
  align-items: center;
  background-color: var(--cod-gray);
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 1440px;
  position: relative;
}

.x404u95dt .ellipses {
  display: flex;
  height: 1659px;
  justify-content: center;
  left: calc(50.00% - 984px);
  position: absolute;
  top: -90px;
  width: 1793px;
}

.x404u95dt .frame-531 {
  align-items: center;
  display: flex;
  gap: 288px;
  height: 1659px;
  justify-content: flex-end;
  min-width: 1793px;
}

.x404u95dt .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 361px;
  margin-bottom: 0;
  min-height: 1659px;
  width: 1026px;
}

.x404u95dt .overlap-group1 {
  align-self: flex-end;
  height: 775px;
  position: relative;
  width: 936px;
}

.x404u95dt .ellipse-container {
  height: 775px;
  left: 0;
  position: absolute;
  top: 0;
  width: 912px;
}

.x404u95dt .ellipse-37 {
  background-color: var(--black-2);
  border-radius: 261.5px;
  height: 523px;
  transform: rotate(180.00deg);
  width: 523px;
}

.x404u95dt .ellipse-34 {
  background-color: var(--black-2);
  border-radius: 239px;
  height: 478px;
  margin-top: 387.0px;
  width: 478px;
}

.x404u95dt .desktop-home-logo {
  cursor: pointer;
  flex: 0 0 auto;
  height: 36px;
  position: relative;
}

.x404u95dt .desktop-button-top-nav-1 {
  display: inline-flex;
  flex: 0 0 auto;
}

.x404u95dt .desktop-button-top-nav-2 {
  display: flex;
  width: 37px;
}

.x404u95dt .desktop-button-top-nav-3 {
  display: flex;
  width: 36px;
}

.x404u95dt .desktop-button-top-nav-4 {
  display: flex;
  width: 44px;
}

.x404u95dt .desktop-button-top-nav-5 {
  display: flex;
  width: 61px;
}

.x404u95dt .desktop-button-top-nav-6 {
  display: flex;
  width: 50px;
}

.x404u95dt .desktop-button-header {
  background-image: url(../img/button-base-1@2x.png);
  height: 48px;
  justify-content: flex-end;
  width: 196px;
}

.x404u95dt .hero {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  max-width: 1800px;
  min-width: 880px;
  padding: 0px 160px;
  position: relative;
}

.x404u95dt .frame-403 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 855px;
}

.x404u95dt .decentralized-marketplace {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 800;
  line-height: 54.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x404u95dt .line-10 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.x404u95dt .frame-586 {
  align-self: stretch;
  display: flex;
  height: 529px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x404u95dt .orchid404_-graphic-1 {
  height: 529px;
  margin-left: 1px;
  width: 670px;
}

.x404u95dt .intro-copy {
  align-self: stretch;
  color: var(--white);
  font-weight: 500;
  line-height: 34.7px;
  position: relative;
  text-align: center;
}

.x404u95dt .frame-587 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.x404u95dt .intro-copy-1 {
  color: var(--white);
  font-weight: 400;
  margin-top: -1.00px;
}

.x404u95dt .intro-copy-2 {
  color: var(--aquamarine);
  cursor: pointer;
  font-weight: 700;
}

.x404u95dt .frame-489 {
  align-items: flex-start;
  display: inline-flex;
  gap: 80px;
  height: 140px;
  justify-content: center;
  position: relative;
  width: 800px;
}

.x404u95dt .hero-cta-button {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 0px 0px;
  position: relative;
}

.x404u95dt .desktop-button-hero {
  background-image: url(../img/rectangle-6-43@2x.png);
  height: 80px;
  width: 360px;
}

.x404u95dt .learn-more {
  color: var(--white);
  flex: 1;
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.x404u95dt .desktopfooter {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--black-2);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  padding: 80px 80px 160px;
  position: relative;
  width: 100%;
}

.x404u95dt .logo {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.x404u95dt .desktop-home-logo-1 {
  height: 36px;
  position: relative;
}

.x404u95dt .x2023-orchid {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 676px;
}

.x404u95dt .hyperlinks {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.x404u95dt .frame-42 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.x404u95dt .pp {
  height: 22px;
  width: 180px;
}

.x404u95dt .x2023-orchid-1 {
  width: 180px;
}

.x404u95dt .pp-1 {
  height: 44px;
  width: 208px;
}

.x404u95dt .x2023-orchid-2 {
  width: 208px;
}

.x404u95dt .apps-1 {
  cursor: pointer;
}

.x404u95dt .link {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 198px;
}

.x404u95dt .social-icons {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 24px 40px;
  justify-content: flex-end;
  position: relative;
}

.x404u95dt .social-link-github {
  height: 33px;
  margin-bottom: -1.00px;
}

.x404u95dt .social-link-reddit {
  height: 32px;
}

.x404u95dt .apps-2 {
  color: var(--white);
  font-weight: 700;
  height: 22px;
  line-height: 22.4px;
  width: 198px;
}

.x404u95dt .desktop-button {
  align-items: center;
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  position: relative;
}

.x404u95dt .desktop-button-top-nav-7 {
  align-items: center;
  cursor: pointer;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.x404u95dt .intro-copy-3 {
  align-self: stretch;
  line-height: 28.0px;
  position: relative;
  text-align: center;
}

.x404u95dt .pp-2 {
  display: flex;
  position: relative;
}

.x404u95dt .social-link-1 {
  cursor: pointer;
  position: relative;
  width: 32px;
}

.x404u95dt .vpn-2 {
  color: var(--white);
  font-weight: 700;
  line-height: 14.4px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.x404u95dt .x2023-orchid-3 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 22.4px;
}
/* screen - 404u95tabsm */

.x404u95tabsm {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 2217px;
  min-width: 744px;
  position: relative;
}

.x404u95tabsm .mobile-nav-header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px 72px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .menu-icon {
  cursor: pointer;
  height: 24px;
  position: relative;
  width: 24px;
}

.x404u95tabsm .frame-403-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 40px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .decentralized-marketplace-1 {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 800;
  line-height: 36.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x404u95tabsm .line-10-1 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.x404u95tabsm .frame-586-1 {
  align-self: stretch;
  display: flex;
  height: 532px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x404u95tabsm .orchid404_img-1 {
  height: 532px;
  margin-left: -1px;
  width: 656px;
}

.x404u95tabsm .title {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  height: 18px;
  line-height: 19.8px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.x404u95tabsm .frame-587-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .intro-copy-3 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
}

.x404u95tabsm .intro-copy-4 {
  color: var(--aquamarine);
  cursor: pointer;
  font-weight: 700;
  line-height: 16.5px;
}

.x404u95tabsm .buttons {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0px 0px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .mobile-button-hero {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
  width: 275px;
}

.x404u95tabsm .learn-more-1 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x404u95tabsm .logo-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.x404u95tabsm .desktop-home-logo-2 {
  height: 36px;
  position: relative;
}

.x404u95tabsm .x2023-orchid-3 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.x404u95tabsm .x2023-orchid-4 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.x404u95tabsm .hyperlinks-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .frame-532 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  padding: 24px 0px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .frame-532-item {
  display: flex;
  height: 22px;
  position: relative;
  width: 281px;
}

.x404u95tabsm .x2023-orchid-5 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.x404u95tabsm .link-1 {
  cursor: pointer;
  display: flex;
  height: 22px;
  position: relative;
  width: 281px;
}

.x404u95tabsm .apps-2 {
  width: 102px;
}

.x404u95tabsm .apps-3 {
  width: 132px;
}

.x404u95tabsm .apps-4 {
  cursor: pointer;
  width: 113px;
}

.x404u95tabsm .apps-5 {
  width: 85px;
}

.x404u95tabsm .apps-6 {
  width: 122px;
}

.x404u95tabsm .apps-7 {
  width: 76px;
}

.x404u95tabsm .apps-8 {
  width: 42px;
}

.x404u95tabsm .apps-9 {
  width: 75px;
}

.x404u95tabsm .social-icons-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.x404u95tabsm .social-link-1 {
  cursor: pointer;
  height: 32px;
  position: relative;
  width: 32px;
}

.x404u95tabsm .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.x404u95tabsm .intro-copy {
  align-self: stretch;
  position: relative;
  text-align: center;
}
/* screen - x404-all-breakpoints */

.x404-all-breakpoints {
  align-items: center;
  background-color: var(--woodsmoke);
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 1925px;
  min-width: 360px;
  position: relative;
}

.x404-all-breakpoints .mobile-nav-header-1 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  height: 88px;
  justify-content: space-between;
  padding: 32px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .frame-404 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  padding: 24px 40px 40px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .decentralized-marketplace-2 {
  align-self: stretch;
  color: var(--aquamarine);
  font-weight: 800;
  line-height: 36.0px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.x404-all-breakpoints .line-10-2 {
  align-self: stretch;
  height: 1px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .frame-586-2 {
  align-self: stretch;
  display: flex;
  height: 310px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .orchid404_img-1-1 {
  height: 310px;
  width: 360px;
}

.x404-all-breakpoints .title-1 {
  align-self: stretch;
  color: var(--white);
  font-weight: 600;
  height: 18px;
  line-height: 19.8px;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.x404-all-breakpoints .frame-587-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .intro-copy-5 {
  color: var(--white);
  font-weight: 300;
  line-height: 18.0px;
  margin-top: -1.00px;
}

.x404-all-breakpoints .intro-copy-6 {
  color: var(--aquamarine);
  cursor: pointer;
  font-weight: 700;
  line-height: 16.5px;
}

.x404-all-breakpoints .buttons-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0px 0px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .mobile-button-hero-1 {
  align-items: center;
  background-color: var(--log-cabin);
  border: 1px solid;
  border-color: var(--aquamarine);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px 80px;
  position: relative;
  width: 275px;
}

.x404-all-breakpoints .learn-more-2 {
  color: var(--white);
  font-weight: 700;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.x404-all-breakpoints .logo-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  margin-right: -39.00px;
  position: relative;
}

.x404-all-breakpoints .x2023-orchid-6 {
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
  width: 299px;
}

.x404-all-breakpoints .x2023-orchid-7 {
  align-self: stretch;
  color: var(--white);
  font-weight: 300;
  line-height: 19.6px;
  position: relative;
}

.x404-all-breakpoints .hyperlinks-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .frame-532-item-1 {
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  position: relative;
  width: 281px;
}

.x404-all-breakpoints .x2023-orchid-8 {
  color: var(--white);
  cursor: pointer;
  flex: 1;
  font-weight: 700;
  line-height: 24px;
  white-space: nowrap;
  width: 132px;
}

.x404-all-breakpoints .link-2 {
  cursor: pointer;
  display: flex;
  height: 22px;
  margin-right: -21.00px;
  position: relative;
  width: 281px;
}

.x404-all-breakpoints .apps-10 {
  width: 102px;
}

.x404-all-breakpoints .apps-11 {
  width: 132px;
}

.x404-all-breakpoints .apps-12 {
  cursor: pointer;
  width: 113px;
}

.x404-all-breakpoints .apps-13 {
  width: 85px;
}

.x404-all-breakpoints .apps-14 {
  width: 122px;
}

.x404-all-breakpoints .apps-15 {
  width: 76px;
}

.x404-all-breakpoints .apps-17 {
  width: 75px;
}

.x404-all-breakpoints .social-icons-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: space-between;
  padding: 24px 0px 0px;
  position: relative;
  width: 100%;
}

.x404-all-breakpoints .social-link-github-2 {
  cursor: pointer;
  height: 33px;
  margin-bottom: -1.00px;
  position: relative;
  width: 32px;
}

.x404-all-breakpoints .apps {
  color: var(--white);
  font-weight: 700;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.x404-all-breakpoints .intro-copy {
  align-self: stretch;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 743px) {
  .screen.x404u95dt { 
    display: none;
   }
  .screen.x404u95tabsm { 
    display: none;
   }
}
@media screen and (min-width: 744px) and (max-width: 1439px) {
  .screen.x404u95dt { 
    display: none;
   }
  .screen.x404-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.x404u95tabsm { 
    display: none;
   }
  .screen.x404-all-breakpoints { 
    display: none;
   }
}