<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_RStaropoli_Website.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								June 03, 2020
							</div>
							<h3>
								Episode 1: Interview with Rich Staropoli
							</h3>
							<p>
								In our premiere episode, we go down the rabbit hole with Rich Staropoli, whose career
								reads like a Tom Clancy spy novel. He's the former White House CIO for the Department of
								Homeland Security and a special agent for the Secret Service for 25 years. He discusses
								what it was like to protect President George W. Bush on September 11th, his thoughts on
								the current state of technology at DHS, what cybersecurity risks our country faces, and
								the future of our election systems.
							</p>
							<div class="card-footer">
								<a class="podcast-button"
									href="https://podcasts.apple.com/us/podcast/the-white-house-and-secret-service-with-rich-staropoli/id1516705670?i=1000476730329">
									<img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
									<div class="podcast-button__text">
										Apple Podcasts
									</div>
								</a>
								<a class="podcast-button"
									href="https://open.spotify.com/episode/5sI4v0pnkGzu4iavZ00gWM">
									<img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
									<div class="podcast-button__text">
										Spotify
									</div>
								</a>
								<a class="podcast-button"
									href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/the-white-house-and-secret-service-with-rich-staropoli-70161420">
									<img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
									<div class="podcast-button__text">
										Stitcher
									</div>
								</a>
								<!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
								<a class="podcast-button" href="https://www.deezer.com/us/episode/155907582">
									<img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
									<div class="podcast-button__text">
										Deezer
									</div>
								</a>
								<a class="podcast-button" href="https://www.podbean.com/media/share/dir-39fbr-ad639f8">
									<img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
									<div class="podcast-button__text">
										Podbean
									</div>
								</a>
								<a class="podcast-button"
									href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=145175409">
									<img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
									<div class="podcast-button__text">
										Tunein
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>