<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_PVer_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 14, 2020
                            </div>
                            <h3>
                                Episode 6: Paul Veradittakit
                            </h3>
                            <p>
                                Go down the rabbit hole with Paul Veradittakit, a Partner at Pantera Capital. A Silicon Valley dealmaker who's sourced and closed more than 40 Token pre-sale Investments in his stellar career. A great conversation on open source and decentralized protocols,
                                the evolution of privacy, and what deals he’s looking for next.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15201326/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/080b00/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>