<div class="bk-beige-light">
  <section id="splash">
    <div id="splash-text" class="faq-splash-text">
      <header>
        <h1>FAQ</h1>
      </header>
    </div>
  </section>
</div>

<div class="background-white">
  <div class="section-med vpad-wide faq-section">

    <div class="faq-sidebar">
      <ul class="faq-nav">
        <li *ngFor="let cat of faqs" class="faq-sidebar-category-active">
          <a class="faq-category-heading-sidebar faq-link" href="/faq#{{ anchorParse(cat.slug) }}">{{cat.name}}</a>
          <img class="faq-category-expand" alt="Toggle" width="24" height="24" src="/assets/img/shared/more-orc-green.svg">
          <ul class="faq-sidebar-questions">
            <li *ngFor="let q of cat.questions">
              <a class="faq-link" href="/faq#{{ anchorParse(cat.slug)+'--'+anchorParse(q.slug) }}">
                {{q.question}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="faq-main">
      <ul class="categories">
        <li *ngFor="let cat of faqs">
          <a name="{{ anchorParse(cat.slug) }}"></a>

          <h2 class="faq-category-heading">{{cat.name}}</h2>

          <ul class="faq-questions">
            <li *ngFor="let q of cat.questions" class="faq-question-container" id="{{ anchorParse(cat.slug)+'--'+anchorParse(q.slug) }}">

              <h4 class="faq-question">
                {{q.question}}
              </h4>

              <p class="faq-answer"> {{q.answer}} </p>
            </li>
          </ul>

        </li>
      </ul>
    </div>

  </div>
</div>