<div class="bk-beige-light">
  <section id="splash">
    <div id="splash-text" class="faq-splash-text">
      <header>
        <h1>FAQ</h1>
      </header>
    </div>
  </section>
</div>

<div class="background-white">
  <div class="section-med vpad-wide faq-section">

    <div class="faq-sidebar">
      <ul class="faq-nav">
        <!--<li *ngFor="let cat of faqs" class="faq-sidebar-category-active">
          <a class="faq-category-heading-sidebar faq-link" href="/faq#{{ anchorParse(cat.slug) }}">{{cat.name}}</a>
          <img class="faq-category-expand" alt="Toggle" width="24" height="24"
            src="/assets/img/shared/more-orc-green.svg">
          <ul class="faq-sidebar-questions">
            <li *ngFor="let q of cat.questions">
              <a class="faq-link" href="/faq#{{ anchorParse(cat.slug)+'--'+anchorParse(q.slug) }}">
                {{q.question}}
              </a>
            </li>
          </ul>
        </li>-->

        <li class="faq-sidebar-category-active"><a class="faq-category-heading-sidebar faq-link"
            href="/faq#about-orchid">About Orchid</a><img alt="Toggle" class="faq-category-expand" height="24"
            src="/assets/img/shared/more-orc-green.svg" width="24">
          <ul class="faq-sidebar-questions">
            <li><a class="faq-link" href="/faq#about-orchid--what-is-orchid"> What is Orchid? </a></li>
            <li><a class="faq-link" href="/faq#about-orchid--the-purpose"> What is the purpose of Orchid? </a></li>
            <li><a class="faq-link" href="/faq#about-orchid--how-does-it-work"> How does it work?? </a></li>
            <li><a class="faq-link" href="/faq#about-orchid--when-will-it-go-live"> When will it go live? </a></li>
          </ul>
        </li>
        <li class="faq-sidebar-category-active"><a class="faq-category-heading-sidebar faq-link"
            href="/faq#technology">On
            Technology</a><img alt="Toggle" class="faq-category-expand" height="24"
            src="/assets/img/shared/more-orc-green.svg" width="24">
          <ul class="faq-sidebar-questions">
            <li><a class="faq-link" href="/faq#technology--how-does-the-token-work"> How does the Orchid token (OXT)
                work? </a></li>
            <li><a class="faq-link" href="/faq#technology--how-is-it-different-from-vpns"> How does Orchid distinguish
                itself from VPNs?
              </a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="faq-main">
      <ul class="categories">
        <!--<li *ngFor="let cat of faqs">
          <a name="{{ anchorParse(cat.slug) }}"></a>

          <h2 class="faq-category-heading">{{cat.name}}</h2>

          <ul class="faq-questions">
            <li *ngFor="let q of cat.questions" class="faq-question-container" id="{{ anchorParse(cat.slug)+'--'+anchorParse(q.slug) }}">

              <h4 class="faq-question">
                {{q.question}}
              </h4>

              <p class="faq-answer"> {{q.answer}} </p>
            </li>
          </ul>

        </li>-->
        <li><a name="about-orchid"></a>
          <h2 class="faq-category-heading">About Orchid</h2>
          <ul class="faq-questions">
            <li class="faq-question-container" id="about-orchid--what-is-orchid">
              <h4 class="faq-question"> What is Orchid? </h4>
              <p class="faq-answer"> Orchid is a decentralized, market-based system for
                anonymous communication and virtual private networking, including a bandwidth market where node
                providers stake tokens to advertise their services using the Ethereum blockchain and receive payment in
                OXT (Orchid’s native cryptocurrency) </p>
            </li>
            <li class="faq-question-container" id="about-orchid--the-purpose">
              <h4 class="faq-question"> What is the purpose of Orchid? </h4>
              <p class="faq-answer"> Orchid’s mission is to build Open Source software that
                keeps the internet open and accessible — a natural resource for everyone, everywhere. </p>
            </li>
            <li class="faq-question-container" id="about-orchid--how-does-it-work">
              <h4 class="faq-question"> How does it work?? </h4>
              <p class="faq-answer"> In the Orchid marketplace, incentives are used to
                create economic security and reliability between clients and servers in a permissionless way. This
                peer-to-peer marketplace is dynamic; clients can select single- or multi-hop onion routed circuits by
                selecting nodes randomly weighted on stake and filtered on secondary desiderata (price, location, etc.).
                A single hop route has the benefits of a normal VPN connection, creating a tunnel to route your traffic
                over a public network or your ISP, while a multi-hop connection provides additional privacy benefits by
                securing your network data from any one provider. </p>
            </li>
            <li class="faq-question-container" id="about-orchid--when-will-it-go-live">
              <h4 class="faq-question"> When will it go live? </h4>
              <p class="faq-answer"> We anticipate to launch the Orchid network in Q4 of
                2019. </p>
            </li>
          </ul>
        </li>
        <li><a name="technology"></a>
          <h2 class="faq-category-heading">On Technology</h2>
          <ul class="faq-questions">
            <li class="faq-question-container" id="technology--how-does-the-token-work">
              <h4 class="faq-question"> How does the Orchid token (OXT) work? </h4>
              <p class="faq-answer"> OXT is a “pre-mined” cryptocurrency based on the ERC-20
                standard that will be used to decentralize trust between buyers and sellers in the Orchid marketplace.
                It also functions as a tool to promote security and healthy market dynamics, as providers can adjust
                their OXT stake to remain competitive. At launch we intend there to be a limited supply of one billion
                (1,000,000,000). We do not intend ever to create any additional OXT. </p>
            </li>
            <li class="faq-question-container"
              id="technology--how-is-it-different-from-vpns">
              <h4 class="faq-question"> How does Orchid distinguish itself from VPNs? </h4>
              <p class="faq-answer"> Traditional VPNs today are limited; the centralized
                nature of their offering cannot compete with the distributed properties of combining multiple different
                providers to offer multi-hop level security. And even if a single company offers multiple hop VPN
                routes, there is still a single centralized entity you are placing your trust into. Using a distributed
                system allows you, as a user, to distribute trust across multiple distinct VPN providers, thereby
                breaking apart the flow of your information so no single entity can see the entire picture. Such a
                system is not possible when purchasing a VPN service from a single provider. </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>