@import 'media_queries';
@import 'misc_config';
@import "orc_config";

h4.title {
    margin-left: 40px; margin-bottom: 0px;
    line-height: 40px;
    cursor: pointer;
    &:hover { background: rgba(thistle, 0.2); }
}

#splash-text.faq-splash-text {
    grid-column-end: 3;
    grid-column-start: 1;
    width: 100%;
    text-align: center;
    grid-row-end: none;
}

/*ul.categories {
    margin-top: 0px;
    li { position: relative; }
    span.name, span.count {
	display: inline-block;
	cursor: pointer;
	&:hover { background: rgba(thistle, 0.2); }
    }
    
    span.name { width: 240px; }
    span.count {
	// position: absolute; right: 0px; top: 4px; padding: 8px;
    }

    .question { padding: 8px; background: rgba(thistle, 0.2); }
    .answer { padding-left: 8px; }
}*/

.faq-section {
    display: flex;
    flex-wrap: wrap;
}
.faq-sidebar, .faq-main {
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    ul {
        list-style: none;
    }
}


.faq-sidebar {
    @include not-mobile {
        width: 30%;
        padding-top: 2rem;
    }
}
.faq-category-heading-sidebar {
    font-weight: bold;
}
.faq-nav {
    padding: 0;
    margin: 0;
}
.faq-category-expand {
    width: .65rem;
    height: .65rem;
    padding: .25rem;
    vertical-align: middle;
    transform: rotate(180deg);
}
.faq-sidebar-category-active {
    .faq-category-expand {
        transform: rotate(0deg);
    }
}
.faq-link {
    color: $orc-rock-gray;
    text-decoration: none;
}
.faq-sidebar-questions {
    padding-bottom: 1rem;
}


.faq-main {
    @include not-mobile {
        width: 70%;
    }
    ul {
        padding-left: 0;
    }
}
.faq-category-heading {
    border-bottom: 1px solid rgba($orc-rock-gray, 0.5);
    padding: 1rem 0;
    margin: 1rem 0;
    line-height: 1rem;
}
.faq-question {
    color: $orc-rock-gray;
}
.faq-question-container {
    margin: 1rem 0;
    @include not-mobile {
        margin: 2rem 0;
    }
}
.faq-question-container:target {
    animation-duration: 4s;
    animation-name: draw-attention;
    animation-iteration-count: once;
}

@keyframes draw-attention {
    0% {
        background-color: rgba($orc-bright-purple, 0.25);
        box-shadow: 0px 0px 0px 0.75rem rgba($orc-bright-purple, 0.25);
    }
    50% {
        background-color: rgba($orc-bright-purple, 0.15);
        box-shadow: 0px 0px 0px 0.75rem rgba($orc-bright-purple, 0.15);
    }
    100% {
        background-color: rgba($orc-bright-purple, 0);
        box-shadow: 0px 0px 0px 0.75rem rgba($orc-bright-purple, 0);
    }
}