<div class="webinar__page-container">
  <div class="bk-beige-light webinar__splash-container">
    <section class="webinar__splash">
      <div class="webinar__splash-image-container">
        <img src="/assets/img/webinar-lp/HelpBunny.svg" alt="splash image">
      </div>
      <div class="webinar__splash-text-container">
        <h2>Webinar: Mar 2, 2020 @ 11am PST</h2>
        <h1>Creating an Orchid Account 101</h1>
        <p class="medium">Join to learn how to get Orchid setup and running. You will learn how to use Metamask to fund an Orchid account with OXT so that you can begin browsing.</p>
        <div class="webinar__buttons">
          <a href="https://zoom.us/meeting/vJEsde6urDIv0hqF5CL0gE2MPZHUzEtJ3w/calendar/google/add"><button class="btn-primary btn-fixed webinar-signup__button gap-bot-thin">Add to Google Calendar</button></a>
          <a href="https://zoom.us/meeting/vJEsde6urDIv0hqF5CL0gE2MPZHUzEtJ3w/ics"><button class="btn-primary btn-fixed webinar-signup__button gap-bot-thin">Add to Outlook Calendar (.ics)</button></a>
        </div>
      </div>
    </section>
  </div>
  <div class="bk-faint-gray">
    <section class="section-narrow hpad-wide vpad-wide z-index-1 center-text">
      <h2 class="color-primary gap-bot-thin">Where to get OXT?</h2>
      <where-oxt></where-oxt>
    </section>
  </div>
</div>

