<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_JBrett.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								September 23, 2020
							</div>
							<h3>
								Episode 16: Jason Brett
							</h3>
							<p>
								Go down the rabbit hole with Jason Brett, CEO of Value Technology, a D.C. think tank focused
								on blockchain. He shares his journey through the 2008 banking crisis, the rise of
								Bitcoin, and how crypto has impacted our democracy.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<iframe style="border: none"
							src="//html5-player.libsyn.com/embed/episode/id/16122476/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030303/"
							height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
							mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>