@import "orc_config";

.podcast-subscribe__container {
	& > section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.podcast-subscribe__heading {
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}


.podcast-button {
	background: black;
	border: 2px solid #8C8C8C;
	max-width: 10rem;
	width: 100%;
	padding: 0.5rem 0.5rem;
	border-radius: 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0.5rem;
	& > img {
		width: 1.75rem;
	}
	text-decoration: none;
}
.podcast-button__text {
	text-align: left;
	margin-left: 0.5rem;
	&:before {
		font-size: 0.5rem;
		content: 'Listen on';
		color: #8C8C8C;
		display: inline-block;
		width: 100%;
		font-weight: normal;
	}
	line-height: 1.25;
	font-size: 0.75rem;
	font-weight: bold;
	color: white;
}