
<div class="podcast-subscribe__container bk-lavender" id="subscribe">
	<section class="section-wide hpad-wide vpad-xl z-index-1">
		<div class="podcast-subscribe__heading">
			<h2>
				Tune in on your favorite platforms
			</h2>
		</div>
		<a class="podcast-button" href="https://podcasts.apple.com/us/podcast/follow-the-white-rabbit/id1516705670">
			<img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
			<div class="podcast-button__text">
				Apple Podcasts
			</div>
		</a>
		<a class="podcast-button" href="https://open.spotify.com/show/4QxpmHume4QaIWV5i893d4?si=Hw6yyqbJQV6GmTvOBSJryg">
			<img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
			<div class="podcast-button__text">
				Spotify
			</div>
		</a>
		<a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw">
			<img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
			<div class="podcast-button__text">
				Google Podcasts
			</div>
		</a>
		<a class="podcast-button" href="https://www.stitcher.com/podcast/follow-the-white-rabbit">
			<img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
			<div class="podcast-button__text">
				Stitcher
			</div>
		</a>
		<a class="podcast-button" href="https://castbox.fm/ch/2954358">
			<img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
			<div class="podcast-button__text">
				Castbox
			</div>
		</a>
		<a class="podcast-button" href="https://deezer.com/show/1331022">
			<img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
			<div class="podcast-button__text">
				Deezer
			</div>
		</a>
		<!--<a class="podcast-button"
			href="https://www.podbean.com/podcast-detail/xec8j-d1252/Follow-the-White-Rabbit-Podcast">
			<img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
			<div class="podcast-button__text">
				Podbean
			</div>
		</a>-->
		<a class="podcast-button"
			href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/">
			<img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
			<div class="podcast-button__text">
				Tunein
			</div>
		</a>
		<a class="podcast-button" href="https://followthewhiterabbit.libsyn.com/rss">
			<img src="/assets/img/podcast/platforms/rss.svg" alt="rss">
			<div class="podcast-button__text">
				RSS
			</div>
		</a>
	</section>
</div>