@import "orc_config";
@import "misc_config";
@import "media_queries";

img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.quiz__header {
    padding: 2rem 1rem 0 1rem;
    text-align: center;
    h3 {
        margin-top: 1rem;
    }
}

.quiz__wrapper {
    position: relative;
    width: 90%;
    width: calc(100% - 2rem);
    min-height: 200rem;
    box-sizing: content-box;
    overflow: hidden;
    padding: 2rem 1rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    @include not-mobile {
        &::before,
        &::after {
            position: absolute;
            top: 20vh;
            left: 50%;
            width: 9rem;
            height: 9rem;
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        &::before {
            background-image: url(/assets/img/how-it-works/circuit.svg);
            height: 25rem;
            width: 15rem;
            transform: translate(-600px, 0px);
        }
        &::after {
            background-image: url(/assets/img/oxt/bg-circles-2.svg);
            transform: translate(400px, 150px);
        }
    }
}

.quiz__container {
    width: 100%;
    max-width: 1200px;
    z-index: 10;
}

.quiz__start {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    padding: 1rem;
    box-sizing: border-box;

    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    transform: translateX(-16rem);
    pointer-events: none;
    &.active {
        transform: translateX(0%);
        pointer-events: all;
        opacity: 1;
    }
}

.quiz__multichoice-button-container {
    & > button {
        margin: 0.5rem 0;
        width: 100%;
        font-size: 0.9rem;
    }
}

.question__container {
    position: relative;
    width: 100%;
    transition: all 1s ease;
    min-height: 0px !important;
    height: 0px !important;
    &.over {
        /*min-height: 0px !important;
        height: 0px !important;*/
    }

    & > .question {
        width: 100%;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0px 0px 1.5rem rgba($orc-purple-gray, 0.25);
        border-radius: 1rem;
        max-width: 26rem;
        margin: auto;
        padding: 2rem 1rem 1rem 1rem;

        position: absolute;
        top: 0;
        left: 0;
        @media (min-width: 28rem) {
            left: 50%;
            margin-left: -13rem;
        }

        opacity: 0;
        pointer-events: none;
        transform: translateX(50%);

        transition: all 1s ease;

        &.active {
            pointer-events: all;
            transform: translateX(0%);
            opacity: 1;
        }
        &.inactive {
            transform: translateX(0%);
        }

        & > * {
            width: 100%;
        }
    }
}

.quiz__note-container {
    /*position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;

    padding: 1rem;
    box-sizing: border-box;

    display: none;
    &.active {
        display: block;
    }
}

.controlsContainer {
    margin-top: 1rem;
}
.booleanControls {
    & > button {
        margin: 1rem;
    }
}
.questionDescription {
    margin: 0.5rem 0;
}

button {
    outline: none;
    border-radius: 1.5rem;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: 1.5rem;
    }
}
button.correctAnswer {
    position: relative;
    &::before {
        box-shadow: 0px 0px 0px 0.25rem $orc-green-bright;
    }
}
button.wrongAnswer {
    position: relative;
    box-shadow: none;
    &::before {
        box-shadow: 0px 0px 0px 0.25rem #E90B20;
    }
}

.quiz__progress {
    opacity: 0;
    &.active {
        opacity: 1;
    }
    transition: opacity 1s ease;

    width: 100%;
    height: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    bottom: 1rem;
    left: 10%;
    max-width: 80%;
    @include not-mobile {
        max-width: 26rem;
        left: 50%;
        margin-left: -13rem;
    }

    & > div {
        display: block;
        height: 100%;
        transition: width 1s ease;
        background: $orc-green-bright;
        border-radius: 1rem;
        position: relative;
        min-width: 1rem;
    }
}

.questionAutopsy {
    margin: 1.5rem auto;
    text-align: left;
    max-width: 26rem;

    box-sizing: border-box;
    width: 100%;

    border: 2px dotted $orc-green-bright;
    &.correct {
        border-style: solid;
    }
    &.wrong {
        border-color: #E90B20;
    }
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    &::after {
        position: absolute;
        left: 2rem;
        bottom: -0.5rem;
        background: white;
        line-height: 1rem;
        padding: 0 0.2rem;
        content: '';
        width: 1rem;
        height: 1rem;
        box-sizing: content-box;

        background-position: center;
        background-repeat: no-repeat;
        background-size: 50% auto;
    }
    &.correct::after {
        background-size: 64% auto;
        background-image: url(/assets/img/shared/check.svg)
    }
    &.wrong::after {
        background-image: url(/assets/img/shared/close-red.svg)
    }
}

.results__container {
    max-width: 26rem;
    margin: auto;
}

.scoreBunny {
    width: 80vmin;
    height: 80vmin;
    max-width: 22rem;
    max-height: 22rem;
    margin: -1rem auto -1rem auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &.low {
        background-image: url(/assets/img/quiz/QuizLowScoreBunny.svg);
    }
    &.mid {
        background-image: url(/assets/img/quiz/QuizMidScoreBunny.svg);
    }
    &.high {
        background-image: url(/assets/img/quiz/QuizHighScoreBunny.svg);
    }
}
.finalScore {
    margin-bottom: 1rem;
}