<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <h2>Latest Episode</h2>
            <div class="cards-wrapper">
                <div class="cards-wrapper">
                    <div class="card card--large">
                        <div class="card-grid">
                            <div class="card-image-wrap">
                                <div style="background-image:url(/assets/img/podcast/EpisodeHeader_BBartlett_Website.jpg)">
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    August 10, 2020
                                </div>
                                <h3>
                                    <a href="/podcast/episode-10-ben-bartlett">
                                        Episode 10: Ben Barlett
                                    </a>
                                </h3>
                                <p>
                                    Go down the rabbit hole with Ben Bartlett, an environmental lawyer and a Berkeley City Council Member. The son of community activists he shares his family's rich history and personal fight for freedom. A timely discussion on the future of democracy, personal
                                    freedom, and defending our civil rights.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15556403/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/070a00/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-grid">
                            <div class="card-image-wrap">
                                <div style="background-image:url(/assets/img/podcast/EpisodeHeader_DChaum_Website.jpg)">
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    August 5, 2020
                                </div>
                                <h3>
                                    <a class="phantom-a" href="/podcast/episode-9-david-chaum">
                                        Episode 9: David Chaum
                                    </a>
                                </h3>
                                <p>
                                    Go down the rabbit hole with a forefather of crypto, David Chaum, CEO of the xx Network. A timely discussion on the future of digital currency, election security, and the chilling effects that the decline of democracy has on our 1st Amendment rights.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15482723/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/050700/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-grid">
                            <div class="card-image-wrap">
                                <div style="background-image:url(/assets/img/podcast/EpisodeHeader_CCohn_Website.jpg)">
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    July 22, 2020
                                </div>
                                <h3>
                                    <a class="phantom-a" href="/podcast/episode-8-cindy-cohn">
                                        Episode 8: Cindy Cohn
                                    </a>
                                </h3>
                                <p>
                                    Go down the rabbit hole with Cindy Cohn, Executive Director for the Electronic Frontier Foundation (EFF), an organization that advocates for our civil liberties and freedom online. A fascinating conversation on the encryption wars, protecting our 4th
                                    amendment rights, and EFF’s battle against the dragnet policy.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15369719/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030400/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-grid">
                            <div class="card-image-wrap">
                                <div style="background-image:url(/assets/img/podcast/EpisodeHeader_LAlexander_Website.jpg)">
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    July 22, 2020
                                </div>
                                <h3>
                                    <a class="phantom-a" href="/podcast/episode-7-alexander-lloyd">
                                        Episode 7: Alexander Lloyd
                                    </a>
                                </h3>
                                <p>
                                    Go down the rabbit hole with Alexander Lloyd, Founder of Accelerator Ventures, who sits on the board of the Human Rights Foundation, and is one of the authors of “The Little Bitcoin Book: Why Bitcoin Matters for Your Freedom, Finances, and Future.”
                                    <br><br> A fascinating conversation on how crypto impacts human rights, the history of social activism, restoring Internet freedom, and startup opportunities coming out of the pandemic.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15288953/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/050700/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-grid">
                            <div class="card-image-wrap">
                                <div style="background-image:url(/assets/img/podcast/EpisodeHeader_PVer_Website.jpg)">
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    July 14, 2020
                                </div>
                                <h3>
                                    <a class="phantom-a" href="/podcast/episode-6-paul-veradittakit">
										Episode 6: Paul Veradittakit
									</a>
                                </h3>
                                <p>
                                    Go down the rabbit hole with Paul Veradittakit, a Partner at Pantera Capital, who’s executed some of the most deals in the blockchain and crypto space. A great conversation on the new decentralized economy, prediction markets, and the evolution of privacy.
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15201326/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/080b00/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                                mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_JChu_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 8, 2020
                            </div>
                            <h3>
                                <a class="phantom-a" href="/podcast/episode-5-jehan-chu">
									Episode 5: Jehan Chu
								</a>
                            </h3>
                            <p>
                                In our fifth episode, we go down the rabbit hole with Jehan Chu, Co-founder & Managing Partner of Kenetic Capital. A great conversation technology integration wars, decentralized apps, the future access of information, and how the world is becoming more
                                tribal.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15127031/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/040600/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_RVer_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 1, 2020
                            </div>
                            <h3>
                                <a class="phantom-a" href="/podcast/episode-4-roger-ver">
									Episode 4: Roger Ver
								</a>
                            </h3>
                            <p>
                                In our fourth episode, we go down the rabbit hole with Roger Ver, Executive Chairman of Bitcoin.com. He shares his incredible journey as an early investor in Bitcoin startups, his views on the role government should play in citizens’ lives, and the fundamentals
                                of voluntaryism.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15030308/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/020300/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>

                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_JEngestrom_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 24, 2020
                            </div>
                            <h3>
                                <a class="phantom-a" href="/podcast/episode-3-jyri-engestrom">
									Episode 3: Jyri Engestrom
								</a>
                            </h3>
                            <p>
                                We go down the rabbit hole with Jyri Engestrom, a partner at Yes VC, a venture capital firm that invests in startups set in motion by social movements. He shares his journey as a founder of both Jaiku and Ditto, which were acquired separately by Google
                                and Groupon. We discuss the future of democracy, how technology affects humanity, and some recent efforts he and a few other entrepreneurs took to provide free testing for COVID-19.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/14927201/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/060800/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>

                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_VLingham_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 17, 2020
                            </div>
                            <h3>
                                <a class="phantom-a" href="/podcast/episode-2-vinny-lingham">
									Episode 2: Vinny Lingham
								</a>
                            </h3>
                            <p>
                                In our second episode, we go down the rabbit hole with Vinny Lingham, South African entrepreneur and Co-founder & CEO of Civic Technologies, a company at the forefront of the digital identity revolution. He discusses his thoughts on data privacy, why
                                we need decentralized systems to protect our identity, whether crypto can displace the dollar, and what lies ahead for entrepreneurs in the new normal.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/14840891/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030500/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>

                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_RStaropoli_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 03, 2020
                            </div>
                            <h3>
                                <a class="phantom-a" href="/podcast/episode-1-interview-with-rich-starpoli">
									Episode 1: Interview with Rich Staropoli</a>
                            </h3>
                            <p>
                                In our premiere episode, we go down the rabbit hole with Rich Staropoli, whose career reads like a Tom Clancy spy novel. He's the former White House CIO for the Department of Homeland Security and a special agent for the Secret Service for 25 years. He
                                discusses what it was like to protect President George W. Bush on September 11th, his thoughts on the current state of technology at DHS, what cybersecurity risks our country faces, and the future of our election systems.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/14651969/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/070a00/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>


            <img alt="" class="podcast__image-separator" src="/assets/img/podcast/separator.svg">
            <div class="podcast-host__wrapper">
                <img src="/assets/img/podcast/AlexKehaya.png" alt="Alex Kehaya" />
                <div>
                    <h2>About the Host</h2>
                    <p>

                        Alex Kehaya is the host for Follow the White Rabbit and the Head of Business Development for Orchid Labs. He’s an entrepreneur, educator, and investor who began his career as one of the first educators to teach lean startup and market validation techniques
                        to high school and middle school students as part of their standard school curriculum. He scaled these programs to over 100 educators through a series of workshops that he ran with the folks behind <a class="phantom-a"
                            href="https://kordainstitute.org/">the <u>Korda
								Institute
								for Teaching</u></a>. Since then, he’s founded numerous software related companies and participated as an angel investor in multiple impact-focused projects.
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>