@import "orc_config";
$breakpoint: 1100px;
$breakpoint2: 1450px;

.cards-wrapper {
	margin: 2rem 0;
}

.overflow-wrapper .card {
	margin: 4rem 0;

	@media (min-width: $breakpoint) {
		.card-grid {
			display: grid;
			grid: auto-flow dense / 250px 1fr;
		}
	}

	&.card--large {
		@media (min-width: $breakpoint) {
			.card-grid {
				display: grid;
				grid: auto-flow dense / 500px 1fr;
			}
		}
	}

	.card-image-wrap {
		display: flex;
		justify-content: center;
		align-items: flex-start;

		@media (max-width: $breakpoint) {
			max-width: 75%;
			margin: auto;
		}

		& > div {
			padding: 50%;
			border-radius: 1rem;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-color: $orc-beige-light;
		}
	}

	.card-body {
		box-sizing: border-box;

		padding: 1rem 0 0 0;

		@media (min-width: $breakpoint) {
			padding: 0 2rem;
		}

		& > a,
		& > div {
			text-decoration: none;
			font-weight: 700;
		}

		& > h3 {
			font-size: 2em;
			color: $orc-rock-gray;
			margin: 1rem 0;
		}
	}

	.card-footer {
		margin-top: 1rem;

		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.podcast-button {
			background: black;
			border: 2px solid #8c8c8c;
			max-width: 5rem;
			min-height: 1.5rem;
			width: auto;
			padding: 0.5rem 0.5rem;
			border-radius: 0.5rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 0.5rem;
			& > img {
				width: 1.5rem;
			}
			text-decoration: none;
		}
		.podcast-button__text {
			text-align: left;
			margin-left: 0.5rem;
			line-height: 1.25;
			font-size: 0.6rem;
			font-weight: bold;
			color: white;
			display: none;
		}
	}

	&.card--large {
		@media (min-width: $breakpoint) {
			.card-footer {
				.podcast-button {
					width: 100%;
				}
				.podcast-button__text {
					display: block;
				}
			}
		}
	}
}

.podcast__image-separator {
	max-width: 90%;
	margin: 3rem auto;
	display: block;
}

.podcast-host__wrapper {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@media (min-width: $breakpoint) {
		flex-direction: row;
		justify-content: space-between;
		border: 3px solid $orc-bright-purple;
		min-height: 15rem;
		margin-left: 3rem;
		margin-right: 3rem;
		border-radius: 1rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		width: auto;
	}

	& > img {
		width: 90%;
		margin: auto auto 1rem;
		max-width: 288px;

		@media (min-width: $breakpoint) {
			height: 12rem;
			width: auto;
			max-width: none;
			margin: -1rem 0 -1rem -6rem;
		}

		border-radius: 100%;
		box-shadow: 0px 4px 10px rgba(#000, 0.3);
	}

	& > div {
		text-align: center;

		@media (min-width: $breakpoint) {
			text-align: left;
			padding: 0 2rem;
		}
		h2 {
			margin-bottom: 1rem;
		}
	}
}
