<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <h2>Latest Episodes</h2>
            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_RaullenChai.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 4, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-59-raullen-chai">
                                    Episode 59: Raullen Chai
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Raullen Chai, co-founder and CEO of IoTeX, a decentralized network for the Internet of Things. Raullen shares his vision of an open ecosystem where humans and machines can interact with guaranteed trust, free will, and privacy.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/connecting-the-human-and-machine-economy-with-raullen-chai/id1516705670?i=1000530994594">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/5OFGMXggMiyTEGoM95ZpcV">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/ZjM4MDhmYTctYTFhOS00Njk1LWIxZjctNjZjOTUwNWY5OTAw">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Connecting-the-Human-and-Machine-Economy-with-Raullen-Chai-id2954358-id411039755">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JimHarper.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 28, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-58-jim-harper">
                                    Episode 58: Jim Harper
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jim Harper, a privacy expert and senior fellow at American Enterprise Institute, a Washington, D.C.-based think tank that researches government, economics, and social welfare. They take a deep dive into the changing definition of privacy, reforming Section 230, and why Bitcoin’s value is all in the eye of the ‘bithodler’.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/the-philosophy-of-bitcoin-and-the-great-privacy-debate/id1516705670?i=1000530293096">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/4ibvvTfzhwGnTVr2Syq8hl">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MzNlZDMxYWYtNzgzYS00ODlmLThjN2YtZGVmZWNiYjFkMDU2?sa=X&ved=0CAUQkfYCahcKEwio2YuxkobyAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/The-Philosophy-of-Bitcoin-and-the-Great-Privacy-Debate-id2954358-id408904139">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/show/1331022">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164768763">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_KeanBirch.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 21, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-57-kean-birch">
                                    Episode 57: Kean Birch
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Kean Birch, an expert in technoscience and professor at York University. They take a deep dive into the Facebook effect, the rise of the data economy, and how private data changes the game of capitalism.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/facebook-effect-rise-data-economy-kean-birch/id1516705670?i=1000529600581">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/3fJDj7kLH5fm5c8AJTjMcQ">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/ODc0MzEzZjgtOWFmMC00NTc5LThiNGMtOTI5ZDc4MzY2MWNk?sa=X&ved=0CAUQkfYCahcKEwiQx5Os0_TxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Facebook-Effect-and-the-Rise-of-the-Data-Economy-with-Kean-Birch-id2954358-id406757296?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/316017142">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164622421">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_MichaelCaster.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 14, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-56-michael-caster">
                                    Episode 56: Michael Caster
                                </a>
                            </h3>
                            <p>
                                Derek E. Silva joins Michael Caster, the co-founder of Safeguard Defenders, a group helping human rights advocates protect civil liberties in Asia. They take a deep dive into how authoritarian governments are weaponizing Interpol, the right to Internet access, and how Article 19 protects freedom of expression.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/article-19-internet-freedom-weaponizing-interpol-michael/id1516705670?i=1000528868859">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/25RlcMuIN9bmSVDs1qaHbV">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/Y2QyNTc1YjktZWE0NC00MjI1LWIxNDktMGM3YThjZTQyNmIw?sa=X&ved=0CAUQkfYCahcKEwiYi4Hz9-LxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Article-19%2C-Internet-Freedom%2C-and-Weaponizing-Interpol-with-Michael-Caster-id2954358-id404604197?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164453880">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JohnGleeson.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 7, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-55-john-gleeson">
                                    Episode 55: John Gleeson
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins John Gleeson, COO of Storj Labs, a decentralized cloud storage provider. A great conversation on how developers can strengthen privacy and security, why data is worth protecting, and the future of the Internet.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/how-developers-can-strengthen-privacy-security-for/id1516705670?i=1000528139416">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/70xcHmNBTUUJTZXIOCUPeN">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/YTJiOWMyNmYtZTc0Ni00ZjUzLWJmM2QtYWVhMGI3MGEyY2Ni?sa=X&ved=0CAUQkfYCahcKEwjYsJPFstHxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/How-Developers-Can-Strengthen-Privacy-and-Security-for-the-Internet-with-John-Gleeson-id2954358-id402292596?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_BrittanyPiovesan.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 30, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-54-brittany-piovesan">
                                    Episode 54: Brittany Piovesan
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Brittany Piovesan, Program Officer for the Internet Society Foundation focused on initiatives that strengthen the Internet. Brittany shares her thoughts on how to use the Internet to shape a better future for education, healthcare, and create more economic opportunities for us all.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/shaping-internets-future-social-benefits-brittany-piovesan/id1516705670?i=1000527388562">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/3UhwULJBYflNgIFDC8PTuE">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/OTdiZDA2ZmMtYTBlNi00MDAxLWI0MjItZGM3NTE2MDZkNzFk?sa=X&ved=0CAUQkfYCahcKEwjojrf96L_xAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Shaping-the-Internet's-Future-and-Social-Benefits-with-Brittany-Piovesan-id2954358-id399921701?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164135114">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JasonPielemeier.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 23, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-53-jason-pielemeier">
                                    Episode 53: Jason Pielemeier
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jason Pielemeier, Policy Director at the Global Network Initiative, which protects Internet freedom and digital rights. They take a deep dive into the evolution of corporate accountability, human rights principles, and the right to be forgotten.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/internet-freedom-and-digital-rights-with-jason-pielemeier/id1516705670?i=1000526626845">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/6onlBp7gJTcFph4RebwCeo">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/NjBkMjU1NjItZDQxMi00ZDljLWIzZGMtNGNkYjdiY2ZlZjEw?sa=X&ved=0CAUQkfYCahcKEwjQxvLVo67xAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/channel/id2954358">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/309871642">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163969331">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_GbengaSesan.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 16, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-52-gbenga-sesan">
                                    Episode 52: Gbenga Sesan
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Gbenga Sesan, the Executive Director of Paradigm, a pan-African social enterprise working on digital inclusion. They take a deep dive into the unique role of social media in Africa, Internet freedom, and why technology can’t fix inequality online.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/digital-rights-and-social-media-in-africa-with-gbenga-sesan/id1516705670?i=1000525747266">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/2azWxGR3rDhXRJCbg7j2GH">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MTM3ZWZjOWQtMTQwYy00MTgyLWI1ZmUtNTEzNDdhNTFiMWQ3?sa=X&ved=0CAUQkfYCahcKEwiQioOaxpzxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Digital-Rights-and-Social-Media-in-Africa-with-Gbenga-Sesan-id2954358-id392476430?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_GregOsuri.png)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 9, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-51-greg-osuri">
                                    Episode 51: Greg Osuri
                                </a>
                            </h3>
                            <p>
                                What is the future of Web3? Host Derek E. Silva joins Greg Osuri, Founder and CEO of Akash Network, the open-source, decentralized cloud. They take a deep dive into the future impact of AI, overcoming the challenges of distributed networks, and the battle for data sovereignty.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/priv8-podcast/id1516705670">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/0mkN1IGZcC2dbPmgjwPvhc">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MDFmODg1YzQtNmNkMi00YjgwLTlkZjUtNTc5YTc5OTU0YTVm?sa=X&ved=0CAUQkfYCahcKEwj4uubK8orxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_RebeccaWexler.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 2, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-50-rebecca-wexler">
                                    Episode 50: Rebecca Wexler
                                </a>
                            </h3>
                            <p>
                                How does technology affect our democracy and government? Host Derek E. Silva joins Rebecca Wexler, Professor of Law at UC Berkeley, School of Law. They take a deep dive into the criminal justice system, the power imbalance caused by predictive technologies, and human rights in the digital age.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/how-technology-affects-criminal-justice-human-rights/id1516705670?i=1000523934626">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/5LYJRzaqyiugHpgglpZQdt">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MTg0MzA3MDAtYWMzMy00ZjMyLWJiOTctMDI2Mzc2ODQ2OWE3">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/how-technology-affects-criminal-justice-and-human-rights-with-rebecca-wexler-84417242">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/How-Technology-Affects-Criminal-Justice-and-Human-Rights-with-Rebecca-Wexler-id2954358-id388180243">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163496263">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_DraganaKaurin.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                May 26, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-49-dragana-kaurin">
                                    Episode 49: Dragana Kaurin
                                </a>
                            </h3>
                            <p>
                                What happens when we design with equity in mind? Derek E. Silva joins Dragana Kaurin, a human rights researcher and founder of The Localization Lab, an organization fighting for equal access to information. A deep dive into building the Internet for everyone, and the privacy issues around digital identity.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/human-rights-building-internet-for-everyone-dragana/id1516705670?i=1000523184466">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/58m12eB8vLjeyM0rMVhnNN">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MGU2NDhmMTYtMjNiZC00NmY2LWFlMWItOGVhYWE4NjIzYWVl">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Human-Rights-and-Building-the-Internet-for-Everyone-with-Dragana-Kaurin-id2954358-id385805270">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163328453">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_AvichalGarg.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                May 19, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-48-avichal-garg">
                                    Episode 48: Avichal Garg
                                </a>
                            </h3>
                            <p>
                                Listen to a new episode of Priv8 Podcast! Derek E. Silva joins Avichal Garg, Co-founder and Partner at Electric Capital, an early-stage venture firm. A great conversation on the rise of the creator economy, privacy-first technologies, and the future of programmable money.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/creator-economy-future-programmable-money-avichal-garg/id1516705670?i=1000522371298">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/178h7QoAA4v9QIP22gQNkW">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/NDk5ODQ1NWYtYzFlNS00MzkwLTgzZjUtZGZiZjg0YzQ2Yjc5">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/The-Creator-Economy-and-the-Future-of-Programmable-Money-with-Avichal-Garg-id2954358-id383925108">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163169260">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_KaraSwisher.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                May 12, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-47-kara-swisher">
                                    Episode 47: Kara Swisher
                                </a>
                            </h3>
                            <p>
                                This week we feature a special episode from Priv8's digital privacy summit with The New York Times’ Kara Swisher. She joins Taiwan's Digital Minister Audrey Tang to discuss lessons learned from Taiwan's unique response to the pandemic that successfully protected the population while preserving privacy.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/taiwans-digital-democracy-how-they-hacked-pandemic/id1516705670?i=1000521468739">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/3vbDcv8uQiovl7CTkVM2O4">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/YjM1ZWU3Y2ItNjcwZS00MDc2LTgxZjktMzhjNmQzMmJmMTg0">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Taiwan's-Digital-Democracy-and-How-They-Hacked-the-Pandemic-with-Audrey-Tang-id2954358-id381932700">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/300400072">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163002279">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <img alt="" class="podcast__image-separator" src="/assets/img/podcast/separator.svg">
            <div class="podcast-host__wrapper">
                <picture>
                    <source srcset="/assets/img/podcast/DerekHostProfile.webp" type="image/webp">
                    <img src="/assets/img/podcast/DerekHostProfile.png" alt="Derek E. Silva" />
                </picture>
                <div>
                    <h2>About the Host</h2>
                    <p>
                        As the Global Community Manager for Orchid, Derek is responsible for communicating the core tenets and benefits of Orchid to thousands of people. Derek is a former IT professional, building his communication skills while working across multiple industries and demographics. He has read dozens of whitepapers, interviewed individuals from top technology companies, provided one-on-one support, and now dedicates his time to helping blockchain companies build communities.
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>