<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <h2>Latest Episodes</h2>
            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_LeoSchwartz.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 25, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-62-leo-scwartz">
                                    Episode 62: Leo Schwartz
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Leo Schwartz, a reporter for Rest of the World, an international nonprofit media organization. We take a deep dive into press freedom around the world, the spyware threat to journalists, and how social media affects the news.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/freedom-of-the-press-and-censorship-around/id1516705670?i=1000533110774">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/NWY1OGFjYTgtYTA1ZS00YzdkLTgwZjgtOWRlNDZkYzRkZTgz">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Freedom-of-the-Press-and-Censorship-Around-the-World-with-Leo-Schwartz-id2954358-id417458147">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_GabrielaZanfirFortuna.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 18, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-61-dr-gabriela-zanfir-fortuna">
                                    Episode 61: Dr. Gabriela Zanfir-Fortuna
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Dr. Gabriela Zanfir-Fortuna, Director for the Future of Privacy Forum, a Washington, DC-based think tank and advocacy group focused on data privacy issues. They take a deep dive into the digital disruption of human rights, how the culture of surveillance dictates our daily lives, and new privacy laws from around the world.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/new-privacy-laws-and-the-digital-disruption-of/id1516705670?i=1000532397589">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/6fKoQfGNolmde2uemE729I">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/OTA3MDcwNjEtM2NmYS00ZTQyLWEwM2ItMzllYThmMmE4NWFh">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/New-Privacy-Laws-and-the-Digital-Disruption-of-Human-Rights-with-Dr.-Gabriela-Zanfir-Fortuna-id2954358-id415386208">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_BerhanTaye.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 11, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-60-berhan-taye">
                                    Episode 60: Berhan Taye
                                </a>
                            </h3>
                            <p>
                                Host Derek E Silva joins digital rights activist Berhan Taye, a senior advisor at Internews, a nonprofit supporting independent media in 100 countries. We take a deep dive into the rise of digital authoritarianism, combating misinformation online, and what happens to countries when the Internet shuts down.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/internet-shutdowns-rise-digital-authoritarianism-berhan/id1516705670?i=1000531730843">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/0a9pF16ayJrWVV5pE7Agbj">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/M2EwMmJhZDEtNGE5My00ZDVlLTkwMmUtYWUwMzE0YjllMDFi?sa=X&ved=0CAUQkfYCahcKEwjw5a6Av6nyAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Internet-Shutdowns-and-the-Rise-of-Digital-Authoritarianism-with-Berhan-Taye-id2954358-id413286898?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://deezer.page.link/pjdvUmsvs2Hirukw6">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=165061746">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_RaullenChai.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 4, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-59-raullen-chai">
                                    Episode 59: Raullen Chai
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Raullen Chai, co-founder and CEO of IoTeX, a decentralized network for the Internet of Things. Raullen shares his vision of an open ecosystem where humans and machines can interact with guaranteed trust, free will, and privacy.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/connecting-the-human-and-machine-economy-with-raullen-chai/id1516705670?i=1000530994594">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/5OFGMXggMiyTEGoM95ZpcV">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/ZjM4MDhmYTctYTFhOS00Njk1LWIxZjctNjZjOTUwNWY5OTAw">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Connecting-the-Human-and-Machine-Economy-with-Raullen-Chai-id2954358-id411039755">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JimHarper.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 28, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-58-jim-harper">
                                    Episode 58: Jim Harper
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jim Harper, a privacy expert and senior fellow at American Enterprise Institute, a Washington, D.C.-based think tank that researches government, economics, and social welfare. They take a deep dive into the changing definition of privacy, reforming Section 230, and why Bitcoin’s value is all in the eye of the ‘bithodler’.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/the-philosophy-of-bitcoin-and-the-great-privacy-debate/id1516705670?i=1000530293096">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/4ibvvTfzhwGnTVr2Syq8hl">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MzNlZDMxYWYtNzgzYS00ODlmLThjN2YtZGVmZWNiYjFkMDU2?sa=X&ved=0CAUQkfYCahcKEwio2YuxkobyAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/The-Philosophy-of-Bitcoin-and-the-Great-Privacy-Debate-id2954358-id408904139">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/show/1331022">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164768763">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_KeanBirch.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 21, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-57-kean-birch">
                                    Episode 57: Kean Birch
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Kean Birch, an expert in technoscience and professor at York University. They take a deep dive into the Facebook effect, the rise of the data economy, and how private data changes the game of capitalism.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/facebook-effect-rise-data-economy-kean-birch/id1516705670?i=1000529600581">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/3fJDj7kLH5fm5c8AJTjMcQ">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/ODc0MzEzZjgtOWFmMC00NTc5LThiNGMtOTI5ZDc4MzY2MWNk?sa=X&ved=0CAUQkfYCahcKEwiQx5Os0_TxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Facebook-Effect-and-the-Rise-of-the-Data-Economy-with-Kean-Birch-id2954358-id406757296?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/316017142">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164622421">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_MichaelCaster.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 14, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-56-michael-caster">
                                    Episode 56: Michael Caster
                                </a>
                            </h3>
                            <p>
                                Derek E. Silva joins Michael Caster, the co-founder of Safeguard Defenders, a group helping human rights advocates protect civil liberties in Asia. They take a deep dive into how authoritarian governments are weaponizing Interpol, the right to Internet access, and how Article 19 protects freedom of expression.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/article-19-internet-freedom-weaponizing-interpol-michael/id1516705670?i=1000528868859">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/25RlcMuIN9bmSVDs1qaHbV">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/Y2QyNTc1YjktZWE0NC00MjI1LWIxNDktMGM3YThjZTQyNmIw?sa=X&ved=0CAUQkfYCahcKEwiYi4Hz9-LxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Article-19%2C-Internet-Freedom%2C-and-Weaponizing-Interpol-with-Michael-Caster-id2954358-id404604197?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164453880">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JohnGleeson.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 7, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-55-john-gleeson">
                                    Episode 55: John Gleeson
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins John Gleeson, COO of Storj Labs, a decentralized cloud storage provider. A great conversation on how developers can strengthen privacy and security, why data is worth protecting, and the future of the Internet.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/how-developers-can-strengthen-privacy-security-for/id1516705670?i=1000528139416">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/70xcHmNBTUUJTZXIOCUPeN">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/YTJiOWMyNmYtZTc0Ni00ZjUzLWJmM2QtYWVhMGI3MGEyY2Ni?sa=X&ved=0CAUQkfYCahcKEwjYsJPFstHxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/How-Developers-Can-Strengthen-Privacy-and-Security-for-the-Internet-with-John-Gleeson-id2954358-id402292596?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_BrittanyPiovesan.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 30, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-54-brittany-piovesan">
                                    Episode 54: Brittany Piovesan
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Brittany Piovesan, Program Officer for the Internet Society Foundation focused on initiatives that strengthen the Internet. Brittany shares her thoughts on how to use the Internet to shape a better future for education, healthcare, and create more economic opportunities for us all.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/shaping-internets-future-social-benefits-brittany-piovesan/id1516705670?i=1000527388562">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/3UhwULJBYflNgIFDC8PTuE">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/OTdiZDA2ZmMtYTBlNi00MDAxLWI0MjItZGM3NTE2MDZkNzFk?sa=X&ved=0CAUQkfYCahcKEwjojrf96L_xAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Shaping-the-Internet's-Future-and-Social-Benefits-with-Brittany-Piovesan-id2954358-id399921701?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164135114">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JasonPielemeier.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 23, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-53-jason-pielemeier">
                                    Episode 53: Jason Pielemeier
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jason Pielemeier, Policy Director at the Global Network Initiative, which protects Internet freedom and digital rights. They take a deep dive into the evolution of corporate accountability, human rights principles, and the right to be forgotten.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/internet-freedom-and-digital-rights-with-jason-pielemeier/id1516705670?i=1000526626845">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/6onlBp7gJTcFph4RebwCeo">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/NjBkMjU1NjItZDQxMi00ZDljLWIzZGMtNGNkYjdiY2ZlZjEw?sa=X&ved=0CAUQkfYCahcKEwjQxvLVo67xAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/channel/id2954358">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/309871642">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163969331">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_GbengaSesan.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                June 16, 2021
                            </div>
                            <h3>
                                <a href="/podcast/episode-52-gbenga-sesan">
                                    Episode 52: Gbenga Sesan
                                </a>
                            </h3>
                            <p>
                                Host Derek E. Silva joins Gbenga Sesan, the Executive Director of Paradigm, a pan-African social enterprise working on digital inclusion. They take a deep dive into the unique role of social media in Africa, Internet freedom, and why technology can’t fix inequality online.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/digital-rights-and-social-media-in-africa-with-gbenga-sesan/id1516705670?i=1000525747266">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/2azWxGR3rDhXRJCbg7j2GH">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MTM3ZWZjOWQtMTQwYy00MTgyLWI1ZmUtNTEzNDdhNTFiMWQ3?sa=X&ved=0CAUQkfYCahcKEwiQioOaxpzxAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Digital-Rights-and-Social-Media-in-Africa-with-Gbenga-Sesan-id2954358-id392476430?country=us">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <img alt="" class="podcast__image-separator" src="/assets/img/podcast/separator.svg">
            <div class="podcast-host__wrapper">
                <picture>
                    <source srcset="/assets/img/podcast/DerekHostProfile.webp" type="image/webp">
                    <img src="/assets/img/podcast/DerekHostProfile.png" alt="Derek E. Silva" />
                </picture>
                <div>
                    <h2>About the Host</h2>
                    <p>
                        As the Global Community Manager for Orchid, Derek is responsible for communicating the core tenets and benefits of Orchid to thousands of people. Derek is a former IT professional, building his communication skills while working across multiple industries and demographics. He has read dozens of whitepapers, interviewed individuals from top technology companies, provided one-on-one support, and now dedicates his time to helping blockchain companies build communities.
                    </p>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>