<div class="background-white">
  <div class="section-med vpad-wide faq-section">

    <div class="faq-sidebar">
      <ul class="list-group" class="faq-nav">
        <li *ngFor="let cat of faqs" class="list-group-item">
          <a class="faq" href="/faqs/{{ '#'+anchorParse(cat.name) }}">{{cat.name}}</a>
          
        </li>
      </ul>
    </div>

    <div class="faq-main">
      <h4 class="text-muted title">
        <span (click)="faqs_clicked();" class="left">FAQs</span>
      </h4>
      <ul class="list-group" class="categories">
        <li *ngFor="let cat of faqs" class="list-group-item">
          <a name="{{ anchorParse(cat.name) }}"></a>
          <h4>{{cat.name}}</h4>
          <!--<span (click)="toggle_questions(cat)" class="count">({{cat.questions.length}} questions)</span>-->
          <ul class="list-group">
            <li *ngFor="let q of cat.questions" class="list-group-item">

              <p class="question">
                {{q.question}}
              </p>
              <p class="answer"> {{q.answer}} </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>