<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_JChu_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 8, 2020
                            </div>
                            <h3>
                                Episode 5: Jehan Chu
                            </h3>
                            <p>
                                In our fifth episode, we go down the rabbit hole with Jehan Chu, Co-founder & Managing
                                Partner of Kenetic Capital. A great conversation technology integration wars,
                                decentralized apps, the future access of information, and how the world is becoming more
                                tribal.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button"
                                    href="https://podcasts.apple.com/us/podcast/decentralized-apps-future-information-jehan-chu/id1516705670?i=1000483591277">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://open.spotify.com/episode/2yIoABNp1V8Och7VRrLyRm">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/decentralized-apps-and-the-future-of-information-with-jehan-chu-75137171">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/218550712">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-i7y4k-ad639f4">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=153621534">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>