<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_JChu_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 8, 2020
                            </div>
                            <h3>
                                Episode 5: Jehan Chu
                            </h3>
                            <p>
                                In our fifth episode, we go down the rabbit hole with Jehan Chu, Co-founder & Managing Partner of Kenetic Capital. A great conversation technology integration wars, decentralized apps, the future access of information, and how the world is becoming more
                                tribal.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15127031/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/040600/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>