<section class="newsletter-signup-hero section-wide vpad-xs">
  <div *ngIf="!submitted">
    <input type="email" [(ngModel)]="email" placeholder="Email address" (keyup.enter)="submit()"
      class="newsletter-signup-hero__input input-large vgap-xs" />
    <div class="gap-bot-thin" *ngIf="showFull">
      <label class="gdpr-consent {{ blink_box ? 'blink_box' : ''}}">
        <input type="checkbox" [(ngModel)]="consented">
        I consent to receiving further instructions at the email address I submitted above.
      </label>
    </div>
    <button (click)="submit()" class="btn-primary btn-fixed newsletter-signup-hero__button" [disabled]="!consented || submitted">Get notified</button>
  </div>
  <ng-container *ngIf="(error != '')">
    <p id="hero-error" [innerHTML]="error"></p>
  </ng-container>
  <div *ngIf="(success != '')">
    <p id="hero-success" [innerHTML]="success"></p>
  </div>
</section>
