@import "misc_config";
@import "orc_config";
@import "media_queries";

#hero-error,
#hero-success {
  max-width: 60ch;
  padding: 1rem;
  font-size: 1.25em;
}
#hero-success {
  padding-left: 0;
}

#hero-error {
  color: $color-error;
  background-color: rgba($orc-beige-light, 0.5);
}

@keyframes newsletter-signup-hero__button-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.newsletter-signup-hero {
  // Putting this inside for specificity
  .newsletter-signup-hero__input {
    background: #fff;
    max-width: 20rem;
    &.invalid {
      box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0.1rem 0.25rem rgba(255, 0, 0, 0.2);
    }
  }
  .newsletter-signup-hero__button {
    max-width: 15rem;
    &.loading {
      &:after {
        content: "";
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        margin-left: 0.5rem;
        border-radius: 100%;
        border-top: 2px solid $orc-bright-purple;
        animation-name: newsletter-signup-hero__button-loading;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 1s;
      }
    }
  }
}

label.gdpr-consent {
  display: block;
  padding: 4px;
  margin-top: 0;
  input[type="checkbox"] {
    margin-right: 8px;
  }
  &.blink_box {
    box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0.1rem 0.25rem rgba(255, 0, 0, 0.2);
  }
}

.gdpr-consent-wrap {
  max-width: 20rem;
  @media (max-width: 1150px) {
    margin-left: auto;
    margin-right: auto;
  }
}
