<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_AHamacher.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                November 4, 2020
                            </div>
                            <h3>
                                Episode 22: Adriana Hamacher
                            </h3>
                            <p>
                                We go down the rabbit hole with Adriana Hamacher, a senior journalist at Decrypt Media.
                                A fascinating conversation on the future of robotics, crypto’s social impact, and the
                                man who saved Sushiswap.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none"
                            src="//html5-player.libsyn.com/embed/episode/id/16678088/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/040600/"
                            height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>