<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_AHamacher.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                November 4, 2020
                            </div>
                            <h3>
                                Episode 22: Adriana Hamacher
                            </h3>
                            <p>
                                We go down the rabbit hole with Adriana Hamacher, a senior journalist at Decrypt Media.
                                A fascinating conversation on the future of robotics, crypto’s social impact, and the
                                man who saved Sushiswap.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button"
                                    href="https://podcasts.apple.com/us/podcast/future-robotics-cryptos-social-impact-adriana-hamacher/id1516705670?i=1000497224870">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://open.spotify.com/episode/5LegMldka1uLHxQd6tCmF3">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/future-of-robotics-and-cryptos-social-impact-with-adriana-hamacher-79122733">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/257267822">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-2awrf-bdbe3ec">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=158524157">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>