<div class="oxt-hero bk-beige-light">
  <section class="section-med hpad-wide vpad-xl center-text z-index-1">
      <img class="oxt-hero__logomark" src="/assets/img/oxt/orchid-logomark.svg" alt=""/>
      <h1 class="oxt-hero__title">OXT</h1>
      <h2 class="oxt-hero__subtitle color-gray">The Orchid Token</h2>
      <a href="/assets/whitepaper/whitepaper.pdf">
        <button class="btn-secondary btn-fixed z-index-1" i18n="@@HomeNextLevel__Whitepaper">Whitepaper</button>
      </a>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
