<div class="about-company__page-container">
  <div class="bk-beige-light about-company__splash-container">
    <section class="about-company__splash">
      <div class="about-company__splash-text-container">
        <h1 i18n="@@AboutCompanyHero__Title">
          We can <br>
          reclaim the <br>
          internet <br>
          <span class="big">
            together
          </span>
        </h1>
      </div>
      <div class="about-company__splash-image-container">
        <img src="/assets/img/company/splash/splash-foreground.svg" width="868" height="706" alt="splash image">
      </div>
    </section>
  </div>

  <div class="about-company__centered-text-section-container">
    <div class="about-company__centered-text-floating-circle-1"></div>
    <div class="about-company__centered-text-floating-circle-2"></div>

    <section class="about-company__centered-text-section section-med hpad-wide vpad-wide center-text"
      i18n="@@AboutCompany__Description">
      <p>
        The Internet opened up an unlimited world of information. Its creators invited us to bring our curiosity and
        explore that world freely.
      </p>

      <p>
        As the Internet grew, exploring freely became harder. Web 2.0 business models incentivized companies to watch
        and track us and sell our data. And in some places, limits were placed on the information we can see.
      </p>

      <p>
        But that is changing. The decentralized Web 3.0 being built on Ethereum is allowing the Internet to be reclaimed
        by its users.
      </p>

      <p>
        At Orchid we share in this mission. We use Web 3.0 technology to offer users better digital privacy today, so we
        can realize the promise of the Web 1.0 and explore freely again.
      </p>

      <p>
        Orchid was founded in 2017 to help restore the open and accessible Internet for everyone. Since then, we have
        grown an incredible team based in San Francisco and Berlin that is releasing the Orchid tokenized VPN in Q4
        2019.
      </p>
    </section>
  </div>

  <div class="bk-lavender">
    <section class="about-company__founders-section section-wide hpad-wide vpad-wide">
      <h2 i18n="@@AboutCompanyFounders__Title">Founders</h2>
      <p class="gap-bot-wide section-narrow center-text" i18n="@@AboutCompanyFounders__Description">
        Orchid’s founders bring together deep experience in the open source software community (BASH Shell, GNU Finger),
        technology management (RPX IPO), blockchain investment (Pantera Capital), jailbroken app package management
        (Cydia) and security (Wells Fargo’s 1st Online Banking employee, Ethereum core security team).
      </p>
      <ul id="founder-list" class="phantom-list">
        <li class="waterhouse">
          <img class="founder-image" src="/assets/img/company/founders/steven-waterhouse.jpg"
            alt="Dr. Steven Waterhouse">
          <h4 class="center-text">
            <a href="https://www.linkedin.com/in/waterhousephd/" target="_blank" rel="noopener noreferrer"
              i18n="@@AboutCompanyFounders__NameSteven">
              Dr. Steven Waterhouse
            </a>
          </h4>
        </li>
        <li>
          <img class="founder-image" src="/assets/img/company/founders/brian-j-fox.jpg" alt="Brian J. Fox">
          <h4 class="center-text">
            <a href="https://www.linkedin.com/in/brianjhanfox/" target="_blank" rel="noopener noreferrer"
              i18n="@@AboutCompanyFounders__NameBrian">
              Brian J. Fox
            </a>
          </h4>
        </li>
        <li>
          <img class="founder-image" src="/assets/img/company/founders/jay-freeman.jpg" alt="Jay Freeman">
          <h4 class="center-text">
            <a href="http://www.saurik.com/" target="_blank" rel="noopener noreferrer" i18n="@@AboutCompanyFounders__NameJay">
              Jay Freeman
            </a>
          </h4>
        </li>
      </ul>
    </section>
  </div>

  <div>
    <section class="about-company__corporate-info-section section-med hpad-wide vpad-wide">
      <div id="corporate-header">
        <h2 i18n="@@AboutCompanyCorporate__Title">Corporate info</h2>
        <p i18n="@@AboutCompanyCorporate__Subtitle">Orchid is a Delaware c-corp</p>
      </div>
      <div id="corporate-address">
        <address i18n="@@AboutCompanyCorporate__Address">
          Headquarters:<br>
          1288 Columbus Ave. #122,<br>
          San Francisco, CA 94133
        </address>
        <address i18n="@@AboutCompanyCorporate__Address2">
          Europe:<br>
          Skalitzer Str. 85,<br>
          10997 Berlin, Germany
        </address>
      </div>
      <div class="z-index-1" id="corporate-buttons">
        <button (click)="go_sec()" class="btn-primary btn-fixed" i18n="@@AboutCompanyCorporate__SECFilingButton">SEC Filing</button>
        <button (click)="go_press()" class="btn-primary btn-fixed" i18n="@@AboutCompanyCorporate__PressKitButton">Press Kit</button>
      </div>
      <div class="adorner" id="buttons-adorner">
        <div class="pos-relative">
          <img class="adorner-image" src="/assets/img/company/buttons-adorner.png">
        </div>
      </div>
    </section>
  </div>

</div>

<app-newsletter-signup></app-newsletter-signup>