@import "media_queries";
@import "misc_config";
@import "orc_config";
@import "styles";

// Variables
$containerWidth: 932px;

.text-constrained {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.grey-heading {
  color: #504960;
  font-size: 24px;
  &.small {
    font-size: 20px;
  }
}

.oxt-special-link {
  font-weight: bold;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.oxt-svg-charts {
  img {
    margin: auto;
    max-width: 100%;
    display: block;
  }
}
a {
  overflow-wrap: break-word;
}
.img-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}
.small-margin-top {
  margin-top: 40px;
}
.supply-section {
  overflow: hidden;
}

@media (max-width: 1100px) {
  .oxt-responsive-table-container {
    position: relative;
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// HERO SECTION
.oxt-hero > section {
  & > * + * {
    margin-top: 2rem;
    display: block;
  }
  & > .oxt-hero__subtitle {
    margin-top: 1rem;
  }
}

.oxt-hero {
  padding: 1rem 0 6rem 0;
  @include mobile {
    background: white;
    padding: 1rem 0;
  }

  @include not-mobile {
    position: relative;
    $top: 43%;
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: $top;
      left: 0;
      width: 100%;
      height: #{100% - $top};
      background: white;
    }
    &::after {
      content: "";
      position: absolute;
      width: 175px;
      height: 175px;
      background: url("/assets/img/oxt/bg-circle-3.svg") no-repeat center center;
      background-size: contain;
      bottom: 0;
      left: 0%;
      transform: translate(-50%, 40%) rotate(180deg);
    }
  }
}

.oxt-hero__logomark {
  width: 490px;
  max-width: 100%;
  @include mobile {
    margin-top: 1rem;
  }
}

.hero-flex__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include mobile {
    flex-direction: column-reverse;
    text-align: center;
  }
  & > .hero-flex__container {
    @include not-mobile {
      width: 60%;
      padding: 0 1rem;
      box-sizing: border-box;
      &.logo {
        width: 40%;
      }
    }
    @include mobile {
      &.logo {
        width: 50%;
      }
    }
  }
  picture {
    max-width: 100%;
  }
}

.hero__buttons {
  @include not-mobile {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    width: 10rem;
    max-width: 30%;
  }
  button {
    width: 100%;
    font-size: 18px;
    @include not-mobile {
      @media (max-width: 1185px) {
        font-size: 16px;
      }
    }
    @include mobile {
      margin: 1rem auto;
      display: block;
    }
  }
}

.oxt-hero__title {
  font-size: 100px;
}
.oxt-hero__subtitle {
  margin-bottom: 1rem;
}
@include not-mobile {
  .oxt-hero__title {
    margin-top: 3rem;
  }
  .oxt-hero__subtitle {
    margin-bottom: 3rem;
  }
}

// INTRO SECTION
.oxt-intro > section {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 3rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 94px;
    height: 94px;
    background: url("/assets/img/oxt/bg-circle-1.svg") no-repeat center center;
    background-size: contain;
    bottom: 0;
    left: 36%;
    transform: translateY(50%);

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.oxt-intro__text {
  max-width: 82ch;
}

.cost-to-use-oxt > .overflow-wrapper {
  position: relative;
  max-width: 1685px;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background: url("/assets/img/oxt/bg-circle-3.svg") no-repeat center center;
    background-size: contain;
    bottom: 0;
    right: 0;
    transform: translate(75px, 123px);

    @include mobile {
      display: none;
    }
  }
}

// WHY OXT SECTION
.why-oxt > .overflow-wrapper {
  position: relative;
  max-width: 1685px;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    width: 337px;
    height: 347px;
    background: url("/assets/img/oxt/bg-circles-2.svg") no-repeat center center;
    background-size: contain;
    bottom: 0;
    left: 50%;
    transform: translate(51%, 20%) scale(0.75);

    @include mobile {
      right: 50%;
      transform: translate(-20%, 38%) scale(0.5);
    }
  }
}

.why-oxt__title {
  margin-bottom: 1rem;

  & > span {
    display: block;

    &:nth-of-type(1) {
      font-size: 64px;

      @include mobile {
        font-size: 48px;
      }
    }
    &:nth-of-type(2) {
      font-size: 100px;

      @include mobile {
        font-size: 75px;
      }
    }
  }

  @include mobile {
    text-align: center;
  }
}

.why-oxt__text {
  min-width: 50ch;

  @include mobile {
    min-width: unset;
    order: 2;
  }
}

.why-oxt__img {
  pointer-events: none;
  @include not-mobile {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 40vw;
    max-width: 300px;
    transform: translate(100%, -80%);
  }
  @include mobile {
    transform: translate(0, 0);
    width: 175px;
    order: 1;
    margin-bottom: -4.5rem;
    max-width: 100%;
  }
}

// TOKENOMICS SECTION
.tokenomics {
  h4 {
    font-size: $size-body-md;
    color: $orc-rock-gray;
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
  }

  & > section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      background: url("/assets/img/oxt/bg-circle-1.svg") no-repeat center center;
      background-size: contain;
      top: 0;
      left: 25%;
      transform: translate(10px, -30px);

      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
}
.tokenomics__subhead {
  display: flex;
  flex-wrap: wrap;
  @include not-mobile {
    .tokenomics-column {
      width: 60%;
      padding-right: 1rem;
      box-sizing: border-box;
    }
    img {
      width: 40%;
    }
  }
  @include mobile {
    flex-direction: column-reverse;
  }
}
.tokenomics__columns {
  max-width: $containerWidth;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

// AUDITS SECTION
.oxt-audits {
  h4 {
    font-size: $size-body-md;
    color: $orc-rock-gray;
    margin-bottom: 1rem;
  }
}

.supply-logos {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  text-align: center;
  & > a {
    margin: 1rem;
    @include mobile {
      margin: 0.5rem auto;
    }
    img {
      width: 160px;
      max-width: 100%;
      margin: auto;
    }
  }
}

.oxt-audits__columns {
  max-width: $containerWidth;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;

  & > div {
    max-width: 29ch;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.certora-logo {
  width: 160px;
  height: 131px;
}

.oxt-audits__quote {
  font-style: italic;
  text-align: left;
}
