@import "media_queries";
@import "misc_config";
@import "orc_config";
@import "styles";

.oxt-hero > section {
  & > * + * {
    margin-top: 2rem;
    display: block;
  }
  & >.oxt-hero__subtitle {
    margin-top: 1rem;
  }
}

.oxt-hero__title {
  font-size: 100px;
}
