@import 'feature_list';
@import 'media_queries';
@import 'misc_config';
@import 'orc_config';

#top {
    width: 100%;
    text-align: center; margin-left: auto; margin-right: auto;

    h3 { padding: 5vw; }
    .img-container {
        margin: 0 auto;
        width: 80%; max-width: 860px;
        img { width: 100%; height: auto; }
    }
}

#app-description {
  padding-bottom: 0;
  h3 { color: $orc-rock-gray; margin-bottom: 1rem; }
  h3 > span {
    @include mobile {
      display: block; margin-top: 1em;
    }
  }
}

#instructions {
    h4 { text-align: center; margin: 0 auto 0 auto; color: $orc-rock-gray; }
    .row {
        display: flex;
        flex-flow: row wrap;
	include mobile { flex-wrap: wrap; }
        width: 100%;
        justify-content: center;
        align-items: stretch;

        // > * { margin: auto 8px; }

        .divider {
	    width: 2px;
	    background: rgba($orc-purple, 0.5);
	    flex: 0 1 auto;
	    margin: 0px 15px;
	    @include mobile { display: none; }
	}
        .column {
            // flex: 0 1 auto;
	    flex: 1 0 0;
	    min-width: 250px;
	    max-width: calc(50% - 16px);
	    overflow: hidden;
	    @include mobile { flex: 0 1 auto; }
             li { padding-left: 10px; }
             &.left { }
             &.right { }
        }
    }
}
