<div class="background-white">
  <section id="top">
    <h3>Try the Orchid app</h3>
  </section>
</div>

<div class="background-white">
  <section id="instructions" class="section-med hpad-wide vpad-wide">
    <div class="row">
      <div class="column left">
        <h4>iOS</h4>
        <ol>
          <li>Tap the link below on your iOS device.<br />
            <a href="https://www.orchid.com/download-ios">https://www.orchid.com/download-ios</a>
          </li>
          <li>Follow the instruction to install TestFlight.</li>
          <li>Install Orchid.</li>
        </ol>
      </div>

      <div class="divider"></div>
      <div class="column right">
        <h4>Android</h4>
        <ol>
          <li>Tap the link below on your Android device.<br />
            <a href="https://www.orchid.com/download-android">https://www.orchid.com/download-android</a>
          </li>
        </ol>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>

