<div class="background-white">
  <section id="top">
    <h3>Try the pre-release Orchid app</h3>
    <div class="img-container">
      <img src="/assets/img/download/splash/1x.png"
              srcset="/assets/img/download/splash/1x.png, /assets/img/download/splash/2x.png 2x, /assets/img/download/splash/3x.png 3x">
    </div>
  </section>
</div>

<div class="background-white">
  <section id="app-description" class="section-med hpad-wide vpad-wide">
    <h3>Our initial feature is a local VPN traffic analyzer. <br><span>(The complete VPN service is coming soon.)</span></h3>
    <p>We've decided to distribute an early version of the Orchid app ahead of our network launch. This pre-release version analyzes network traffic on your phone and does not include VPN service yet (your IP address will not change). We are using the software to test and audit our networking code prior to integrating the token and interfacing with the Orchid Network. Once we launch our network, we can update the Orchid App to provide complete VPN service.</p>
    <p>In its initial form, this app will only be focused on one thing: analyzing and reporting the hosts that the data on your device are connecting to. For now, our app includes the following features:</p>
    <ul>
      <li>Local VPN service providing network flow analysis</li>
      <li>Advanced filtering to drill down on the data you care about</li>
      <li>IP address & port number for both source and destination</li>
    </ul>
    <p>It's important to us that this app is both open source and localized to your device, meaning no third parties see your data and nothing leaves your phone. We believe that an Open Source approach embraces the core tenets of decentralization and provides the greatest opportunity to create a network capable of delivering the stability, capacity, and security necessary to provide users with the online experience they desire.</p>
    <p><strong>Follow the directions below to download the Orchid App.</strong></p>
  </section>
</div>

<div class="background-white">
  <section id="instructions" class="section-med hpad-wide vpad-wide">
    <div class="row">
      <div class="column left">
        <h4>iOS</h4>
        <ol>
          <li>Tap the link below on your iOS device.<br />
            <a href="https://www.orchid.com/ios-pre-release">https://www.orchid.com/ios-pre-release</a>
          </li>
          <li>Follow the instruction to install TestFlight.</li>
          <li>Install Orchid.</li>
        </ol>
      </div>

      <div class="divider"></div>
      <div class="column right">
        <h4>Android</h4>
        <ol>
          <li>Tap the link below on your Android device.<br />
            <a href="https://www.orchid.com/android-pre-release">https://www.orchid.com/android-pre-release</a>
          </li>
          <li>Tap the "Join group" link to join the Android Testers Google group.</li>
          <li> Once you have joined the google group, download the app here:
            <a href="https://play.google.com/apps/testing/net.orchid">https://play.google.com/apps/testing/net.orchid</a>
          </li>
          <li>Install Orchid.</li>
        </ol>
      </div>
    </div>
  </section>
</div>
