<div class="splash-circuit">
  <div class="splash-circuit-image section-med hpad-wide"></div>
  <div class="splash-circuit-grid section-med hpad-wide">
    <div class="splash-circuit-grid-item vpad-wide">
      <h1 i18n="@@EventsHero__Title">Events</h1>
    </div>
  </div>
</div>

<div>
  <section class="events-page__section section-med hpad-wide vpad-wide">
    <header>
      <h2 i18n="@@EventsFindUsIRL__Title">Find us IRL</h2>
    </header>
    <ul id="ev-list" class="phantom-list" *ngIf="events$ | async as events else loadingEvents">
      <li class="ev-event" *ngFor="let event of events">
        <p class="ev-title">{{event.date}} | {{event.title}}</p>
	<p class="ev-title">{{event.location}}</p>
        <p *ngIf="event.desc" class="ev-body">{{event.desc}}</p>
        <p class="ev-link" *ngIf="event.link as link">
          <a [href]="link" target="_blank" rel="noopener noreferrer">{{link}}</a>
        </p>
      </li>
    </ul>
    <ng-template #loadingEvents>
      <p class="center-text gap-top-wide">loading events...</p>
    </ng-template>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
