@import 'orc_config';

#ev-list {
  margin: 3rem 0 0;
}

.ev-event {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.ev-title {
  margin: 0 0 .5rem;
  font-weight: 700;
}

.ev-body {
  color: $orc-gray;
  white-space: pre-line;
}