<div>
  <section class="section-med hpad-wide vpad-wide">
    <header>
      <h2>Find us IRL</h2>
    </header>
    <ul id="ev-list" class="phantom-list" *ngIf="events$ | async as events else loadingEvents">
      <li class="ev-event" *ngFor="let event of events">
        <p class="ev-title">{{event.date}} | {{event.title}} | {{event.location}}</p>
        <p class="ev-body">{{event.desc}}</p>
        <p class="ev-link" *ngIf="event.link as link">
          <a [href]="link" target="_blank" rel="noopener noreferrer">{{link}}</a>
        </p>
      </li>
    </ul>
    <ng-template #loadingEvents>
      <p class="center-text gap-top-wide">loading events...</p>
    </ng-template>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
