<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_RVer_Website.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								July 1, 2020
							</div>
							<h3>
								Episode 4: Roger Ver
							</h3>
							<p>
								In our fourth episode, we go down the rabbit hole with Roger Ver, Executive Chairman of
								Bitcoin.com. He shares his incredible journey as an early investor in Bitcoin startups,
								his views on the role government should play in citizens’ lives, and the fundamentals
								of voluntaryism.
							</p>
							<div class="card-footer">
								<a class="podcast-button"
									href="https://podcasts.apple.com/us/podcast/government-censorship-future-bitcoin-roger-ver/id1516705670?i=1000481064294">
									<img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
									<div class="podcast-button__text">
										Apple Podcasts
									</div>
								</a>
								<a class="podcast-button"
									href="https://open.spotify.com/episode/08OPSLezWMgBipS6HTxnhN">
									<img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
									<div class="podcast-button__text">
										Spotify
									</div>
								</a>
								<a class="podcast-button"
									href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/government-censorship-and-the-future-of-bitcoin-with-roger-ver-74117899">
									<img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
									<div class="podcast-button__text">
										Stitcher
									</div>
								</a>
								<!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
								<a class="podcast-button" href="https://www.deezer.com/us/episode/197044242">
									<img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
									<div class="podcast-button__text">
										Deezer
									</div>
								</a>
								<a class="podcast-button" href="https://www.podbean.com/media/share/dir-vezkw-ad639f5">
									<img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
									<div class="podcast-button__text">
										Podbean
									</div>
								</a>
								<a class="podcast-button"
									href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=151354624">
									<img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
									<div class="podcast-button__text">
										Tunein
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>