<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_RVer_Website.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								July 1, 2020
							</div>
							<h3>
								Episode 4: Roger Ver
							</h3>
							<p>
								In our fourth episode, we go down the rabbit hole with Roger Ver, the co-creator of
								Bitcoin Cash. He shares his incredible journey as an early investor in Bitcoin startups,
								his views on the role government should play in citizens’ lives, and the fundamentals of
								voluntaryism.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<iframe style="border: none"
							src="//html5-player.libsyn.com/embed/episode/id/15030308/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/020300/"
							height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
							mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>