<div class="section-root bk-beige-light">
  <section id="splash" class="section-wide">
    <div id="splash-text">
      <header>
        <h1>There is no division between the natural world and the digital one.</h1>
      </header>
    </div>
    <div id="splash-image">
      <img src="/assets/img/why-orchid/splash.png">
    </div>
  </section>
</div>

<div class="section-root">
  <section class="section-wide">
    <p>
      Because people continue to perceive this false divide, the internet has become depleted of its promise. What
      began as an open platform full of potential has grown into a series of walled gardens where people are tracked,
      controlled, and censored. People depend on the internet for all aspects of their lives yet increasingly feel as
      if they are compromising their values when using it. Products are useful—but no one wants to be one.
    </p>
    <p>
      With Orchid, the promise of the internet can finally be restored. Nature is the best problem-solver.
      Understanding that the internet is a natural system begins with a fundamental shift in the dynamic between
      developers and users. Mutually beneficial relationships and shared network resources create an adaptable,
      harmonious, and resilient internet for all.
    </p>
    <p>
      The natural internet is a collective effort. Contact us to make it possible.
    </p>
  </section>
</div>

<div class="section-root">
  <section id="signup" class="section-wide">
    <header>
      <h1>What do you want to build with Orchid?</h1>
    </header>
    <p>Join us to make it possible.</p>
    <button>Join us</button>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>