<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text">
      <header>
        <h1>There is no division between the natural world and the digital one.</h1>
      </header>
    </div>
    <div id="splash-image">
      <img src="/assets/img/why-orchid/splash/1x.png"
        srcset="/assets/img/why-orchid/splash/1x.png, /assets/img/why-orchid/splash/2x.png 2x, /assets/img/why-orchid/splash/3x.png 3x">
    </div>
  </section>
</div>

<div>
  <div id="adorner">
    <div class="section-narrow hpad-wide pos-relative">
      <img src="/assets/img/why-orchid/adorn-left.svg" id="adorn-left" class="pos-absolute">
      <div id="adorn-right" class="pos-absolute">
        <img src="/assets/img/why-orchid/adorn-right-1.svg" id="adorn-right-1">
        <img src="/assets/img/why-orchid/adorn-right-2.svg" id="adorn-right-2">
      </div>
    </div>
  </div>
  <section class="section-narrow hpad-wide vgap-wide z-index-1">
    <div class="bk-white mini-outset">
      <p>
        Because people continue to perceive this false divide, the internet has become depleted of its promise. What
        began as an open platform full of potential has grown into a series of walled gardens where people are tracked,
        controlled, and censored. People depend on the internet for all aspects of their lives yet increasingly feel as
        if they are compromising their values when using it. Products are useful—but no one wants to be one.
      </p>
      <p>
        With Orchid, the promise of the internet can finally be restored. Nature is the best problem-solver.
        Understanding that the internet is a natural system begins with a fundamental shift in the dynamic between
        developers and users. Mutually beneficial relationships and shared network resources create an adaptable,
        harmonious, and resilient internet for all.
      </p>
      <p>
        The natural internet is a collective effort. Contact us to make it possible.
      </p>
    </div>
  </section>
</div>

<div class="bk-lavender vpad-wide">
  <section id="signup" class="section-wide hpad-wide center-text">
    <header>
      <h2>What do you want to build with Orchid?</h2>
    </header>
    <p>Join us to make it possible.</p>
    <button class="btn-primary btn-fixed center-block gap-top-wide">Join us</button>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>