<div class="splash-circuit">
    <div class="splash-circuit-image section-med"></div>
    <div class="splash-circuit-grid section-med">
      <div class="splash-circuit-grid-item hpad-thin vpad-wide">
        <h1>Contact</h1>
        <br>

        <div>
          <h3>We want to hear from you</h3>
          <p>Let's reclaim the Internet together! We are looking for partnership opportunities with infrastructure providers and integration partners that want to build with Orchid. Contact us and we'll get back to you shortly.</p>
        </div>
      </div>
      <div class="splash-circuit-grid-item">
        <img class="splash-circuit-feature" src="/assets/img/contact/handshake.svg" width="354" height="388">
      </div>
    </div>
</div>

<div class="background-white">
  <div class="section-med vpad-wide contact-section">

  </div>
</div>