<div class="splash-circuit">
  <div class="splash-circuit-image section-med"></div>
  <div class="splash-circuit-grid section-med">
    <div class="splash-circuit-grid-item hpad-thin vpad-wide">
      <h1>Contact</h1>
      <br>

      <div>
        <h3>We want to hear from you</h3>
        <p>Let's reclaim the Internet together! We are looking for partnership opportunities with infrastructure
          providers and integration partners that want to build with Orchid. Contact us and we'll get back to you
          shortly.</p>
      </div>
    </div>
    <div class="splash-circuit-grid-item">
      <img class="splash-circuit-feature" src="/assets/img/contact/handshake.svg" width="354" height="388">
    </div>
  </div>
</div>

<div class="background-white">
  <div class="section-med vpad-wide contact-section" [class.js]="this.js">

    <div class="contact-sidebar">
      <div class="contact-page-card">
        <span class="contact-page-card-header color-gray">Office Address</span>
        <div class="contact-page-card-seperator"></div>
        <div style="max-width: 11rem;">
          1288 Columbus Ave. #122,
          San Francisco, CA 94133
        </div>
      </div>
      <div class="contact-page-card">
        <span class="contact-page-card-header color-gray">Contact Info</span>
        <div class="contact-page-card-seperator"></div>
        <ul class="contact-page-card-list">
          <li>
            <a class="phantom-a" href="mailto:contact@orchid.com">
              <img src="/assets/img/contact/icon-email.svg" width="20" height="20">
              contact@orchid.com
            </a>
          </li>
          <li>
            <a class="phantom-a" href="https://twitter.com/OrchidProtocol">
              <img src="/assets/img/contact/icon-twitter.svg" width="20" height="20">
              @OrchidProtocol
            </a>
          </li>
          <li>
            <a class="phantom-a" href="https://www.t.me/OrchidOfficial">
              <img src="/assets/img/contact/icon-telegram.svg" width="20" height="20">
              @OrchidOfficial
            </a>
          </li>
          <li>
            <a class="phantom-a" href="https://www.facebook.com/OrchidProtocol">
              <img src="/assets/img/contact/icon-facebook.svg" width="20" height="20">
              OrchidProtocol
            </a>
          </li>
        </ul>
      </div>
    </div>

    <form class="contact-form-container" [class.js]="this.js" [class.contact-form-disabled]="this.form_disabled">
      <div class="contact-form-input-wrapper" [class.invalid]="this.invalid_name">
        <input [attr.disabled]="form_disabled ? '' : null" type="text" [(ngModel)]="name" (ngModelChange)="validateName()" name="name" placeholder="Your Name" [class.invalid]="this.invalid_name" required>
      </div>

      <div class="contact-form-input-wrapper" [class.invalid]="this.invalid_email">
        <input [attr.disabled]="form_disabled ? '' : null" type="email" [(ngModel)]="email" (ngModelChange)="validateEmail()" name="email" placeholder="Your Email" [class.invalid]="this.invalid_email" required>
      </div>

      <div class="contact-form-input-wrapper" [class.invalid]="this.invalid_subject">
        <input [attr.disabled]="form_disabled ? '' : null" type="text" [(ngModel)]="subject" (ngModelChange)="validateSubject()" name="subject" placeholder="Subject" [class.invalid]="this.invalid_subject" required>
      </div>
      
      <div class="contact-form-input-wrapper" [class.invalid]="this.invalid_message">
        <textarea [attr.disabled]="form_disabled ? '' : null" [(ngModel)]="message" (ngModelChange)="validateMessage()" name="message" placeholder="Enter your message..." [class.invalid]="this.invalid_message" required></textarea>
      </div>
      
      <div class="contact-form-error contact-form-message" [class.active]="this.error">
        {{errorMessage}}
      </div>
      <div class="contact-form-success contact-form-message" [class.active]="this.success">
        {{successMessage}}
      </div>

      <button (click)="onSubmit()" class="btn-primary">Submit</button>
      <button (click)="clear()">Clear</button>
    </form>

  </div>
</div>