<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JimHarper.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                July 28, 2021
                            </div>
                            <h3>
                                Episode 58: Jim Harper
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jim Harper, a privacy expert and senior fellow at American Enterprise Institute, a Washington, D.C.-based think tank that researches government, economics, and social welfare. They take a deep dive into the changing definition of privacy, reforming Section 230, and why Bitcoin’s value is all in the eye of the ‘bithodler’.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/the-philosophy-of-bitcoin-and-the-great-privacy-debate/id1516705670?i=1000530293096">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/4ibvvTfzhwGnTVr2Syq8hl">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MzNlZDMxYWYtNzgzYS00ODlmLThjN2YtZGVmZWNiYjFkMDU2?sa=X&ved=0CAUQkfYCahcKEwio2YuxkobyAhUAAAAAHQAAAAAQAQ">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/The-Philosophy-of-Bitcoin-and-the-Great-Privacy-Debate-id2954358-id408904139">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.deezer.com/us/show/1331022">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=164768763">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>