<div class="where-oxt">
  <p i18n="@@ReportExchangesOXT">
    When we learn of new listings, they will be publicly announced. If you see OXT being
    traded on an exchange that isn’t listed here, please use the contact form to let us know, so that it can be added to
    our list.
  </p>
  <h3 class="gap-top-thin" i18n="@@ExchangeListings">Exchange Listings</h3>
  <a href="https://www.coinbase.com/price/orchid">
    <img class="margin" src="/assets/img/where-oxt/coinbase.png"
      srcset="/assets/img/where-oxt/coinbase.png, /assets/img/where-oxt/coinbase@2x.png 2x, /assets/img/where-oxt/coinbase@3x.png 3x"
      alt="Coinbase" />
  </a>
  <a href="https://gemini.com/prices/orchid">
    <img class="margin" src="/assets/img/where-oxt/gemini.png" alt="Gemini" />
  </a>
  <a href="https://www.okex.com/en/spot/trade/oxt_usdt">
    <img class="margin" src="/assets/img/where-oxt/okex.png" alt="OKEx" style="width: 150px;" />
  </a>
  <a href="https://global.bittrex.com/Market/Index?MarketName=BTC-OXT">
    <img class="margin" src="/assets/img/where-oxt/bitrex.png" alt="Bittrex" />
  </a>

  
  <h3 class="gap-top-wide" i18n="@@OXTContract">OXT Contract on Ethereum</h3>
  <a href="https://etherscan.io/token/0x4575f41308ec1483f3d399aa9a2826d74da13deb">
    <img src="/assets/img/where-oxt/etherscan.png"
      srcset="/assets/img/where-oxt/etherscan.png, /assets/img/where-oxt/etherscan@2x.png 2x, /assets/img/where-oxt/etherscan@3x.png 3x"
      alt="Etherscan" />
  </a>
</div>