
<div class="where-oxt">
      <p>If you see OXT being traded on an exchange that isn’t listed here, please use the contact form to let us know, so that it can be added to our list.</p>
  <h3 class="gap-top-thin">Exchange Listings</h3>
  <a href="https://www.coinbase.com">
    <img src="/assets/img/where-oxt/coinbase.png"
      srcset="/assets/img/where-oxt/coinbase.png, /assets/img/where-oxt/coinbase@2x.png 2x, /assets/img/where-oxt/coinbase@3x.png 3x"
      alt="Coinbase"/>
  </a>
  <h3 class="gap-top-wide">OXT Contract on Ethereum</h3>
  <a href="https://etherscan.io">
    <img src="/assets/img/where-oxt/etherscan.png"
      srcset="/assets/img/where-oxt/etherscan.png, /assets/img/where-oxt/etherscan@2x.png 2x, /assets/img/where-oxt/etherscan@3x.png 3x"
      alt="Coinbase"/>
  </a>
</div>
