<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_AWard.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                December 2, 2020
                            </div>
                            <h3>
                                Episode 26: Anne Ahola Ward
                            </h3>
                            <p>
                                Go down the rabbit hole with futurist and CEO of CircleClick, Anne Ahola Ward. She
                                shares her thoughts on the fight for Section 230, why decentralization matters, and what
                                tech trends to watch for in 2021.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button"
                                    href="https://podcasts.apple.com/us/podcast/why-decentralization-matters-tech-trends-for-2021-anne/id1516705670?i=1000501104624">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://open.spotify.com/episode/3PPpeOFMtB2vW5kJWniF2d">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/why-decentralization-matters-and-tech-trends-for-2021-with-anne-ahola-ward-79855818">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/263536082">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-i7vcv-c423ffc">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=159166547">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>