<div *ngIf="!submitted">
  <input type="email" [(ngModel)]="email" i18n-placeholder="@@EmailAddress" placeholder="Email address"
    (keyup.enter)="submit()" class="input-large center-block vgap-thin newsletter-signup__input"
    [class.invalid]="this.invalid_email" (change)="inputListener()" (keydown)="inputListener()" />
  <div class="gap-bot-thin" *ngIf="showFull">
    <label class="gdpr-consent {{ blink_box ? 'blink_box' : ''}}" (click)="checkboxListener()">
      <input type="checkbox" [(ngModel)]="consented" (change)="checkboxListener()">
      <span i18n="@@Newsletter__Consent">I consent to receiving further instructions at the email address I submitted
        above.</span>
    </label>
  </div>
  <button (click)="submit()" class="btn-primary btn-fixed center-block newsletter-signup__button"
    [class.loading]="this.in_progress" [class.btn-primary]="!this.priv8" [class.btn-secondary]="this.priv8"
    i18n="@@Newsletter__Subscribe">
    <span *ngIf="!this.priv8">Subscribe</span>
    <span *ngIf="this.priv8">Sign Up</span>
  </button>
</div>
<ng-container *ngIf="(error != '')">
  <p id="error" [innerHTML]="error"></p>
</ng-container>
<div *ngIf="(success != '')">
  <p id="success" [innerHTML]="success"></p>
</div>