@import 'orc_ws_colors';
@import 'media_queries';

$header-margin: 31px; // (header_ht - logo_ht) / 2;
$header-margin-small: 20px;

#header {
  background-color: $orc-ws-background;

  > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  /* desktop-version header */
  @include large-screen {
    min-height: 170px;

    .header-logo {
      padding: $header-margin;

      img.logo {
        height: 108px; // redundant -- "native" size
      }
    }

    nav {
      float: right;

      > div {
        padding: $header-margin $header-margin $header-margin 0;
        display: inline-block;
        text-transform: uppercase;

        > a {
          color: $orc-ws-font-color;
          text-decoration: none;
          font-size: 16px;
          letter-spacing: 0.71px;
          padding-bottom: 12px;
        }

        &.active-link a {
          border-bottom: 4px solid $orc-ws-purple;
        }
      }
    }
  }

  @include small-screen {
    min-height: 42px; // eyeballing it 
    padding: 20px;

    img.logo {
      width: 35px;
    }

    // TODO
    nav {
      display: none;
    }

    .hamburger {
      position: absolute;
      right: $header-margin-small;
      top: $header-margin-small;
    }

  }
}

/* desktop version footer */
#footer {
  background-color: $orc-ws-background;
  position: relative;
  z-index: 0;

  .footer-content-container {
    display: flex;
    z-index: 10;

    nav.footer-links {
      // width: 20%;

      > a {
        display: block;
        text-decoration: none;
        margin-bottom: 7px;
      }
    }
  }

  .coral-background {
    position: absolute;
    bottom: 0;
    z-index: -10;

    > img {
      position: absolute;
      bottom: 0;

      &.coral-naturalistic {
        // left: 109px;
      }
    }
  }

  .fish-background {
    position: absolute;
    z-index: -10;

    > img {
      width: 100%;
    }
  }

  @include large-screen {
    min-height: 321px;
    font-size: 16px; // maybe the default size?

    .footer-content-container {
      padding-top: 84px;

      .footer-logo {
        width: 50%;

        > div {
          padding-left: 184px;

          .footer-copyright {
            margin-top: 16px;
          }
        }
      }

      nav.footer-links {
        width: 20%;
      }

      .footer-social {
        width: 30%;

        .footer-social-follow {
          margin-bottom: 16px;
        }

        a {
          margin-right: 25px;
        }
      }
    }

    .coral-background {
      left: 132px;

      > img {
        &.coral-naturalistic {
          left: 109px;
        }
      }
    }

    .fish-background {
      top: 40px;
      right: 146px;
    }
  }

  @include small-screen {
    font-size: 14px;

    .footer-content-container {
      flex-direction: column-reverse;

      > * {
        padding: 20px;
      }

      .footer-social a {
        margin-right: 30px;
      }

      .footer-logo {
        img {
          height: 20px;
        }

        .footer-copyright {
          float: right;
        }
      }
    }

    .coral-background {
      right: 124px;

      .coral-electric {
        height: 151px;
        // flip the image
        transform: scaleX(-1);
        filter: FlipH;
      }

      .coral-naturalistic {
        height: 59px;
        right: -30px;
      }
    }

    .fish-background {
      top: 10px;
      right: 10px;
      width: 70px;
    }
  }
}

$hamburger-menu-padding: 20px;
$hamburger-menu-width: 257px;

#hamburger-menu {
  width: $hamburger-menu-width - (2 * $hamburger-menu-padding);
  height: calc(100% - (2 * #{$hamburger-menu-padding}));
  padding: $hamburger-menu-padding;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  text-align: right;

  background-color: $orc-ws-background;

  > div {
    padding-bottom: 45px;
  }
}
