<div id="header">
  <div class="header-logo">
    <a routerLink="/" aria-label="Home">
    <img src="/assets/imgs/orchid-logo.svg" alt="Orchid logo" class="logo">
    </a>
  </div>
  
  
  <nav>
      <div routerLinkActive="active"><a class="" routerLink="/what-is-orchid">What is Orchid</a></div>
      <div routerLinkActive="active"><a class="" routerLink="/why-orchid">Why Orchid</a></div>
      <div routerLinkActive="active"><a class="" routerLink="/dev-resources">Dev resources</a></div>
  </nav>
</div>

<router-outlet></router-outlet>
