<div id="header">
  <div class="header-logo">
    <a routerLink="/" aria-label="Home">
    <img src="/assets/imgs/orchid-logo.svg" alt="Orchid logo" class="logo">
    </a>
  </div>
  
  
  <nav>
      <div routerLinkActive="active-link"><a class="" routerLink="/what-is-orchid">What is Orchid</a></div>
      <div routerLinkActive="active-link"><a class="" routerLink="/why-orchid">Why Orchid</a></div>
      <div routerLinkActive="active-link"><a class="" routerLink="/dev-resources">Dev resources</a></div>
  </nav>
</div>

<router-outlet></router-outlet>

<div id="footer">
  <div class="coral-background">
    <img class="coral-electric" src="assets/imgs/coral-electric.svg">
    <img class="coral-real" src="assets/imgs/coral-real.svg">
  </div>
  
  <div class="fish-background">
    <img class="coral-real" src="assets/imgs/footer-fish.svg">
  </div>
  
  <div class="footer-content-container">
    
    <div class="footer-logo">
      <div>
        <img src="assets/imgs/orchid-logo-word.svg">
        <div class="footer-copyright">
          &copy;2019 Orchid Labs Inc.
        </div>
      </div>
    </div>
    
    <nav class="footer-links">
      <a routerLink="/">Orchid</a>
      <a routerLink="/what-is-orchid">What is Orchid</a>
      <a routerLink="/why-orchid">Why Orchid</a>
      <a routerLink="/dev-resources">Developer resources</a>
      <a routerLink="/privacy-policy">Privacy Policy</a>
      <a routerLink="/jobs">Jobs</a>
    </nav>
    
    <div class="footer-social">
      <div class="footer-social-follow">Follow Us</div>
      <div>
        <a href="" aria-label="Follow on Facebook">
          <img src="assets/imgs/social-facebook.svg">
        </a>
        <a href="" aria-label="Follow on Twitter">
          <img src="assets/imgs/social-twitter.svg">
        </a>
        <a href="" aria-label="Follow on Medium">
          <img src="assets/imgs/social-medium.svg">
        </a>
      </div>
    </div>
  </div>
  
</div>
