<section class="bk-beige-light how-hero z-index-1">
  <div class="satellite-1"><img src="/assets/img/how-it-works/satellite-1.svg" alt=""></div>
  <div class="content section-narrow vpad-wide hpad-thin center-text z-index-1">
    <h1 class="gap-bot-thin">How Orchid delivers digital privacy</h1>
    <p>The Orchid network enables a decentralized virtual private network (VPN), allowing users to buy bandwidth from a global pool of service providers.</p>
    <p>To do this, Orchid uses an ERC-20 utility token called OXT, a new VPN protocol for token-incentivized bandwidth proxying, and smart-contracts with algorithmic advertising and payment functions. Orchid's users connect to bandwidth sellers using a provider directory, and they pay using probabilistic nanopayments so Ethereum transaction fees on packets are acceptably low.</p>
  </div>
</section>

<section class="bk-white core z-index-1">
  <div class="satellite-2"><img src="/assets/img/how-it-works/satellite-2.svg" alt=""></div>
  <div class="content section-narrow vpad-xl hpad-wide center-text">
    <h2 class="gap-bot-thin"><span>Core components</span> <span>of the Orchid network</span></h2>
    <div class="buttons">
      <a class="button" href="/how-it-works#app">The Orchid app</a>
      <a class="button" href="/how-it-works#oxt">OXT cryptocurrency</a>
      <a class="button" href="/how-it-works#protocol">Orchid protocol</a>
      <a class="button" href="/how-it-works#nanopayments">Nanopayments</a>
      <a class="button" href="/how-it-works#nodes">Nodes</a>
      <a class="button" href="/how-it-works#staking">Staking</a>
    </div>
  </div>
</section>

<div class="explainers">
  <section id="app" class="explainer">
    <div class="explainer__bg"></div>
    <div class="explainer__container">
      <div class="explainer__progress"></div>
      <div class="explainer__text">
        <h3>The Orchid app</h3>
        <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
        <h4><a href="">Get the pre-release version of the app today!</a></h4>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/app.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <div></div>
      </div>
    </div>
  </section>
  <section id="oxt" class="explainer">
    <div class="explainer__bg"></div>
    <div class="explainer__container">
        <div class="explainer__progress"></div>
        <div class="explainer__text">
          <h3>The Orchid app</h3>
          <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
          <h4><a href="">Get the pre-release version of the app today!</a></h4>
        </div>
        <div class="explainer__image">
          <img src="/assets/img/how-it-works/app.svg" alt="">
        </div>
        <div class="explainer__bottom">
          <div></div>
        </div>
      </div>
  </section>
  <section id="oxt" class="explainer">
      <div class="explainer__bg"></div>
      <div class="explainer__container">
          <div class="explainer__progress"></div>
          <div class="explainer__text">
            <h3>The Orchid app</h3>
            <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
            <h4><a href="">Get the pre-release version of the app today!</a></h4>
          </div>
          <div class="explainer__image">
            <img src="/assets/img/how-it-works/app.svg" alt="">
          </div>
          <div class="explainer__bottom">
            <div></div>
          </div>
        </div>
    </section>
    <section id="oxt" class="explainer">
        <div class="explainer__bg"></div>
        <div class="explainer__container">
            <div class="explainer__progress"></div>
            <div class="explainer__text">
              <h3>The Orchid app</h3>
              <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
              <h4><a href="">Get the pre-release version of the app today!</a></h4>
            </div>
            <div class="explainer__image">
              <img src="/assets/img/how-it-works/app.svg" alt="">
            </div>
            <div class="explainer__bottom">
              <div></div>
            </div>
          </div>
      </section>
      <section id="oxt" class="explainer">
          <div class="explainer__bg"></div>
          <div class="explainer__container">
              <div class="explainer__progress"></div>
              <div class="explainer__text">
                <h3>The Orchid app</h3>
                <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
                <h4><a href="">Get the pre-release version of the app today!</a></h4>
              </div>
              <div class="explainer__image">
                <img src="/assets/img/how-it-works/app.svg" alt="">
              </div>
              <div class="explainer__bottom">
                <div></div>
              </div>
            </div>
        </section>
        <section id="oxt" class="explainer">
            <div class="explainer__bg"></div>
            <div class="explainer__container">
                <div class="explainer__progress"></div>
                <div class="explainer__text">
                  <h3>The Orchid app</h3>
                  <p>Users of Orchid run a client similar to a typical VPN client for protocols such as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality offered by most VPN clients, with features such as the ability to run traffic through an integrated personal firewall.  The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
                  <h4><a href="">Get the pre-release version of the app today!</a></h4>
                </div>
                <div class="explainer__image">
                  <img src="/assets/img/how-it-works/app.svg" alt="">
                </div>
                <div class="explainer__bottom">
                  <div></div>
                </div>
              </div>
          </section>
</div>

<div class="bk-lavender whitepaper-section">
  <section class="section-med hpad-wide vpad-wide overflow-hidden">
    <div id="read-whitepaper">
      <div class="pos-relative">
        <img id="read-whitepaper-adorner" src="/assets/img/network/read-whitepaper.svg">
        <button (click)="downloadWhitepaper()" class="btn-primary z-index-1">Read our Whitepaper</button>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
