@import 'orc_config';
@import 'media_queries';
@import 'misc_config';

// PAGE VARIABLES
$section-sm: 54rem;

// 3D STUFF


// HERO SECTION

.how-hero {
  margin-top: 1em;
  @include mobile {
    padding-top: 2rem;
  }
  
  .content {
    max-width: 39rem;
    padding-bottom: 200px;

    @include mobile {
      padding-bottom: 2rem;
      padding: 2rem;
    }

    & > p {
      max-width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .satellite-1 {
    & > img {
      display: none;
    }
    background-image: url('/assets/img/how-it-works/satellite-1.svg');
    background-repeat: no-repeat;
    background-position: 72vw center;
    width: 100%;
    height: 446px;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: 1570px) {
      background-position: calc(50% + 658px);
    }

    @media (max-width: 1269px) and (min-width: 1096px + 1) {
      background-position: 74vw;
    }

    @media (max-width: 1096px) and (min-width: $mobile-width + 1) {
      background-size: 62%;
      background-position: 77vw;
    }

    @include mobile {
      background: none;
      position: relative;
      height: unset;
      max-height: 50vh;
      & > img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }

}

:host-context(.locale-ja) {
  .how-hero {
    .content {
      max-width: 44rem;
    }
  }
}
:host-context(.locale-zh) {
  .how-hero {
    .content {
      max-width: 41rem;
    }
  }
}


// CORE COMPONENTS SECTION

.core {
  & > * {
    box-sizing: border-box;
  }
  .satellite-2 {
    background-image: url('/assets/img/how-it-works/satellite-2.svg');
    background-repeat: no-repeat;
    background-position: -21vw center;
    width: 100%;
    height: 674px;
    position: absolute;
    top: -469px;
    left: 0;
    pointer-events: none;

    & > img {
      display: none;
      max-width: 100%;
    }
  }
  .content {
    max-width: $section-sm;
  }
  h2 > span {
    display: block;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
  }
  .button {
    text-decoration: none;
    display: block;
    border-radius: 12px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: $size-body-md;
    color: $orc-rock-gray;
  }
}


:host-context(.locale-ja) {
  .core {
    .content {
      max-width: 55rem;
    }
  }
}

@media (min-width: 1570px) {
  .core {
    .satellite-2 {
      background-position: calc(50% - 608px);
    }
  }
}

@media (max-width: 1376px) and (min-width: $mobile-width + 1) {
  .core {
    .satellite-2 {
      background-size: 56%;
      top: -404px;
    }
  }
}

@include mobile {
  .core {
    padding-top: 2rem;

    .satellite-2 {
      display: none;
      max-height: 50vh;
      position: relative;
      top: 0;
      margin-bottom: -40px;
      background: transparent;
      height: unset;
      padding: 0 2rem;

      & > img {
        display: block;
      }
    }
    .buttons {
      grid-template-columns: 1fr;
    }
    .button {
      font-size: $size-body-md-mobile;
    }
  }
}



// EXPLAINER SECTIONS

$exp-outer-width: 1440px;
$exp-text-width: 750px;
$exp-progress-1-width: 146px;
$exp-progress-2-width: 130px;
$exp-image-delta: 136px;
$exp-image-width: 412px;
$exp-image-gap: 30px;
$exp-dash-height: 4px;
$exp-bottom-1-height: $exp-dash-height;
$exp-bottom-2-height: 60px;
$exp-to-top-size: 30px;
$exp-dot-size: 18px;
$exp-start-height: 170px;

$exp-vert-bp: 960px;

.anchor {
  top: 60px;
  position: relative;
  display: block;
}

.explainers {
  counter-reset: section;
}
.explainer > * {
  box-sizing: border-box;
}
.explainer {
  --section-bg: #{$bkgd-faint-gray};
  --section-bg-alt: #fff;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow-x: hidden;
  background-color: var(--section-bg);
  position: relative;
  counter-increment: section;
}
.explainer__container {
  max-width: $exp-outer-width;
  display: grid;
  grid-template-areas: ". progress-2 text image image image"
                       ". bottom bottom bottom bottom ."
                       ". . . . connector .";
  grid-template-columns: $exp-progress-1-width $exp-progress-2-width 1fr $exp-image-delta $exp-progress-2-width $exp-progress-1-width;
  grid-template-rows: 1fr $exp-bottom-1-height $exp-bottom-2-height;
  justify-content: center;
  position: relative;
}

// Even # rows
.explainer:nth-child(2n) {
  --section-bg: #fff;
  --section-bg-alt: #{$bkgd-faint-gray};
  .explainer__container {
    direction: rtl;
  }
  .explainer__progress {
    background-position: right 3px;
  }
  .explainer__dot {
    transform: translateX(50%);
  }
  .explainer__text {
    direction: ltr;
  }
  .explainer__image {
    padding-right: 60px;
    padding-left: 0;
    background-position-x: -150%;

    &::before {
      left: -35%;
    }
  }
  .explainer__connector {
    background-position: left;
  }
}

.explainer:first-child {
  padding-top: 20px;
  .explainer__container {
    grid-template-areas: ". start start start start ."
                         ". progress-2 text image image image"
                         ". bottom bottom bottom bottom ."
                         ". . . . connector .";
    grid-template-columns: $exp-progress-1-width $exp-progress-2-width 1fr $exp-image-delta $exp-progress-2-width $exp-progress-1-width;
    grid-template-rows: 100px 1fr $exp-bottom-1-height $exp-bottom-2-height;
  }
  .explainer__progress {
    justify-content: flex-start;
  }
}
.explainer__start {
  grid-area: start;
  background-image: url('/assets/img/how-it-works/dash-x.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  margin-bottom: -50px;
  width: 50%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-image: url('/assets/img/how-it-works/dash-y.svg');
    background-repeat: repeat-y;
    right: 0;
    top: 0;
  }
}
.explainer__start-cap {
  position: absolute;
  z-index: 1;
  left: calc(50% - 18px);
  transform: translateY(20px);

  &::after {
    content: "";
    position: absolute;
    background-image: url('/assets/img/how-it-works/start-shine.svg');
    background-repeat: no-repeat;
    width: 148px;
    height: 148px;
    top: -58px;
    left: -58px;
  }

  & > div {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background: $orc-purple;
  }
}

.explainer:last-child {
  .explainer__bottom::after {
    content: "";
    position: absolute;
    background: var(--section-bg);
    width: 50%;
    height: 100%;
    transform: translate(100%);
    z-index: 0;
  }
  &:nth-child(2n) .explainer__bottom::after {
    transform: translate(0);
    left: 0;
  }
  .explainer__connector {
    background: transparent;
  }
}
.explainer__progress {
  grid-area: progress-2;
  background-image: url('/assets/img/how-it-works/dash-y.svg');
  background-repeat: repeat-y;
  background-position: left 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.explainer__dot {
  background-color: var(--section-bg);
  width: $exp-dot-size;
  height: $exp-dot-size;
  transform: translateX(-50%);
  display: block;
  & + & {
    margin-top: 70px;
  }
  & > img {
    display: block;
  }
}
.explainer__dot.active {
  & > img {
    display: none;
  }
  background-color: $orc-light-purple;
  font-family: $orc-tf-primary;
  font-size: 40px;
  line-height: 60px;;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-decoration: none;
  color: #fff;
  transform: translateX(calc(-50% + 2px));
  position: relative;
  border: 22px solid var(--section-bg);
  z-index: 3;
  &:nth-child(2n) {
    transform: translateX(calc(50% - 2px));
  }
  &::before {
    content: counter(section);
  }
  &::after {
    content: "";
    position: absolute;
    background-image: url(/assets/img/how-it-works/shine.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 104px;
    height: 104px;
    top: -22px;
    left: -22px;
  }
}

.explainer__text {
  grid-area: text;
  max-width: $exp-text-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  position: relative;
  z-index: 1;

  & > h3 {
    font-size: 34px;
    color: $orc-rock-gray;
    margin-bottom: 1rem;
  }
  & > h4 {
    font-size: $size-body-md;
  }
}
.explainer__image {
  grid-area: image;
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 30px;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/assets/img/how-it-works/circuit.svg') no-repeat center center;
    background-size: contain;
    box-sizing: border-box;
    left: 0;
  }
  & > img {
    position: relative;
  }
}
.explainer__bottom {
  grid-area: bottom;
  background-image: url('/assets/img/how-it-works/dash-x.svg');
  background-repeat: repeat-x;
  background-position: top;
  position: relative;
}
.explainer__to-top {
  position: absolute;
  margin: 0 auto;
  transform: translateY(-50%);
  left: calc(50% - #{$exp-to-top-size});
  background-color: var(--section-bg);
  z-index: 1;
  & > img {
    display: block;
  }
}
.explainer__connector {
  grid-area: connector;
  background-image: url('/assets/img/how-it-works/dash-y.svg');
  background-repeat: repeat-y;
  background-position: right;
}
.explainer__finish {
  position: absolute;
  background-image: url('/assets/img/how-it-works/dash-y.svg');
  width: $exp-dash-height;
  height: 110px;
  left: calc(50% - 2px);
  top: -60px;

  & > img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
  }
}

@media (max-width: $exp-vert-bp) {
  .explainer {
    overflow: visible;
    padding: 1rem;
    min-height: unset;
  }
  .explainer__container,
  .explainer:first-child .explainer__container {
    max-width: 100%;
    grid-template-areas: "image"
                         "text"
                         "bottom";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
    position: relative;
  }
  .explainer__text {
    padding: 0;
    justify-content: flex-start;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }
  .explainer .explainer__container .explainer__image { // Need the specificity
    padding: 1rem;
    justify-content: center;
    max-height: 50vh;
    margin-top: 0;
    &::before {
      left: 0;
    }
    & > img {
      max-width: 100%;
      transform: none;
    }
  }
  .explainer__progress {
    display: none;
  }
  .explainer__bottom {
    background: none;
    text-align: center;
    padding: 1rem 0 0;
  }
  .explainer__to-top {
    position: static;
    transform: none;
    display: inline-block;
  }
  .explainer__connector {
    background: none;
  }
  .explainer:last-child {
    .explainer__bottom::after {
      display: none
    }
  }
  .explainer__start-cap,
  .explainer__finish {
    display: none;
  }
}

// WHITE PAPER SECTION

.whitepaper-section {
  position: relative;
  padding: 3em 0;
  text-align: center;
}
#read-whitepaper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include mobile {
	justify-content: center;
	margin: 1rem 0 1rem;
    }
}

#read-whitepaper-adorner {
    position: absolute;
    left: -2rem;
    top: -5rem;
}
