<section class="bk-beige-light how-hero z-index-1">
  <div class="satellite-1"><img src="/assets/img/how-it-works/satellite-1.svg" alt=""></div>
  <div class="content section-narrow vpad-wide hpad-thin center-text z-index-1">
    <h1 class="gap-bot-thin" i18n="@@HowHero__Title">How Orchid delivers digital privacy</h1>
    <p i18n="@@HowHero__Subtitle">The Orchid network enables a decentralized virtual private network (VPN), allowing
      users to buy bandwidth from a global pool of service providers.</p>
    <p i18n="@@HowHero__Subtitle2">To do this, Orchid uses an ERC-20 utility token called OXT, a new VPN protocol for
      token-incentivized bandwidth proxying, and smart-contracts with algorithmic advertising and payment functions.
      Orchid's users connect to bandwidth sellers using a provider directory, and they pay using probabilistic
      nanopayments so Ethereum transaction fees on packets are acceptably low.</p>
  </div>
</section>

<section class="bk-white core z-index-1">
  <a id="top" class="anchor"></a>
  <div class="satellite-2"><img src="/assets/img/how-it-works/satellite-2.svg" alt=""></div>
  <div class="content section-narrow vpad-xl hpad-wide center-text">
    <h2 class="gap-bot-thin"><span i18n="@@HowIndex__Title">Core components</span> <span i18n="@@HowIndex__Title2">of
        the Orchid network</span></h2>
    <div class="buttons">
      <a class="button" href="/how-it-works#app" i18n="@@HowIndex__TheOrchidApp">The Orchid app</a>
      <a class="button" href="/how-it-works#oxt" i18n="@@HowIndex__OXTCryptocurrency">OXT cryptocurrency</a>
      <a class="button" href="/how-it-works#protocol" i18n="@@HowIndex__OrchidProtocol">Orchid protocol</a>
      <a class="button" href="/how-it-works#nanopayments" i18n="@@HowIndex__Nanopayments">Nanopayments</a>
      <a class="button" href="/how-it-works#nodes" i18n="@@HowIndex__Nodes">Nodes</a>
      <a class="button" href="/how-it-works#staking" i18n="@@HowIndex__Staking">Staking</a>
    </div>
  </div>
  <div class="explainer__start-cap">
    <div></div>
  </div>
</section>

<div class="explainers">
  <section class="explainer">
    <a id="app" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__start"></div>
      <div class="explainer__progress">
        <a class="explainer__dot active" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#protocol"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nanopayments"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#staking"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowApp__Title">The Orchid app</h3>
        <p i18n="@@HowApp__Description">Users of Orchid run a client similar to a typical VPN client for protocols such
          as OpenVPN, but which speaks the Orchid protocol. The Orchid network client goes past the basic functionality
          offered by most VPN clients, with features such as the ability to run traffic through an integrated personal
          firewall. The Orchid client is accessible via iOS, Android, macOS, Linux, and (soon) Windows.</p>
        <h4><a href="/download" i18n="@@HowApp__Link">Get the pre-release version of the app today!</a></h4>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/app.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <section class="explainer">
    <a id="oxt" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__progress">
        <a class="explainer__dot" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot active" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#protocol"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nanopayments"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#staking"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowOxt__Title">The Orchid cryptocurrency (OXT)</h3>
        <div i18n="@@HowOxt__Content">
          <p>OXT’s primary and fundamental purpose is to keep track of who has used computing services, who has provided
            computing services, and whether the average user is fairly compensating the average provider.</p>
          <p>The OXT token provides value in the Orchid network in a number of ways:</p>
          <ul>
            <li>A Bandwidth Provider - Anyone can operate an Orchid Node, but must first stake OXT, with the more OXT
              that is staked, the greater the chances of reward in the Network.</li>
            <li>A Bandwidth User- For the first time, users can pay-on-the-fly for a private, secure internet
              connection. To power up the client, a user installs the Orchid VPN, adds OXT to a wallet, and then can
              access the internet through a user-chosen path to ensure a secure connection anywhere in the world. Users
              only pay for the bandwidth they consume.</li>
          </ul>
          <p>The bandwidth marketplace is peer-to-peer and run in a completely decentralized manner without reliance on
            any central party. The primary reasons for a native token are:</p>
          <ol>
            <li>To have a token that is specifically tied to consumption of bandwidth on the Orchid network</li>
            <li>To align operator incentives towards the benefit of the Orchid Network.</li>
          </ol>
          <p>Accordingly, in addition to facilitating bandwidth transactions on the Network, the Orchid Token is used to
            prove a stake within the Orchid network that is intended to demonstrate a commitment for bandwidth
            providers, as well as to mitigate certain risks.</p>
        </div>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/token.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <section class="explainer">
    <a id="protocol" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__progress">
        <a class="explainer__dot" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot active" href="/how-it-works#protocol"><img
            src="/assets/img/how-it-works/progress-dot.svg" alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nanopayments"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#staking"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowProtocol__Title">The Orchid Protocol</h3>
        <p i18n="@@HowProtocol__Description">The Orchid software is designed to use a custom VPN protocol, similar in
          scope to OpenVPN or WireGuard. The Orchid protocol is designed for high-performance networking and runs on top
          of WebRTC, a common web standard, widely used to transmit video and audio from inside browsers. Our protocol
          is intended to allow users to request access to remote network resources and pay for these resources using OXT
          via a nanopayments system.</p>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/protocol.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <section class="explainer">
    <a id="nanopayments" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__progress">
        <a class="explainer__dot" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#protocol"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot active" href="/how-it-works#nanopayments"><img
            src="/assets/img/how-it-works/progress-dot.svg" alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#staking"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowNano__Title">Nanopayments</h3>
        <div i18n="@@HowNano__Content">
          <p>Orchid uses a new probabilistic nanopayment system to scale payment throughput.</p>
          <p>This nanopayment system is the foundation of the Orchid peer to peer bandwidth marketplace where clients
            pay Node operators OXT “tickets” for proxy bandwidth. The system is designed to lower the transaction fees
            on small payments by amortizing transaction fees across many transactions and even across multiple parties.
          </p>
          <p>For more information, see our recent article: Introducing Nanopayments</p>
        </div>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/nano.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <section class="explainer">
    <a id="nodes" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__progress">
        <a class="explainer__dot" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#protocol"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nanopayments"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot active" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#staking"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowNodes__Title">Nodes</h3>
        <div i18n="@@HowNodes__Content">
          <p>Service providers on Orchid run software similar to a typical VPN daemon for protocols such as OpenVPN, but
            which speaks the Orchid protocol.</p>
          <p>Orchid nodes maintain registration information in a stake registry and provider directory on Ethereum. The
            stake registry is optimized for enabling the Orchid app to automatically discover random servers in a
            decentralized environment, while the provider directory allows Orchid nodes to register metadata such as
            geolocation or additional services offered.</p>
        </div>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/node.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <section class="explainer">
    <a id="staking" class="anchor"></a>
    <div class="explainer__container">
      <div class="explainer__progress">
        <a class="explainer__dot" href="/how-it-works#app"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#oxt"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#protocol"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nanopayments"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot" href="/how-it-works#nodes"><img src="/assets/img/how-it-works/progress-dot.svg"
            alt=""></a>
        <a class="explainer__dot active" href="/how-it-works#staking"><img
            src="/assets/img/how-it-works/progress-dot.svg" alt=""></a>
      </div>
      <div class="explainer__text">
        <h3 i18n="@@HowStaking__Title">Staking</h3>
        <div i18n="@@HowStaking__Content">
          <p>A provider stakes some number of OXT tokens to create a stake deposit.</p>
          <ul>
            <li>Anyone can stake OXT on nodes using the smart contract.</li>
            <li>Clients select new nodes in proportion to their relative OXT deposit size.</li>
            <li>Larger stake deposits thus lead to proportionally more users, bandwidth, and revenue.</li>
            <li>If the node is already at max bandwidth capacity additional stake is effectively wasted.</li>
          </ul>
          <p>
            Once tokens have been locked into a stake deposit they can be used immediately for bandwidth provisioning.
            If the provider wants to withdraw tokens from the staking contract, they have to start an ‘unlocking’
            process period, which involves a three month cooldown where their funds cannot be used as a stake deposit or
            transferred elsewhere by the provider.
          </p>
          <p>
            Whatever the amount of value that is exchanged in the Orchid ecosystem, a given seller’s relative stake
            amount, as a percentage of the total stake, provides them that same percentage of user traffic and dealflow.
            Assuming typical and honest selling behavior (no users drop them for bad service) this dealflow will
            translate into a similar portion of the total revenue. The staking decisions of sellers is left to their own
            choices.
          </p>
        </div>
      </div>
      <div class="explainer__image">
        <img src="/assets/img/how-it-works/stake.svg" alt="">
      </div>
      <div class="explainer__bottom">
        <a class="explainer__to-top" href="/how-it-works#top"><img src="/assets/img/how-it-works/angle-up.svg"
            alt="back to top"></a>
      </div>
      <div class="explainer__connector"></div>
    </div>
  </section>
  <!-- end explainers -->
</div>

<div class="bk-lavender whitepaper-section">
  <div class="explainer__finish"><img src="/assets/img/how-it-works/dash-end-cap.svg" alt=""></div>
  <section class="section-med hpad-wide vpad-wide overflow-hidden">
    <div id="read-whitepaper">
      <div class="pos-relative">
        <img id="read-whitepaper-adorner" src="/assets/img/network/read-whitepaper.svg">
        <button (click)="downloadWhitepaper()" class="btn-primary z-index-1" i18n="@@ReadOurWhitepaper">
          Read our Whitepaper
        </button>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>