@import 'orc_config';
@import 'media_queries';
@import 'misc_config';

// HERO SECTION

.how-hero {
  .content {
    max-width: 39rem;
    padding-bottom: 200px;

    @include mobile {
      padding-bottom: 2rem;
      padding: 2rem
    }

    & > p {
      max-width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .satellite-1 {
    & > img {
      display: none;
    }
    background-image: url('/assets/img/how-it-works/satellite-1.svg');
    background-repeat: no-repeat;
    background-position: 72vw center;
    width: 100%;
    height: 446px;
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: 1570px) {
      background-position: calc(50% + 658px);
    }

    @media (max-width: 1269px) and (min-width: 1096px + 1) {
      background-position: 74vw;
    }

    @media (max-width: 1096px) and (min-width: $mobile-width + 1) {
      background-size: 62%;
      background-position: 77vw;
    }

    @include mobile {
      background: none;
      position: relative;
      height: unset;
      max-height: 50vh;
      & > img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
      }
    }
  }

}


// CORE COMPONENTS SECTION

.core {
  & > * {
    box-sizing: border-box;
  }
  .satellite-2 {
    background-image: url('/assets/img/how-it-works/satellite-2.svg');
    background-repeat: no-repeat;
    background-position: -21vw center;
    width: 100%;
    height: 674px;
    position: absolute;
    top: -469px;
    left: 0;

    & > img {
      display: none;
      max-width: 100%;
    }
  }
  .content {
    max-width: 54rem;
  }
  h2 > span {
    display: block;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
  }
  .button {
    text-decoration: none;
    display: block;
    border-radius: 12px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: $size-body-md;
    color: $orc-rock-gray;
  }
}

@media (min-width: 1570px) {
  .core {
    .satellite-2 {
      background-position: calc(50% - 608px);
    }
  }
}

@media (max-width: 1376px) and (min-width: $mobile-width + 1) {
  .core {
    .satellite-2 {
      background-size: 56%;
      top: -404px;
    }
  }
}

@include mobile {
  .core {
    padding-top: 2rem;

    .satellite-2 {
      max-height: 50vh;
      position: relative;
      top: 0;
      margin-bottom: -40px;
      background: transparent;
      height: unset;
      padding: 0 2rem;

      & > img {
        display: block;
      }
    }
    .buttons {
      grid-template-columns: 1fr;
    }
    .button {
      font-size: $size-body-md-mobile;
    }
  }
}


// WHITE PAPER SECTION

.whitepaper-section { padding: 3em 0; text-align: center; }
#read-whitepaper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include mobile {
	justify-content: center;
	margin: 1rem 0 1rem;
    }
}

#read-whitepaper-adorner {
    position: absolute;
    left: -2rem;
    top: -5rem;
}
