@import 'orc_config';
@import 'media_queries';
@import 'misc_config';

// HERO SECTION

.how-hero {
  .content {
    max-width: 39rem;
    padding-bottom: 200px;

    & > p {
      max-width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .satellite-1 {
    background-image: url('/assets/img/how-it-works/satellite-1.svg');
    background-repeat: no-repeat;
    background-position: 72vw center;
    width: 100%;
    height: 446px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .satellite-2 {
    background-image: url('/assets/img/how-it-works/satellite-2.svg');
    background-repeat: no-repeat;
    background-position: -21vw center;
    width: 100%;
    height: 674px;
    position: absolute;
    bottom: -199px;
    left: 0;
  }
}

.core {
  .content {
    max-width: 54rem;
  }
  h2 > span {
    display: block;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
  }
  .button {
    text-decoration: none;
    display: block;
    border-radius: 12px;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    font-size: $size-body-md;
    color: $orc-rock-gray;

    @include mobile {
      font-size: $size-body-md-mobile;
    }
  }
}




// WHITE PAPER SECTION

.whitepaper-section { padding: 3em 0; text-align: center; }
#read-whitepaper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    @include mobile {
	justify-content: center;
	margin: 1rem 0 1rem;
    }
}

#read-whitepaper-adorner {
    position: absolute;
    left: -2rem;
    top: -5rem;
}
