<div class="priv8-signup-wrapper bk-faint-gray">
	<div class="priv8-signup-container">
		<img src="/assets/img/priv8/priv8_social-slim.jpg" width="2011" height="794">
		<div class="priv8-signup-inner">
			<h2>Sign up for Priv8!</h2>
			<p>
				Each day of the summit will focus on a different aspect of digital privacy, from how we communicate, to how we transact, to how we live in an era of pervasive digital surveillance.
			</p>
			<app-newsletter-signup-core class="slim" [priv8]="true"></app-newsletter-signup-core>
		</div>
	</div>
</div>