@import "media_queries";
@import "misc_config";
@import "orc_config";

.contact-section {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 1rem;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.contact-page-card {
	background: #fff;
	border: 1px solid $orc-beige;
	padding: 1rem;
	margin: 1rem;
	font-size: 0.82rem;
}
.contact-page-card-header {
	font-size: 1rem;
	font-weight: bold;
}
.contact-page-card-seperator {
	border-top: 2px solid #c8c6c8;
	margin: 0.5rem 0;
	margin: calc(0.5rem - 1px) 0;
	box-sizing: border-box;
	width: 100%;
}

.contact-page-card-list {
	list-style: none;
	padding: 0;
	& > li > a {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0.25rem;
	}
}
.contact-page-card-list > li img {
	margin-right: 5px;
	width: auto;
	height: auto;
}

.contact-form-container {
	display: none;
}
.contact-form-disabled {
	position: relative;
	pointer-events: none;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.contact-form-container.js {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact-form-input-wrapper {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	margin: 1rem;
	&:nth-child(1),
	&:nth-child(2) {
		@include not-mobile {
			width: calc(50% - 2rem);
		}
	}
	&.invalid {
		&:after {
			display: block;
			content: "*";
			color: red;
			position: absolute;
			top: 0;
			right: 0;
			padding: 0.5rem;
		}
	}
}

.contact-form-container input[type="text"],
.contact-form-container input[type="email"],
.contact-form-container textarea {
	border: none;
	box-sizing: border-box;
	box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0rem 0rem rgba(255, 0, 0, 0.2);
	transition: box-shadow 0.25s ease;
	padding: 0.8rem 0.5rem;

	&.invalid {
		box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0.1rem 0.25rem rgba(255, 0, 0, 0.2);
	}
	border-radius: 8px;
	min-height: 3rem;
}

.contact-form-container textarea {
	min-height: 6rem;
	@include not-mobile {
		min-height: 12rem;
	}
	&::placeholder {
		white-space: normal;
	}
}

.contact-form-message {
	width: 100%;
	padding: 0.5rem;
	margin: 0.5rem 1rem;
	border: 1px solid $orc-beige;

	display: none;
	&.active {
		display: block;
	}
}
.contact-form-error {
	background: rgba(255, 0, 0, 0.1);
}

.contact-form-container button {
	margin: 1rem;
	@include not-mobile {
		min-width: 10rem;
	}
}
.contact-form-container button + button {
	margin-left: 0rem;
}
