@use "sass:math";
@import "feature_list";
@import "media_queries";
@import "misc_config";
@import "orc_config";
.download-page {
	.background-gray {
		background: #fbfbf9;
	}

	#top {
		width: 100%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@include mobile {
			padding-top: 1rem;
		}

		h3 {
			padding: 3.5rem;
			padding-bottom: 1rem;

			@media (max-width: 800px) {
				padding: 2rem;
				padding-bottom: 0;
			}
		}

		.img-container {
			margin: 0 auto;
			width: 80%;
			max-width: 860px;

			img {
				width: 100%;
				height: auto;
			}
		}
	}

	#app-description {
		padding-bottom: 0;

		h3 {
			color: $orc-rock-gray;
			margin-bottom: 1rem;
		}

		h3 > span {
			@include mobile {
				display: block;
				margin-top: 1em;
			}
		}
	}

	#instructions {
		overflow: hidden;
		@media (max-width: 800px) {
			padding-bottom: 1rem;
		}

		h4 {
			text-align: center;
			margin: 0 auto 0 auto;
			color: $orc-rock-gray;
		}

		a {
			text-decoration: none;
			font-weight: 700;
		}

		.row {
			display: flex;
			flex-flow: row wrap;
			margin: auto;
			max-width: 950px;

			include mobile {
				flex-wrap: wrap;
			}

			width: 100%;
			justify-content: center;
			align-items: stretch;

			// > * { margin: auto 8px; }

			.divider {
				width: 2px;
				background: rgba($orc-purple, 0.5);
				flex: 0 1 auto;
				margin: 0px 15px;

				@include mobile {
					display: none;
				}
			}

			.column {
				// flex: 0 1 auto;
				flex: 1 0 0;
				min-width: 250px;
				max-width: calc(50% - 16px);
				overflow: hidden;

				@include mobile {
					flex: 0 1 auto;
				}

				li {
					padding-left: 10px;
				}

				&.left {
				}

				&.right {
				}
			}
		}
	}

	.download-images__wrapper {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		max-width: 1200px;
		margin: auto;
		margin-bottom: 2rem;

		@media (max-width: 1100px) {
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
		}
	}

	.download-instructions__mobile-only {
		@media (min-width: 800px) {
			display: none;
		}
	}

	.download-instructions__desktop-only {
		@media (max-width: 799px) {
			display: none;
		}
	}

	.download-images__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 250px;
		margin: 50px 70px 0;
	}

	.download-images__circle {
		margin-top: -100%;
		position: relative;
		z-index: 0;
		width: 130%;
	}

	.download-images__device {
		position: relative;
		z-index: 2;
		max-width: 80%;
		margin: 2rem auto;

		&.mac {
			margin-bottom: 10%;
			max-width: unset;
			width: 120%;
			margin: 1rem -10% 2rem;

			@media (min-width: 1100px) {
				width: 190%;
				margin: 72.8% -45% 3rem;
			}
		}
	}

	.download-opensource__section {
		position: relative;
		padding: 2rem 0 0 0;

		@media (min-width: 1050px) {
			padding: 5rem 0 8.75rem 0;
		}
	}

	.download-opensource__text {
		text-align: center;
		max-width: 600px;
		width: 90%;
		width: calc(100% - 4rem);
		margin: auto;

		& > p {
			text-align: left;
		}

		button {
			display: flex;
			align-items: center;
		}

		& > a {
			img {
				margin-right: 0.5em;
			}

			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			font-weight: 700;
		}
	}

	.download-opensource__image {
		margin: auto;
		display: block;

		@media (max-width: 1050px) {
			margin-top: 2rem;
			max-width: 90%;
			margin-bottom: -2rem;
		}

		@media (min-width: 1050px) {
			position: absolute;
			bottom: 50%;
			right: 50%;
			margin-right: 17rem;
			margin-bottom: -4rem;
		}
	}

	.text-center {
		text-align: center;
	}

	ul.download-instructions__list {
		text-align: center;
		list-style: none;
		padding-left: 0;

		& > li {
			padding-left: 0 !important;
		}
	}
}
