@use "sass:math";
@import "feature_list";
@import "media_queries";
@import "misc_config";
@import "orc_config";
.get-orchid-page {
	.common-shadow-flat {
		box-shadow: 0px 2px 10px 0px $orc-beige;
	}
	.common-shadow {
		box-shadow: 0px 4px 20px 0px $orc-beige;
		@include mobile {
			box-shadow: 0px 2px 10px 0px $orc-beige;
		}
	}

	a {
		text-decoration: none;
	}

	.hero__content > h2 {
		font-size: 40px;
	}
	.hero__content > h3 {
		font-size: 24px;
		color: inherit;
	}
	.section-heading,
	.section-button {
		margin: 2rem auto;
		display: block;
		text-align: center;

		@include not-mobile {
			margin: 3.5rem auto;
		}
	}
	.section-heading {
		margin-top: 0;
	}
	.section-button {
		margin-bottom: 0;
	}

	$wavy-width: 40%;
	.wavy-shared {
		position: relative;
		width: 100%;
		display: block;
		&::after {
			content: "";
			display: block;
			background-size: auto 100%;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			top: 0;
			height: 100vmin;
		}
	}

	$wavy-bp: 80rem;
	$wavy-size: 50rem;
	$wavy-margin: 25rem;
	.wavy-right {
		background-position: top left;
		left: (100% - $wavy-width);
		width: $wavy-width;

		@media (min-width: $wavy-bp) {
			left: 50%;
			margin-left: $wavy-margin;
			width: $wavy-size;
			height: $wavy-size;
			background-size: contain;
		}
	}
	.wavy-left {
		background-position: top right;
		left: 0;
		width: $wavy-width;

		@media (min-width: $wavy-bp) {
			left: unset;
			right: 50%;
			margin-right: $wavy-margin;
			width: $wavy-size;
			height: $wavy-size;
			background-size: contain;
		}
	}
	.wavy-element-02 {
		@extend .wavy-shared;
		&::after {
			@extend .wavy-left;
			background-image: url(/img/index/wavy-lines-02.svg);
		}
		@include not-mobile {
			display: none;
		}
	}
	.wavy-element-03 {
		@extend .wavy-shared;
		&::after {
			@extend .wavy-right;
			background-image: url(/img/index/wavy-lines-03.svg);
		}
		@include mobile {
			display: none;
		}
	}

	.container-common {
		@extend .common-shadow;
		position: relative;
		z-index: 1;
		padding: 1rem;
		border-radius: 1rem;
		margin: 2rem auto;
		@include not-mobile {
			border-radius: 2rem;
			padding: 3.5rem 2rem;
			margin: 3.5rem auto;
		}
		background: white;
		max-width: 90%;
		width: 60rem;
		box-sizing: border-box;
	}

	.page__header {
		margin: 1rem 0;
	}

	.hero__wrapper {
		padding: 2rem 0;
	}

	.hero__content {
		padding: 1rem;
		margin: 1rem auto;
		max-width: 56rem;
		width: 100%;
		box-sizing: border-box;
		h3 {
			font-size: 28px;
		}

		&.center {
			text-align: center;
			max-width: 44rem;
		}
		&.disclaimer {
			& > p {
				text-align: center;
				font-size: 14px;
			}
		}
	}

	.hero__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.hero__card {
		--active-color: #d5d7e2;
		&.center {
			--active-color: #2ebf8b;
			.card__header {
				font-size: 28px;
			}
			.card__header,
			&::after {
				color: white;
			}
			&::after {
				content: "✔ Most Popular";
				display: block;
				font-weight: 600;
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: var(--active-color);
				width: 60%;
				height: 2rem;
				line-height: 2rem;
				border-radius: 1rem;
			}
		}
	}
	.hero__card {
		@extend .common-shadow;
		text-align: center;
		position: relative;
		background-color: white;
		width: 100%;
		max-width: 16rem;
		margin: 1rem;
		border-width: 0.15rem;
		border-style: solid;
		border-color: var(--active-color);
		border-radius: 1rem;
		box-sizing: border-box;

		.card__body,
		.card__header {
			padding: 0.5rem;
			width: 100%;
			display: block;
			box-sizing: border-box;
		}
		.card__body {
			min-height: 10rem;
			& > h3 {
				font-size: 24px;
				margin: 0.25rem 0 0.5rem;
				&::after {
					content: "USD";
					font-size: 50%;
				}
			}
			& > b {
				margin: 0.5rem 0;
				display: inline-block;
			}
			& > p {
				font-weight: 400;
				font-size: 14px;
			}
		}
		.card__header {
			font-size: 24px;
			font-weight: 600;
			border-radius: 1rem 1rem 0 0;
			width: 100%;
			background-color: var(--active-color);
			box-shadow: 0 0 0 2px var(--active-color);
		}

		&.center .card__body {
			padding-bottom: 1.5rem;
			& > h3 {
				font-size: 60px;
			}
		}
	}

	.platforms__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h4 {
			margin: 1rem 0 0.25rem;
			@include mobile {
				margin: 0.25rem 0 0 0;
			}
			font-size: 18px;
		}
		.download-images__container {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			margin: 1rem 0;
			max-width: 13rem;
			width: 100%;
			& > img {
				width: 8rem;
				&.download-images__device {
					position: relative;
					z-index: 1;
					width: 6rem;
					margin-bottom: -7.5rem;
					&.mac {
						width: 11rem;
						margin-bottom: -7rem;
					}
				}
			}
		}
	}
	.perks {
		border: 0.15rem solid #d5d7e2;
		border-radius: 1rem;
		margin: auto;
		box-sizing: border-box;
		width: 100%;
		padding: 1rem;
		max-width: 42rem;
		h3 {
			color: inherit;
		}
		.perks__row {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		.perks__column {
			display: flex;
			flex-direction: column;
			max-width: 19rem;
			width: 100%;
			.perks__item {
				padding-left: 1rem;
				margin: 0.5rem 0;
				position: relative;
				&::before {
					content: "✔";
					position: absolute;
					top: 0;
					left: 0;
					width: 1rem;
					height: 1rem;
					color: $orc-green-bright;
				}
			}
		}
	}
}
