@use "sass:math";
@import "media_queries";
@import "misc_config";
@import "orc_config";

.join-page {
	$join-grid-breakpoint: 1114px;

	font-size: 18px;
	font-weight: 500;

	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 24px;
		margin: 2rem 0 1rem 0;
		color: var(--orc-rock-gray);

		@include mobile {
		}
	}

	.join__grid {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		@media (min-width: $join-grid-breakpoint) {
			flex-direction: row;
		}
	}

	.join__bunny-container {
		margin: 1rem 0;

		& > img {
			max-width: 100%;
		}

		@media (min-width: $join-grid-breakpoint) {
			width: 400px;

			& > img {
				max-width: unset;
				width: 400px;
			}
		}
	}

	.join__intro {
		max-width: 630px;

		ul {
			display: block;
			text-align: left;
			margin-bottom: 1rem;
		}
	}

	.join-video-container {
		box-sizing: border-box;
		max-width: 525px;
		margin: auto;
	}

	.video {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		width: 100%;
		border-radius: 24px;
		overflow: hidden;

		& > #fallback-iframe {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			background-image: url("/img/join/join-video-screencap.png");
			background-size: cover;
			background-position: center;
			box-shadow: inset 0px 0px 10px rgba($color: #000000, $alpha: 0.1);

			& > svg {
				width: 68px;
				height: auto;
			}

			& .ytp-large-play-button-bg {
				transition: fill 0.5s ease, fill-opacity 0.05s ease;
			}

			&:hover .ytp-large-play-button-bg {
				fill: #f00;
				fill-opacity: 1;
			}
		}

		& > iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.join-steps {
		padding: 3rem 5rem;
		border-radius: 2rem;
		@media (max-width: ($join-grid-breakpoint - 1px)) {
			border-radius: 1rem;
			padding: 2rem;
		}
		box-shadow: 0px 4px 24px 0px #00000026;
		max-width: 1170px;
		width: 95%;
		width: calc(100% - 2rem);
		box-sizing: border-box;
		margin: 2rem auto;
	}

	.join-step {
		display: flex;
		--number-size: 75px;
		padding-top: 1rem;
		@media (max-width: ($join-grid-breakpoint - 1px)) {
			--number-size: 70px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media (min-width: $join-grid-breakpoint) {
			align-items: flex-start;
			justify-content: space-between;
			.join-step__content {
				width: calc(100% - (var(--number-size) + 2rem));
				text-align: left;
			}
		}
	}

	.join-steps__grid {
		display: block;
		@media (max-width: ($join-grid-breakpoint - 1px)) {
			--number-size: 70px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	.join-step__content {
		background: #fff;
		text-align: center;
		& > h3 {
			@media (min-width: $join-grid-breakpoint) {
				margin-top: 0;
			}
		}

		& > * + * {
			margin-bottom: 1.3rem;
		}

		& > a {
			display: block;
		}

		a {
			text-decoration: none;
			font-weight: bold;
		}

		hr {
			border-top: 1px solid #b88dfc;
			margin-left: 1rem;
			margin-right: 1rem;
			max-width: 260px;

			@media (max-width: $join-grid-breakpoint) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.join-number {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 3;
		background-color: $orc-purple;
		font-family: $orc-tf-primary;
		text-align: center;
		width: var(--number-size);
		height: var(--number-size);
		border-radius: var(--number-size);
		text-decoration: none;
		color: #fff;
		position: relative;
		border: 22px solid var(--section-bg);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

		max-width: 100px;
		max-height: 100px;
	}

	.join-number__numeral {
		font-size: 48px;
		line-height: 1;
	}

	.join-number__label {
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		margin-top: 7px;
	}

	.standout {
		font-size: $size-body-md;
		color: $orc-purple-gray;
	}

	.join-step__play-skip {
		@media (max-width: $join-grid-breakpoint) {
			display: none !important;
		}

		& > img {
			display: block;
			margin: auto;
		}
	}
	.join-apps {
		a {
			margin: auto;
			display: block;
		}
		@media (min-width: $join-grid-breakpoint) {
			a {
				margin: 0;
				display: unset;
			}
			a + a {
				margin-left: 0.5rem;
			}
		}
	}

	.more-questions {
		position: relative;

		p {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
		}
	}

	.app-store-badges {
		display: flex;
		flex-direction: column;

		& > * + * {
			margin-top: 1rem;
		}
	}

	.app-store-badge:first-child > img {
		max-width: 162px;
	}

	.app-store-badge > img {
		max-width: 167px;
	}
}
