.quiz-page {
	text-align: center;
	padding: 2rem 0.5rem;
	width: 100%;
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
