@import "media_queries";
@import "misc_config";
@import "orc_config";
@import "styles";
.webinar-page {
	.webinar__splash {
		@extend .section-wide;
		@extend .hpad-wide;

		padding-top: $pad-wide;
		padding-bottom: $pad-wide;

		// pointer-events: none;

		display: flex;
		justify-content: center;
		align-items: center;

		@include mobile {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-bottom: 2rem;
			padding-top: 0;
		}
	}

	.webinar__splash-text-container {
		flex-basis: 50%;
		position: relative;
		z-index: 2;

		h1 {
			font-size: 3rem;
			margin: 0.5rem 0 1rem 0;
			@include mobile {
				font-size: 2rem;
				text-align: center;
			}
		}
		h2 {
			color: $orc-rock-gray;
			margin: 0.5rem 0 1rem 0;
			font-size: 36px;
			@include mobile {
				font-size: 30px;
				text-align: center;
			}
		}
		p {
			max-width: 480px;
		}
		.medium {
			@include mobile {
				text-align: center;
			}
		}
		.big {
			font-size: 160%;
		}
		@include mobile {
			text-align: center;
		}
		.webinar__buttons {
			display: flex;
			& > * + * {
				margin-left: 1rem;
			}
			@media (max-width: 1166px) {
				justify-content: center;
			}
			@media (max-width: 538px) {
				flex-direction: column;
				& > * + * {
					margin-left: 0;
				}
			}
		}
		.webinar-signup__button {
			font-size: 16px;
		}
	}

	.webinar__splash-image-container {
		width: 100%;
		max-width: 800px;
		flex-basis: 50%;
		@include mobile {
			max-width: 620px;
		}

		img {
			width: 100%;
			height: auto;
		}
		grid-area: image;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		position: relative;

		@media (min-width: 1440px) {
			// margin-bottom: -100px;
		}

		> img {
			width: 71%;
			height: auto;
			position: relative;
			z-index: 1;

			@include mobile {
				//width: auto;
				max-width: 100%;
			}
		}
	}

	.webinar__splash-image-container:before {
		content: " ";
		display: block;
		position: absolute;
		top: 0;
		left: -33.3333%;
		height: 100%;
		width: 205%;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: top left;
		// background-image: url(/assets/img/company/splash/splash-background.svg);
		// pointer-events: none;
	}
}
