@import 'media_queries';
@import 'misc_config';
@import "orc_config";

.hero__text {
	width: 57%;
	margin-bottom: 10em;
	position: relative;
	z-index: 10;
	@media (max-width:1200px) {
		width: 100%;
		margin-bottom: 40vw;
	}
}

.hero__image {
	position: absolute;
	bottom: 0;
	left: 40%;
	width: 60%;
	height: 75%;
	background-image: url('/assets/img/partners/Partner_Bunnies.svg');
	background-position: bottom left;
	background-size: contain;
	background-repeat: no-repeat;
	
	@media (max-width:1200px) {
		background-position: bottom center;
		left: 5%;
		width: 90%;
		height: 60vw;
	}
}

.hero__patterning, .hero__patterning::before, .hero__patterning::after {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	content: ' ';

}
.hero__patterning {
	&::before {
		left: unset;
		right: 0%;
		top: 10%;
		width: 10em;
		height: 10em;
		background-image: url(/assets/img/partners/dashed-circle.svg);
	}
	&::after {
		top: 70%;
		width: 7em;
		height: 7em;
		background-image: url(/assets/img/partners/solid-circle.svg);
	}
}

.partners-hero::after {
	content: ' ';
	pointer-events: none;
	position: absolute;
	top: 65%;
	left: 15%;
	width: 20vmin;
	height: 100vmin;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(/assets/img/partners/first-circuit.svg);
}

.btn__hero {
	padding-left: 2.5em;
	padding-right: 2.5em;
}

.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.card {
	max-width: 100%;
	width: 360px;
	margin: 1em;
	a {
		text-decoration: none;
		color: $orc-rock-gray;
	}
}
.card-header {
	position: relative;
	z-index: 2;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	border: 1px solid #D5D7E2;
	border-radius: 5px;
	height: 100px;
	img {
		max-width: 75%;
	}
}
.card-body {
	background: white;
	width: 100%;
	width: calc(100% - 2em);
	padding: 2em 2em 4em 2em;
	box-sizing: border-box;
	margin: auto;
	box-shadow: 0px 10px 16px rgba(0,0,0,0.1);
	position: relative;

	p {
		min-height: 175px;
	}
	p::after {
		content: '"';
		text-overflow: none;
	}

	&::after {
		content: "LEARN MORE";
		font-weight: bold;
		color: $orc-purple;
		position: absolute;
		right: 2em;
		bottom: 2em;
	}
}

.patterning-instance-1, .patterning-instance-2 {
	width: 100%;
	max-width: 1000px;
	height: 0px;
	position: relative;
	pointer-events: none;
	margin: auto;

	&::before, &::after {
		content: ' ';
		position: absolute;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.patterning-instance-1 {
	&::before {
		left: 15%;
		top: -2.5em;
		width: 10em;
		height: 10em;
		background-image: url(/assets/img/partners/thick-dashed-circle.svg);
	}
	&::after {
		right: 0;
		top: -10em;
		width: 40vmin;
		max-width: 250px;
		height: 100vmin;
		background-image: url(/assets/img/partners/second-circuit.svg);
	}
}
.patterning-instance-2 {
	&::before {
		right: 0;
		top: -5em;
		width: 10em;
		height: 10em;
		background-image: url(/assets/img/partners/second-dashed-circle.svg);
	}
	&::after {
		left: -5em;
		top: -10vmin;
		width: 40vmin;
		max-width: 250px;
		height: 100vmin;
		background-image: url(/assets/img/partners/third-circuit.svg);
	}
}