<div class="partners-hero bk-beige-light">
	<section class="section-med hpad-wide vpad-xl center-text z-index-1">
		<div class="hero__text">
			<h1 class="partners-hero__title">Orchid Partnerships</h1>
			<br />
			<p class="partners-hero__subtitle">
				Orchid partners with companies around the world to advance our mission of making the internet a safer,
				more private place for everyone.
			</p>
			<br />
			<a href="/contact">
				<button class="btn-primary btn__hero z-index-1">Discuss Partnership</button>
			</a>
		</div>
		<div class="hero__patterning"></div>
		<div class="hero__image">
		</div>
	</section>
</div>

<div class="partners-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">
			<div class="center-text">
				<h2>VPN Partners</h2>
			</div>

			<div class="cards-wrapper">
				<div class="card">
					<a href="https://blog.orchid.com/pia-bringing-trusted-private-bandwidth-to-orchid-users/">
						<div class="card-header">
							<img alt="Private Internet Access" src="/assets/img/partners/pia.png">
						</div>
						<div class="card-body">
							<p>
								We value PIA's commitment to maintaining the highest standards of privacy, while
								simultaneously providing one of the most reliable VPN services in the world…
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="https://blog.orchid.com/orchid-partners-with-bolehvpn/">
						<div class="card-header">
							<img alt="Boleh VPN" src="/assets/img/partners/boleh.png">
						</div>
						<div class="card-body">
							<p>
								The alliance with BolehVPN, one of the most trusted names in trusted browsing, brings
								the dream of a genuinely secure and private internet closer to fruition.
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="https://blog.orchid.com/orchid-partners-with-vpnsecure/">
						<div class="card-header">
							<img alt="VPNSecure" src="/assets/img/partners/vpnsecure.png">
						</div>
						<div class="card-body">
							<p>
								At Orchid, we’re always happy to partner with like-minded firms and individuals, and for
								years we’ve admired the work that VPNSecure has done in the privacy and security space.
							</p>
						</div>
					</a>
				</div>
			</div>

		</section>
	</div>
</div>

<div class="patterning-instance-1"></div>

<div class="partners-wrapper bk-lavender">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">
			<div class="center-text">
				<h2>Wallet Partners</h2>
			</div>

			<div class="cards-wrapper">
				<div class="card">
					<a href="https://blog.orchid.com/orchid-integrates-with-imtoken/">
						<div class="card-header">
							<img alt="imToken" src="/assets/img/partners/imtoken.png">
						</div>
						<div class="card-body">
							<p>
								imToken has done great work in building a secure and user-friendly product… users will
								now have an easy way to hold their OXT and use it to buy private bandwidth.
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="https://blog.orchid.com/orchid-partners-with-trustwallet/">
						<div class="card-header">
							<img alt="TrustWallet" src="/assets/img/partners/trustwallet.png">
						</div>
						<div class="card-body">
							<p>
								TrustWallet is a leader in cryptocurrency wallets; integration with the app means that
								many more users will have an easy way to hold, trade, and transfer OXT.
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="https://blog.orchid.com/oxt-available-on-bitgo/">
						<div class="card-header">
							<img alt="BitGo" src="/assets/img/partners/bitgo.png">
						</div>
						<div class="card-body">
							<p>
								Our goal is to make the internet a safer, more free place. BitGo provides that same
								sense of security to our institutional partners, in a streamlined experience.
							</p>
						</div>
					</a>
				</div>
			</div>

		</section>
	</div>
</div>

<div class="partners-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">
			<div class="center-text">
				<h2>Exchange Partners</h2>
			</div>

			<div class="cards-wrapper">
				<div class="card">
					<a href="https://blog.orchid.com/oxt-now-live-on-bittrex-global/">
						<div class="card-header">
							<img alt="Bittrex" src="/assets/img/partners/bittrex.png">
						</div>
						<div class="card-body">
							<p>
								Making OXT widely available for our users in Europe and around the world is an important
								step in making it easy for anyone to start using it to pay for private bandwidth.
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a
						href="https://blog.orchid.com/orchid-continues-global-expansion-with-gemini-oxt-listing-coming-soon/">
						<div class="card-header">
							<img alt="Gemini" src="/assets/img/partners/gemini.png">
						</div>
						<div class="card-body">
							<p>
								Gemini's established history as a globally licensed, trusted name in crypto markets make
								them a perfect partner for Orchid as we continue making OXT widely available.
							</p>
						</div>
					</a>
				</div>

				<div class="card">
					<a href="https://blog.orchid.com/oxt-now-live-on-okex/">
						<div class="card-header">
							<img alt="OKEx" src="/assets/img/partners/okex.png">
						</div>
						<div class="card-body">
							<p>
								OKEx listing Orchid makes it easier for international users to acquire OXT and start
								using it to access private bandwidth; this is an important day for the growth of
								internet freedom.
							</p>
						</div>
					</a>
				</div>
			</div>

		</section>
	</div>
</div>

<div class="patterning-instance-2"></div>


<app-newsletter-signup></app-newsletter-signup>