<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EminGunSirer_Webpage.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                April 6, 2021
                            </div>
                            <h3>
                                Episode 43: Emin Gün Sirer
                            </h3>
                            <p>
                                We go down the rabbit hole with Emin Gün Sirer, Founder and CEO of Ava Labs, the team behind the Avalanche blockchain platform. A leader in peer-to-peer systems, he shares his thoughts on how to build trust, transparency, and privacy with decentralizing technologies.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/blockchain-privacy-and-transparency-with-emin-g%C3%BCn-sirer/id1516705670">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/4gBDbKvabkAO9h7JxWFHRk">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/blockchain-privacy-and-transparency-with-emin-gun-sirer-82993367">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Blockchain-Privacy-and-Transparency-with-Emin-G%C3%BCn-Sirer-id2954358-id371324459">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-mrrj4-dbbb84a">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>