<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_YTal.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                December 23, 2020
                            </div>
                            <h3>
                                Episode 29: Yaniv Tal
                            </h3>
                            <p>
                                Go down the rabbit hole with Yaniv Tal, Project Lead at Graph Protocol. We take a deep
                                dive into the inspiration behind building the Graph Network and how they're helping the
                                next generation of dApp developers create a decentralized future.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none"
                            src="//html5-player.libsyn.com/embed/episode/id/17305649/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/060900/"
                            height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>