<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_DChaum_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 5, 2020
                            </div>
                            <h3>
                                Episode 9: David Chaum
                            </h3>
                            <p>
                                Go down the rabbit hole with a forefather of crypto, David Chaum, CEO of the xx Network. A timely discussion on the future of digital currency, election security, and the chilling effects that the decline of democracy has on our 1st Amendment rights.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15482723/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/050700/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>