<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_DChaum_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 5, 2020
                            </div>
                            <h3>
                                Episode 9: David Chaum
                            </h3>
                            <p>
                                Go down the rabbit hole with a forefather of crypto, David Chaum, CEO of the xx Network.
                                A timely discussion on the future of digital currency, election security, and the
                                chilling effects that the decline of democracy has on our 1st Amendment rights.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button"
                                    href="https://podcasts.apple.com/us/podcast/election-security-decline-democracy-david-chaum/id1516705670?i=1000487213550">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://open.spotify.com/episode/5SCudROKqOezD10wC05W6O">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/election-security-and-the-decline-of-democracy-with-david-chaum-76739766">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/238163862">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-yg5ma-ad639f0">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=156305694">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>