<div class="join background-white">
  <section class="section-med hpad-thin pad-top-wide z-index-1">
    <div class="join-steps__intro gap-bot-wide">
      <h3 class="gap-bot-thin">Set-up Guide</h3>
      <p>To start using Orchid, you need an Orchid Account. This set-up guide will show you how to create an Orchid Account and connect that account to the Orchid app using an Ethereum wallet and Orchid’s digital currency: OXT.</p>
      <p>If you already have a QR code for an existing Orchid account, skip to step 4 and simply open the app to scan/paste in the code and add the account. Your VPN service will then be paid for from that account.</p>
      <p>Check out Coinbase’s <a href="https://www.coinbase.com/earn">Earn Campaign</a> for an opportunity to earn OXT while learning about Orchid!</p>
      <div class="join-video-container pad-top-thin">
        <div class="video">
          <iframe title="Setup" src="https://www.youtube.com/embed/QwYbmFFb9oM?modestbranding=0&color=white" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="join-steps bk-lavender">
    <section class="section-med hpad-thin vpad-xl z-index-1">
      <div class="join-step step-1">
        <div class="join-step__number">1</div>
        <h3 class="join-step__title color-gray">Create a new Ethereum wallet address</h3>
        <p>We recommend these wallets:</p>
        <div class="logo-list">
          <a href="https://metamask.io">
            <img
              src="/assets/img/join/metamask.png"
              alt="Metamask"
              srcset="/assets/img/join/metamask.png, /assets/img/join/metamask@2x.png 2x, /assets/img/join/metamask@3x.png 3x"
              />
          </a>
          <a href="https://trustwallet.com">
            <img
              src="/assets/img/join/trustwallet.svg"
              alt="Trust Wallet"
            />
          </a>
          <a href="https://brd.com">
            <img
              src="/assets/img/join/bread-wallet.png"
              alt="Bread Wallet"
              srcset="/assets/img/join/bread-wallet.png, /assets/img/join/bread-wallet@2x.png 2x, /assets/img/join/bread-wallet@3x.png 3x"
            />
          </a>
          <a href="https://wallet.coinbase.com">
            <img
              src="/assets/img/join/coinbase-wallet.png"
              alt="Coinbase Wallet"
              srcset="/assets/img/join/coinbase-wallet.png, /assets/img/join/coinbase-wallet@2x.png 2x, /assets/img/join/coinbase-wallet@3x.png 3x"
            />
          </a>
        </div>
        <p><strong>Privacy note:</strong> we recommend using a new Ethereum wallet for Orchid that is not linked to other Ethereum products or services you use. (<a href="/faq#orchid-app--why-new-wallet">learn more</a>)</p>
      </div>
      <div class="join-step step-2">
        <div class="join-step__number">2</div>
        <h3 class="join-step__title color-gray">Add OXT</h3>
        <p>Add at least $4 USD of OXT and $1 USD of ETH into your web3 browser.</p>
        <ul>
            <li>$4 of OXT is estimated to provide 60 GBs of VPN service</li>
            <li>$1 of ETH should be enough for 2-3 transactions (<a href="/faq#orchid-app--why-eth-and-oxt">learn more</a>)</li>
        </ul>
        <p>We recommend buying OXT using a large exchange for transaction privacy (<a href="/faq#orchid-app--why-big-exchange">learn more</a>). Buy OXT and ETH right now on Coinbase.</p>
      </div>
      <div class="with-screenshot">
        <div class="join-step step-3">
          <div class="join-step__number">3</div>
          <h3 class="join-step__title color-gray">Create your Orchid account</h3>
          <p>Load <a target="_blank" href="https://account.orchid.com/">account.orchid.com</a> in your wallet’s browser. It is a good idea to bookmark <a target="_blank" href="https://account.orchid.com/">account.orchid.com</a>. Read the directions on the screen and add any OXT or ETH that you need to create the account. Tap the “Create account” button and then confirm two prompts from your wallet to move the OXT into the Orchid account.</p>
          <p>Once complete, scan or copy the Orchid account to your clipboard for step 4</p>
        </div>
        <div class="screenshot">
          <img
            class="join-step__screenshot"
            src="/assets/img/join/screenshot-3.png "
            alt=""
            srcset="/assets/img/join/screenshot-3.png, /assets/img/join/screenshot-3@2x.png 2x, /assets/img/join/screenshot-3@3x.png 3x"
          />
        </div>
      </div>
      <div class="join-step step-4">
        <div class="join-step__number">4</div>
        <h3 class="join-step__title color-gray">Add your account to the Orchid app</h3>
        <p>Download the Orchid app for <a href="https://play.google.com/store/apps/details?id=net.orchid.Orchid&hl=en_US">Android</a>. Help us beta test our app on <a href="https://testflight.apple.com/join/BlkfHkHY">iOS TestFlight</a></p>
        <div class="app-store-badges vgap-thin">
          <a class="app-store-badge" href="https://play.google.com/store/apps/details?id=net.orchid.Orchid&hl=en_US"><img width="200px" src="/assets/img/shared/google-play-badge.svg" alt="Google Play"></a>
          <a class="app-store-badge" href="https://testflight.apple.com/join/BlkfHkHY"><img src="/assets/img/shared/testflight-badge.png" alt="iOS TestFlight" srcset="/assets/img/shared/testflight-badge.png, /assets/img/shared/testflight-badge@2x.png 2x, /assets/img/shared/testflight-badge@3x.png 3x"></a>
        </div>
        <p>Open the app and tap "New Hop". Scan or paste in the Orchid account. The app will automatically use that account to generate a hop, and the app will be ready.</p>

      </div>
      <div class="join-step step-5">
        <div class="join-step__number">5</div>
        <h3 class="join-step__title color-gray">Start exploring freely!</h3>
        <p>On the Orchid app’s main screen, switch the toggle in the top right to “on” to enable Orchid on your device and activate your configured hops. That’s it! You’re ready to start exploring freely. <br>Stay curious out there!</p>
        <p>Note: If you notice your Internet connection stops after turning Orchid on, simply turn it off and back on again to recycle the connection and connect to a different server.</p>
      </div>
    </section>
</div>

<div class="bk-faint-gray">
  <section class="section-narrow hpad-wide vpad-wide z-index-1 center-text">
    <h2 class="h1 color-primary gap-bot-thin">Where to get OXT?</h2>
    <where-oxt></where-oxt>
  </section>
</div>

<div class="more-questions background-white">
  <section class="section-med hpad-wide vpad-xl center-text z-index-1">
      <h3 i18n="@@MoreQuestions__Heading">Got more questions?</h3>
      <p class="medium" i18n="@@MoreQuestions__Subhead">
          Check out the FAQ
      </p>
      <a href="/faq/"><button class="btn-secondary btn-fixed z-index-1" i18n="@@HomeNextLevel__Whitepaper">FAQ</button></a>
  </section>
  <div class="home-satellite-4"></div>
</div>

<app-newsletter-signup-features></app-newsletter-signup-features>
