<div class="join background-white">
  <section class="section-med hpad-thin pad-top-wide z-index-1">
    <div class="join__intro">
      <h3 class="gap-bot-thin" i18n="@@JoinHero__Title">Set-up Guide</h3>
      <p i18n="@@JoinHero__P1">To start using Orchid, you need an Orchid Account. This set-up guide will show you how to create an Orchid Account and connect that account to the Orchid app using an Ethereum wallet and Orchid’s digital currency: OXT.</p>
      <p i18n="@@JoinHero__P2">If you already have a QR code for an existing Orchid account, Play from step 4 and simply open the app to scan/paste in the code and add the account. Your VPN service will then be paid for from that account.</p>
      <p i18n="@@JoinHero__P3">Check out Coinbase’s <a href="https://www.coinbase.com/earn">Earn Campaign</a> for an opportunity to earn OXT while learning about Orchid!</p>
      <div class="join-video-container pad-top-thin">
        <div class="video">
          <a name="embeded-video"></a>
          <a href="https://youtu.be/ZS5aYBXAAyQ" target="_blank" id="fallback-iframe">
            <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%"><path class="ytp-large-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#212121" fill-opacity="0.8"></path><path d="M 45,24 27,14 27,34" fill="#fff"></path></svg>
          </a>
          <div id="youtube-embed"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="join-steps bk-lavender pad-bot-wide">
    <section class="join-steps__grid section-wide">
      <div class="join-step step-1">
        <div class="join-step__content">
          <div class="join-number"><span class="join-number__label" i18n="@@Join__Step">Step</span> <span class="join-number__numeral">1</span></div>
          <h3 class="join-step__title color-gray" i18n="@@JoinStep1__title">Create a new Ethereum wallet</h3>
          <a class="join-step__play-skip" target="_blank" href="https://youtu.be/ZS5aYBXAAyQ?t=66" data-timecode="66">
            <img src="/assets/img/join/play-button-circle.svg" alt="">
            <span i18n="@@JoinStep1__timecode">Play from: 01:06</span>
          </a>
          <p i18n="@@JoinStep1__p1">We recommend using <a href="https://metamask.io">Metamask</a> for your Ethereum wallet.</p>
          <a href="https://metamask.io"><img src="/assets/img/join/metamask.svg" alt=""></a>
          <p i18n="@@JoinStep1__p2">Alternatively, <a href="https://trustwallet.com">Trust Wallet</a>, <a href="https://brd.com">BRD Wallet</a> and <a href="https://wallet.coinbase.com">Coinbase Wallet</a> are also compatible with Orchid.</p>
          <hr>
          <p i18n="@@JoinStep1__p3">Privacy note: We recommend using a new Ethereum wallet address for Orchid that is not linked to other Ethereum products or services you use.<br>
          <a href="/faq#orchid-app--why-new-wallet">Learn more</a></p>
        </div>
      </div>
      <div class="join-step step-2">
        <div class="join-step__content">
          <div class="join-number"><span class="join-number__label" i18n="@@Join__Step">Step</span> <span class="join-number__numeral">2</span></div>
          <h3 class="join-step__title color-gray" i18n="@@JoinStep2__title">Add funds to your wallet</h3>
          <a class="join-step__play-skip" target="_blank" href="https://youtu.be/ZS5aYBXAAyQ?t=259" data-timecode="259">
            <img src="/assets/img/join/play-button-circle.svg" alt="">
            <span i18n="@@JoinStep2__timecode">Play from: 04:19</span>
          </a>
          <p i18n="@@JoinStep2__p1">We recommend adding at least these amounts to your Ethereum wallet:</p>
          <div>
            <h4 class="standout" i18n="@@JoinStep2__p2">$4 USD of OXT</h4>
            <p i18n="@@JoinStep2__p3">Estimated to provide ~60GBs of VPN service.</p>
          </div>
          <div>
            <h4 class="standout" i18n="@@JoinStep2__p4">$1 USD of ETH</h4>
            <p i18n="@@JoinStep2__p4">Estimated to pay the cost of 2-3 transactions.<br>
              <a href="/faq#orchid-app--why-eth-and-oxt">Learn More</a></p>
          </div>
          <hr>
          <p i18n="@@JoinStep2__p5">
            Privacy note: We recommend buying OXT using a large exchange for transaction privacy.<br>
            Learn more</p>
          <p i18n="@@JoinStep2__p6">Buy OXT and ETH right now on</p>
          <a href="https://www.coinbase.com/price/orchid"><img style="max-width: 120px" src="/assets/img/where-oxt/coinbase.png" alt="Coinbase" srcset="/assets/img/where-oxt/coinbase.png, /assets/img/where-oxt/coinbase@2x.png 2x, /assets/img/where-oxt/coinbase@3x.png 3x"></a>
        </div>
      </div>
      <div class="join-step step-3">
        <div class="join-step__content">
          <div class="join-number"><span class="join-number__label" i18n="@@Join__Step">Step</span> <span class="join-number__numeral">3</span></div>
          <h3 class="join-step__title color-gray" i18n="@@JoinStep3__title">Create your Orchid Account</h3>
          <a class="join-step__play-skip" target="_blank" href="https://youtu.be/ZS5aYBXAAyQ?t=338" data-timecode="338">
            <img src="/assets/img/join/play-button-circle.svg" alt="">
            <span i18n="@@JoinStep3__timecode">Play from: 05:38</span>
          </a>
          <p i18n="@@JoinStep3__p1">Load <a href="https://account.orchid.com/">account.orchid.com</a>
            in your wallet’s browser. It’s a good idea to bookmark this page for the future.</p>
          <p i18n="@@JoinStep3__p2">Read the directions on the screen and add the OXT or ETH needed to create the account.</p>
          <p i18n="@@JoinStep3__p3">Tap the<br>
            <strong class="color-gray font-body">Create Account</strong><br>
            button and then confirm two prompts from your wallet to move the OXT into your Orchid account.</p>
          <p i18n="@@JoinStep3__p4">Once complete, scan or copy your Orchid Account to your clipboard.</p>
        </div>
      </div>
      <div class="join-step step-4">
        <div class="join-step__content">
          <div class="join-number"><span class="join-number__label" i18n="@@Join__Step">Step</span> <span class="join-number__numeral">4</span></div>
          <h3 class="join-step__title color-gray" i18n="@@JoinStep4__title">Connect your Account and app</h3>
          <a class="join-step__play-skip" target="_blank" href="https://youtu.be/ZS5aYBXAAyQ?t=441" data-timecode="441">
            <img src="/assets/img/join/play-button-circle.svg" alt="">
            <span i18n="@@JoinStep4__timecode">Play from: 07:21</span>
          </a>
          <p i18n="@@JoinStep4__p1">Download the Orchid app for <a href="https://play.google.com/store/apps/details?id=net.orchid.Orchid&hl=en_US">Android</a> and help us Beta test our app on <a href="https://testflight.apple.com/join/BlkfHkHY">iOS Testflight</a>.</p>
          <div class="app-store-badges vgap-thin">
            <a class="app-store-badge" href="https://play.google.com/store/apps/details?id=net.orchid.Orchid&hl=en_US"><img width="200px" src="/assets/img/shared/google-play-badge.svg" i18n-src="@@GooglePlayBadgeURL" alt="Google Play"></a>
            <a class="app-store-badge" href="https://testflight.apple.com/join/BlkfHkHY"><img src="/assets/img/shared/testflight-badge.png" alt="iOS TestFlight" srcset="/assets/img/shared/testflight-badge.png, /assets/img/shared/testflight-badge@2x.png 2x, /assets/img/shared/testflight-badge@3x.png 3x"></a>
          </div>
          <p i18n="@@JoinStep4__p2">Open the app and scan or paste in your Orchid Account. The app will automatically use that Account to generate a configured  hop, and the app will be ready use!</p>
        </div>
      </div>
      <div class="join-step step-5">
        <div class="join-step__content">
          <div class="join-number"><span class="join-number__label" i18n="@@Join__Step">Step</span> <span class="join-number__numeral">5</span></div>
          <h3 class="join-step__title color-gray" i18n="@@JoinStep5__title">Start exploring freely!</h3>
          <a class="join-step__play-skip" target="_blank" href="https://youtu.be/ZS5aYBXAAyQ?t=644" data-timecode="644">
            <img src="/assets/img/join/play-button-circle.svg" alt="">
            <span i18n="@@JoinStep5__timecode">Play from: 10:44</span>
          </a>
          <p i18n="@@JoinStep5__p1">On the Orchid app’s main screen, switch the toggle in the top right to “on”. This  enables Orchid on your device and activates your configured hops.</p>
          <p i18n="@@JoinStep5__p2">That’s it!
            You’re ready to start exploring freely.<br>
            Stay curious out there!</p>
          <hr>
          <p i18n="@@JoinStep5__p3">Note: If you notice your Internet connection stops after turning Orchid on, simply turn it off and back on again to recycle the connection and connect to a different server.</p>
        </div>
      </div>
    </section>
</div>

<div class="bk-faint-gray">
  <section class="section-narrow hpad-wide vpad-wide z-index-1 center-text">
    <h2 class="h1 color-primary gap-bot-thin" i18n="@@WhereToGetOXT">Where to get OXT?</h2>
    <where-oxt></where-oxt>
  </section>
</div>

<div class="more-questions background-white">
  <section class="section-med hpad-wide vpad-xl center-text z-index-1">
      <h3 i18n="@@MoreQuestions__Heading">More questions?</h3>
      <p class="medium" i18n="@@MoreQuestions__Subhead">
          Check out the FAQ
      </p>
      <a href="/faq/"><button class="btn-secondary btn-fixed z-index-1" i18n="@@HomeNextLevel__Whitepaper">FAQ</button></a>
  </section>
  <div class="home-satellite-4"></div>
</div>

<app-newsletter-signup-features></app-newsletter-signup-features>
