<div class="more-questions background-white">
  <section class="section-med hpad-wide vpad-xl center-text z-index-1">
      <h3 i18n="@@HomeNextLevel__Title">Got more questions?</h3>
      <p class="medium" i18n="@@HomeNextLevel__Description">
          Check out the FAQ
      </p>
      <a href="/faq/"><button class="btn-secondary btn-fixed z-index-1" i18n="@@HomeNextLevel__Whitepaper">FAQ</button></a>
  </section>
  <div class="home-satellite-4"></div>
</div>

<app-newsletter-signup-features></app-newsletter-signup-features>
