<div class="hero__wrapper">
    <div class="hero__container">
        <div class="hero__text">
            <h1>
				Orchid<br/>
				Ambassador<br/>
				Program
            </h1>
            <p>
                An Orchid Ambassador is an advocate for digital freedom, educates the community about how to use privacy tools online, and promotes security best practices. Ambassadors run meetups, manage and grow online communities, and facilitate discussions about
                Internet censorship, decentralizing technologies, and other important topics.
            </p>
            <h2>
                Ready to get involved?
            </h2>
            <a href="#">
				<button class="btn btn-primary btn-lg">
					Apply Here!
				</button>
			</a>
        </div>
        <div class="hero__graphic">
            <img src="/assets/img/ambassador/hero-bunny.png" />
        </div>
    </div>
</div>