<div class="hero__wrapper">
    <div class="hero__container">
        <div class="hero__text">
            <h1>
                Orchid<br/> Ambassador
                <br/> Program
            </h1>
            <p>
                An Orchid Ambassador is an advocate for digital freedom, educates the community about how to use privacy tools online, and promotes security best practices. Ambassadors run meetups, manage and grow online communities, and facilitate discussions about
                Internet censorship, decentralizing technologies, and other important topics.
            </p>
            <h2>
                Ready to get involved?
            </h2>
            <a href="/contact">
                <button class="btn btn-primary btn-lg">
					Apply Here!
				</button>
            </a>
        </div>
        <div class="hero__graphic">
            <img src="/assets/img/ambassador/hero-bunny.png" />
        </div>
    </div>
</div>

<div class="educator__wrapper">
    <div class="educator__container vpad-xl hpad-thin">
        <h2>
            Become a privacy educator
        </h2>

        <div class="educator__card">
            <img class="educator__card-hand" src="/assets/img/ambassador/hand_1.png">
            <img class="educator__card-circle" src="/assets/img/ambassador/circle.svg">
            <h4>
                Build Community
            </h4>
            <p>
                Launch an official Orchid community using the appropriate platform for your region. The Orchid team is here to help you start and grow it, host fun events and giveaways, and offer early access and content.
            </p>
        </div>
        <div class="educator__card">
            <img class="educator__card-hand" src="/assets/img/ambassador/hand_2.png">
            <img class="educator__card-circle" src="/assets/img/ambassador/circle.svg">
            <h4>
                Host Meetups
            </h4>
            <p>
                Run a monthly meetup focused on digital freedom, technologies being used to protect privacy, and other relevant topics of interest to your community and region. Build relationships and invite like-minded projects, companies, and individuals to participate.
            </p>
        </div>
        <div class="educator__card">
            <img class="educator__card-hand" src="/assets/img/ambassador/hand_3.png">
            <img class="educator__card-circle" src="/assets/img/ambassador/circle.svg">
            <h4>
                Educate<br/> & Help
            </h4>
            <p>
                Teach people in your community about digital freedom, privacy and security. Help them take control of their data by educating them to use new tools and technology that increase their freedom.
            </p>
        </div>
    </div>
</div>