<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_JasonRieff.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                September 22, 2021
                            </div>
                            <h3>
                                Episode 66: Jason Rieff
                            </h3>
                            <p>
                                Host Derek E. Silva joins Jason Rieff, Co-founder of Noizd, a music-based NFT marketplace that allows fans to buy and sell the full rights to amazing unreleased collectible music. A great conversation on the NFT revolution, how Noizd is empowering artists to control their music and helping listeners discover new talent.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/the-nft-art-and-music-revolution-with-jason-rieff/id1516705670?i=1000536308965">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/4h7RsxQhPNo6hftgigiT6b">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/YjBkNzc1MmEtOWVhNC00ZjI2LWI1OWMtMDg3NWY2ZGEwM2Yz">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/The-NFT-Art-and-Music-Revolution-with-Jason-Rieff-id2954358-id425777099">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=165985093">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>