@import 'misc_config';
@import 'orc_config';

#nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem 0;
  font-size: $size-body-sm;
}

#nav-home {
  flex: 1 0 auto;
  line-height: 0px;

  > a {
    margin: 0;
    padding: 0;
  }
}

#nav-list {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  margin: -1rem 0 1rem;

  > li {
    font-weight: 700;
    text-transform: uppercase;

    $a-pad: 0.5rem;

    > a {
      position: relative;
      padding: $a-pad;
    }

    &.active-link > a::after {
      $height: 3px;

      content: " ";
      position: absolute;
      left: $a-pad;
      right: $a-pad;
      bottom: calc(#{$a-pad} - #{$height});
      height: $height;
      background: $orc-purple;
      border-radius: 100vmax;
    }
  }
}

#footer {
  padding: 1rem 0;
  font-size: $size-body-sm;
}

#footer-layout {
  $gap: 2rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 ($gap / -2.0);

  > {
    section, nav {
      margin: 0 ($gap / 2.0);
    }
  }
}

.ft-nogrow {
  flex: 0 0 auto;
}

.ft-grow {
  flex: 1 0 auto;
}

#ft-social-list {
  $gap: 0.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: ($gap / -2.0);

  > li {
    margin: ($gap / 2.0);
  }
}