<div id="nav-root" [class.bk-beige-light]="!this.purple" [class.bk-deep-purple]="this.purple">
  <nav id="nav" class="section-wide hpad-thin" [class.js]="this.js" [class.no-shadow]="this.noShadow" [class.purple]="this.purple">
    <h1 id="nav-home">
      <a class="inline-block" routerLink="/" aria-label="Home" title="Home">
        <img [src]="this.purple ? '/assets/img/shared/orchid-logo-white.svg' : '/assets/img/shared/orchid-logo.svg'" alt="Orchid logo" class="no-mobile">
        <img [src]="this.purple ? '/assets/img/shared/orchid-logo-small-white.svg' : '/assets/img/shared/orchid-logo-small.svg'" alt="Orchid logo" class="mobile-only">
      </a>
    </h1>
    <div id="nav-menu" [class.js]="this.js" [class.animate]="this.animateMenu" [class.open]="this.isOpen">
      <div id="nav-flyout-header" class="mobile-only">
        <button id="nav-flyout-close" class="phantom-btn">
          <img src="/assets/img/shared/close.svg">
        </button>
      </div>
      <ul id="nav-list" class="phantom-list">
        <li routerLinkActive="active-link" class="mobile-only"><a class="phantom-a" routerLink="/">Home</a></li>
        <li routerLinkActive="active-link"><a class="phantom-a" routerLink="/network">Network</a></li>
        <li routerLinkActive="active-link"><a class="phantom-a" routerLink="/vision">Vision</a></li>
	<li routerLinkActive="active-link"><a class="phantom-a" routerLink="/company">About Us</a></li>
        <li class="social-button first">
          <a class="inline-block" href="https://medium.com/orchid-labs" target="_blank" rel="noopener noreferrer"
		  aria-label="Follow on Medium" title="Medium">
            <img src="/assets/img/shared/social-medium.svg" alt="Medium">
          </a>
        </li>
        <li class="social-button">
	  <a class="inline-block" href="https://twitter.com/OrchidProtocol" target="_blank" rel="noopener noreferrer"
		  aria-label="Follow on Twitter" title="Twitter">
            <img src="/assets/img/shared/social-twitter.svg" alt="Twitter">
        </a>
        </li>
        <li class="social-button">
          <a class="inline-block" href="https://www.t.me/OrchidOfficial" target="_blank" rel="noopener noreferrer"
		  aria-label="Join us on Telegram" title="Telegram">
            <img src="/assets/img/shared/social-telegram.svg" style="width: 32px; height: auto;" alt="Telegram">
          </a>
        </li>
        <li class="social-button">
          <a class="inline-block" href="https://github.com/orchidsource" target="_blank" rel="noopener noreferrer"
		  aria-label="See the Source" title="Github">
            <img src="/assets/img/shared/social-github.svg" alt="Github">
          </a>
        </li>
      </ul>
    </div>
    <button id="nav-toggle" class="phantom-btn mobile-only">
      <img [src]="this.purple ? '/assets/img/shared/hamburger-white.svg' : '/assets/img/shared/hamburger.svg'">
    </button>
    <div id="nav-flyout-bkgd" [class.open]="this.isOpen"></div>
  </nav>
  <div id="nav-pin" class="mobile-only"></div>
</div>

<main id="main" [class.purple]="this.purple">
  <router-outlet></router-outlet>
</main>

<div id="ft-root" class="bk-beige-light pos-relative">
  <footer id="footer" class="section-med hpad-wide">
    <div id="ft-layout">
      <section id="ft-logo">
        <img src="/assets/img/shared/orchid-logo-word.svg">
        <p>&copy; 2019 Orchid Labs Inc.</p>
	<p class="privacy-terms-links">
          <a class="phantom-a" routerLink="/privacy-policy">Privacy Policy</a> |
          <a class="phantom-a" routerLink="/service-terms">Terms of Service</a>
	</p>
      </section>
      <div id="ft-pad-a" class="no-mobile"></div>
      <nav id="ft-nav">
        <ul id="ft-nav-list" class="phantom-list">
          <li><a class="phantom-a" routerLink="/">Orchid</a></li>
          <li><a class="phantom-a" routerLink="/network">Network</a></li>
          <li><a class="phantom-a" routerLink="/vision">Vision</a></li>
          <li><a class="phantom-a" routerLink="/company">About Us</a></li>
          <!-- <li><a class="phantom-a" routerLink="/faqs">FAQ</a></li>  -->
          <li><a class="phantom-a" routerLink="/events">Events</a></li>
        </ul>
      </nav>
      <div id="ft-pad-b" class="no-mobile"></div>
      <section>
        <header class="no-mobile">
          <strong>Follow Us</strong>
        </header>
        <ul id="ft-social-list" class="phantom-list">
          <li>
            <a class="inline-block" href="https://twitter.com/OrchidProtocol" target="_blank" rel="noopener noreferrer"
		    aria-label="Follow on Twitter" title="Twitter">
              <img src="/assets/img/shared/social-twitter.svg" alt="Twitter">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://medium.com/orchid-labs" target="_blank" rel="noopener noreferrer"
		    aria-label="Follow on Medium" title="Medium">
              <img src="/assets/img/shared/social-medium.svg" alt="Medium">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://www.t.me/OrchidOfficial" target="_blank" rel="noopener noreferrer"
		    aria-label="Join us on Telegram" title="Telegram">
              <img src="/assets/img/shared/social-telegram.svg" style="width: 32px; height: auto;" alt="Telegram">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://github.com/orchidsource" target="_blank" rel="noopener noreferrer"
		    aria-label="See the Source" title="Github">
              <img src="/assets/img/shared/social-github.svg" alt="Github">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://www.facebook.com/OrchidProtocol" target="_blank" rel="noopener noreferrer"
		    aria-label="Follow on Facebook" title="Facebook">
              <img src="/assets/img/shared/social-facebook.svg" alt="Facebook">
            </a>
          </li>

        </ul>
      </section>
      <div id="ft-pad-c" class="no-mobile"></div>
    </div>
  </footer>
  <div id="ft-adorner">
    <div id="ft-adorn-layout" class="section-med">
      <img src="/assets/img/shared/coral-electric.svg" id="ft-adorn-coral-elec" class="pos-absolute">
      <img src="/assets/img/shared/coral-real.svg" id="ft-adorn-coral-real" class="pos-absolute no-mobile">
      <img src="/assets/img/shared/coral-real-mobile.svg" id="ft-adorn-coral-real-mobile" class="pos-absolute mobile-only">
      <img src="/assets/img/shared/footer-fish.svg" id="ft-adorn-fish" class="pos-absolute">
    </div>
  </div>
</div>
