<div id="nav-root" [class.bk-beige-light]="!this.purple" [class.bk-deep-purple]="this.purple">
  <nav id="nav" class="section-wide hpad-thin" [class.js]="this.js" [class.no-shadow]="this.noShadow"
    [class.purple]="this.purple">
    <h1 id="nav-home">
      <a class="inline-block" routerLink="/" aria-label="Home" title="Home">
        <!--<img [src]="this.purple ? '/assets/img/shared/orchid-logo-white.svg' : '/assets/img/shared/orchid-logo.svg'"
          alt="Orchid logo" class="no-mobile">-->
          <img src="/assets/img/shared/orchid-logo-text.svg"
          alt="Orchid logo" class="no-mobile">
        <img
          [src]="this.purple ? '/assets/img/shared/orchid-logo-small-white.svg' : '/assets/img/shared/orchid-logo-small.svg'"
          alt="Orchid logo" class="mobile-only">
      </a>
    </h1>
    <div class="nav-menu" [class.js]="this.js" [class.animate]="this.animateMenu" [class.open]="this.isOpen">
      <div id="nav-flyout-header" class="mobile-only">
        <button id="nav-flyout-close" class="phantom-btn">
          <img alt="Close" src="/assets/img/shared/close.svg">
        </button>
      </div>
      <ul class="nav-list phantom-list">
        <li routerLinkActive="active-link" class="mobile-only"><a class="phantom-a" routerLink="/" i18n="@@Navigation-Home">Home</a></li>
        <li routerLinkActive="active-link" class="show-en"><a class="phantom-a" routerLink="/join" i18n="@@Navigation-Join">Join Now</a></li>
        <li routerLinkActive="active-link"><a class="phantom-a" routerLink="/how-it-works" i18n="@@Navigation-HowItWorks">How It Works</a></li>
        <li routerLinkActive="active-link" class="show-en"><a class="phantom-a" routerLink="/oxt" i18n="@@Navigation-OXT">OXT</a></li>
        <li routerLinkActive="active-link"><a class="phantom-a" routerLink="/about-us" i18n="@@Navigation-About">About</a></li>
        <li><a class="phantom-a" href="https://blog.orchid.com/" i18n-href="@@Navigation-Blog-Link" i18n="@@Navigation-Blog">Blog</a></li>
        <li routerLinkActive="active-link"><a class="phantom-a" routerLink="/contact" i18n="@@Navigation-Contact">Contact</a></li>

        <li routerLinkActive="active-link" class="navbar-language-selector">
          <input type="checkbox" id="navbar-language-selector-checkbox">
          <label for="navbar-language-selector-checkbox" class="navbar-language-selector-checkbox-label"></label>
          <span class="phantom-a">
            <img alt="" style="vertical-align: top;" width="20" height="20"src="/assets/img/shared/globe.svg">
            <span i18n="@@NavigationCurrentLanguage">English</span>
          </span>
          <ul class="navbar-language-selector-list">
            <li id="navbar-language-selector-list-item-first"><a i18n="@@LanguageDropdown__Ko" class="phantom-a" href="//www.ko.orchid.com">Korean</a></li>
            <li><a i18n="@@LanguageDropdown__En" class="phantom-a" href="//www.orchid.com">English</a></li>
            <li><a i18n="@@LanguageDropdown__Ru" class="phantom-a" href="//www.ru.orchid.com">Russian</a></li>
            <li><a i18n="@@LanguageDropdown__Ja" class="phantom-a" href="//www.ja.orchid.com">Japanese</a></li>
            <li><a i18n="@@LanguageDropdown__Zh" class="phantom-a" href="//www.zh.orchid.com">Mandarin</a></li>
            <li><a i18n="@@LanguageDropdown__Id" class="phantom-a" href="//www.id.orchid.com">Indonesian</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <button id="nav-toggle" class="phantom-btn mobile-only">
      <img alt="Toggle Navigation" [src]="this.purple ? '/assets/img/shared/hamburger-white.svg' : '/assets/img/shared/hamburger.svg'">
    </button>
    <div id="nav-flyout-bkgd" [class.open]="this.isOpen"></div>
  </nav>
  <div id="nav-pin" class="mobile-only"></div>
</div>

<main id="main" [class.purple]="this.purple">
  <router-outlet></router-outlet>
</main>

<div id="ft-root" class="bk-beige-light pos-relative">
  <footer id="footer" class="section-med hpad-wide">
    <div id="ft-layout">
      <section id="ft-logo">
        <img alt="" src="/assets/img/shared/orchid-logo-word.svg">
        <p>&copy; 2020 Orchid Labs Inc.</p>
        <p class="privacy-terms-links">
          <a class="phantom-a" routerLink="/privacy-policy">Privacy Policy</a> |
          <a class="phantom-a" routerLink="/service-terms">Terms of Service</a>
        </p>
      </section>
      <div id="ft-pad-a" class="no-mobile"></div>
      <nav id="ft-nav">
        <ul id="ft-nav-list" class="phantom-list">
          <li><a class="phantom-a" routerLink="/" i18n="@@Navigation-Orchid">Orchid</a></li>
          <li><a class="phantom-a" routerLink="/how-it-works" i18n="@@Navigation-HowitWorks">How it Works</a></li>
          <li><a class="phantom-a" routerLink="/about-us" i18n="@@Navigation-AboutUs">About Us</a></li>
          <li><a class="phantom-a" routerLink="/contact" i18n="@@Navigation-Contact">Contact</a></li>
        </ul>
      </nav>
      <nav id="ft-nav-2">
        <ul id="ft-nav-2-list" class="phantom-list">
          <li><a class="phantom-a" routerLink="/whitepaper.pdf" i18n="@@Navigation-Whitepaper">Whitepaper</a></li>
          <li><a class="phantom-a" routerLink="/events" i18n="@@Navigation-Events">Events</a></li>
          <li><a class="phantom-a" href="https://blog.orchid.com/" i18n-href="@@Navigation-Blog-Link" i18n="@@Navigation-Blog">Blog</a></li>
          <li><a class="phantom-a" routerLink="/faq" i18n="@@Navigation-FAQ">FAQ</a></li>
        </ul>
      </nav>
      <div id="ft-pad-b" class="no-mobile"></div>
      <section>
        <header class="no-mobile">
          <strong i18n="@@NavigationFollowUs">Follow Us</strong>
        </header>
        <ul id="ft-social-list" class="phantom-list">
          <li>
            <a class="inline-block" href="https://twitter.com/OrchidProtocol" target="_blank" rel="noopener noreferrer"
              aria-label="Follow on Twitter" title="Twitter">
              <img src="/assets/img/shared/social-twitter.svg" alt="Twitter">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://medium.com/orchid-labs" target="_blank" rel="noopener noreferrer"
              aria-label="Follow on Medium" title="Medium">
              <img src="/assets/img/shared/social-medium.svg" alt="Medium">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://www.t.me/OrchidOfficial" target="_blank" rel="noopener noreferrer"
              aria-label="Join us on Telegram" title="Telegram">
              <img src="/assets/img/shared/social-telegram.svg" style="width: 32px; height: auto;" alt="Telegram">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://github.com/OrchidTechnologies" target="_blank" rel="noopener noreferrer"
		    aria-label="See the Source" title="Github">
              <img src="/assets/img/shared/social-github.svg" alt="Github">
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://www.facebook.com/OrchidProtocol" target="_blank"
              rel="noopener noreferrer" aria-label="Follow on Facebook" title="Facebook">
              <img src="/assets/img/shared/social-facebook.svg" alt="Facebook">
            </a>
          </li>

        </ul>
      </section>
      <div id="ft-pad-c" class="no-mobile"></div>
    </div>
  </footer>
  <div id="ft-adorner">
    <div id="ft-adorn-layout" class="section-med">
      <img alt="" src="/assets/img/shared/coral-electric.svg" id="ft-adorn-coral-elec" class="pos-absolute">
      <img alt="" src="/assets/img/shared/coral-real.svg" id="ft-adorn-coral-real" class="pos-absolute no-mobile">
      <img alt="" src="/assets/img/shared/coral-real-mobile.svg" id="ft-adorn-coral-real-mobile"
        class="pos-absolute mobile-only">
      <img alt="" src="/assets/img/shared/footer-fish.svg" id="ft-adorn-fish" class="pos-absolute">
    </div>
  </div>
</div>
