<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_JGilbert.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								September 9, 2020
							</div>
							<h3>
								Episode 14: Dr. Juan E. Gilbert
							</h3>
							<p>
								Go down the rabbit hole with Dr. Juan E. Gilbert, Chair of the CISE Dept at the
								University of Florida. He shares how he’s pioneering the development in open source
								election systems, the virtual traffic stop, and how disinformation affects our
								democracy.
							</p>
							<div class="card-footer">
								<a class="podcast-button"
									href="https://podcasts.apple.com/us/podcast/how-disinformation-affects-our-democracy-dr-juan-e/id1516705670?i=1000490655574">
									<img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
									<div class="podcast-button__text">
										Apple Podcasts
									</div>
								</a>
								<a class="podcast-button"
									href="https://open.spotify.com/episode/60T4pi4x0HZsYq4D4c5YC9">
									<img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
									<div class="podcast-button__text">
										Spotify
									</div>
								</a>
								<a class="podcast-button"
									href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/how-disinformation-affects-our-democracy-with-dr-juan-e-gilbert-77592757">
									<img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
									<div class="podcast-button__text">
										Stitcher
									</div>
								</a>
								<!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
								<a class="podcast-button" href="https://www.deezer.com/us/episode/245528272">
									<img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
									<div class="podcast-button__text">
										Deezer
									</div>
								</a>
								<a class="podcast-button" href="https://www.podbean.com/media/share/dir-nfpde-ad639eb">
									<img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
									<div class="podcast-button__text">
										Podbean
									</div>
								</a>
								<a class="podcast-button"
									href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=157161832">
									<img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
									<div class="podcast-button__text">
										Tunein
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>