<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_JEngestrom_Website.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								June 24, 2020
							</div>
							<h3>
								Episode 3: Jyri Engestrom
							</h3>
							<p>
								We go down the rabbit hole with Jyri Engestrom, a partner at Yes VC, a venture capital
								firm that invests in startups set in motion by social movements. He shares his journey
								as a founder of both Jaiku and Ditto, which were acquired separately by Google and
								Groupon. We discuss the future of democracy, how technology affects humanity, and some
								recent efforts he and a few other entrepreneurs took to provide free testing for
								COVID-19.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<iframe style="border: none"
							src="//html5-player.libsyn.com/embed/episode/id/14927201/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/060800/"
							height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
							mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>