<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_JEngestrom_Website.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								June 24, 2020
							</div>
							<h3>
								Episode 3: Jyri Engestrom
							</h3>
							<p>
								We go down the rabbit hole with Jyri Engestrom, a partner at Yes VC, a venture capital
								firm that invests in startups set in motion by social movements. He shares his journey
								as a founder of both Jaiku and Ditto, which were acquired separately by Google and
								Groupon. We discuss the future of democracy, how technology affects humanity, and some
								recent efforts he and a few other entrepreneurs took to provide free testing for
								COVID-19.
							</p>
							<div class="card-footer">
								<a class="podcast-button"
									href="https://podcasts.apple.com/us/podcast/how-technology-is-impacting-humanity-with-jyri-engestrom/id1516705670?i=1000479467919">
									<img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
									<div class="podcast-button__text">
										Apple Podcasts
									</div>
								</a>
								<a class="podcast-button"
									href="https://open.spotify.com/episode/066bR7NtzP94BlTlegnVBV">
									<img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
									<div class="podcast-button__text">
										Spotify
									</div>
								</a>
								<a class="podcast-button"
									href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/how-technology-is-impacting-humanity-with-jyri-engestrom-72513045">
									<img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
									<div class="podcast-button__text">
										Stitcher
									</div>
								</a>
								<!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
								<a class="podcast-button" href="https://www.deezer.com/us/episode/184287312">
									<img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
									<div class="podcast-button__text">
										Deezer
									</div>
								</a>
								<a class="podcast-button" href="https://www.podbean.com/media/share/dir-r5v4a-ad639f6">
									<img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
									<div class="podcast-button__text">
										Podbean
									</div>
								</a>
								<a class="podcast-button"
									href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=149152840">
									<img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
									<div class="podcast-button__text">
										Tunein
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>