@import "misc_config";
@import "orc_config";
@import "media_queries";
.newsletter-core {
	&.in_progress {
		filter: saturate(0);
		opacity: 0.9;
		cursor: wait;
	}
	#error,
	#success {
		margin: 0 auto 0 auto;
		max-width: 50%;
		padding: 3rem 1rem 0;
		font-size: 1.25em;
	}

	#error {
		color: $color-error;
	}

	@keyframes newsletter-signup__button-loading {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
	.newsletter-signup__button {
		&.btn-secondary {
			font-size: 1rem;
			max-width: 12rem;
		}
		&.loading {
			&:after {
				content: "";
				display: inline-block;
				width: 0.75rem;
				height: 0.75rem;
				margin-left: 0.5rem;
				border-radius: 100%;
				border-top: 2px solid $orc-bright-purple;
				animation-name: newsletter-signup__button-loading;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-duration: 1s;
			}
		}
	}

	.newsletter-signup__input {
		outline: none;
		&.invalid {
			box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0.1rem 0.25rem rgba(255, 0, 0, 0.2);
		}
	}

	label.gdpr-consent {
		margin-top: 0;
		input[type="checkbox"] {
			margin-right: 8px;
		}
		&.blink_box {
			padding: 4px;
			box-shadow: 0px 0.25rem 0.5rem 0.1rem rgba(0, 0, 0, 0.1), inset 0px 0rem 0.1rem 0.25rem rgba(255, 0, 0, 0.2);
		}
	}

	.section-button {
		margin-top: 2rem;
		display: block;
		text-align: center;

		@include not-mobile {
			margin-top: 3.5rem;
		}
	}

	&.priv8 {
		text-align: center;
		input[type="email"] {
			border-color: #60ebff;
			color: #ffffff;
		}
		.newsletter-signup__button {
			&.loading {
				&:after {
					border-top: 2px solid #60ebff;
				}
			}
		}
		.newsletter-signup__button.btn-secondary {
			border-color: #eb53e2;
			background: #eb53e2;
			color: #000000;
			&:hover {
				border-color: #eb53e2;
				background: #eb53e2;
				color: #000000;
			}
		}
		&.alternate {
			input[type="email"] {
				border-color: #eb53e2;
				color: inherit;
			}
			.newsletter-signup__button {
				&.loading {
					&:after {
						border-top: 2px solid #eb53e2;
					}
				}
			}
			.newsletter-signup__button.btn-secondary {
				border-color: $orc-purple;
				background: $orc-purple;
				color: #ffffff;
				&:hover {
					border-color: $orc-purple;
					background: $orc-purple;
					color: #ffffff;
				}
			}
		}
	}
}
