<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
	<div class="overflow-wrapper">
		<section class="section-med hpad-thin vpad-wide z-index-1">

			<div class="cards-wrapper">
				<div class="card card--large">
					<div class="card-grid">
						<div class="card-image-wrap">
							<div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_DSong.jpg)">
							</div>
						</div>
						<div class="card-body">
							<div>
								September 30, 2020
							</div>
							<h3>
								Episode 17: Dawn Song, CEO of Oasis Labs
							</h3>
							<p>
								Go down the rabbit hole with Dawn Song, Professor of Computer Science at UC Berkeley and
								CEO of Oasis Labs. We dive deep into the challenges we face in the digital world, why we
								are at the inflection point for data privacy, and her vision for building a responsible
								data economy.
							</p>
						</div>
					</div>
					<div class="card-footer">
						<iframe style="border: none"
							src="//html5-player.libsyn.com/embed/episode/id/16191410/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030400/"
							height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
							mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
					</div>
				</div>
			</div>

		</section>
	</div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>