@import "orc_config";
@import "misc_config";
@import "media_queries";

.slides-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;

    .slide {
        margin: 2rem 0;
        .label {
            background: white;
            width: 5rem;
            border-radius: 5px 5px 0 0;
            margin: auto;
            z-index: 10;
            position: relative;
            border: 1px solid $orc-light-purple;
            border-bottom: none;
            margin-bottom: -1px;
        }
        & > img {
            border: 1px solid $orc-light-purple;
            position: relative;
            width: 100%;
            display: block;
        }
    }
}
