@import "misc_config";
@import "orc_config";
@import "media_queries";

// TODO: Move this into a global sheet
.where-oxt {
  h3 {
    font-size: $size-body-md;
    margin-bottom: 1rem;
    color: $orc-rock-gray;

    @include mobile {
      margin-top: 1.5rem;
      font-size: $size-body-md-mobile;
    }
  }

  .listing-container a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5rem;
  }
  img {
    max-width: 120px;
    &.margin {
      margin: 10px 20px;
    }
  }
}

.oxt-row {
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    justify-content: center;
  }
  .oxt-column {
    width: 33%;
    max-width: 18rem;
    @include not-mobile {
      max-width: 18rem;
      &.slim {
        max-width: 13rem;
        margin-right: 2rem;
      }
    }
    @include mobile {
      width: 18rem;
    }
  }
}

.listing-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .listing-col {
    width: 8rem;
    & > a {
      margin: 1.25rem 0;
    }
  }
}
