<div class="video-section" [class.js]="this.js">
  <section class="section-narrow hpad-thin vpad-xl z-index-1 center-text">
    <h3 i18n="@@HomeNextLevel__Title">Welcome to Orchid</h3>

    <div class="video">
      <iframe title="Overview" src="https://www.youtube.com/embed/RRR9FMKtyKk?modestbranding=0&color=white"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <a href="/join">
      <button class="btn-secondary">Learn More</button>
    </a>
  </section>
</div>