@import "misc_config";
@import "orc_config";
@import "media_queries";

.video-section {
  display: none;
  &.js {
    display: block;
  }
  & > section {
    box-sizing: border-box;
    max-width: 720px;
  }
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;

  & > a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #000;
    background-image: url(/assets/img/index/video-thumbnail.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &::before {
      background-color: rgba(0,0,0,0.1);
      box-shadow: 0px 0px 10% rgba(0,0,0,0.2) inset;
    }
    &::after {
      background-size: auto 50px;
      @media (max-width: 960px) {
        background-size: auto 35px;
      }
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(/assets/img/index/yt_icon_mono_light.png);
    }
    &:hover::after {
      background-image: url(/assets/img/index/yt_icon_rgb.png);
    }
  }
}
