<div class="wavy-element-03"></div>

<section class="hero__wrapper">
	<div class="hero__content center">
		<h2 class="page__header">Get Orchid in 2 easy steps!</h2>
		<p>All purchases are 100% covered by the in-app purchase refund policy. iOS/macOS purchases have 90 days to request a refund. For Google Play purchases, the refund window is 48 hours.</p>
	</div>
	<div class="hero__content">
		<h3>Step 1: Choose a starting amount for your Orchid account</h3>
		<p>Orchid accounts include 24/7 customer support, unlimited devices and are backed by the xDai cryptocurrency.</p>
	</div>
	<div class="wavy-element-02"></div>
	<div class="hero__cards">
		<div class="hero__card">
			<div class="card__header">
				~12GB
			</div>
			<div class="card__body">
				<h3>$0.99</h3>
				<b>
					One-time fee.
				</b>
				<p>
					Good for browsing and light activity.
					Refund policy covered by app stores.
				</p>
			</div>
		</div>
		<div class="hero__card center">
			<div class="card__header">
				~60GB
			</div>
			<div class="card__body">
				<h3>$4.99</h3>
				<b>
					One-time fee.
				</b>
				<p>
					Ideal size for medium-term, individual usage that includes browsing and light streaming. Refund policy covered by app stores.
				</p>
			</div>
		</div>
		<div class="hero__card">
			<div class="card__header">
				~240GB
			</div>
			<div class="card__body">
				<h3>$19.99</h3>
				<b>
					One-time fee.
				</b>
				<p>
					Bandwidth-heavy, long-term usage or shared accounts. Refund policy covered by app stores.
				</p>
			</div>
		</div>
	</div>
	<div class="hero__content">
		<h3>Step 2: Pay in the Orchid app</h3>
		<p>Download the Orchid app and fund an account using an in-app purchase. Once funded, you can connect to the Orchid network.</p>
	</div>
	<div class="hero__content">
		<div class="platforms__container">
			<div class="download-images__container">
				<img src="/assets/img/download/phone-1.png" class="download-images__device">
				<img src="/assets/img/download/circle.svg" class="download-images__circle">
				<h4 i18n="@@DownloadAndroid__Title">Android</h4>
				<a href="https://play.google.com/store/apps/details?id=net.orchid.Orchid&referrer=utm_source%3Dwebsite%26utm_campaign%3Ddownloadpage">
					<img width="160" i18n-src="@@GooglePlayBadgeURL" src="/assets/img/shared/google-play-badge.svg" i18n-alt="@@GooglePlayBadgeAlt" alt="Get it on Google Play" style="margin: 0.75rem 0;">
				</a>
			</div>
			<div class="download-images__container">
				<img src="/assets/img/download/macbook.png" class="download-images__device mac">
				<img src="/assets/img/download/circle.svg" class="download-images__circle">
				<h4 i18n="@@DownloadMacOS__Title">macOS</h4>
				<a href="https://apps.apple.com/app/apple-store/id1474884867?pt=120094961&ct=downloadpage&mt=8">
					<img alt="macOS" src="/assets/img/shared/ios.png" style="margin: 0.65rem auto;max-width: 160px;">
				</a>
			</div>
			<div class="download-images__container">
				<img src="/assets/img/download/phone-2.png" class="download-images__device">
				<img src="/assets/img/download/circle.svg" class="download-images__circle">
				<h4 i18n="@@DownloadiOS__Title">iOS</h4>
				<a href="https://apps.apple.com/app/apple-store/id1474884867?pt=120094961&ct=downloadpage&mt=8">
					<img alt="iOS" src="/assets/img/shared/ios.png" style="margin: 0.65rem auto;max-width: 160px;">
				</a>
			</div>
		</div>
	</div>
	<div class="hero__content">
		<div class="perks">
			<h3>Purchasing an Orchid account includes</h3>
			<div class="perks__row">
				<div class="perks__column">
					<div class="perks__item">24/7 customer support via email</div>
					<div class="perks__item">Apps for iOS, macOS, and Android</div>
					<div class="perks__item">Unlimited devices and sharing</div>
				</div>
				<div class="perks__column">
					<div class="perks__item">Open Source code that is trusted and audited</div>
					<div class="perks__item">No app tracking, website tracking or logging</div>
					<div class="perks__item">Not satisfied? Get a refund through the App stores, no questions asked!</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__content center">
		<p>- OR -</p>
		<p><a routerLink="/oxt">Create a custom Orchid Account with your own crypto.</a></p>
	</div>
</section>