<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text">
      <header>
        <h1>The natural VPN</h1>
      </header>
      <p>
        Harnessing the power of community creates a natural and truly next-generation VPN experience. Choose from a
        network of VPN providers with flexible, pay-as-you-go pricing so it’s easy to find one that works for you.
        Access the open internet from restricted zones, harden your security with multiple hops and choose where you
        want your traffic to exit. All open-source, trustible and without any middlemen!
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/app/splash/1x.png"
        srcset="/assets/img/app/splash/1x.png, /assets/img/app/splash/2x.png 2x, /assets/img/app/splash/3x.png 3x">
    </div>
  </section>
</div>

<div>
  <section id="features" class="section-med hpad-wide vpad-wide">
    <ul id="feature-list" class="phantom-list">
      <li>
        <header>
          <img src="/assets/img/app/multi-hop/1x.png"
            srcset="/assets/img/app/multi-hop/1x.png, /assets/img/app/multi-hop/2x.png 2x, /assets/img/app/added-security/3x.png 3x"
            class="ft-image">
          <h3>Multi-hop security</h3>
        </header>
        <p>
          Multi-hop routing connects multiple relays and adds security at each step.
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/app/connect-out/1x.png"
            srcset="/assets/img/app/connect-out/1x.png, /assets/img/app/connect-out/2x.png 2x, /assets/img/app/access-content/3x.png 3x"
            class="ft-image">
          <h3>Connect out</h3>
        </header>
        <p>
          Connect out of restricted zones. Works with existing VPN providers that are blocked.
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/app/no-middlemen/1x.png"
            srcset="/assets/img/app/no-middlemen/1x.png, /assets/img/app/no-middlemen/2x.png 2x, /assets/img/app/better-connections/3x.png 3x"
            class="ft-image">
          <h3>No middlemen</h3>
        </header>
        <p>
          No middleman or monthly contracts. Pay direct, just for use!
        </p>
      </li>
    </ul>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>