<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text">
      <header>
        <h1>Try Orchid</h1>
      </header>
      <p>
        Use Orchid to access the VPN you are having problems with using our Bandwidth Smuggling algorithm.
      </p>
      <p>
        Select amongst VPN providers, both professional and semi-professional until something works for your use case.
        Switch providers with the click of a button.
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/app/splash.svg">
    </div>
  </section>
</div>

<div>
  <section id="features" class="section-med hpad-wide vpad-wide">
    <ul id="feature-list" class="phantom-list">
      <li>
        <header>
          <img src="/assets/img/app/added-security.svg">
          <h3>Added security</h3>
        </header>
        <p>
          Multi-hop routing connects multiple relays and adds security at each step
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/app/access-content.svg">
          <h3>Access content</h3>
        </header>
        <p>
          Gets bandwidth out of firewall protected places
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/app/better-connections.svg">
          <h3>Better connections</h3>
        </header>
        <p>
          Better connections over wireless
        </p>
      </li>
    </ul>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>