<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/P8PGuestCard_DraganaKaurin.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                May 26, 2021
                            </div>
                            <h3>
                                Episode 49: Dragana Kaurin
                            </h3>
                            <p>
                                What happens when we design with equity in mind? Derek E. Silva joins Dragana Kaurin, a human rights researcher and founder of The Localization Lab, an organization fighting for equal access to information. A deep dive into building the Internet for everyone, and the privacy issues around digital identity.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button" href="https://podcasts.apple.com/us/podcast/human-rights-building-internet-for-everyone-dragana/id1516705670?i=1000523184466">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://open.spotify.com/episode/58m12eB8vLjeyM0rMVhnNN">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://podcasts.google.com/feed/aHR0cHM6Ly9mb2xsb3d0aGV3aGl0ZXJhYmJpdC5saWJzeW4uY29tL3Jzcw/episode/MGU2NDhmMTYtMjNiZC00NmY2LWFlMWItOGVhYWE4NjIzYWVl">
                                    <img src="/assets/img/podcast/platforms/google-podcast.svg" alt="google-podcast">
                                    <div class="podcast-button__text">
                                        Google Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://castbox.fm/episode/Human-Rights-and-Building-the-Internet-for-Everyone-with-Dragana-Kaurin-id2954358-id385805270">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>
                                <a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=163328453">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>