<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/[placeholder])">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                November 25, 2020
                            </div>
                            <h3>
                                Episode 25: [placeholder]
                            </h3>
                            <p>
                                [placeholder]
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        [placeholder]
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>