<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/FTWRWebsite_FranckNouyrigat.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                January 6, 2021
                            </div>
                            <h3>
                                Episode 30: Franck Nouyrigat
                            </h3>
                            <p>
                                We go down the rabbit hole with Franck Nouyrigat, Co-founder of Startup Weekend and
                                Electis, a nonprofit focused on how technology can reshape democracy. We take a deep
                                dive into the future of voting, what’s in the DNA of a great entrepreneur, and how to
                                build a robust community online.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none"
                            src="//html5-player.libsyn.com/embed/episode/id/17407007/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030400/"
                            height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>