@import 'media_queries';
@import 'misc_config';

header h1 { line-height: 67px; }

.conv-2up {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2rem 1fr;
  grid-template-areas: "left . right";

  @include mobile {
    grid-template-rows: auto 2rem auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "."
      "right";
  }
}

.conv2-left {
  grid-area: left;
}

.conv2-right {
    grid-area: right;
    &.pull-up { position: relative; margin-top: -8px; }
}

// Look up "css constrain aspect ratio" if you want to know the reason why any of
// this garbage works.

.conv-169-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: (9.0 / 16.0 * 100%);
  max-width: (16.0 / 9.0 * 20rem);
  max-height: 20rem;
}

.conv-169 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: (16.0 / 9.0 * 20rem);
  max-height: 20rem;
}

.conv-image {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: contain;
  object-position: center;
}

#founder-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: -2rem;

  > li {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2rem 2rem 2rem 0rem;
  }
}

.founder-image {
  display: block;
  width: 12rem;
  height: 12rem;
  margin-bottom: 2rem;
  border-radius: 100vmax;
  overflow: hidden;
  box-shadow: mat-shadow(40px, $alpha: 0.2), 0 1px .5px rgba(white, 0.4) inset;
}

.sale-header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;

  > h2 {
    margin-right: .5em;
  }
}

ul.sale-icons {
    display: flex;
    align-items: baseline;
}

.sale-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-content: left;

  &.saft-raise {
      text-align: center;
      justify-content: center;
      align-content: center;
  }
  
  > li {
    margin: 2rem 2rem 2rem 0rem;
  }

  img { max-width: 200px; }
}

#corporate-info {
  display: grid;
  grid-template-rows: auto 1rem auto;
  // NB: 16.5rem taken from .btn-fixed
  grid-template-columns: 3fr 1rem 16.5rem;
  grid-template-areas:
    "header  . buttons"
    ".       . buttons"
    "address . buttons";

  @include mobile {
    grid-template-rows: auto 1rem auto 1rem auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "."
      "address"
      "."
      "buttons";
  }
}

#corporate-header {
  grid-area: header;
}

#corporate-address {
  grid-area: address;
  display: flex;
  flex-flow: row wrap;
  margin: -.5rem -1rem;

  > address {
    margin: .5rem 1rem;
  }
}

#corporate-buttons {
  grid-area: buttons;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: -1rem;

  @include mobile {
    align-items: center;
  }

  > button {
    display: block;
    margin: 1rem;
  }
}

.adorner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    @include mobile {
	justify-content: center;
	margin: 1rem 0 1rem;
    }

    img.adorner-image {
	position: absolute;
	left: -6rem;
	top: -6rem;
	opacity: 1.0;
    }
}

#company-adorner-top { justify-content: flex-start; }
#company-adorner-bottom { img.adorner-image { top: -8rem; } }
#values-adorner { img.adorner-image { top: -1rem; left: -15rem; } }
#buttons-adorner { img.adorner-image { top: -2.5rem; left: -1.5rem; } }
