<div class="about-company__page-container">
  <div class="bk-beige-light about-company__splash-container">
    <section class="about-company__splash">
      <div class="about-company__splash-text-container">
        <h1 i18n="@@AboutCompanyHero__Title">
          We can <br>
          reclaim the <br>
          internet <br>
          <span class="big">
            together
          </span>
        </h1>
      </div>
      <div class="about-company__splash-image-container">
        <img src="/assets/img/company/splash/splash-foreground.svg" width="868" height="706" alt="splash image">
      </div>
    </section>
  </div>

  <div class="about-company__centered-text-section-container">
    <div class="about-company__centered-text-floating-circle-1"></div>
    <div class="about-company__centered-text-floating-circle-2"></div>

    <section class="about-company__centered-text-section section-med hpad-wide vpad-wide center-text"
      i18n="@@AboutCompany__Description">
      <h2>Why build a privacy network?</h2>
      <p>
        The Internet opened up an unlimited world of information. Its creators invited us to bring our curiosity and
        explore that world freely.
      </p>

      <p>
        As the Internet grew, exploring freely became harder. Web 2.0 business models incentivized companies to watch
        and track us and sell our data. And in some places, limits were placed on the information we can see.
      </p>

      <p>
        But that is changing. The decentralized Web 3.0 being built on Ethereum is allowing the Internet to be reclaimed
        by its users.
      </p>

      <p>
        At Orchid we share in this mission. We use Web 3.0 technology to offer users better digital privacy today, so we
        can realize the promise of the Web 1.0 and explore freely again.
      </p>

      <p>
        Orchid was founded in 2017 to help restore the open and accessible Internet for everyone. Since then, we have
        grown an incredible team based in San Francisco and Berlin and launched the first incentivized, peer-to-peer privacy network in December, 2019.
      </p>
    </section>
  </div>

  <div class="bk-lavender">
    <section class="about-company__team-section hpad-wide vpad-wide">
      <div class="about-company__team-text">
        <h2 i18n="@@OrchidTeamTitle">The Orchid Team</h2>
        <p i18n="@@OrchidTeamDescription">
          Orchid’s founders bring together deep experience in the open source software community (BASH Shell, GNU Finger), technology management (RPX IPO), blockchain investment (Bitstamp, Pantera Capital), jailbroken app package management (Cydia) and security (Wells Fargo’s 1st Online Banking employee, Ethereum core security team).
        </p>
      </div>

      <div class="about-company__team about-company__team-big">
        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/DrStevenWaterhouse.png" alt="Dr. Steven Waterhouse" />
          <h5>
            Dr. Steven Waterhouse
          </h5>
          <p>Co-Founder / CEO</p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/JayFreeman.png" alt="Jay Freeman" />
          <h5>
            Jay Freeman
          </h5>
          <p>Co-Founder / CTO</p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/BrianJFox.png" alt="Brian J. Fox" />
          <h5>
            Brian J. Fox
          </h5>
          <p>Co-Founder</p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/GustavSimonsson.png" alt="Gustav Simonsson" />
          <h5>
            Gustav Simonsson
          </h5>
          <p>Co-Founder / Advisor</p>
        </div>
      </div>

      <hr>

      <div class="about-company__team about-company__team-small">

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/AlexKehaya.png" alt="Alex Kehaya" />
          <h5>
            Alex Kehaya
          </h5>
          <p>
            Business Development
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/DerekSilva.png" alt="Derek Silva" />
          <h5>
            Derek Silva
          </h5>
          <p>
            Community
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/PaulaKanin.png" alt="Paula Kanin" />
          <h5>
            Paula Kanin
          </h5>
          <p>
            Community
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/ShawneeNova.png" alt="Shawnee Nova" />
          <h5>
            Shawnee Nova
          </h5>
          <p>
            Community
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/ChadHarper.png" alt="Chad Harper" />
          <h5>
            Chad Harper
          </h5>
          <p>
            Design
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/SaskiaEssex.png" alt="Saskia Essex" />
          <h5>
            Saskia Essex
          </h5>
          <p>
            Design
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/ThientamBach.png" alt="Thientam Bach" />
          <h5>
            Thientam Bach
          </h5>
          <p>
            Design
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/AlexandraMcolgan.png" alt="Alexandra McColgan" />
          <h5>
            Alexandra McColgan
          </h5>
          <p>
            EA
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/MichelleUnderwood.png" alt="Michelle Underwood" />
          <h5>
            Michelle Underwood
          </h5>
          <p>
            EA
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/DanMontgomery.png" alt="Dan Montgomery" />
          <h5>
            Dan Montgomery
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/GregHazel.png" alt="Greg Hazel" />
          <h5>
            Greg Hazel
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/JakeCannell.png" alt="Jake Cannell" />
          <h5>
            Jake Cannell
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/JenniferRodriguez-Miller.png" alt="Jennifer Rodriguez-Miller" />
          <h5>
            Jennifer Rodriguez-Miller
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/JustinSheek.png" alt="Justin Sheek" />
          <h5>
            Justin Sheek
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/NathanHandler.png" alt="Nathan Handler" />
          <h5>
            Nathan Handler
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/PatrickNiemeyer.png" alt="Patrick Niemeyer" />
          <h5>
            Patrick Niemeyer
          </h5>
          <p>
            Engineering
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/SelinaCheng.png" alt="Selina Cheng" />
          <h5>
            Selina Cheng
          </h5>
          <p>
            Finance
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/JoyHu.png" alt="Joy Hu" />
          <h5>
            Joy Hu
          </h5>
          <p>
            Finance
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/PatrickJDietzen.png" alt="Patrick J. Dietzen" />
          <h5>
            Patrick J. Dietzen
          </h5>
          <p>
            Finance
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/AmandaGutterman.png" alt="Amanda Gutterman" />
          <h5>
            Amanda Gutterman
          </h5>
          <p>
            Marketing
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/MonicaPuchner.png" alt="Monica Puchner" />
          <h5>
            Monica Puchner
          </h5>
          <p>
            Operations
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/TravisCanell.png" alt="Travis Cannell" />
          <h5>
            Travis Cannell
          </h5>
          <p>
            Product
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/DavidSalamon.png" alt="David Salamon" />
          <h5>
            David Salamon
          </h5>
          <p>
            Advisor
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/MattRoszak.png" alt="Matt Roszak" />
          <h5>
            Matt Roszak
          </h5>
          <p>
            Advisor
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/SarahFeinberg.png" alt="Sarah Feinberg" />
          <h5>
            Sarah Feinberg
          </h5>
          <p>
            Advisor
          </p>
        </div>

        <div class="about-company-team-member">
          <img src="/assets/img/company/staff/RichStarpoli.png" alt="Rich Staropoli" />
          <h5>
            Rich Staropoli
          </h5>
          <p>
            Advisor
          </p>
        </div>

      </div>
    </section>
  </div>

  <div>
    <section class="about-company__corporate-info-section section-med hpad-wide vpad-wide">
      <div id="corporate-header">
        <h2 i18n="@@AboutCompanyCorporate__Title">Corporate info</h2>
        <p i18n="@@AboutCompanyCorporate__Subtitle">Orchid is a Delaware c-corp</p>
      </div>
      <div id="corporate-address">
        <address i18n="@@AboutCompanyCorporate__Address">
          Headquarters:<br>
          1288 Columbus Ave. #122,<br>
          San Francisco, CA 94133
        </address>
        <address i18n="@@AboutCompanyCorporate__Address2">
          Europe:<br>
          Skalitzer Str. 85,<br>
          10997 Berlin, Germany
        </address>
      </div>
      <div class="z-index-1" id="corporate-buttons">
        <button (click)="go_sec()" class="btn-primary btn-fixed" i18n="@@AboutCompanyCorporate__SECFilingButton">SEC Filing</button>
        <button (click)="go_press()" class="btn-primary btn-fixed" i18n="@@AboutCompanyCorporate__PressKitButton">Press Kit</button>
      </div>
      <div class="adorner" id="buttons-adorner">
        <div class="pos-relative">
          <img alt="" class="adorner-image" src="/assets/img/company/buttons-adorner.png">
        </div>
      </div>
    </section>
  </div>

</div>

<app-newsletter-signup></app-newsletter-signup>
