<div class="bk-deep-purple">
  <header class="section-wide hpad-wide pad-bot-wide">
    <h1 class="small center-text">
      Orchid’s mission is to build open-source software that keeps the internet open and accessible — a natural
      resource for everyone, everywhere.
    </h1>
  </header>
</div>

<div class="bk-faint-gray">
  <section class="section-med hpad-wide vpad-wide">
    <h2 class="p-gap">Company</h2>
    <div class="adorner" id="company-adorner-top">
      <div class="pos-relative">
        <img class="adorner-image" src="/assets/img/company/company-adorner-top.svg">
      </div>
    </div>
    <div class="z-index-1">
      <p>
        Orchid was founded in 2017, on the principle that the internet should be more open and more accessible, to
        everyone. In 2017 and 2018, Orchid successfully raised more than $48 million, and those funds immediately went
        towards building the Orchid team – now with offices in CA and Berlin – and to creating the technology and
        products that will advance our mission.
      </p>
      <p>
        Orchid’s founders bring together deep experience in the open source software community (BASH Shell, GNU Finger),
        technology management (RPX IPO), blockchain investment (Bitstamp, Pantera Capital), jailbroken app package
        management (Cydia) and security (Wells Fargo’s 1st Online Banking employee, Ethereum core security team).
      </p>
    </div>
    <div class="adorner" id="company-adorner-bottom">
      <div class="pos-relative">
        <img class="adorner-image" src="/assets/img/company/company-adorner-bottom.svg">
      </div>
    </div>
  </section>
</div>

<div>
  <section class="section-wide hpad-wide vpad-wide">
    <h1 class="p-gap">Values</h1>
    <!-- TODO: gap-bot-wide seems like the wrong class -->
    <div class="conv-2up gap-bot-wide">
      <div class="conv2-left">
        <div class="conv-169-wrapper">
          <iframe class="conv-169" src="https://www.youtube.com/embed/qo0R6ww4Hvc" frameborder="0"
		  allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="conv2-right pull-up">
	<div  class="adorner" id="values-adorner">
	  <div class="pos-relative">
            <img class="adorner-image" src="/assets/img/company/values-adorner.svg">
	  </div>
	</div>
        <strong><time datetime="2018-07-25">Jul. 25, 2018</time></strong>
        <h4>Seven Waterhouse<br>Oslo Freedom Forum</h4>
        <p>
          As a co-founder of Orchid Labs, Dr. Steven Waterhouse works to combat the global rise of centralized
          surveillance states. In a world where private information is commodified, free communication is censored, and
          every minute action is consequentially scrutinized, Waterhouse discusses how decentralization of the global
          internet architecture could be the key to preserving democracy, privacy, and individual rights.
        </p>
      </div>
    </div>
    <div class="conv-2up">
      <div class="conv2-left">
        <img src="/assets/img/company/token-sales-social-change.png" alt="How Token Sales Can Be an Instrument for Social Change"
		class="conv-image">
        <strong><time datetime="2017-10-26">Oct. 26, 2017</time></strong>
        <h4>How Token Sales Can Be an Instrument for Social Change</h4>
        <p>
          …why can’t we build an Internet that no one can shut down, so that everyone can use it without fear?
        </p>
      </div>
      <div class="conv2-right">
        <img src="./assets/img/company/three-internets.png"
		alt="There May Soon Be Three Internets. America’s Won’t Necessarily Be the Best." class="conv-image">
        <strong><time datetime="2018-10-15">Oct. 15, 2018</time></strong>
        <h4>There May Soon Be Three Internets. America’s Won’t Necessarily Be the Best.</h4>
        <p>
          A breakup of the web grants privacy, security and freedom to some, and not so much to others.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-wide hpad-wide vpad-wide">
    <h1 class="p-gap">Founders</h1>
    <ul id="founder-list" class="phantom-list">
      <li>
        <img class="founder-image" src="/assets/img/company/founders/steven-waterhouse.png" alt="Dr. Seven Waterhouse">
        <h4 class="center-text">Dr. Seven Waterhouse</h4>
      </li>
      <li>
        <img class="founder-image" src="/assets/img/company/founders/brian-j-fox.png" alt="Brian J. Fox">
        <h4 class="center-text">Brian J. Fox</h4>
      </li>
      <li>
        <img class="founder-image" src="/assets/img/company/founders/jay-freeman.png" alt="Jay Freeman">
        <h4 class="center-text">Jay Freeman</h4>
      </li>
      <li>
        <img class="founder-image" src="/assets/img/company/founders/gustav-simonsson.png" alt="Gustav Simonsson">
	<h4 class="center-text">Gustav Simonsson</h4>
      </li>
    </ul>
  </section>
</div>

<div>
  <section class="section-wide hpad-wide vpad-wide">
    <h1 class="gap-bot-wide">Private sale</h1>
    <div class="sale-header">
      <h2>Seed SAFT</h2>
      <strong class="secondary">4.7M closed May 2017</strong>
    </div>
    <ul class="phantom-list sale-icons">
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-dfj.png" alt="DFJ"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-andreesen.png" alt="Andreessen Horowitz"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-sequoia.png" alt="Sequoia"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-meta.png" alt="MetaStable"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-yes.png" alt="Yes VC"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-danhua-cap.png" alt="Danhua Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-c.png" alt="C"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-box-group.png" alt="Box Group"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-blockchain.png" alt="Blockchain Capital"></li>
    </ul>
    <!-- TODO: this could probably be a quote element -->
    <div class="vgap-wide">
      <p class="big center-text">
        “Orchid struck us as one of the first killer apps that we can see getting broad appeal. It also has an important
        mission that we think is very timely in the world today.”
      </p>
      <p class="center-text">
        <em>— Matt Huang, Former Sequoia partner and Paradigm co-founder (Business Insider, Nov. 2017)</em>
      </p>
    </div>
    <div class="sale-header">
      <h2>SAFT Raise</h2>
      <strong class="secondary">45M closed June 2018</strong>
    </div>
    <ul class="phantom-list sale-icons saft-raise">
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-wing.png" alt="Wing"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-foundation-capital.png" alt="Foundation Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-blockchange-capital.png" alt="BlockChange Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-scytale-ventures.png" alt="Scytale Ventures"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-standard-kepler.png" alt="Standard Kepler"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-hack-vc.png" alt="Hack VC"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-struck-capital.png" alt="Struck Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-moon-capital.png" alt="Moon Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-springview-capital.png" alt="Springview Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-altair-capital.png" alt="Altair Capital"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-kittyhawk.png" alt="KittyHawk"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-crypto-bazar.png" alt="Crypto Bazar"></li>
      <li><img class="sale-icon" src="/assets/img/company/funders/logo-day-one.png" alt="Day One Ventures"></li>
    </ul>
  </section>
</div>

<div class="bk-lavender">
  <section id="corporate-info" class="section-med hpad-wide vpad-wide">
    <div id="corporate-header">
      <h2>Corporate info</h2>
      <p>Orchid Labs, Inc. is a Delaware c-corp</p>
    </div>
    <div id="corporate-address">
      <address>
        Headquarters:<br>
        1288 Columbus Ave. #122,<br>
        San Francisco, CA 94133
      </address>
      <address>
        Europe:<br>
        Skalitzer Str. 85,<br>
        10997 Berlin, Germany
      </address>
    </div>
    <div class="z-index-1" id="corporate-buttons">
      <button class="btn-primary btn-fixed">SEC Filing</button>
      <button class="btn-primary btn-fixed">Press Kit</button>
    </div>
    <div  class="adorner" id="buttons-adorner">
      <div class="pos-relative">
        <img class="adorner-image" src="/assets/img/company/buttons-adorner.png">
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
