<div class="bk-deep-purple">
  <header class="section-wide hpad-wide pad-bot-wide">
    <h1 class="small center-text">
      Orchid’s mission is to build open-source software that keeps the internet open and accessible — a natural
      resource for everyone, everywhere.
    </h1>
  </header>
</div>

<div class="bk-faint-gray">
  <section class="section-med hpad-wide vpad-wide">
    <h2 class="p-gap">Company</h2>
    <div class="z-index-1">
      <p>
        Orchid was founded in 2017, on the principle that the internet should be more open and more accessible, to
        everyone. In 2017 and 2018, Orchid successfully raised more than $48 million, and those funds immediately went
        towards building the Orchid team – now with offices in CA and Berlin – and to creating the technology and
        products that will advance our mission.
      </p>
      <p>
        Orchid’s founders bring together deep experience in the open source software community (BASH Shell, GNU Finger),
        technology management (RPX IPO), blockchain investment (Bitstamp, Pantera Capital), jailbroken app package
        management (Cydia) and security (Wells Fargo’s 1st Online Banking employee, Ethereum core security team).
      </p>
    </div>
    <h1>Put the stupid adorners in.</h1>
  </section>
</div>

<div>
  <section class="section-wide hpad-wide vpad-wide">
    <h1>Convictions</h1>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-wide hpad-wide vpad-wide">
    <h1>Founders</h1>
  </section>
</div>

<div>
  <section class="section-wide hpad-wide vpad-wide">
    <h1>Private sale</h1>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-med hpad-wide vpad-wide">
    <h2>Corporate info</h2>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
