@use "sass:math";
@import "media_queries";
@import "misc_config";
@import "orc_config";

$mobile-nav-height: 64px;

.nav-infobar {
	display: none;
	&.visible {
		display: block;
	}
	background: $orc-purple;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding: 0.3rem;
	font-size: 0.75rem;

	box-sizing: border-box;
	height: 1.9rem;

	.mobile {
		display: none;
	}
	@include mobile {
		&.js {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 999; // NB: this is because the z-index for #nav-flyout-bkgd is 1000
		}
		.desktop {
			display: none;
		}
		.mobile {
			display: inline;
		}
		@media (max-width: 340px) {
			font-size: 0.7rem;
		}
		@media (max-width: 319px) {
			font-size: 0.6rem;
		}
	}
}

#nav-root {
	z-index: 999;
	position: relative;
	@include mobile {
		//margin-bottom: 1.9rem;
		&.slim {
			margin-bottom: 0;
		}
	}
	&.purple {
		margin-bottom: 0;
		background: #ffffff;
	}
	@include not-mobile {
		&.purple {
			background: transparent;
			position: absolute;
			width: 100%;
			.nav-menu > ul > li > span,
			.nav-menu > ul > li > a {
				color: #ffffff;
			}

			img {
				filter: brightness(100);
			}
		}
	}

	&.slim {
		.nav-infobar {
			display: none;
		}
		#nav.js {
			top: 0;
		}
	}
}

#nav {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include not-mobile {
		// padding-bottom: 4rem;
	}

	@include size-body-sm;

	$ease-in: cubic-bezier(0.35, 0.25, 0.75, 0.5);
	$ease-out: cubic-bezier(0.25, 0.5, 0.5, 1);

	@include mobile {
		padding: 1rem;

		&:not(.js) {
			align-items: flex-start;
		}

		&.js {
			transition-property: box-shadow;
			transition-duration: 0.2s;
			transition-timing-function: $ease-out;
			position: fixed;
			left: 0;
			right: 0;
			//top: 1.9rem;
			&.purple {
				top: 0;
			}
			box-sizing: border-box;
			height: $mobile-nav-height;
			background: inherit;
			box-shadow: mat-shadow(8px, $alpha: 0.2);
			z-index: 999; // NB: this is because the z-index for #nav-flyout-bkgd is 1000
		}

		&.no-shadow {
			// I hate CSS. (This deals with rule importance)
			& {
				transition-duration: 0.07s;
				transition-timing-function: $ease-in;
				box-shadow: mat-shadow(0px, $alpha: 0.2);
			}
		}
	}

	@include large-screen {
		justify-content: space-between;
	}
}

.nav-download {
	display: none;

	& > button.btn-secondary {
		font-size: $size-body-sm;
		padding: 0.05rem 1.5rem;
	}

	@include large-screen {
		display: block;
	}
}

.nav-purple-icon {
	@include not-mobile {
		transform: translateY(0.25rem);
	}
	@include mobile {
		display: none !important;
	}
}

#nav-home {
	flex: 1 0 auto;

	@include large-screen {
		flex: none;
	}

	line-height: 0px;

	> a {
		margin: -1rem;
		padding: 1rem;
	}
}

$flyout-time: 0.3s;
$flyout-time-open: 0.4s;
$flyout-ease-in: cubic-bezier(0.45, 0.1, 0.75, 0.5);
$flyout-ease-out: cubic-bezier(0.25, 0.5, 0.5, 1);

$flyout-spacing: 2rem;
$flyout-gap: math.div($flyout-spacing, 2);

.nav-menu {
	@include not-mobile {
		flex: 0 0 auto;
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		//margin: -1rem 0 1rem;
	}

	// TODO: the transition causes some weirdness when the media query is triggered

	@include mobile {
		overflow-y: auto;
		margin: 0;
		padding: 0;

		&.animate {
			transition-property: transform;
			transition-duration: $flyout-time;
			transition-timing-function: $flyout-ease-in;
		}

		&.js {
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 1rem 1rem $flyout-gap $flyout-gap;
			width: 10rem;
			background: $orc-beige-light;
			color: $orc-rock-gray;
			box-shadow: mat-shadow(-8px, $alpha: 0.1, $x: true);
			transform: translate(100%, 0);
			z-index: 1001; // NB: this is because the z-index for #nav-flyout-bkgd is 1000
		}

		&.open {
			transition-duration: $flyout-time-open;
			transition-timing-function: $flyout-ease-out;
			transform: translate(0, 0);
		}
	}
}

#nav-flyout-header {
	margin: -1rem -1rem 0;
	box-sizing: border-box;
	height: $mobile-nav-height;

	:not(.js) > & {
		display: none;
	}
}

#nav-flyout-close {
	display: flex;
	flex-flow: row-reverse nowrap;
	margin: 0;
	padding: 1rem;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.nav-list {
	@include not-mobile {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		> li {
			$a-pad: 0.5rem;

			> a {
				position: relative;
				padding: $a-pad;
			}

			&.active-link > a::after {
				$height: 4px;
				content: " ";
				position: absolute;
				left: $a-pad;
				right: $a-pad;
				bottom: calc(#{$a-pad} - #{$height});
				bottom: -3px;
				height: $height;
				background: $orc-purple;
				border-radius: 100vmax;
			}
		}
	}

	@include mobile {
		text-align: right;

		> li {
			> a {
				display: block;
				padding: $flyout-gap 0;
				width: 100%;
			}
		}
	}

	> li {
		font-weight: 700;
		text-transform: uppercase;
	}

	&.basic {
		& > li {
			display: none;
			&.navbar-language-selector {
				display: block;
			}
		}
	}
}

#nav-toggle {
	margin: -1rem;
	padding: 1rem;
	cursor: pointer;

	:not(.js) > & {
		display: none;
	}
}

#nav-flyout-bkgd {
	transition-property: opacity;
	transition-duration: $flyout-time;
	transition-timing-function: $flyout-ease-in;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(black, 0.4);
	opacity: 0;
	pointer-events: none;
	z-index: 1000; // I hate CSS

	&.open {
		transition-duration: $flyout-time-open;
		transition-timing-function: $flyout-ease-out;
		pointer-events: all;
		opacity: 1;
	}
}

#nav-pin {
	height: $mobile-nav-height;
}

.nav-menu .nav-list {
	li {
		@include mobile {
			padding-top: 10px;
		}
	}

	li.social-button {
		padding-top: 0;

		&.first {
			padding-left: 50px;
		}
	}

	@media screen and (max-width: 800px) {
		li.social-button {
			display: none;
		}

		a.phantom-a {
			padding: 10px 0px;
		}
	}
}

.navbar-language-selector {
	cursor: pointer;
	position: relative;

	svg {
		width: 0.75em;
		padding: 0.125em;
		margin-left: 0.25em;
		height: auto;
	}

	@include not-mobile {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.navbar-language-selector-checkbox-label {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#navbar-language-selector-checkbox {
	display: none;
}

@keyframes navbar-language-selector-animation {
	0% {
		opacity: 0;
		margin-top: -0.25rem;
	}

	100% {
		opacity: 1;
		margin-top: 0;
	}
}

.navbar-language-selector-list {
	padding: 0;

	@include not-mobile {
		display: none;
		position: absolute;
		top: 100%;
		top: calc(100% + 0.5rem);
		left: 0%;
		z-index: 100;
		padding: 0.5rem;
		background: #fff;
	}

	width: auto;
	min-width: 100%;
	list-style: none;
	margin: 0;

	& > li:nth-child(1)#navbar-language-selector-list-item-first {
		@include not-mobile {
			padding-top: 0;
		}
	}
}

#navbar-language-selector-checkbox:checked ~ .navbar-language-selector-list {
	@include not-mobile {
		display: block;
		animation-name: navbar-language-selector-animation;
		animation-timing-function: ease-out;
		animation-duration: 0.3s;
	}
}

.navbar-language-selector-list > li {
	position: relative;
	display: block;
	border-right: 1px $orc-gray solid;
	padding-right: 0.25rem;

	@include not-mobile {
		padding-right: 0;
		border-right: none;
		text-align: center;

		a {
			padding: 7px 0;
			display: inline-block;
			width: 100%;
		}
	}

	/*&:after {
		  content: ' ';
		  display: block;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  height: 2px;
		  background: $orc-purple;
		  border-radius: 1px;
		  position: absolute;
		  margin-left: 100%;
		  width: 0%;
		  @include not-mobile {
			  margin-left: 50%;
			  width: 0%;
		  }
		  transition: all 0.25s ease;
	  }
	  &:hover:after {
		  width: 50%;
		  margin-left: 50%;
		  @include not-mobile {
			  width: 50%;
			  margin-left: 25%;
	  }
	  }*/
}
