@import 'misc_config';
@import 'orc_config';
@import 'media_queries';

#error, #success {
  margin: 0 auto 0 auto;
  max-width: 50%;
  padding: 3rem 1rem 0;
  font-size: 1.25em;
}

#error {
  color: $color-error;
}

header h2 {
  margin-bottom: 1rem;
}

label.gdpr-consent {
    margin-top: 0;
    input[type="checkbox"] {
	margin-right: 8px;
    }
    &.blink_box { padding: 4px; border: 2px solid red; }
}
