<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_RMuirhead_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 19, 2020
                            </div>
                            <h3>
                                Episode 11: Richard Muirhead
                            </h3>
                            <p>
                                Go down the rabbit hole with Richard Muirhead, Managing Partner of Fabric Ventures and an early Orchid supporter. A Bitcoin believer since 2013, he shares his ideas about decentralization, the token economy, and the future of privacy.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15666761/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/050700/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>