<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_AAntonopoulos.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                December 16, 2020
                            </div>
                            <h3>
                                Episode 28: Andreas Antonopoulos
                            </h3>
                            <p>
                                Go down the rabbit hole with Andreas Antonopoulos, tech entrepreneur and one of crypto's
                                best known evangelists. He shares his thoughts on the future of Bitcoin, his mission to
                                educate the world about open blockchain, and why society should protect privacy online.
                            </p>
                            <div class="card-footer">
                                <a class="podcast-button"
                                    href="https://podcasts.apple.com/us/podcast/future-bitcoin-price-privacy-andreas-antonopoulos/id1516705670?i=1000502602673">
                                    <img src="/assets/img/podcast/platforms/apple-podcast.svg" alt="Apple Podcast">
                                    <div class="podcast-button__text">
                                        Apple Podcasts
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://open.spotify.com/episode/3BTeoTBit2sLCrQY4vN6QC">
                                    <img src="/assets/img/podcast/platforms/spotify.svg" alt="spotify">
                                    <div class="podcast-button__text">
                                        Spotify
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://www.stitcher.com/show/follow-the-white-rabbit/episode/future-of-bitcoin-and-the-price-of-privacy-with-andreas-antonopoulos-80203307">
                                    <img src="/assets/img/podcast/platforms/stitcher.svg" alt="stitcher">
                                    <div class="podcast-button__text">
                                        Stitcher
                                    </div>
                                </a>
                                <!--<a class="podcast-button" href="">
                                    <img src="/assets/img/podcast/platforms/castbox.svg" alt="castbox">
                                    <div class="podcast-button__text">
                                        Castbox
                                    </div>
                                </a>-->
                                <a class="podcast-button" href="https://www.deezer.com/us/episode/266275972">
                                    <img src="/assets/img/podcast/platforms/deezer.svg" alt="deezer">
                                    <div class="podcast-button__text">
                                        Deezer
                                    </div>
                                </a>
                                <a class="podcast-button" href="https://www.podbean.com/media/share/dir-8pppe-c6b8954">
                                    <img src="/assets/img/podcast/platforms/podbean.svg" alt="podbean">
                                    <div class="podcast-button__text">
                                        Podbean
                                    </div>
                                </a>
                                <a class="podcast-button"
                                    href="https://tunein.com/podcasts/Technology-Podcasts/Follow-the-White-Rabbit-p1330281/?topicId=159484139">
                                    <img src="/assets/img/podcast/platforms/tunein.svg" alt="tunein">
                                    <div class="podcast-button__text">
                                        Tunein
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>