@use "sass:math";
// Expected structure for v-feature-list:

//  <ul matching parent-sel class="phantom-list">
//    <li> <!-- add the class ft-rtl here to flip direction -->
//      <* matching image-sel>
//        <img>
//      </*>
//      <* matching text-sel>...</*>
//    </li>
//    . . .
//  </ul>

@mixin v-feature-list($parent-sel, $text-sel, $image-sel) {
	#{$parent-sel} {
		> li {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			&.ft-rtl {
				flex-flow: row-reverse nowrap;
			}

			@include mobile {
				&,
				&.ft-rtl {
					flex-flow: column nowrap;
				}

				&:not(:last-child) {
					margin-bottom: 4rem;
				}
			}
		}
	}

	#{$text-sel} {
		flex: 1 3 auto;
		margin: 0 4rem;

		@include mobile {
			margin: 0;
			text-align: center;
		}
	}

	#{$image-sel} {
		flex: 0 1 auto;

		// TODO: this probably needs to be reverted to just max-width: 100%;
		> img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: center;
		}
	}
}

// Expected structure for h-feature-list:

//  <* matching parent-sel>
//    . . .
//    <ul matching list-sel class="phantom-list">
//      <li>
//        <header>
//          <img matching image-sel>
//          <h3>...</h3>
//        </header>
//        <p>...</p>
//      </li>
//      . . .
//    </ul>
//    . . .
//  </*>

@mixin h-feature-list($parent-sel, $list-sel, $image-sel) {
	$feature-sep: 4rem;

	#{$parent-sel} {
	}

	#{$list-sel} {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		text-align: center;
		margin: (math.div($feature-sep, -2));

		@include mobile {
			flex-flow: column nowrap;
		}

		> li {
			flex: 1 1 10rem;
			margin: math.div($feature-sep, 2);
		}
	}

	#{$image-sel} {
		height: 12rem;
	}
}
