input {
  border-radius: 100px;
  height: 43px;
  background: inherit;
  border: 2px solid $orc-ws-gray;
  font-size: 18px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 28px;

  &:focus {
    border-color: $orc-ws-purple;
  }
}
