$mobile-width: 870px;
$screen-large-width: 1200px;
$vert-splash-width: 960px;

@mixin mobile {
	@media screen and (max-width: $mobile-width) {
		@content;
	}
}

@mixin not-mobile {
	@media screen and (min-width: $mobile-width + 1) {
		@content;
	}
}

@mixin not-large-screen {
	@media screen and (max-width: $mobile-width) {
		@content;
	}
}

@mixin large-screen {
	@media screen and (min-width: $screen-large-width + 1) {
		@content;
	}
}

@mixin vert-splash {
	@media screen and (max-width: $vert-splash-width) {
		@content;
	}
}

@mixin not-vert-splash {
	@media screen and (min-width: $vert-splash-width + 1) {
		@content;
	}
}
