// This file is for config taken from the site design, not the playbook

// NB: color-picked from site design
$bkgd-white:      #fff;
$bkgd-lavender:   #f3f4f9;
$bkgd-faint-gray: #fbfbf9;

$size-body: 18px;
$size-body-sm: 16px;
$size-btn-body: 24px;

$size-h1: 54px;
$size-h2: 40px;

@function mat-shadow($size, $alpha: 0.4, $inset: false) {
  $half: $size / 2.0;
  $inset-str: if($inset, " inset", "");
  @return unquote("0 #{$half} #{$size} #{rgba(black, $alpha)}#{$inset-str}, 0 0 #{$half} #{rgba(black, $alpha / 2.0)}#{$inset-str}");
}