// Primary
$orc-purple:        #5f45ba;
$orc-purple-active: #856ed2; // NB: color-picked from sample button in playbook
$orc-purple-hover:  mix($orc-purple, $orc-purple-active, 50%); // Arbitrary

// Secondary
$orc-purple-bright: #b88dfc;
$orc-purple-deep:   #3b146a;

// Tertiary
$orc-green-bright: #2ebf8b;
$orc-teal:         #2a8693;

$orc-olive:       #9fb79f;
$orc-green-earth: #6a846c;

$orc-beige-light: #f4f6f1;
$orc-gray:        #939293;
$orc-rock-gray:   #53696a; // NB: playbook has a typo, had to use color picker to get this

$orc-tf-primary: 'Baloo', 'Ubuntu', cursive;
$orc-tf-secondary: 'Noto Sans', sans-serif;

$orc-h1-size: 54pt;
$orc-h2-size: 40pt;

$orc-h1-size-alt: 52pt;
$orc-h2-size-alt: 40pt;

$orc-b1-size: 20pt;
$orc-b2-size: 18pt;

$orc-f1-size: 16pt;