
$orc-ws-purple: #5F45BA;
$orc-ws-purple-bright: #B88DFC;
$orc-ws-purple-deep: #3B146A;
$orc-ws-green-bright: #2EBF8B;
$orc-ws-green-earth: #6A846C;
$orc-ws-olive: #9FB79F;
$orc-ws-teal: #2A8693;
$orc-ws-beige-light: #F4F6F1;
$orc-ws-gray: #939293;
$orc-ws-rock-gray: #57686A;

$orc-ws-background: $orc-ws-beige-light;
/** Not sure if this is right. It's what's in the design, but not in the style guide */
$orc-ws-font-color: #53696A;