// Primary
$orc-purple:        #5f45ba;
$orc-purple-active: #856ed2; // NB: color-picked from sample button in playbook
$orc-purple-hover:  mix($orc-purple, $orc-purple-active, 50%); // Arbitrary

// Secondary
$orc-bright-purple: #b88dfc;
$orc-deep-purple:   #3b146a;
$orc-purple-gray:   #504960;

// Tertiary
$orc-light-purple: #a29ec0;

$orc-green-bright: #2ebf8b;
$orc-teal:         #2a8693;

$orc-beige-light: #f4f6f1;
$orc-beige:     #d5d7e2;
$orc-gray:        #939293;
$orc-rock-gray:   #504960; // NB: playbook has a typo, had to use color picker to get this

$orc-tf-primary: 'Baloo 2', sans-serif;
$orc-tf-secondary: 'Baloo 2', sans-serif;
