//@import url('https://fonts.googleapis.com/css?family=Baloo');

/* devanagari */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd7__6FeIKmE8y.woff2) format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* vietnamese */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd7__6FewKmE8y.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd7__6Fe0KmE8y.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd7__6FeMKmA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd74f4FeIKmE8y.woff2) format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* vietnamese */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd74f4FewKmE8y.woff2) format("woff2");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd74f4Fe0KmE8y.woff2) format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: "Baloo";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/Baloo/wXKuE3kTposypRyd74f4FeMKmA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');

/* cyrillic-ext */
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Noto Sans Italic"), local("NotoSans-Italic"),
        url(/assets/fonts/NotoSans/NotoSans-BoldItalic.ttf) format("truetype");
    font-display: swap;
}

/* cyrillic-ext */
@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Noto Sans Bold Italic"), local("NotoSans-BoldItalic"),
        url(/assets/fonts/NotoSans/NotoSans-BoldItalic.ttf) format("truetype");
    font-display: swap;
}

/* cyrillic-ext */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans"), local("NotoSans"), url(/assets/fonts/NotoSans/NotoSans-Regular.ttf) format("truetype");
    font-display: swap;
}

/* cyrillic-ext */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"), local("NotoSans-Bold"),
        url(/assets/fonts/NotoSans/NotoSans-Bold.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"), url(/assets/fonts/NotoSans/NotoSans-ExtraLight.ttf) format("truetype");
    font-display: swap;
}