.orc-btn {
  height: 44px;
  border-radius: 100px;
}

.orc-btn-primary {
  background-color: $orc-ws-purple;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.30);
  font-size: 24px;
  color: #FFFFFF;
  text-align: center;
}

.orc-btn-secondary {
  background-color: white;
  border: 1px solid $orc-ws-purple;
  border: 2px solid rgba(95,69,186,0.98);
  font-size: 18px;

  &:active {
    }
}
