@import 'media_queries';
@import 'misc_config';
@import 'orc_config';
@import 'orc_fonts';

// Element-specific config

:root {
  background: $background;
  font-size: $orc-b1-size;
  font-family: $orc-tf-secondary;

  @include mobile {
    font-size: $orc-b2-size;
  }
}

:root, html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: $orc-tf-primary;
  font-weight: 700;
  font-synthesis: none; // Prevent faux bold with Baloo
}

p {
  margin: 0;
  padding: 0;
}

main {
  p {
    margin: 0 0 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#splash {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    ".    image"
    "text image"
    ".    image";
  padding: 0 0 1rem;
}

#splash-image {
  grid-area: image;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  > img {
    width: 100%;
  }
}

#splash-text {
  grid-area: text;
}

// Misc. helpers

.inline-block {
  display: inline-block;
}

.center-block {
  display: block;
  margin: auto;
}

.center-text {
  text-align: center;
}

.phantom-a {
  &, &:active, &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}

.phantom-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Layout elements

.section-root {
  padding: 0 1rem;
  box-sizing: border-box;
  width: 100%;
}

.section-wide, .section-narrow {
  margin: auto;
}

.section-wide {
  max-width: 1440px;
}

// Background colors

.bk-beige-light {
  background: $orc-beige-light;
}

@include mobile {
  .no-mobile {
    display: none;
  }
}

@include not-mobile {
  .mobile-only {
    display: none;
  }
}
