@use "sass:math";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "_media_queries";
@import "_misc_config";
@import "_orc_config";

$pad-xl: 5rem;
$pad-wide: 4rem;
$pad-thin: 2rem;
$pad-xs: 1rem;

$pad-xl-mobile: 4rem;
$pad-wide-mobile: 3rem;
$pad-thin-mobile: 1rem;
$pad-xs-mobile: 1rem;

// Element-specific config

:root {
	/* NB: this controls the background color in the elastic scroll margins on iOS
     (and probably other platforms, but I haven't tested for that) */
	background: #ffffff;
	font-size: 20px; // Used for all rem measurements.  DO NOT TOUCH
	font-family: $orc-tf-secondary;
	color: $orc-rock-gray;
	scroll-behavior: smooth;

	--orc-purple: #5f45ba;
	--orc-purple-active: #856ed2;
	--orc-light-purple: #9267e4;
	--orc-bright-purple: #b88dfc;
	--orc-deep-purple: #3b146a;
	--orc-purple-gray: #504960;
	--orc-green-bright: #2ebf8b;
	--orc-green-transparent: rgba(197, 248, 222, 40%);
	--orc-teal: #2a8693;
	--orc-beige-light: #f4f6f1;
	--orc-beige: #d5d7e2;
	--orc-gray: #939293;
	--orc-rock-gray: #504960;
	--orc-tf-primary: "Baloo 2", sans-serif;
	--orc-tf-secondary: "Baloo 2", sans-serif;
	--pale-green: #c5f8de;
}

:root,
html,
body {
	margin: 0;
	padding: 0;
}

html {
	overflow: auto;
}

body {
	overflow-x: hidden;
	font-size: $size-body;
	line-height: 1.5;
}

.locale-en-US {
	.show-ja,
	.show-ko,
	.show-zh,
	.show-id,
	.show-ru,
	.hide-en {
		display: none !important;
	}
}
.locale-ja {
	.show-ko,
	.show-zh,
	.show-en,
	.show-id,
	.show-ru,
	.hide-ja {
		display: none !important;
	}
}
.locale-ko {
	.show-ja,
	.show-zh,
	.show-en,
	.show-id,
	.show-ru,
	.hide-ko {
		display: none !important;
	}
}
.locale-zh {
	.show-ja,
	.show-ko,
	.show-en,
	.show-id,
	.show-ru,
	.hide-zh {
		display: none !important;
	}
}
.locale-id {
	.show-ja,
	.show-ko,
	.show-en,
	.show-zh,
	.show-ru,
	.hide-id {
		display: none !important;
	}
}
.locale-ru {
	.show-ja,
	.show-ko,
	.show-en,
	.show-id,
	.show-zh,
	.hide-ru {
		display: none !important;
	}
}

a {
	color: $orc-purple;
}

strong {
	&:not(.secondary) {
		font-family: $orc-tf-primary;
		font-weight: 700;
		font-synthesis: none; // Prevent faux bold with Baloo
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend strong;
	color: $orc-purple;

	margin: 0;
	padding: 0;
	line-height: 1;

	article > &:not(:last-child) {
		margin-bottom: 1rem;
	}
}

h1,
.h1 {
	font-size: $size-h1;

	@include mobile {
		font-size: $size-h1-mobile;

		&.big {
			font-size: $size-h1-big-mobile;
		}
	}

	&.small {
		font-size: $size-h1-small;

		@include mobile {
			font-size: $size-h1-small-mobile;
		}
	}
}

h2,
.h2,
h3,
.h3 {
	font-size: $size-h2;

	@include mobile {
		font-size: $size-h2-mobile;
	}
}

h3,
h4 {
	margin-bottom: 0.5em;
}

h4,
.h4 {
	font-size: $size-h4;

	@include mobile {
		font-size: $size-h4-mobile;
	}
}

p {
	margin: 0.5rem 0;
	padding: 0;

	&.big {
		font-size: $size-body-big;

		@include mobile {
			font-size: $size-body-big-mobile;
		}
	}

	&.medium {
		font-size: $size-body-md;

		@include mobile {
			font-size: $size-body-md-mobile;
		}
	}
}

button {
	padding: 0;
	background: initial;
	border: 0;
	cursor: pointer;
	font: inherit;
	line-height: inherit;

	> img {
		display: block;
	}
}

img {
	height: auto;
}

main {
	background: $bkgd-white;
}

::selection {
	background: $orc-purple;
	color: #fff;
}

#splash {
	@extend .section-wide;
	@extend .hpad-thin;

	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"above-text image"
		"text       image"
		"below-text image";
	position: relative;
	padding-bottom: $pad-wide;

	@include vert-splash {
		grid-template-rows: auto 1rem auto auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"image"
			"."
			"above-text"
			"text"
			"below-text";
	}
}

.splash-circuit {
	padding-top: $pad-thin;
	display: flex;
	flex-direction: column-reverse;
	@include not-mobile {
		flex-direction: column;
		h1 {
			font-size: 60px;
		}
	}
}

.splash-circuit-image {
	width: 100%;
	position: relative;
	margin: auto;
}

.splash-circuit-image:before {
	pointer-events: none;
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	bottom: 50px;
	left: 0;
	max-width: 100%;
	width: 100%;
	height: 222px;
	background-image: url("/img/shared/circuit.svg");
	background-repeat: no-repeat;
	background-position: top left;
	background-size: auto 100%;
	transform: translateZ(-1px);

	@include not-mobile {
		width: 900px;
		height: 333px;
		bottom: unset;
		top: -10px;
		left: -50px;
		background-size: contain;
	}
}
.splash-circuit-after,
.splash-circuit-grid {
	position: relative;
	z-index: 1;
}
.splash-circuit-grid {
	width: 100%;
	display: flex;
	justify-content: space-between;
	&.single {
		grid-template-columns: 1fr;
	}
	grid-gap: $pad-thin;

	@include mobile {
		flex-direction: column-reverse;
	}
}
.splash-circuit-grid-item + .splash-circuit-grid-item {
	@include not-mobile {
		margin-left: $pad-thin;
	}
}
@include not-mobile {
	.splash-circuit-grid-item:nth-child(1) {
		width: 60%;
		max-width: 600px;
	}
	.splash-circuit-grid-item:nth-child(2) {
		width: 40%;
	}
}

.splash-circuit-grid-item {
	@include not-mobile {
		padding-top: $pad-wide;
	}
	@include mobile {
		padding-bottom: 0;
	}
}
.splash-circuit-grid-text {
	@include not-mobile {
		margin-top: 4rem;
	}
}
.splash-circuit-grid-text h3 {
	color: $orc-rock-gray;
	margin-bottom: $pad-thin;
	font-size: 1.5rem;
	@include mobile {
		margin-top: $pad-thin;
		font-size: 1rem;
	}
}
.splash-circuit-grid-item:nth-child(2) {
	justify-content: space-around;
	align-items: center;
}

.splash-circuit-feature {
	@include mobile {
		width: 44%;
		display: block;
		height: auto;
		margin: auto;
		margin-bottom: $pad-thin;
	}
}

// Forms

$form-border-w: 3px;
$form-pad-v: 0.35em;

button:not(.phantom-btn) {
	$pad-h: 3em;
	$pad-v: 0.5em;

	transition-property: background, color, border, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	padding: $pad-v $pad-h;
	box-sizing: border-box;
	border-radius: 100vmax;
	font-size: $size-btn;
	text-decoration: none;
	//box-shadow: mat-shadow(6px, $alpha: 0.2);

	&.btn-fixed {
		width: 100%;
		max-width: 16.5rem;

		@include mobile {
			max-width: 10rem;
		}
	}

	&:disabled {
		box-shadow: none;
	}

	&.btn-primary {
		background: $orc-purple;
		color: $orc-beige-light;

		&:not(:disabled) {
			&:hover {
				background: $orc-purple-hover;
			}

			&:active {
				background: $orc-purple-active;
			}
		}

		&:disabled {
			background: $orc-rock-gray;
			color: rgba($orc-beige-light, 0.5);
		}
	}

	&.btn-secondary {
		background: none;
		background-color: inherit;
		border: solid $form-border-w $orc-purple;
		padding: calc(#{$pad-v} - #{$form-border-w})
			calc(#{$pad-h} - #{$form-border-w});
		color: $orc-purple;

		&:not(:disabled) {
			&:hover {
				border-color: $orc-purple-hover;
			}

			&:active {
				border-color: $orc-purple-active;
			}
		}

		&:disabled {
			border-color: $orc-rock-gray;
		}
	}

	@include mobile {
		font-size: $size-btn-mobile;
	}
}

.input-type-text {
	$pad-h: 1em;
	$pad-v: $form-pad-v;
	padding: calc(#{$pad-v} - #{$form-border-w})
		calc(#{$pad-h} - #{$form-border-w});
	box-sizing: border-box;
	width: 100%;
	background: none;
	background-color: inherit;
	border: 3px solid $orc-purple;
	border-radius: 100vmax;
	font: inherit;
	font-size: $size-body;
	color: $orc-rock-gray;
	line-height: inherit;

	.required-input > & {
		// Prevent the right edge of the input box overlapping the asterisk
		padding-right: calc(#{$pad-h + 1em} - #{$form-border-w});
	}

	&:focus {
		border-color: $orc-purple;
	}

	&::placeholder {
		white-space: inherit;
	}
}

input {
	&[type="email"],
	&[type="tel"],
	&[type="text"] {
		@extend .input-type-text;
	}
}

textarea {
	$min-height: 44px; // NB: hardcoded

	@extend .input-type-text;

	min-height: $min-height;
	border-radius: math.div($min-height, 2);
	resize: vertical;

	@include mobile {
		min-height: ($min-height * 2);
		resize: none;
	}
}

input,
.required-input {
	&.input-large {
		max-width: 28rem;
	}
}

.required-input > input {
	max-width: none;
}

// Misc. helpers

.inline-block {
	display: inline-block;
}

.pos-relative {
	position: relative;
}

.overflow-hidden {
	overflow: hidden;
}

.center-block {
	display: block;
	margin: auto;
}

.center-text {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

.phantom-a {
	&,
	&:active,
	&:visited {
		color: inherit;
		text-decoration: inherit;
	}
}

.phantom-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.z-index-1 {
	@extend .pos-relative;
	z-index: 1;
}

// Layout elements

.section-wide,
.section-med,
.section-narrow {
	margin: auto;
	box-sizing: border-box;
}

.section-wide {
	max-width: 72rem;
}

.section-med {
	max-width: 63rem;
}

.section-narrow {
	max-width: 45rem;
}

.hpad-thin {
	padding-left: $pad-thin;
	padding-right: $pad-thin;
}

.hpad-wide {
	padding-left: $pad-wide;
	padding-right: $pad-wide;

	@include mobile {
		padding-left: $pad-wide-mobile;
		padding-right: $pad-wide-mobile;
	}
}

.hpad-xl {
	padding-left: $pad-xl;
	padding-right: $pad-xl;

	@include mobile {
		padding-left: $pad-xl-mobile;
		padding-right: $pad-xl-mobile;
	}
}

.hgap-wide {
	margin-left: $pad-wide;
	margin-right: $pad-wide;

	@include mobile {
		margin-left: $pad-thin;
		margin-right: $pad-thin;
	}
}

.vpad-thin {
	padding-top: $pad-thin;
	padding-bottom: $pad-thin;

	@include mobile {
		padding-top: $pad-thin-mobile;
		padding-bottom: $pad-thin-mobile;
	}
}

.vpad-wide {
	padding-top: $pad-wide;
	padding-bottom: $pad-wide;

	@include mobile {
		padding-top: $pad-wide-mobile;
		padding-bottom: $pad-wide-mobile;
	}
}

.vpad-xl {
	padding-top: $pad-xl;
	padding-bottom: $pad-xl;

	@include mobile {
		padding-top: $pad-xl-mobile;
		padding-bottom: $pad-xl-mobile;
	}
}

.vgap-wide {
	margin-top: $pad-wide;
	margin-bottom: $pad-wide;

	@include mobile {
		margin-top: $pad-wide-mobile;
		margin-bottom: $pad-wide-mobile;
	}
}

.vgap-thin {
	margin-top: $pad-thin;
	margin-bottom: $pad-thin;

	@include mobile {
		margin-top: $pad-thin-mobile;
		margin-bottom: $pad-thin-mobile;
	}
}

.vgap-xs {
	margin-top: $pad-xs;
	margin-bottom: $pad-xs;

	@include mobile {
		margin-top: $pad-xs-mobile;
		margin-bottom: $pad-xs-mobile;
	}
}

.pad-top-wide {
	padding-top: $pad-wide;

	@include mobile {
		padding-top: $pad-wide-mobile;
	}
}

.pad-top-thin {
	padding-top: $pad-thin;

	@include mobile {
		padding-top: $pad-thin-mobile;
	}
}

.gap-bot-wide {
	margin-bottom: $pad-wide;

	@include mobile {
		margin-bottom: $pad-wide-mobile;
	}
}

.gap-top-wide {
	margin-top: $pad-wide;

	@include mobile {
		margin-top: $pad-wide-mobile;
	}
}

.gap-top-thin {
	margin-top: $pad-thin;

	@include mobile {
		margin-top: $pad-thin-mobile;
	}
}

.gap-bot-thin {
	margin-bottom: $pad-thin;

	@include mobile {
		margin-bottom: $pad-thin-mobile;
	}
}

// Color helpers

.color-primary {
	color: $orc-purple;
}

.color-gray {
	color: $orc-rock-gray;
}

// Background colors

.bk-beige-light {
	background: $orc-beige-light;
}

.bk-faint-gray {
	background: $bkgd-faint-gray;
}

.bk-lavender {
	background: $bkgd-lavender;
}

.bk-white {
	background: $bkgd-white;
}

@include mobile {
	.no-mobile {
		display: none;
	}
}

@include not-mobile {
	.mobile-only {
		display: none;
	}
}
h1,
h2,
h3,
h4 {
	letter-spacing: 0.035rem;
}
