<div id="orchid-is-a-habitat" class="centered-container">
  <div class="header-splash">
    <div class="hs-text">
      <h1>Orchid is a habitat for software development modeled on mutuality.</h1>
      <div>
        Like the give and take of the natural world, the relationship between developers and users is mutually
        beneficial. With Orchid, developers finally have the ideal conditions to create a natural internet that can
        scale seamlessly through direct relationships and efficient infrastructure.
      </div>
    </div>
    <div class="hs-image">
      <img src="/assets/imgs/orchid-is-a-habitat.svg">
    </div>
  </div>
</div>

<div id="features-of-orchid" class="centered-container">
  <div>
    <h2>Features of Orchid</h2>
    <div class="feature-pairs">
      <div class="fp-pair">
        <div class="fp-image">
          <img src="/assets/imgs/pair-adaptability.svg">
        </div>
        <div class="fp-text">
          <h3>Adaptability</h3>
          <div>
            Developers can build the internet they want to build—without worrying about shouldering the cost of the
            infrastructure. Scaling is seamless because every user contributes to the network’s shared resources.
          </div>
        </div>
      </div>
      <div class="fp-pair fp-rtl">
        <div class="fp-image">
          <img src="/assets/imgs/pair-harmony.svg">
        </div>
        <div class="fp-text">
          <h3>Harmony</h3>
          <div>
            Orchid expands the reach of developers by welcoming users from around the world. Developers can build
            relationships directly with users, who have exclusive control over their privacy and identity, creating a
            secure network of connected autonomy.
          </div>
        </div>
      </div>
      <div class="fp-pair">
        <div class="fp-image">
          <img src="/assets/imgs/pair-resilience.svg">
        </div>
        <div class="fp-text">
          <h3>Resilience</h3>
          <div>
            Because the network is distributed efficiently across user-initiated servers, whatever is built with Orchid
            lasts as long as it’s needed or wanted.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: add newsletter signup here -->