#splash-text {
  margin-right: 4rem;
}

#feature-list {
  > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &.ft-rtl {
      flex-flow: row-reverse nowrap;
    }
  }
}

.ft-text {
  flex: 1 1 auto;
  margin: 0 100px;
}

.ft-image {
  flex: 0 0 auto;
}