<div class="podcast-hero bk-beige-light">
	<div class="podcast-hero__subscribe">
		<a href="/podcast#subscribe">
			<img src="/assets/img/podcast/listen-now.svg" width="259" height="126" alt="Listen Now">
		</a>
	</div>
	<section class="section-wide hpad-wide vpad-xl z-index-1">
		<div class="podcast-hero__flex">
			<div class="podcast-hero__text center-text">
				<img src="/assets/img/podcast/priv8-hero-badge.svg" width="150" height="150" alt="The Priv8 Podcast with Derek E. Silva">
			</div>
		</div>
	</section>
	<div class="podcast-hero__image">
		<img src="/assets/img/podcast/presented-by.svg" width="222" height="133" alt="Presented by Orchid">
	</div>
</div>