@import "orc_config";
$breakpoint: 1100px;
$breakpoint2: 1450px;

.podcast-hero {
	background-image: url("/assets/img/podcast/hero-patterns.svg");
	background-size: cover;
	background-position: center;
	color: white;

	& > section {
		position: relative;

		@media (min-width: $breakpoint) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}

		@media (max-width: $breakpoint) {
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 0;
		}
	}

	.btn__hero, .btn__hero:hover {
		padding-left: 2rem;
		padding-right: 2rem;
		background-color: $orc-beige-light;
		color: $orc-purple;
	}
}

.podcast-hero__flex {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

@media (min-width: $breakpoint) {
	.podcast-hero__flex {
		flex-direction: row;
		justify-content: center;

		& > div {
			width: 30%;

			&.podcast-hero__text {
				width: 40%;
				max-width: 40em;
			}
		}
	}
}
@media (max-width: $breakpoint) {
	.podcast-hero__subscribe > h3 {
		display: none;
	}
}

.podcast-hero__text {
	max-width: 21em;
	& > img {
		display: inline-block;
		max-width: 100%;
	}
}

.podcast-hero__title {
	text-transform: uppercase;
	color: white;
	font-family: "Geometos Rounded";

	&.second-title {
		letter-spacing: 4px;
	}
}

.podcast-hero__paragraph {
	display: block;
	margin: auto;
	text-align: center;
	max-width: 750px;
	font-size: 1.25em;
	margin-top: 1em;
}

h1.podcast-hero__title {
	font-size: 44px;
}

h2.podcast-hero__title {
	font-size: 34px;
}

.podcast-hero__subtitle {
	font-size: 18px;
}

@media (min-width: $breakpoint) {
	h1.podcast-hero__title {
		font-size: 65px;
	}

	h2.podcast-hero__title {
		font-size: 50px;
	}

	.podcast-hero__subtitle {
		font-size: 21px;
	}
}

@media (min-width: $breakpoint2) {
	h1.podcast-hero__title {
		font-size: 92px;
	}

	h2.podcast-hero__title {
		font-size: 69px;
	}

	.podcast-hero__subtitle {
		font-size: 21px;
	}
}

.podcast-hero__image {
	width: 300px;
	height: 300px;
	
	@media (max-width: $breakpoint) {
		width: 200px;
		height: 200px;
		margin-top: 0.5rem;
	}
	max-width: 70vw;
	max-height: 70vw;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("/assets/img/podcast/hero-bunny.svg");
}

.podcast-hero__subscribe {
	align-self: flex-start;

	@media (max-width: $breakpoint) {
		text-align: center;
		align-self: unset;
		margin-bottom: 1rem;
	}
}