<div class="podcast-hero bk-beige-light">
	<section class="section-wide hpad-wide vpad-xl z-index-1">
		<div class="podcast-hero__flex">
			<div class="podcast-hero__subscribe">
				<h3 class="podcast-hero__title">Podcast</h3>
				<p class="podcast-hero__subtitle">
					brought to you by Orchid
				</p>
				<a href="/podcast#subscribe">
					<button class="btn-primary btn__hero z-index-1">Listen Now</button>
				</a>
			</div>

			<div class="podcast-hero__text center-text">
				<img src="/assets/img/podcast/hero-text.svg" alt="Follow the white Rabbit - With Alex Kehaya">
			</div>

			<div class="podcast-hero__image"></div>
		</div>

		<p class="podcast-hero__paragraph">
			Going down the rabbit hole with top experts on the race between surveillance and privacy, and its
			implications for human rights and democracy.
		</p>
	</section>
</div>