@import "media_queries";
@import "orc_config";
$breakpoint: 1100px;
$breakpoint2: 1450px;

.podcast-hero {
	position: relative;
	background-image: url("/assets/img/podcast/HeroBG.jpg");
	background-size: cover;
	background-position: center;
	color: white;

	& > section {
		position: relative;

		@media (min-width: $breakpoint) {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		@media (max-width: $breakpoint) {
			padding: 1rem;
		}
	}

	.btn__hero, .btn__hero:hover {
		padding-left: 2rem;
		padding-right: 2rem;
		background-color: $orc-beige-light;
		color: $orc-purple;
	}
}

.podcast-hero__flex {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	position: relative;
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
}

@media (min-width: $breakpoint) {
	.podcast-hero__flex {
		flex-direction: row;
		justify-content: center;
	}
}

.podcast-hero__text {
	& > img {
		display: inline-block;
		max-width: 100%;
		width: 300px;
		margin-right: 5.65vw;
		box-shadow: 0px 0px 50px rgba(0,0,0,0.75);
		border-radius: 100%;
	}
}

.podcast-hero__title {
	color: white;

	&.second-title {
		letter-spacing: 4px;
	}
}

.podcast-hero__paragraph {
	display: block;
	margin: auto;
	text-align: center;
	max-width: 750px;
	font-size: 1rem;
}

h1.podcast-hero__title {
	font-size: 44px;
}

h2.podcast-hero__title {
	font-size: 34px;
}

.podcast-hero__subtitle {
	font-size: 18px;
	color: #97E3EE;
}

@media (min-width: $breakpoint) {
	h1.podcast-hero__title {
		font-size: 65px;
	}

	h2.podcast-hero__title {
		font-size: 50px;
	}

	.podcast-hero__subtitle {
		font-size: 18px;
		white-space: nowrap;
	}
}

@media (min-width: $breakpoint2) {
	h1.podcast-hero__title {
		font-size: 92px;
	}

	h2.podcast-hero__title {
		font-size: 69px;
	}
}

.podcast-hero__image {
	position: absolute;
	bottom: 0;
	right: 0;
}

.podcast-hero__subscribe {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
}
.podcast-hero__image, .podcast-hero__subscribe {
	width: 20%;
	max-width: 300px;
}

.podcast-hero__subscribe img, .podcast-hero__image img {
	display: block;
	width: 100%;
	height: auto;
	@include mobile {
		display: none;
	}
}