@import 'media_queries';

#splash-text {
  margin: 0 -1rem 0 0;
  z-index: 1;
}

#splash-deco {
  grid-area: below-text;
  position: relative;

  > img {
    position: absolute;
    right: 0;
    bottom: -4rem; // NB: taken from $pad-wide
  }
}

#features {
  overflow: hidden; // TODO: this is not a great solution
}

#feature-list {
  $feature-sep: 4rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  margin: ($feature-sep / -2.0);

  @include mobile {
    flex-flow: column nowrap;
  }

  > li {
    flex: 1 1 10rem;
    margin: ($feature-sep / 2.0);
  }
}

#signup-columns {
  display: flex;
  flex-flow: row nowrap;

  @include mobile {
    flex-flow: column nowrap;
  }
}

#sc-left {
  flex: 1 0 8rem;
  margin-right: 2rem;

  @include mobile {
    margin-right: 0rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

#sc-spacer {
  flex: 1 0 0;
}

#sc-right {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;

  > {
    input, .required-input {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      @include mobile {
        max-width: none;
      }
    }

    p {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}
