<section class="home-hero bk-beige-light">
    <div class="home-hero__bg">
        <img src="/assets/img/index/orchid-main-combined-no-lines.svg" alt="">
        <a class="home-hero__speech-bubble" i18n-href="@@OKExBlogPostURL" href="https://www.okex.com/promotion/XTkOoB">
            Now available on OKEx!
        </a>
    </div>
    <div class="section-med z-index-1">
        <div class="home-hero__content vpad-thin hpad-thin">
            <div class="home-hero__headline">
                <h1 class="title big" i18n="@@HomeHero__Title">
                    <span class="small">The</span>
                    <span>Crypto</span>
                    <span>Powered</span>
                    <span class="small">VPN</span>
                </h1>
            </div>
            <div class="home-hero__form">

                <a class="home-hero__okex-mobile-link" i18n-href="@@OKExBlogPostURL"
                    href="https://www.okex.com/promotion/XTkOoB">
                    Now available on OKEx!
                </a>
                <a href="/download/"><button class="btn-primary btn-fixed newsletter-signup__button gap-bot-thin"
                        i18n="@@HomeHero__DownloadNow">Download Now</button></a>
            </div>
        </div>
        <!-- <img class="home-satellite-3" src="/assets/img/index/orchid-satellite-03-2.svg" alt=""> -->
    </div>
</section>

<div class="background-white priv8-wrapper">
    <div class="home-satellite-3a"></div>
    <section class="section-med hpad-thin vpad-wide priv8-section">
        <img width="140" height="36" alt="Orchid" class="priv8-orchid-logo" src="/assets/img/shared/orchid-logo-text-purple.svg" />
        <span class="priv8-light-text">Presents</span>
        <div class="priv8-logo">
            <img width="500" height="246" src="/assets/img/priv8/logo.svg" alt="" />
            <picture>
                <source srcset="/assets/img/priv8/priv8.webp" type="image/webp">
                <source srcset="/assets/img/priv8/priv8.png" type="image/png">
                <img width="175" height="175" src="/assets/img/priv8/priv8.webp" alt="Priv8">
            </picture>
        </div>
        <h2>A VIRTUAL SUMMIT ON DIGITAL PRIVACY</h2>
        <h3>March 23 - 25, 2021</h3>
        <p>
            Join whistleblower and cybersecurity expert Edward Snowden and a world-class group of privacy leaders at the
            first-ever Priv8 virtual summit March 23-25. Priv8 brings together diverse voices to explore the tension
            between freedom and safety in an interconnected world that faces growing censorship and lack of trust.
            Keynotes and panels will cover topics ranging from the existential threats facing encryption, to the death
            of cash and rise of financial surveillance. Talks will focus on the different ways we communicate, transact
            financially, and live our lives in an era of mass online surveillance. A full schedule of events will be
            released soon.
        </p>
        <p>
            A full schedule of events will be released soon.
        </p>
        <a href="/priv8">
            <button class="btn-primary">Register Now!</button>
        </a>
    </section>
</div>


<div class="video-wrapper background-faint-gray">
    <video-section></video-section>
    <div class="home-satellite-4"></div>
</div>

<div class="bk-lavender">
    <section class="section-med hpad-thin vpad-xl z-index-1">
        <div class="our-approach">
            <h2 i18n="@@HomeApproach__Title">Our approach</h2>
            <p class="medium" i18n="@@HomeApproach__Subtitle">We believe that by harnessing the power of blockchain, we
                can offer users a better VPN experience.</p>
        </div>

        <ul class="phantom-list card-list smaller center-text z-index-1">
            <li class="card hpad-thin vpad-thin">
                <div class="card__image">
                    <img src="/assets/img/index/decentralized.svg?v=2" alt="decentralized">
                </div>
                <div class="card__text">
                    <h3 class="color-gray" i18n="@@HomeApproachCard1__Title">Pay-per-use</h3>
                    <p i18n="@@HomeApproachCard1__Description">
                        On Orchid, you only pay for service while actually using the VPN. Turn it off, and there are no
                        charges. And no monthly fees!
                    </p>
                    <a routerLink="/how-it-works" class="card__arrow"><img
                            src="/assets/img/shared/button-angle-right.svg?v=2" alt=""></a>
                </div>
            </li>
            <li class="card hpad-thin vpad-thin">
                <div class="card__image">
                    <img src="/assets/img/index/open-source.svg?v=2" alt="open source">
                </div>
                <div class="card__text">
                    <h3 class="color-gray" i18n="@@HomeApproachCard2__Title">Provider network</h3>
                    <p i18n="@@HomeApproachCard2__Description">
                        Change providers within the Orchid network with a click. If you don't like one, simply tap to
                        reconnect and get randomly reassigned.
                    </p>
                    <a routerLink="/how-it-works" class="card__arrow"><img
                            src="/assets/img/shared/button-angle-right.svg" alt=""></a>
                </div>
            </li>
            <li class="card hpad-thin vpad-thin">
                <div class="card__image">
                    <img src="/assets/img/index/peer-to-peer.svg" alt="peer to peer">
                </div>
                <div class="card__text">
                    <h3 class="color-gray" i18n="@@HomeApproachCard3__Title">Unlimited devices</h3>
                    <p i18n="@@HomeApproachCard3__Description">
                        You can share your account with an unlimited number of devices and people. Manage one account
                        for your friends, family and all their devices.
                    </p>
                    <a routerLink="/how-it-works" class="card__arrow"><img
                            src="/assets/img/shared/button-angle-right.svg" alt=""></a>
                </div>
            </li>
        </ul>
    </section>
</div>

<div class="as-seen-in background-white">
    <section class="section-med hpad-thin vpad-wide">
        <div class="as-seen-bg-1">
            <img src="/assets/img/index/as-seen-pattern.svg" alt="">
        </div>
        <h2 class="center-text vpad" i18n="@@HomeAsSeenIn__Title">As seen in</h2>
        <ul class="phantom-list press-cards gap-top-thin">
            <li class="press-card">
                <div class="wrapper">
                    <a class="press-card__logo"
                        href="https://www.cnet.com/news/orchid-vpn-review-it-uses-the-tech-behind-bitcoin-to-improve-privacy/">
                        <img src="/assets/img/index/seen/cnet.svg" alt="CNET" />
                    </a>
                    <p class="press-card__quote" i18n="@@HomeAsSeenIn__CNET">
                        This is what the future of VPN tech looks like. And you gotta see it.
                    </p>
                    <a class="press-card__more uppercase"
                        href="https://www.cnet.com/news/orchid-vpn-review-it-uses-the-tech-behind-bitcoin-to-improve-privacy/"
                        i18n="@@ReadMore">Read More</a>
                </div>
            </li>
            <li class="press-card">
                <div class="wrapper">
                    <a class="press-card__logo"
                        href="https://techcrunch.com/2018/04/20/orchid-labs-is-in-the-process-of-raising-125-million-for-its-surveillance-free-layer-atop-the-internet/">
                        <img src="/assets/img/index/seen/techcrunch.png" alt="techcrunch" />
                    </a>
                    <p class="press-card__quote" i18n="@@HomeAsSeenIn__TechCrunch">
                        In a world where one assumes the Cambridge Analytica scandal is merely the tip of the iceberg
                        when it comes to data abuse, it’s easy to see the project’s appeal."
                    </p>
                    <a class="press-card__more uppercase"
                        href="https://techcrunch.com/2018/04/20/orchid-labs-is-in-the-process-of-raising-125-million-for-its-surveillance-free-layer-atop-the-internet/"
                        i18n="@@ReadMore">Read More</a>
                </div>
            </li>
            <li class="press-card">
                <div class="wrapper">
                    <a class="press-card__logo"
                        href="https://www.coindesk.com/orchid-tops-43-million-raised-in-token-sale-for-crypto-tor-alternative">
                        <img src="/assets/img/index/seen/coindesk.png" alt="coindesk" />
                    </a>
                    <p class="press-card__quote" i18n="@@HomeAsSeenIn__CoinDesk">
                        Orchid’s mission is to build open-source software that keeps the Internet open and accessible  —
                         a natural resource for everyone, everywhere.”
                    </p>
                    <a class="press-card__more uppercase"
                        href="https://www.coindesk.com/orchid-tops-43-million-raised-in-token-sale-for-crypto-tor-alternative"
                        i18n="@@ReadMore">Read More</a>
                </div>
            </li>
            <li class="press-card">
                <div class="wrapper">
                    <a class="press-card__logo"
                        href="https://cointelegraph.com/news/orchid-labs-secures-7-mln-towards-development-of-protocol-to-end-internet-surveillance">
                        <img style="width:305px;" src="/assets/img/index/seen/cointelegraph.png" alt="cointelegraph" />
                    </a>
                    <p class="press-card__quote" i18n="@@HomeAsSeenIn__CoinTelegraph">
                        Orchid is developing an open-source decentralized and surveillance-free internet protocol
                        intending to provide anonymized internet access to the global community.”
                    </p>
                    <a class="press-card__more uppercase"
                        href="https://cointelegraph.com/news/orchid-labs-secures-7-mln-towards-development-of-protocol-to-end-internet-surveillance"
                        i18n="@@ReadMore">Read More</a>
                </div>
            </li>
        </ul>
    </section>
</div>


<div class="blog-wrapper bk-lavender vpad-xl hpad-thin">
    <h3><a href="{{blogLink}}">From the Orchid Blog</a></h3>
    <div class="blog-container">
        <div class="blog-post" *ngFor="let blog of blogPosts">
            <div class="blog-post-image">
                <img src="{{ blog.featuredimage }}" alt="" loading="lazy">
            </div>
            <div class="blog-post-info">
                {{ blog.title }}
            </div>
            <div class="blog-post-date">
                {{ blog.date }}
            </div>
            <a href="{{ blog.url }}" class="blog-link"></a>
        </div>
    </div>
</div>

<app-newsletter-signup></app-newsletter-signup>