<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text" class="z-index-1">
      <header>
        <h1 class="big">Orchid is the natural internet.</h1>
      </header>
      <p>
        Building software with Orchid gives developers an active role in restoring the potential of the internet.
        Beginning with direct relationships between developers and users Orchid is a digital habitat that’s
        adaptable,
        harmonious, and resilient.
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/index/splash.svg">
    </div>
    <div id="splash-deco">
      <img src="/assets/img/index/coral-electric.svg">
    </div>
  </section>
</div>

<div>
  <section id="features" class="section-med hpad-wide vpad-wide">
    <header class="gap-bot-wide">
      <h2 class="center-text">Features of Orchid</h2>
    </header>
    <ul id="feature-list" class="phantom-list">
      <li>
        <header>
          <img src="/assets/img/index/adaptable.svg">
          <h3>Adaptable</h3>
        </header>
        <p>Scale seamlessly with a network of shared resources</p>
      </li>
      <li>
        <header>
          <img src="/assets/img/index/harmonious.svg">
          <h3>Harmonious</h3>
        </header>
        <p>Create direct, private, and secure relationships with a global audience</p>
      </li>
      <li>
        <header>
          <img src="/assets/img/index/resilient.svg">
          <h3>Resilient</h3>
        </header>
        <p>Build with efficient, decentralized infrastructure made stronger with use</p>
      </li>
    </ul>
    <!-- #feature-list has a custom margin, so just pad the top of the next element -->
    <button class="btn-primary btn-fixed center-block gap-top-wide">Learn more</button>
  </section>
</div>

<div class="bk-lavender">
  <section id="signup" class="section-narrow hpad-wide vpad-wide">
    <header class="gap-bot-wide">
      <h2 class="center-text">What do you want to build with Orchid?</h2>
    </header>
    <div id="signup-columns" class="gap-bot-wide">
      <div id="sc-left">
        <h3>Join us!</h3>
        <p>
          We’re working toward documentation release. Sign up for updates.
        </p>
      </div>
      <div id="sc-spacer"></div>
      <div id="sc-right">
        <p class="required-star right-text"></p>
        <div class="required-input">
          <input type="email" placeholder="Email Address">
        </div>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <input type="tel" placeholder="Phone Number">
        <p>What are you excited about?</p>
        <div class="required-input">
          <textarea placeholder="Share your thoughts with us"></textarea>
        </div>
      </div>
    </div>
    <button class="btn-primary btn-fixed center-block">Let's go!</button>
  </section>
</div>