<div class="bk-beige-light">
  <section id="splash">
    <div id="splash-text" class="z-index-1">
      <header>
        <h1 class="title big uppercase"><span>Stay Curious,</span> <span>Explore Freely</span></h1>
      </header>
      <h4 class="subtitle pad-bot-thin">Get digital privacy</h4>
      <div class="pad-top-thin">
        <h4>Don't miss the launch!</h4>
        <app-newsletter-signup-hero></app-newsletter-signup-hero>
      </div>
    </div>
    <div id="splash-image">
      <img src="/assets/img/index/splash/splash.svg" alt="splash">
    </div>
  </section>
</div>

<div class="how-it-works background-white">
  <section class="section-med hpad-wide vpad-wide center-text">
    <h3>Learn how it works</h3>
    <p class="medium">
      Read the whitepaper to see what we’re building.
    </p>
    <button (click)="downloadWhitepaper()" class="btn-secondary btn-fixed z-index-1">Whitepaper</button>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-med hpad-wide vpad-wide">
    <div class="our-approach">
      <h2>Our approach</h2>
      <p class="medium">We believe that by eliminating centralization, rewarding network contributors, and harnessing the power of
        blockchain, we can preserve an open and accessible internet.</p>
    </div>

    <ul class="phantom-list card-list smaller center-text">
      <li class="card hpad-thin vpad-thin">
        <div class="card__image">
          <img src="/assets/img/index/decentralized/decentralized.svg" alt="decentralized">
        </div>
        <div class="card__text">
          <h3>Decentralized</h3>
          <p>
            Ethereum allows Orchid to operate without a central authority. The app runs locally on your device, not through a server, and no data is ever stored.
          </p>
          <a routerLink="/network" class="card__arrow"><img src="/assets/img/shared/button-angle-right.svg" alt=""></a>
        </div>
      </li>
      <li class="card hpad-thin vpad-thin">
        <div class="card__image">
          <img src="/assets/img/index/open-source/open-source.svg" alt="open source">
        </div>
        <div clas="card__text">
          <h3>Open Source</h3>
          <p>
            Orchid software is Open Source to enable the sharing of ideas, auditing and debugging by the community, and of course, contributions.
          </p>
          <a routerLink="/network" class="card__arrow"><img src="/assets/img/shared/button-angle-right.svg" alt=""></a>
        </div>
      </li>
      <li class="card hpad-thin vpad-thin">
        <div class="card__image">
          <img src="/assets/img/index/no-middlemen/no-middlemen.svg" alt="peer to peer">
        </div>
        <div class="card__text">
          <h3>Peer to peer</h3>
          <p>
            Clients and network providers transact directly with no middlemen, creating a low-cost marketplace for bandwidth and VPN connectivity.
          </p>
          <a routerLink="/network" class="card__arrow"><img src="/assets/img/shared/button-angle-right.svg" alt=""></a>
        </div>
      </li>
    </ul>
  </section>
</div>

<div class="background-white">
  <section id="as-seen-in" class="section-med hpad-wide vpad-wide">
    <h2>As seen in</h2>

    <ul class="phantom-list logos">
      <li><a href="https://www.coindesk.com/orchid-tops-43-million-raised-in-token-sale-for-crypto-tor-alternative"><img src="/assets/img/index/seen/coindesk.png" /></a></li>
      <li><a href="https://techcrunch.com/2018/04/20/orchid-labs-is-in-the-process-of-raising-125-million-for-its-surveillance-free-layer-atop-the-internet/"><img src="/assets/img/index/seen/techcrunch.png" /></a></li>
      <li><a href="https://cointelegraph.com/news/orchid-labs-secures-7-mln-towards-development-of-protocol-to-end-internet-surveillance"><img src="/assets/img/index/seen/cointelegraph.png" /></a></li>
    </ul>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>

<div>
  <section class="section-wide hpad-wide vpad-wide">
    <header id="ev-header">
      <h2 id="ev-h2">Meet the Orchid team</h2>
      <a id="ev-more" class="phantom-a" routerLink="/events">See all events ></a>
    </header>
    <ul id="ev-list" class="phantom-list" *ngIf="events$ | async | slice:0:3 as events else loadingEvents">
      <li class="ev-event" *ngFor="let event of events">
        <p class="ev-title">{{event.date}} | {{event.title}}</p>
        <p class="ev-title">{{event.location}}</p>
        <p *ngIf="event.desc" class="ev-body">{{event.desc}}</p>
        <p class="ev-link" *ngIf="event.link as link">
          <a [href]="link" target="_blank" rel="noopener noreferrer">{{link}}</a>
        </p>
      </li>
    </ul>
    <ng-template #loadingEvents>
      <p class="center-text gap-top-wide">loading events...</p>
    </ng-template>
  </section>
</div>
