@import 'feature_list';
@import 'media_queries';
@import 'misc_config';
@import 'orc_config';

$hero-bp-1: 1400px;
$hero-bp-vert: 1150px;

// HERO SECTION
// It took a lot of magic numbers to make this work across all resolutions.
// TODO: find a less fiddly way to manage the floating islands.
.home-hero {
  position: relative;
  background: $orc-beige-light;
  height: 810px;


  @media (max-width: $hero-bp-1) {
    height: 55vw;
  }
  @media (min-width: $hero-bp-vert) {
    margin-top: 2em;
  }
}

.home-hero__headline {
  max-width: 400px;
  @media (max-width: 1150px) {
    max-width: none;
  }
  h1 {
    @media (min-width: $hero-bp-1) {
      font-size: 103px;
      .small {
        font-size: 81px;
      }
    }
    @media (min-width: $hero-bp-vert) {
      font-size: 85px;
      .small {
        font-size: 68px;
      }
    }
  }
}

.home-hero__bg {
  background: url("/assets/img/index/orchid-main-combined-minus-3.svg") no-repeat right top; // for Edge
  background: url('/assets/img/index/orchid-main-combined-minus-3.svg') no-repeat calc(100% + 27px) 0%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 72rem;
  height: calc(100% + 30px);
  margin: 0 auto;

  &>img {
    display: none;
  }

  @media (max-width: $hero-bp-1) {
    background-size: 66%;
    background-position: right center;
  }
}

.home-hero__content {
  box-sizing: border-box;
  width: 642px;

  @media(min-width: 1401px) {
    padding-top: 3.5rem;
  }
}

.home-hero__form {
  margin-top: 43px; //68px;

  max-width: 328px;
  
  @media (max-width: $hero-bp-vert) {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: $hero-bp-1) {
    max-width: 296px;
    margin-top: 6vw;
    transform: translateY(-2vw);
  }
}

.instruction {
  margin-bottom: 1rem;

  a {
    text-decoration: none;
  }

  li {
    font-weight: bold;

    &>img {
      margin-right: 0.5rem;
    }
  }
}

.instruction__primary {
  margin-bottom: 0;
  color: $orc-purple-gray;
}

.instruction__form {

  margin-top: 1rem;

  input {
    background: #fff;
    max-width: 300px;
    padding: 0.35rem 1rem;
    margin-right: 0.5rem;
  }

  button {
    --size: 44px;
    background: $orc-gray;
    padding: 0;
    width: var(--size);
    line-height: var(--size);
    text-align: center;

    &>img {
      display: inline;
    }
  }
}

.home-hero__appstore-image {
  max-width: 200px;
  width: 100%;
  height: auto;

  @media (min-width: $hero-bp-vert) {
    width: auto;
    height: 43px;
  }
  @media (min-width: $hero-bp-1) {
    width: auto;
    height: 48px;
  }
}

.home-hero__appstore-image-apple {
  max-width: 180px;

  @media (min-width: 500px) {
    margin-left: 1rem;
  }
}

@media (max-width: $hero-bp-vert) {
  .home-hero {
    height: unset;
  }

  .home-hero__bg {
    background: transparent;
    position: relative;
    max-height: calc(50vh - 122px);
    max-width: 100%;
    display: flex;
    justify-content: center;

    &>img {
      display: block;
      max-width: 100%;
    }
  }

  .home-hero__content {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }

  .home-hero__form {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

.home-satellite-3 {
  position: absolute;
  transform: translate(-30px, 53px);
}

.home-satellite-3a {
  position: absolute;
  background: url('/assets/img/index/orchid-satellite-03-2.svg');
  background-repeat: no-repeat;
  background-position: calc(50% - 444px);
  background-size: contain;
  width: 100%;
  height: 365px;
  left: 0;
  top: -212px;
  z-index: 0;

  @media (max-width: $hero-bp-1) {
    background-size: contain;
    background-position: calc(50% - 33vw);
    top: -209px;
  }

  @media (max-width: 1330px) {
    background-size: 26vw;
    top: -16vw;
    background-position: calc(50% - 33vw);
  }

  @media (max-width: $hero-bp-vert) {
    background-size: 35vw;
    background-position: calc(50% - 42vw);
    top: -23vw;
  }

  @media (max-width: 790px) {
    background-size: 303px;
    background-position: calc(50% - 307px);
    top: -206px;
  }

  @media (max-width: 580px) {
    display: none;
    // position: relative;
    // height: 322px;
    // top: 0;
    // background-position: center;
  }
}

.home-satellite-4 {
  position: absolute;
  background: url(/assets/img/index/orchid-satellite-04-2.svg);
  background-repeat: no-repeat;
  background-position: 65vw top;
  width: 100%;
  height: 476px;
  top: 155px;
  right: 0;
  z-index: 0;

  @media (max-width: 1550px) {
    background-position: 69vw;
  }

  @media (max-width: 1194px) {
    background-position: 71vw;
  }

  @media (max-width: 1092px) {
    transform: scale(0.8);
    transform-origin: right;
    background-position: 68vw;
  }

  @media (max-width: 962px) {
    transform: scale(0.6);
    background-position: 52vw;
    top: 133px;
  }

  @include mobile {
    transform: scale(0.6);
    background-position: 52vw;
    top: 100px;
  }

  @media (max-width: 580px) {
    display: none;
    // position: relative;
    // height: 322px;
    // top: 0;
    // background-position: center;
  }
}

// TODO: use variables for font sizes
.title {
  font-size: 72px;

  &>span {
    display: block;
  }

  @include mobile {
    font-size: 40px;
  }

  @media (max-width: 413px) {
    font-size: 37px;
  }

  @media (max-width: 374px) {
    font-size: 30px;
  }
}

:host-context(.locale-ja), :host-context(.locale-ko), :host-context(.locale-zh) {
  .title {
    font-size: 65px;
    
    @include mobile {
      font-size: 30px;
    }
  }
}
:host-context(.locale-ru) {
  .title {
    font-size: 60px;
    
    @include mobile {
      font-size: 25px;
    }
  }
}

// TODO: use variables for font sizes
.subtitle {
  color: $orc-rock-gray;
  margin: 0.5rem 0 1.5rem 0;
  font-size: 36px;

  &>span {
    display: block;
  }

  @include mobile {
    font-size: 30px;
  }

  @media (max-width: 374px) {
    font-size: 27px;
    margin-bottom: 0.5rem;
  }
}

:host-context(.locale-ja) {
  .subtitle {
    font-size: 28px;
  }
}

// VIDEO SECTION

.video-wrapper {
  position: relative;
}


// EVENTS SECTION

#ev-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

#ev-h2 {
  @include not-mobile {
    padding-right: 2rem;
  }
}

#ev-more {
  font-weight: 700;
}

#ev-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -1rem -1rem;
}

.ev-event {
  // NB: that 60rem is kinda arbitrary
  //     this value should be maintained to fit exactly three items horizontally
  flex: 0 1 (60rem / 3);
  margin: 1rem;
}

.ev-title {
  margin: 0 0 .2rem;
  font-weight: 700;
}

.ev-body {
  color: $orc-gray;
  white-space: pre-line;
}

.bold-links a {
  font-weight: bold;
  text-decoration: none;
}

.whitepaper-link {
  cursor: pointer;
  color: $orc-purple-hover;
  font-weight: bold;

  &:hover {
    color: $orc-purple;
  }

  &:active {
    color: $orc-purple-active;
  }
}

/* Recent changes - many could be moved into a global sheet. */

#download-orchid,
#download-newsletter {
  button {
    width: 13em;
    font-weight: 200;
    font-size: 130%;
    padding: 0.5em 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2);
    border-width: 1.5px;
  }

  button.btn-secondary {
    color: $orc-purple;
  }
}

#download-orchid {
  margin: 4em 0 2.5em 0;
}


// OUR APPROACH SECTION

div.our-approach {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
  max-width: 80%;

  h2 {
    margin-bottom: 0.75rem;
  }

  &>p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;

  @include vert-splash {
    grid-template-columns: repeat(1, minmax(200px, 600px));
  }
}

.card {
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: $size-body-md;
    margin: 1rem 0;

    @include mobile {
      font-size: $size-body-md-mobile;
    }
  }

  img {
    max-width: 100%;
  }

  p {
    flex: 1;
  }
}

.card__image>img {
  height: 16vw;
  max-height: 234px;

  @include vert-splash {
    height: auto;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}


// TODO: Do we still need this stuff and can we move it elsewhere?

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}



.background-white {
  background: white;
}

.background-gray {
  background: #f0f0f0;
}

ul.phantom-list {
  li.ft-rtl {
    text-align: right;
  }
}

ul.smaller .ft-text h3 {
  font-size: 160%;
}

.ft-text h3 {
  margin-bottom: 0.5rem;
}



// PRESS SECTION

.as-seen-in>section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background: url('/assets/img/index/as-seen-4-circles.svg') no-repeat center center;
    width: 10px;
    height: 126px;
    bottom: 0;
    right: 0;
    transform: translateY(50%);

    @media (max-width: 1300px) {
      right: 1rem;
    }
  }
}

.as-seen-bg-1 {
  position: absolute;
  top: -163px;
  left: -345px;

  @include mobile {
    left: unset;
    right: 65vw;
  }

  @media (max-width: 475px) {
    transform: scale(0.8);
    right: 50vw;
    top: -216px;
  }

  @media (max-width: 374px) {
    right: 41vw;
    transform: scale(0.7);
    top: -238px;
  }
}

.press-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  position: relative;

  @media(max-width: 1090px) {
    grid-gap: 1rem;
  }

  @media(max-width: 1040px) {
    grid-template-columns: minmax(300px, 420px);
  }
}

.press-card {
  padding: 2rem 1rem 0rem;
  position: relative;

  &,
  & * {
    box-sizing: border-box;
  }

  &::before {
    content: "";
    top: 0;
    height: 100%;
    width: calc(100% - 2rem);
    position: absolute;
    z-index: 0;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  }

  &>.wrapper {
    padding: 0 2rem 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
  }
}

.press-card__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  height: 76px;
  border: 1px solid $orc-beige;
  border-radius: 3px;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
  margin: 0 auto;

  &>img {
    max-width: 100%;
    display: block;
  }
}

.press-card__quote {

  position: relative;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "";
    background: url('/assets/img/shared/quotes.svg');
    position: absolute;
    z-index: 1;
    width: 35px;
    height: 33px;
    left: calc(-37px - 1rem);
    top: -12px;
  }
}

:host-context(.locale-ja) {
  .press-card__quote {
    &::before {
      left: -37px;
      background-image: url('/assets/img/shared/quotes-ja.svg');
    }
  }
}

.press-card__more {
  text-decoration: none;
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: auto;
}