@import "feature_list";
@import "media_queries";
@import "misc_config";
@import "orc_config";

.common-shadow-flat {
  box-shadow: 0px 2px 10px 0px $orc-beige;
}
.common-shadow {
  box-shadow: 0px 4px 20px 0px $orc-beige;
  @include mobile {
    box-shadow: 0px 2px 10px 0px $orc-beige;
  }
}

h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}
.section-heading,
.section-button {
  margin: 2rem auto;
  display: block;
  text-align: center;

  @include not-mobile {
    margin: 3.5rem auto;
  }
}
.section-heading {
  margin-top: 0;
}
.section-button {
  margin-bottom: 0;
}

.home-hero {
  position: relative;
  padding: 2rem 0;
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding: 5rem 0;
  }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mobile {
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 9vw;
  }
}

.home-hero__content {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 40rem;
  width: 95%;
  font-size: 1.5rem;
  & > h3 {
    color: inherit;
    &.color-primary {
      color: $orc-purple;
    }
    line-height: 1;
    & > span {
      display: inline-block;
      margin: 0.5em 0.2em;
      @include mobile {
        margin: 0.2em 0;
      }
    }
  }
  small,
  button {
    font-family: $orc-tf-primary;
  }
  small {
    font-weight: 400;
    font-size: 70%;
  }
  button {
    margin-top: 1rem;
    padding: 0.4rem 3rem;
  }
  img {
    max-width: 100%;
    width: auto;
    @include not-mobile {
      margin-bottom: 1rem;
    }
    @include mobile {
      max-width: 300px;
    }
  }
  font-weight: 200;
  @media (min-width: 60rem) {
    margin-right: 5rem;
  }
}
.home-hero__picture {
  width: 400px;
  max-width: 60%;
  @include mobile {
    max-width: 30%;
    margin-bottom: 1rem;
  }
  position: relative;
  & > img {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/img/index/wavy-lines-01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(2.5) translateX(5%) translateY(5%);
  }
}
.home-hero__image {
  display: block;
  width: 100%;
  height: auto;
}

$wavy-width: 40%;
.wavy-shared {
  position: relative;
  width: 100%;
  display: block;
  &::after {
    content: "";
    display: block;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    height: 100vmin;
  }
}

.decorative-island {
  pointer-events: none;
  display: block;
  margin: -1rem auto;
  @media (min-width: 765px) {
    margin: -2rem auto;
  }
  max-width: 90%;
  width: 520px;
  position: relative;
  z-index: 3;
}

$wavy-bp: 80rem;
$wavy-size: 50rem;
$wavy-margin: 25rem;
.wavy-right {
  background-position: top left;
  left: (100% - $wavy-width);
  width: $wavy-width;

  @media (min-width: $wavy-bp) {
    left: 50%;
    margin-left: $wavy-margin;
    width: $wavy-size;
    height: $wavy-size;
    background-size: contain;
  }
}
.wavy-left {
  background-position: top right;
  left: 0;
  width: $wavy-width;

  @media (min-width: $wavy-bp) {
    left: unset;
    right: 50%;
    margin-right: $wavy-margin;
    width: $wavy-size;
    height: $wavy-size;
    background-size: contain;
  }
}
.wavy-element-01 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-right;
    background-image: url(/assets/img/index/wavy-lines-01.svg);
    @media (min-width: $wavy-bp) {
      margin-left: 0;
    }
  }
}
.wavy-element-02 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-left;
    background-image: url(/assets/img/index/wavy-lines-02.svg);
  }
}
.wavy-element-03 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-right;
    background-image: url(/assets/img/index/wavy-lines-03.svg);
  }
}
.wavy-element-04 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-left;
    background-image: url(/assets/img/index/wavy-lines-04.svg);
  }
}
.wavy-element-05 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-right;
    background-image: url(/assets/img/index/wavy-lines-05.svg);
  }
}
.wavy-element-06 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-left;
    background-image: url(/assets/img/index/wavy-lines-06.svg);
  }
}
.wavy-element-07 {
  @extend .wavy-shared;
  &::after {
    @extend .wavy-right;
    background-image: url(/assets/img/index/wavy-lines-07.svg);
  }
}

.container-common {
  @extend .common-shadow;
  position: relative;
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem auto;
  @include not-mobile {
    border-radius: 2rem;
    padding: 3.5rem 2rem;
    margin: 3.5rem auto;
  }
  background: white;
  max-width: 90%;
  width: 60rem;
  box-sizing: border-box;
}

.marketplace__container,
.features__container {
  & > p,
  & > h3 {
    text-align: center;
  }
  & > p {
    max-width: 40rem;
    margin: 1rem auto;
  }
}

.marketplace__container {
  margin-top: 0;
  margin-bottom: 0;

  & > picture {
    width: 100%;
    & > img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: 1rem 0 2rem;
      @include mobile {
        margin: 1rem -75%;
        width: calc(250%);
        max-width: unset;
      }
    }
  }
}

.features__container {
  margin-top: 0;
}

.marketplace-steps,
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  @include mobile {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  & > div {
    & > img {
      @extend .common-shadow;
      border-radius: 100%;
      max-width: 100%;
      width: 4rem;
      @include mobile {
        width: 3rem;
      }
      display: block;
      margin: 0 auto 1rem;
      @include not-mobile {
        margin-bottom: 1.5rem;
      }
    }
    & > h3 {
      margin-bottom: 0.5em;
      font-weight: 600;
      color: inherit;
    }
    margin: 1rem;
    width: 13rem;
    max-width: 100%;
    @include mobile {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.features-list {
  & > div {
    display: flex;
    flex-direction: column;
    & > p {
      flex-grow: 1;
    }
    & > a {
      justify-self: flex-end;
    }
  }
}

.marketplace-steps {
  $icon-size: 2.5rem;
  & > div {
    position: relative;
    padding-left: 3.5rem;
    @include mobile {
      padding-left: 0;
      padding-top: 3.25rem;
    }
    &::before {
      @extend .common-shadow-flat;
      content: "0";
      display: block;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      @include mobile {
        left: 50%;
        margin-left: calc(2.5rem * -1 / 2);
      }
      width: $icon-size;
      height: $icon-size;
      line-height: $icon-size;
      background-color: #fff;
      border-radius: 100%;
      color: $orc-purple;
      font-size: 1.5rem;
      font-weight: 600;
    }
    &:nth-child(1) {
      &::before {
        content: "1";
      }
    }
    &:nth-child(2) {
      &::before {
        content: "2";
      }
    }
    &:nth-child(3) {
      &::before {
        content: "3";
      }
    }
  }
}

.dove-information {
  margin: 1rem auto;
  & > a {
    margin: 1rem 0;
  }
  @include not-mobile {
    margin: 3rem auto;
  }
  width: 80%;
  max-width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 150px;
    max-width: 10vw;
    background-image: url(/assets/img/index/bird.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
    transform: scaleX(-100%);
  }
}

.why-orchid__container {
  .why-orchid__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 82rem) {
      justify-content: center;
    }
    picture {
      max-width: 80%;
      width: 30rem;

      margin-left: -6rem;
      @media (max-width: 82rem) {
        margin: auto;
        width: 20rem;
      }
    }
    img {
      width: 100%;
      margin: auto;
    }
  }
  .why-orchid__text {
    max-width: 30rem;
    h2 {
      margin-bottom: 1rem;
      @include not-mobile {
        margin-bottom: 2rem;
      }
    }
    h4 {
      font-weight: 600;
      color: inherit;
      font-size: 24px;
    }
    h4 + p {
      margin-bottom: 2rem;
    }
  }
}

.instruction {
  margin-bottom: 1rem;

  a {
    text-decoration: none;
  }

  li {
    font-weight: bold;

    & > img {
      margin-right: 0.5rem;
    }
  }
}

.instruction__primary {
  margin-bottom: 0;
  color: $orc-purple-gray;
}

.instruction__form {
  margin-top: 1rem;

  input {
    background: #fff;
    max-width: 300px;
    padding: 0.35rem 1rem;
    margin-right: 0.5rem;
  }

  button {
    --size: 44px;
    background: $orc-gray;
    padding: 0;
    width: var(--size);
    line-height: var(--size);
    text-align: center;

    & > img {
      display: inline;
    }
  }
}

/* Recent changes - many could be moved into a global sheet. */

#download-orchid,
#download-newsletter {
  button {
    width: 13em;
    font-weight: 200;
    font-size: 130%;
    padding: 0.5em 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.2);
    border-width: 1.5px;
  }

  button.btn-secondary {
    color: $orc-purple;
  }
}

#download-orchid {
  margin: 4em 0 2.5em 0;
}

// OUR APPROACH SECTION

div.our-approach {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  text-align: center;
  max-width: 80%;

  h2 {
    margin-bottom: 0.75rem;
  }

  & > p {
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center;

  @include vert-splash {
    grid-template-columns: repeat(1, minmax(200px, 600px));
  }
}

.card {
  background: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: $size-body-md;
    margin: 1rem 0;

    @include mobile {
      font-size: $size-body-md-mobile;
    }
  }

  img {
    max-width: 100%;
  }

  p {
    flex: 1;
  }
}

.card__image > img {
  height: 16vw;
  max-height: 234px;

  @include vert-splash {
    height: auto;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

// TODO: Do we still need this stuff and can we move it elsewhere?

.card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.background-white {
  background: white;
}

.background-gray {
  background: #f0f0f0;
}

.background-faint-gray {
  background-color: $bkgd-faint-gray;
}

ul.phantom-list {
  li.ft-rtl {
    text-align: right;
  }
}

ul.smaller .ft-text h3 {
  font-size: 160%;
}

.ft-text h3 {
  margin-bottom: 0.5rem;
}

// PRESS SECTION

.as-seen-in > section {
  position: relative;
}

.as-seen-bg-1 {
  position: absolute;
  top: -163px;
  left: -345px;

  @include mobile {
    left: unset;
    right: 65vw;
  }

  @media (max-width: 475px) {
    transform: scale(0.8);
    right: 50vw;
    top: -216px;
  }

  @media (max-width: 374px) {
    right: 41vw;
    transform: scale(0.7);
    top: -238px;
  }
}

.press-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 1400px) {
    width: calc(100% + 16rem);
    margin: 0 -8rem;
  }
}

.press-card {
  @extend .common-shadow-flat;
  background: white;
  padding: 1.5rem;
  margin: 1rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 1400px) {
    max-width: 20rem;
  }

  @include mobile {
    margin: 1rem -1.5rem;
    width: calc(100% + 3rem);
    max-width: unset;
  }
  text-align: left;

  &,
  & * {
    box-sizing: border-box;
  }

  & > .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include not-mobile {
      margin: 0 0 -1rem -2rem;
      width: calc(100% + 2rem);
    }
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    & > img {
      max-width: 15vw;
      max-height: 15vw;
    }
  }
  .logo {
    background: white;
    border: 2px solid $orc-beige;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    max-width: 15vw;
    max-height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 75%;
      display: block;
    }
    &.offset > img {
      width: 100%;
      margin-right: -49%;
      margin-top: -10%;
    }
  }
}

.press-card__quote {
  position: relative;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  &::before {
    content: "";
    background: url("/assets/img/shared/quotes.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    left: -2rem;
    top: -2rem;
    @include mobile {
      left: -1.8rem;
      top: -3.5rem;
    }
  }
  &::after {
    content: '"';
    display: inline;
    color: $orc-purple;
    font-weight: 800;
  }
}

:host-context(.locale-ja) {
  .press-card__quote {
    &::before {
      left: -37px;
      background-image: url("/assets/img/shared/quotes-ja.svg");
    }
  }
}

.press-card__more {
  text-decoration: none;
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: auto;
}

.blog-post {
  background-color: white;
  position: relative;
}

.blog-post-image {
  & > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    aspect-ratio: 1.9;
  }

  /*padding: 20% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

.blog-grid {
  margin: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  justify-items: center;
}

.blog-post {
  @extend .common-shadow;
  font-weight: 500;
  padding: 0;
  padding-bottom: 2rem;
  border-radius: 1rem;
  @include not-mobile {
    min-height: 14rem;
  }
}

.blog-post-info,
.blog-post-date {
  padding: 0.5rem;
}

.blog-post-info {
  font-family: $orc-tf-primary;
  line-height: 1.2;
}

.blog-post-date {
  bottom: 0;
  right: 0;
  position: absolute;
  color: #a29ec0;
}

.blog-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsletter-container {
  text-align: center;
  & > p {
    display: block;
    margin: auto;
    max-width: 39rem;
  }
  h3 {
    color: inherit;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .social-icons {
    margin-top: 1rem;
    @include not-mobile {
      margin-top: 2rem;
    }
    & > a {
      margin: 0.5rem;
      & > img {
        width: 50px;
        height: auto;
      }
    }
  }

  .events-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    h3 {
      color: $orc-purple;
      margin: 0;
    }
    a {
      font-weight: 500;
    }
    p {
      margin-bottom: 0.5rem;
    }
    .event {
      @extend .common-shadow-flat;
      padding: 1.5rem;
      margin: 1rem;
      border-radius: 1rem;
      max-width: 13rem;
      text-align: left;
    }
  }
  .newsletter-signup__button {
    @extend .section-button;
  }
}
