<div class="bk-beige-light">
  <section id="splash">
    <div id="splash-text">
      <header>
        <h1>New ground to build on</h1>
      </header>
      <p>
	Inspired by the parts of nature that demonstrate emergent self-organization, the Orchid network—an overlay network that runs on the existing internet—is designed for a mutual exchange of benefit in a peer-to-peer marketplace.
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/network/splash/1x.png"
              srcset="/assets/img/network/splash/1x.png 1x, /assets/img/network/splash/2x.png 2x, /assets/img/network/splash/3x.png 3x">
    </div>
  </section>
</div>

<div>
  <section id="how-it-works" class="section-med hpad-wide vpad-wide">
    <h3>How it works</h3>
    <div class="row">
      <div class="column left">
	<div class="img-wrapper">
        <img src="/assets/img/network/contributors/1x.png"
		srcset="/assets/img/network/contributors/1x.png, /assets/img/network/contributors/2x.png 2x, /assets/img/network/contributors/3x.png 3x"
		class="ft-image" />
	</div>
	<h2>Contributors</h2>
	<ul>
	  <li>Relay and bridge nodes stack Orchid tokens (ERC20) to earn fees for bandwidth.</li>
	  <li>The stake keeps contributors honest by serving as a decentralized reputation system.</li>
	  <li>The list of nodes is stored in an Ethereum smart contract that is decentralized, accessible, and pen to participation</li>
	</ul>
      </div>

      <div class="column right">
	<div class="img-wrapper">
          <img src="/assets/img/network/vpn-users/1x.png"
		srcset="/assets/img/network/vpn-users/1x.png, /assets/img/network/vpn-users/2x.png 2x, /assets/img/network/vpn-users/3x.png 3x"
		class="ft-image" />
	</div>
	<h2>VPN Users</h2>
	<ul>
	  <li>Users connect and configure their VPN service through the app. Probabilistic nano-payments enable purchasing bandwidth on the fly.</li>
	  <li>Orchid uses multi-layer encryption so the more hops you use, the more secure your connection.</li>
	  <li> Users can switch providers depending upon speed, price, location, and availability in the marketplace.</li>
	</ul>
      </div>
    </div>
  </section>
</div>

<div class="bk-lavender whitepaper-section">
  <section class="section-med hpad-wide vpad-wide overflow-hidden">
    <div id="read-whitepaper">
      <div class="pos-relative">
        <img id="read-whitepaper-adorner" src="/assets/img/network/read-whitepaper.svg">
        <button (click)="downloadWhitepaper()" class="btn-primary z-index-1">Read our Whitepaper</button>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
