<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text">
      <header>
        <h1>Help while you earn</h1>
      </header>
      <p>
        Run Orchid and power the natural internet. Move bandwidth with your existing internet connection for token. Help
        move data in and out of restricted zones for a freer, more open world. Earn enough token to run your VPN client
        for free!
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/network/splash/1x.png"
        srcset="/assets/img/network/splash/1x.png, /assets/img/network/splash/2x.png 2x, /assets/img/network/splash/3x.png 3x">
    </div>
  </section>
</div>

<div>
  <section id="features" class="section-med hpad-wide vpad-wide">
    <ul id="feature-list" class="phantom-list">
      <li>
        <header>
          <img src="/assets/img/network/relay-traffic/1x.png"
            srcset="/assets/img/network/relay-traffic/1x.png, /assets/img/network/relay-traffic/2x.png 2x, /assets/img/network/relay-traffic/3x.png 3x"
            class="ft-image">
          <h3>Relay traffic</h3>
        </header>
        <p>
          Earn token for running Orchid on your internet connection.
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/network/exit-traffic/1x.png"
            srcset="/assets/img/network/exit-traffic/1x.png, /assets/img/network/exit-traffic/2x.png 2x, /assets/img/network/exit-traffic/3x.png 3x"
            class="ft-image">
          <h3>Exit traffic</h3>
        </header>
        <p>
          Advanced users can exit traffic for additional token.
        </p>
      </li>
    </ul>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-narrow hpad-wide vpad-wide">
    <h2>How it works</h2>
    <div class="z-index-1">
      <p>
        Orchid is an overlay network that runs on the existing internet. The network consists of relay and exit nodes
        that stake Orchid token — an Ethereum compatible token — in order to earn fees for bandwidth. The stake keeps
        players in the system honest. The list of nodes is stored in an Ethereum smart contract that is decentralized
        and accessible around the world.
      </p>
      <p>
        Users connect and configure their VPN service through the app. In the backend, the application is using our
        probabilistic micropayment system to purchase bandwidth on the fly. Information is protected at each relay hop,
        providing security not seen in traditional, single hop VPN implementations. Users can switch providers depending
        upon speed, price and availability in the marketplace.
      </p>
      <p>
        Read our whitepaper for more information.
      </p>
    </div>
    <div id="read-whitepaper">
      <div class="pos-relative">
        <img id="read-whitepaper-adorner" src="/assets/img/network/read-whitepaper.svg">
        <button class="btn-primary z-index-1">Read our Whitepaper</button>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>