@import 'feature_list';
@import 'media_queries';

@include h-feature-list("#features", "#feature-list", ".ft-image");

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#read-whitepaper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 4rem 0 3rem;

  @include mobile {
    justify-content: center;
    margin: 1rem 0 1rem;
  }
}

#read-whitepaper-adorner {
  position: absolute;
  left: -2rem;
  top: -5rem;
}

#how-it-works {
    h3 { text-align: center; margin: 0 auto 1em auto; }
    .column {
	img { margin-left: auto; margin-right: auto; width: 50%; height: auto; }
    }
}

