<div class="bk-beige-light">
  <section id="splash" class="section-wide hpad-wide">
    <div id="splash-text">
      <header>
        <h1>Help while you earn</h1>
      </header>
      <p>
	Orchid’s network design draws inspiration from parts of nature that demonstrate emergent self-organization and mutual exchange. The harmony achieved on our network parallels harmonious complex systems in nature.
      </p>
      <p>
	When you operate an Orchid node, you help your fellow humans who want to access the open internet. Help them discover new opportunities and ideas not currently available to them. As compensation, you will receive Orchid tokens for your contribution to the network. 
        for free!
      </p>
    </div>
    <div id="splash-image">
      <img src="/assets/img/network/splash/1x.png"
              srcset="/assets/img/network/splash/1x.png, /assets/img/network/splash/2x.png 2x, /assets/img/network/splash/3x.png 3x">
    </div>
  </section>
</div>

<div>
  <section id="features" class="section-med hpad-wide vpad-wide">
    <ul id="feature-list" class="phantom-list">
      <li>
        <header>
          <img src="/assets/img/network/relay-traffic/1x.png"
		  srcset="/assets/img/network/relay-traffic/1x.png, /assets/img/network/relay-traffic/2x.png 2x, /assets/img/network/relay-traffic/3x.png 3x"
		  class="ft-image">
          <h3>Earn with your internet connection</h3>
        </header>
        <p>
	  Earn tokens for running Orchid on your internet connection and contribute to Orchid’s decentralized collaboration to protect Orchid users.
        </p>
      </li>
      <li>
        <header>
          <img src="/assets/img/network/exit-traffic/1x.png"
		  srcset="/assets/img/network/exit-traffic/1x.png, /assets/img/network/exit-traffic/2x.png 2x, /assets/img/network/exit-traffic/3x.png 3x"
		  class="ft-image">
          <h3>Offer a bridge</h3>
        </header>
        <p>
	  Bridge nodes out of Orchid can be set up and offered by anyone, not just professional VPN companies. Bridges require a better level of internet service and an understanding of Linux.
        </p>
      </li>
    </ul>
  </section>
</div>

<div class="bk-lavender">
  <section class="section-narrow hpad-wide vpad-wide">
    <h2>How it works</h2>
    <div class="z-index-1">
      <p>
	Orchid is an overlay network that runs on the existing internet. The network consists of relay and bridge nodes that stake Orchid tokens(ERC20) in order to earn fees for bandwidth. The stake keeps players in the system honest by serving as a decentralized reputation system. The list of nodes is stored in an Ethereum smart contract that is decentralized, accessible, and editable by anyone around the world.
      </p>
      <p>
	Users connect and configure their VPN service through the app. In the backend, the application is using our probabilistic micropayment system to purchase bandwidth on the fly. Information is protected at each relay hop, providing security not seen in traditional, single hop VPN implementations. Unlike traditional VPNs, no relay or exit receives any customer’s personal information. Users can switch providers depending upon speed, price, location and availability in the marketplace.      </p>
      <p>
        Read our whitepaper for more information.
      </p>
    </div>
    <div id="read-whitepaper">
      <div class="pos-relative">
        <img id="read-whitepaper-adorner" src="/assets/img/network/read-whitepaper.svg">
        <button class="btn-primary z-index-1">Read our Whitepaper</button>
      </div>
    </div>
  </section>
</div>

<app-newsletter-signup></app-newsletter-signup>
