@import 'feature_list';
@import 'media_queries';

@include h-feature-list("#features", "#feature-list");
div.whitepaper-button {
    min-width: 400px;
    position: relative; right: 0px; top: -100px;
    img { position: absolute; right: 0px; top: 0px; }
    button {position: absolute; right: 10px; top: 80px; }
}
