<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_BBartlett_Website.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                August 10, 2020
                            </div>
                            <h3>
                                Episode 10: Ben Bartlett
                            </h3>
                            <p>
                                Go down the rabbit hole with Ben Bartlett, an environmental lawyer and a Berkeley City Council Member. The son of community activists he shares his family's rich history and personal fight for freedom. A timely discussion on the future of democracy, personal
                                freedom, and defending our civil rights.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15556403/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/070a00/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>