<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_RRumburg.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                November 11, 2020
                            </div>
                            <h3>
                                Episode 23: Roneil Rumburg
                            </h3>
                            <p>
                                We go down the rabbit hole with Roneil Rumburg, CEO of Audius, a blockchain music
                                platform that has been called the decentralized Spotify. He shares his thoughts on the
                                struggle between surveillance and privacy, and how Audius has built a
                                censorship-resistant platform for artists to share music with fans.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none"
                            src="//html5-player.libsyn.com/embed/episode/id/16763756/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/030400/"
                            height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>