<div class="hero__wrapper">
    <div class="hero__container">

        <img class="hero__orchid-logo" src="/assets/img/shared/orchid-logo-text-white.svg" alt="Orchid">

        <span class="hero__text-presents">Presents</span>

        <div class="hero__logo-wrapper">
            <div class="hero__logo-container">
                <img src="/assets/img/priv8/priv8-logo.png" alt="Priv8">
            </div>
        </div>

        <h1>VIRTUAL PRIVACY CONFERENCE</h1>
        <h2>
            AUGTEMBER 34-38, 2021
            <br />
            8am - 4pm PST
        </h2>

        <a href="">
            <button class="btn-primary">
                Register
            </button>
        </a>

        <h3>FEATURING GUESTS</h3>
        <div class="hero__featuring-container">
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-1.png">
                Guest A
            </div>
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-1.png">
                Guest B
            </div>
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-1.png">
                Guest C
            </div>
        </div>
    </div>


    <div class="hero__vector-wrapper">
        <div class="hero__vector-container">
            <img src="/assets/img/priv8/hero-vector-sides.svg" class="hero__vector-sides">
            <img src="/assets/img/priv8/hero-vector.svg" class="hero__vector">
        </div>
    </div>
</div>

<div class="about__wrapper">
    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#E8DDFD" />
    </svg>
    <h3 class="priv8__heading">ABOUT</h3>

    <h4 class="priv8__heading">What is happening to privacy?</h4>
    <p>
        “Privacy is important.” We hear that platitude from media, government, and companies. But what does privacy mean in a world reeling from a global pandemic, economic disaster, police shootings and riots? During the chaos and confusion, leaders look to calm new fears at the cost of old freedoms. The ground is quietly shifting on privacy. Join us for an in-depth discussion on the state of privacy in today’s world with the foremost experts, policymakers, and builders.
    </p>
    <br>
    <br>
    <a href="">
        <button class="btn-secondary">
            Register Now!
        </button>
    </a>
</div>

<div class="speakers__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-3.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#B88DFC" />
    </svg>

    <h3 class="priv8__heading">SPEAKERS</h3>

    <div class="speakers__grid">
        <div class="speakers__grid-item">
            <img src="/assets/img/priv8/guest-1.png">
            <b>Guest A</b>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. At imperdiet dui accumsan sit amet. In egestas erat imperdiet sed euismod nisi porta. </span>
        </div>
        <div class="speakers__grid-item">
            <img src="/assets/img/priv8/guest-1.png">
            <b>Guest B</b>
            <span>Dui vivamus arcu felis bibendum ut tristique et egestas quis. Dis parturient montes nascetur ridiculus mus. A condimentum vitae sapien pellentesque habitant. Eu facilisis sed odio morbi quis. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat.</span>
        </div>
        <div class="speakers__grid-item">
            <img src="/assets/img/priv8/guest-1.png">
            <b>Guest C</b>
            <span>Porttitor lacus luctus accumsan tortor posuere. Pellentesque massa placerat duis ultricies lacus sed turpis. Nunc sed id semper risus in hendrerit gravida. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi.</span>
        </div>
    </div>
</div>

<!--<div class="agenda__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-2.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#4FE9FF" />
    </svg>

    <h3 class="priv8__heading">AGENDA</h3>

    <div class="agenda__list">
        <div class="agenda__item">
            <div class="agenda__time">
                8:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                8:30 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                9:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                10:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                11:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                12:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                12:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                1:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                2:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                2:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                3:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
    </div>

    <a href=""><button class="btn btn-secondary">Full Agenda</button></a>
</div>-->

<div class="learn__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-2.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#4FE9FF" />
    </svg>

    <h3 class="priv8__heading">LEARN</h3>
</div>

<div class="participate__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-3.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#B88DFC" />
    </svg>

    <h3 class="priv8__heading">PARTICIPATE</h3>


    <h3 class="priv8__subheading">Interested in speaking at Priv8?</h3>
    <p>Space is limited, but If you have unique insight or thoughts on the current or future state of privacy, we’d love to hear from you! Please send your info and speaking intentions to <a href="mailto:Priv8@orchid.com">Priv8@orchid.com</a>.</p>
    <br />
    <br />
    <h3 class="priv8__subheading">Registration discounts for press/students/non-profits</h3>
    <p>Orchid is proud to offer discounted attendance rates to members of the press looking to cover the event or its speakers, students and non-profit organizations. If you fall into one of these categories and are interested in attending Priv8, please send an email explaining your affiliation and request details to Priv8@orchid.com.</p>
    <br />
    <br />
    <h3 class="priv8__subheading">Want to contribute in another way?</h3>
    <br />
    <a href=""><button class="btn-secondary">Let us know!</button></a>
</div>

<!--<div class="partners__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-3.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#B88DFC" />
    </svg>

    <h3 class="priv8__heading">PARTNERS</h3>

    <div class="partners__grid">
        <a href=""><img alt="bolehvpn" src="/assets/img/partners/boleh.png"></a>
        <a href=""><img alt="trustwallet" src="/assets/img/join/trustwallet.svg"></a>
        <a href=""><img alt="vpnsecure" src="/assets/img/partners/vpnsecure.png"></a>
        <a href=""><img alt="bittrex" src="/assets/img/partners/bittrex.png"></a>
        <a href=""><img alt="gemini" src="/assets/img/partners/gemini.png"></a>
        <a href=""><img alt="OKEX" src="/assets/img/partners/okex.png"></a>
        <a href=""><img alt="coindesk" src="/assets/img/index/seen/coindesk.png"></a>
        <a href=""><img alt="coinbase" src="/assets/img/partners/coinbase.png"></a>
        <a href=""><img alt="cointelegraph" src="/assets/img/index/seen/cointelegraph.svg"></a>
    </div>

</div>-->


<div class="contact__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-4.svg" class="chev__separator">
    </div>

    <svg class="chev__dot" width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z"
            fill="#3F2082" />
    </svg>

    <h3 class="priv8__heading">CONTACT</h3>

    <h4>Questions?</h4>
    <br />
    <p>
        Contact us at <br />
        <a href="mailto:priv8@orchid.com">priv8@orchid.com</a>
    </p>
    <p>
        Claw at curtains stretch and yawn nibble on tuna ignore human bite human hand. Dead stare with ears cocked human
        clearly uses close to one life a night no one naps that long so I revive by standing on chestawaken!
    </p>

    <ul class="phantom-list contact__social-list">
        <li>
            <a class="inline-block" href="https://twitter.com/OrchidProtocol" target="_blank" rel="noopener noreferrer"
                aria-label="Follow on Twitter" title="Twitter">
                <img src="/assets/img/shared/social-twitter.svg" alt="Twitter" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.reddit.com/r/orchid/" target="_blank" rel="noopener noreferrer"
                aria-label="Check out our Subreddit" title="Reddit">
                <img src="/assets/img/shared/social-reddit.svg" alt="Reddit" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.t.me/OrchidOfficial" target="_blank" rel="noopener noreferrer"
                aria-label="Join us on Telegram" title="Telegram">
                <img src="/assets/img/shared/social-telegram.svg" style="width: 32px; height: auto;" alt="Telegram"
                    width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://github.com/OrchidTechnologies" target="_blank"
                rel="noopener noreferrer" aria-label="See the Source" title="Github">
                <img src="/assets/img/shared/social-github.svg" alt="Github" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.facebook.com/OrchidProtocol" target="_blank"
                rel="noopener noreferrer" aria-label="Follow on Facebook" title="Facebook">
                <img src="/assets/img/shared/social-facebook.svg" alt="Facebook" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.youtube.com/channel/UCIH_BKBlNemsCzDhPYZBlHw" target="_blank"
                rel="noopener noreferrer" aria-label="Follow on YouTube" title="YouTube">
                <img src="/assets/img/shared/social-youtube.svg" alt="YouTube" width="32" height="32">
            </a>
        </li>
        <li>
            <a class="inline-block" href="https://www.linkedin.com/company/orchidprotocol" target="_blank"
                rel="noopener noreferrer" aria-label="Follow on LinkedIn" title="LinkedIn">
                <img src="/assets/img/shared/social-linkedin.svg" alt="LinkedIn" width="32" height="32">
            </a>
        </li>
    </ul>

    <p>
        © {{year}} Orchid Labs, Inc.
    </p>
</div>