<div class="hero__wrapper">
	<div class="hero__container">
		
		<img class="hero__orchid-logo" src="/assets/img/shared/orchid-logo-text-white.svg" alt="Orchid">

		<span class="hero__text-presents">Presents</span>

		<div class="hero__logo-wrapper">
			<div class="hero__logo-container">
				<img src="/assets/img/priv8/priv8-logo.png" alt="Priv8">
			</div>
		</div>

		<h1>VIRTUAL PRIVACY CONFERENCE</h1>
		<h2>JULY 22, 2020 | 9am-3pm PST</h2>

		<a href="">
			<button class="btn-primary">
				Register
			</button>
		</a>

		<h3>FEATURING GUESTS</h3>
		<div class="hero__featuring-container">
			<div class="hero__featuring-item">
				<img src="/assets/img/priv8/guest-1.png">
				GUEST<br>TBA
			</div>
			<div class="hero__featuring-item">
				<img src="/assets/img/priv8/guest-2.png">
				GUEST<br>TBA
			</div>
			<div class="hero__featuring-item">
				<img src="/assets/img/priv8/guest-3.png">
				GUEST<br>TBA
			</div>
		</div>
	</div>

	<div class="hero__vector-container">
		<img src="/assets/img/priv8/bunny-left.svg" class="hero__vector-bunny">
		<img src="/assets/img/priv8/bunny-right.svg" class="hero__vector-bunny bunny-right">
		<img src="/assets/img/priv8/vector-7.svg" class="hero__vector">
	</div>
</div>

<app-newsletter-signup></app-newsletter-signup>