<div class="hero__wrapper">
    <div class="hero__container">

        <img class="hero__orchid-logo" src="/assets/img/shared/orchid-logo-text-white.svg" alt="Orchid">

        <span class="hero__text-presents">Presents</span>

        <div class="hero__logo-wrapper">
            <div class="hero__logo-container">
                <img src="/assets/img/priv8/priv8-logo.png" alt="Priv8">
            </div>
        </div>

        <h1>VIRTUAL PRIVACY CONFERENCE</h1>
        <h2>JULY 22, 2020 | 9am-3pm PST</h2>

        <a href="">
            <button class="btn-primary">
				Register
			</button>
        </a>

        <h3>FEATURING GUESTS</h3>
        <div class="hero__featuring-container">
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-1.png"> GUEST
                <br>TBA
            </div>
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-2.png"> GUEST
                <br>TBA
            </div>
            <div class="hero__featuring-item">
                <img src="/assets/img/priv8/guest-3.png"> GUEST
                <br>TBA
            </div>
        </div>
    </div>

    <div class="hero__vector-container">
        <img src="/assets/img/priv8/bunny-left.svg" class="hero__vector-bunny">
        <img src="/assets/img/priv8/bunny-right.svg" class="hero__vector-bunny bunny-right">
        <img src="/assets/img/priv8/vector-7.svg" class="hero__vector">
    </div>
</div>

<div class="about__wrapper">
    <svg width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z" fill="#E8DDFD"/>
	</svg>
    <h3 class="priv8__heading">ABOUT</h3>

    <h4 class="priv8__heading">What is happening to privacy?</h4>
    <p>“Privacy is important.” We hear that platitude from media, government, and companies. But what does privacy mean in a world reeling from a global pandemic, economic disaster, police shootings and riots? During the chaos and confusion, leaders look
        to calm new fears at the cost of old freedoms. The ground is quietly shifting on privacy. Join us for an in-depth discussion on the state of privacy in today’s world with the foremost experts, policymakers, and builders.</p>
    <br>
    <br>
    <a href="">
        <button class="btn-secondary">
			Register Now!
		</button>
    </a>
</div>

<div class="speakers__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev.svg" class="chev__separator">
    </div>

    <svg width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z" fill="#A29EC0"/>
	</svg>

    <h3 class="priv8__heading">SPEAKERS</h3>

	<div class="speakers__grid">
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-1.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-2.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-3.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-1.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-2.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-3.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-1.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
		<div class="speakers__grid-item">
			<img src="/assets/img/priv8/guest-2.png">
			<b>GUEST TBA</b>
			<span>THIS GUEST<br>TO BE ANNOUNCED SHORTLY</span>
		</div>
	</div>
</div>

<div class="agenda__wrapper">
    <div class="chev__separator-container">
        <img src="/assets/img/priv8/fancy-chev-2.svg" class="chev__separator">
    </div>

    <svg width="55" height="61" viewBox="0 0 55 61" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M23.5 1.3094C25.9752 -0.119662 29.0248 -0.119661 31.5 1.3094L50.7798 12.4406C53.255 13.8697 54.7798 16.5107 54.7798 19.3688V41.6312C54.7798 44.4893 53.255 47.1303 50.7798 48.5594L31.5 59.6906C29.0248 61.1197 25.9752 61.1197 23.5 59.6906L4.2202 48.5594C1.74499 47.1303 0.2202 44.4893 0.2202 41.6312V19.3688C0.2202 16.5107 1.74499 13.8697 4.2202 12.4406L23.5 1.3094Z" fill="#4FE9FF"/>
	</svg>

    <h3 class="priv8__heading">AGENDA</h3>

    <div class="agenda__list">
        <div class="agenda__item">
            <div class="agenda__time">
                8:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                8:30 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                9:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                10:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                11:00 AM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                12:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                12:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                1:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                2:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                2:30 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
        <div class="agenda__item">
            <div class="agenda__time">
                3:00 PM
            </div>
            <div class="agenda__description">
                <b>Event TBA</b>
                <p>This event will be announced shortly.</p>
            </div>
        </div>
    </div>

    <a href=""><button class="btn btn-secondary">Full Agenda</button></a>
</div>

<app-newsletter-signup></app-newsletter-signup>