name: DeployProductioni18n

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: Deploy to www.${{ matrix.language }}.orchid.com
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language: ['ja', 'ko', 'zh', 'id', 'ru', "en"]

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
    - name: Deploy to www.${{ matrix.language }}.orchid.com
      run: |
        ./deploy.sh -s production -l ${{ matrix.language }}
