<app-podcast-hero></app-podcast-hero>

<div class="podcast-wrapper bk-white">
    <div class="overflow-wrapper">
        <section class="section-med hpad-thin vpad-wide z-index-1">

            <div class="cards-wrapper">
                <div class="card card--large">
                    <div class="card-grid">
                        <div class="card-image-wrap">
                            <div style="background-image:url(/assets/img/podcast/EpisodeHeader_Website_BFox.jpg)">
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                September 2, 2020
                            </div>
                            <h3>
                                Episode 13: Brian J. Fox
                            </h3>
                            <p>
                                Go down the rabbit hole with Brian J. Fox, Co-founder of Orchid & the original author of the GNU Bash shell. He shares his open source journey as the first employee of the Free Software Foundation, building Orchid’s VPN protocol, and the biggest lessons
                                he learned as an entrepreneur.
                            </p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <iframe style="border: none" src="//html5-player.libsyn.com/embed/episode/id/15824711/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/040600/" height="90" width="100%" scrolling="no" allowfullscreen webkitallowfullscreen
                            mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

<app-podcast-platforms></app-podcast-platforms>

<div class="patterning-instance-1"></div>

<app-newsletter-signup></app-newsletter-signup>